<style scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.4s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  height: 0px;
}
</style>

<template>
  <q-expansion-item
    :header-class="!isRead(nodeTuple) ? 'bg-teal text-white' : ''"
    @update:model-value="openItem($event)"
  >
    <template v-slot:header>
      <q-icon
        size="sm"
        class="q-mr-md"
        :name="
          nodeTuple.content.type === 'KI_PRO'
            ? 'mdi-thumb-up-outline'
            : 'mdi-thumb-down-outline'
        "
      />

      <span class="text-weight-medium">
        {{ nodeTuple.content.title }}
      </span>

      <q-space />

      <!-- <q-badge v-if="!isRead(nodeTuple)">Ungelesen</q-badge>-->
    </template>

    <q-card class="q-ma-none full-width" flat>
      <q-card-section class="full-width q-px-none text-center">
        <q-icon
          name="mdi-format-quote-open"
          size="xl"
          class="text-custom-user-color"
        />

        <div
          class="text-h4 text-italic text-body1 text-justify q-pa-md"
          v-if="nodeTuple.content.text"
          v-dompurify-html="nodeTuple.content.text"
        />

        ・・・
      </q-card-section>

      <!-- <ArtificialModeration
        :AM="AMs.argumentDiscussion"
        alignment="center"
        :ctx="this"
      /> -->

      <q-card-section class="q-pt-md">
        <!-- <q-separator class="q-mb-md"></q-separator> -->
        <!-- @loaded="setTreeContent($event)" -->
        <ComponentContentTree
          v-if="state"
          :contenttreeTuple="contenttreeTuple"
          :alternativeRootNode="nodeTuple"
          :dense="false"
          :customAMGroup="AMs.argumentDiscussion"
          :key="nodeTuple.content.id"
          :amEnabled="true"
          amPosition="right"
          discussionBlockLabel=""
          :hideNoEntryText="false"
          :hideNofEntriesText="false"
          :allowAddingToRootLevel="true"
          :alwaysExpanded="true"
        />
        <!-- :customEvent="customEvent" -->
        <!-- v-on:open-dialog="$emit('open-dialog', $event)" -->
      </q-card-section>
    </q-card>
  </q-expansion-item>
  <q-separator />
</template>

<script lang="ts">
import { defineComponent, computed } from 'vue';
import ComponentContentTree from 'src/pages/ContentTree/components/ContentTree.vue';
import useContentComposable from 'src/composables/content.composable';
import { useStore } from 'vuex';
import { ITreeNodeTuple } from 'src/models/contenttree';
import AMs from './ArtificialModeration';
// import ArtificialModeration from 'src/pages/components/artificial_moderation/ArtificialModeration.vue';

export default defineComponent({
  setup() {
    const store = useStore();
    const { markRead, isRead } = useContentComposable();
    const usercolor = computed(
      () => store.getters['profilestore/profileColor']
    );
    return {
      markRead,
      isRead,
      usercolor,
    };
  },
  name: 'ExpertCard',
  emits: ['mark-read'],
  props: ['nodeTuple', 'contenttreeTuple'],
  components: { ComponentContentTree },
  data() {
    return {
      AMs,
      state: false,
      qTree: null as ITreeNodeTuple | null,
    };
  },
  computed: {
    header_class(): string | null {
      const type = this.nodeTuple?.content?.type as string;
      switch (type) {
        case 'SECTION':
          return 'text-h4 q-mt-lg q-mb-xs';
        case 'SUBSECTION':
          return 'text-subtitle1 q-mt-sm q-mb-xs';
        case 'PARAGRAPH':
          return 'text-subtitle2 q-mt-none q-mb-xs';
      }

      return null;
    },

    // customEvent(): string[] | null {

    //   // return 'RESPECT';
    //   // EXPERTQUESTIONS
    //   // FIRSTARGUMENT

    // },
  },

  methods: {
    // openDialog(event) {
    //   console.log('openDialog', event);
    // },

    setTreeContent(qTree: any): void {
      this.qTree = qTree;
    },

    openItem(value) {
      this.state = value;
      if (value) {
        this.markRead(this.nodeTuple);
      }
    },
  },
});
</script>

<style>
.text-custom-user-color {
  color: v-bind(usercolor);
}
</style>
