<template>
  <div class="full-width">
    <q-card class="q-ma-none full-width bg-none" flat v-if="nodeTuple">
      <q-card-section
        class="full-width q-px-none"
        v-if="nodeTuple.content"
        :class="{
          'bg-orange':
            nodeTuple.content?.disabled || nodeTuple.content?.deleted,
        }"
      >
        <div v-if="nodeTuple.content.title != '@HIDDEN@'" :class="header_class">
          <q-icon v-if="icon" size="xl" class="q-mr-md q-mb-sm" :name="icon" />

          <span v-if="nodeTuple.content?.disabled || nodeTuple.content?.deleted"
            >GELÖSCHTER INHALT -
          </span>
          {{ heading_number }} {{ nodeTuple.content.title }}
        </div>
        <div
          class="text-body1 text-justify"
          v-if="nodeTuple.content.text"
          v-dompurify-html="nodeTuple.content.text"
        ></div>
        <ContentToolbar
          :nodeTuple="nodeTuple"
          :hideInfoButton="true"
          v-if="IsManager"
        ></ContentToolbar>
      </q-card-section>
    </q-card>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType, computed } from 'vue';
import { IArtificialModerationGroup } from 'src/pages/components/artificial_moderation/model';
import ContentToolbar from 'src/pages/ContentTree/components/ContentToolbar.vue';
import { INodeTuple } from 'src/models/content';
import { useStore } from 'vuex';

export default defineComponent({
  name: 'TextsheetCard',
  props: {
    discussionAM: {
      type: Object as PropType<IArtificialModerationGroup | null>,
      default: null,
    },

    nodeTuple: {
      type: Object as PropType<INodeTuple>,
      required: true,
    },
    icon: {
      type: String,
      default: '',
      required: false,
    },
    standalone: {
      default: false,
    },
    filterTypes: {
      default: undefined,
    },
    heading_number: {
      type: String,
      default: '',
    },
    discussionBlockLabel: {
      type: String,
      default: '',
    },
  },

  setup() {
    const store = useStore();
    const IsManager = computed(
      (): boolean => store.getters['assemblystore/IsManager']
    );
    return { IsManager };
  },

  components: { ContentToolbar },
  computed: {
    header_class(): string | null {
      const type = this.nodeTuple?.content?.type as string;
      switch (type) {
        case 'SECTION':
          return 'text-h2 q-mt-lg q-mb-xs';
        case 'SUBSECTION':
          return 'text-h4 q-mt-sm q-mb-xs';
        // case 'PARAGRAPH':
        //   return 'text-subtitle2 q-mt-none q-mb-xs';
      }

      return null;
    },
  },
});
</script>

<style scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.4s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  height: 0px;
}
</style>
