<template>
  <q-page class="doc_content">
    <small>Sie werden in Kürze weitergeleitet...</small><br /><br />
    <q-btn v-if="longLogin" @click="reload();">Wiederholen</q-btn>
  </q-page>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
import { getAuthService } from 'src/services/index';
import { useRoute } from 'vue-router';

export default defineComponent({
  setup() {
    const longLogin = ref(false)
    setTimeout(() => { longLogin.value = true; }, 3000)

    const { pkce } = getAuthService();
    const currentRoute = useRoute();

    return {
      pkce,
      longLogin,
      currentRoute,
      // setLocale,
    };
  },
  name: 'TokenLogin',
  mounted() {

    try {
      // Add token to extraAuthorizationParams config param of PKCE Plugin (It is transmitted to the oAuth Server...)
      const transmittedTToken = this.currentRoute.params?.ttoken;
      const transmittedLToken = this.currentRoute.params?.ltoken;
      const extraParams = this.pkce.pkce.value.config.extraAuthorizationParams
        ? this.pkce.pkce.value.config.extraAuthorizationParams
        : {};

      // unlimited token
      if (transmittedTToken) {
        extraParams.token = transmittedTToken;
      }

      // limited token (only valid for few days => hinterlegt im backend...)
      if (transmittedLToken) {
        extraParams.ltoken = transmittedLToken;
      }

      if (this.currentRoute?.query?.lang) {
        const lang = this.currentRoute.query.lang;
        extraParams.lang = lang;
        // NO need to change local language => is redirected anyway...
        // this.setLocale(lang);
      }

      this.pkce.setExtraAuthorizationParams(extraParams);
      // console.log(extraParams, 'extraParams');
      this.pkce.login();

    } catch (error) {
      // this.longLogin = true
    }
  },
  methods: {
    reload() {
      window.location.reload()
    }
  }
});
</script>
