<style scoped></style>

<template>
  <q-list class="expansionList">
    <ArgumentRating
      v-for="nodeTuple in arguments"
      :key="nodeTuple?.content?.id ? nodeTuple?.content?.id : 'key'"
      :nodeTuple="nodeTuple"
      :getDescendantsOf="getDescendantsOf"
      :contenttreeTuple="contenttreeTuple"
      :ratingCompleted="ratingCompleted"
      :defaultExpanded="unratedArguments.indexOf(nodeTuple) === 0"
      @item-rate="itemRating()"
      @item-read="itemRead()"
    ></ArgumentRating>
  </q-list>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import ArgumentRating from 'src/plugins/CIR/stages/PROS_AND_CONS/components/ArgumentRating.vue';
import useContentComposable from 'src/composables/content.composable';
// import useContentComposable from 'src/composables/content.composable';

export default defineComponent({
  name: 'ArgumentRatingList',
  props: [
    'arguments',
    'getDescendantsOf',
    'ratingCompleted',
    'contenttreeTuple',
  ],
  setup() {
    const { isRated } = useContentComposable();
    return { isRated };
  },
  emits: ['item-rate', 'item-read'],
  components: { ArgumentRating },
  data() {
    return {
      // : false,
      // lastSaliencedItem: null,
    };
  },

  computed: {
    unratedArguments() {
      return this.arguments.filter((a) => !this.isRated(a));
    },
  },

  methods: {
    itemRating(node) {
      // if (this.node !== this.lastSaliencedItem) {
      this.$emit('item-rate', node);
      // }
    },

    itemRead(node) {
      this.$emit('item-read', node);
    },
  },
});
</script>
