<template>
  dd
  <div class="argumentChapter" :class="side">sss
    <template v-if="msArgumentRatingList.loading.value">
      <div class="full-width q-mb-xl q-mt-xl" style="text-align: center">
        <q-spinner-ball color="primary" size="2em" />
      </div>
    </template>
    <a :name="side"></a>
    <StageMilestone :milestone="msArgumentRatingList" :addSeperator="addSeperator">
      <!-- {{ atleastOneArgumentNotInPeerreview }} -->
      <template v-if="side === 'PRO'">
        <p v-if="firstSide">
          Heute beginnen wir mit den Pro-Argumenten der Abstimmungsvorlage.
        </p>
        <p v-if="!firstSide">
          Wir kommen nun zu den Pro-Argumenten der Abstimmungsvorlage.
        </p>
      </template>

      <template v-if="side === 'CONTRA'">
        <p v-if="firstSide">
          Heute beginnen wir mit den Contra-Argumenten der Abstimmungsvorlage.
        </p>
        <p v-if="!firstSide">
          Wir kommen nun zu den Contra-Argumenten der Abstimmungsvorlage.
        </p>
      </template>

      <p v-if="!argumentsToRateList?.length">
        Noch finden sich keine Argumente hier in der Liste.
      </p>

      <ArtificialModeration :AM="AMs.arguments_rating" v-if="!msArgumentRatingList.achieved.value" :slim="true"
        alignment="right" :ctx="that" />

      <ArgumentRatingList :arguments="argumentsToRateList" :ratingCompleted="ratingCompleted"
        :contenttreeTuple="contenttreeTuple" :getDescendantsOf="getDescendantsOf"></ArgumentRatingList>


      <!-- ARGUMENT LIST PAGINATION -->
      <br>
      <template v-if="argumentsToRateList && argumentsMinusThoseToPeerreview">
        <template v-if="argumentsToRateList.length > defaultNumberOfArgumentsToRate">
          Es werden alle {{ argumentsMinusThoseToPeerreview.length }} Argumente, die im Moment für diese Position
          eingetragen sind, hier angezeigt. Klicken Sie auf 'Weniger anzeigen', um
          nur eine kleinere Auswahl an Argumenten eingeblendet zu lassen.<br>
          <q-chip clickable size="1em" @click="restoreDefaultNumberOfArgumentsToRate()"> Weniger Argumente
            anzeigen</q-chip>
        </template>
        <template v-if="argumentsToRateList.length < argumentsMinusThoseToPeerreview.length">
          Es werden {{ argumentsToRateList.length }} von {{
            argumentsMinusThoseToPeerreview.length
          }} bereits eingetragenen Argumenten angezeigt. Klicken Sie auf 'Alle anzeigen',
          um sich sämtliche {{ side === 'CONTRA' ? 'Contra' : 'Pro' }}-Argumente anzeigen zu lassen.
          <br>
          <q-chip clickable size="1em" @click="showMoreArgumentsToRate()">Alle Argumente
            anzeigen</q-chip>
        </template>
      </template>
    </StageMilestone>

    <StageMilestone :milestone="msArgumentsPeerreview" h3="Gutachten: Anträge der anderen Teilnehmenden prüfen">
      <p>
        Als Teilnehmerin oder Teilnehmer der Demokratiefabrik sind Sie
        automatisch auch Gutachterin respektive Gutachter. Somit sind Sie
        mitverantwortlich, ob die vorgeschlagenen Beiträge im Argumentarium
        verbleiben.
      </p>

      <div v-if="contentsToPeerreviewBySide?.length">
        <ArtificialModeration :AM="AMs.arguments_peerreview" alignment="left" :ctx="this" />

        <q-list>
          <!-- <li>1- peerreview...</li> -->
          <PeerReviewListItem v-for="(tuple, peerreviewID) in Object.values(
              contentsToPeerreviewBySide
            )" :key="`contentID${peerreviewID}`" :peerreviewTuple="tuple" :topicTuple="topicTuple"
            ref="peerreview_lists"></PeerReviewListItem>
          <!-- @completed-peerreview="peerreviewCompleted()" -->
        </q-list>
      </div>
      <div v-else class="text-notification">
        Es wurden Ihnen aktuell keine Gutachten zugewiesen.
      </div>
      <br />

      <!-- Disclaimer -->
      <!-- <AlgorithmDisclaimer
                  :text="`Wir wollen, dass möglichst viele Teilnehmende mitentscheiden, welche Argumente im Argumentarium erscheinen. Deshalb fragen wir jeden Tag aufs Neue zufällige Teilnehmerinnen und Teilnehmer an, uns Ihr Urteil zu einem Antrag mitzuteilen. Die Mehrheit dieser zufällig angefragten Teilnehmenden entscheidet dann, ob der Antrag gutgeheissen wird.`" /> -->
    </StageMilestone>

    <StageMilestone :milestone="msArgumentsMissing" h3="Wie Sie selbst Anträge einreichen können">


      <div class="q-pa-md row items-start q-gutter-md " v-if="!showProposeForm">


        <q-card class="actionButtonCard q-pa-md flat bordered">
          <div class="text-overline text-orange-9">Mitarbeit am Argumentarium</div>
          <div class="text-h5 q-mt-sm q-mb-xs">{{ side === 'CONTRA' ? 'Contra' : 'Pro' }}-Argument verbessern</div>
          <div class="text-caption">
            Je verständlicher die Argumente sind, desto mehr Bürgerinnen und Bürger werden sie bei der
            Meinungsbildung berücksichtigen. Wenn Sie eine Verbesserung vorschlagen möchten, dann wählen Sie sich oben
            bei "{{ side === 'CONTRA' ?
              'Contra' :
              'Pro' }}-Argumente" ein Argument aus und klicken Sie auf das Register "Verbessern".
          </div>

          <q-card-actions>
            <!-- !encourageToImprove -->
            <q-btn color="primary" :flat="true" icon="mdi-plus" @click="scrollToAnchor(side, 200)">Verbesserung
              vorschlagen</q-btn>
          </q-card-actions>

        </q-card>

        <q-card class="actionButtonCard  q-pa-md flat bordered">

          <div class="text-overline text-orange-9">Mitarbeit am Argumentarium</div>
          <div class="text-h5 q-mt-sm q-mb-xs">Fehlendes {{ side === 'CONTRA' ? 'Contra' : 'Pro' }}-Argument?</div>
          <div class="text-caption">
            Es sind bisher schon sehr viele {{ side === 'CONTRA' ? 'Contra' : 'Pro' }}-Argumente vorhanden. Fällt Ihnen
            noch eines ein, das bisher nicht vorkommt?
          </div>

          <q-card-actions>
            <!-- :flat="!encourageToAdd" -->
            <q-btn color="primary" :flat="true" icon="mdi-plus" @click="toggleProposeForm(true)">Argument
              vorschlagen</q-btn>
          </q-card-actions>

        </q-card>



      </div>


      <ArtificialModeration :AM="AMs.propose_argument" alignment="right" :role="2" :ctx="this"
        v-if="!msArgumentsMissing.achieved.value" />

      <ProposalCreate ref="proposeForm" :contenttreeIdentifier="contenttreeIdentifier" :type="side" v-if="showProposeForm"
        :encourageToAdd="encourageToAdd" :encourageToImprove="encourageToImprove" @show="toggleProposeForm(true)"
        @hide="toggleProposeForm(false)" />

      <br />


      <!-- Disclaimer -->
      <!-- <AlgorithmDisclaimer
                  :text="`Alle Teilnehmerinnen und Teilnehmer können hier neue Vorschläge für das Argumentarium einbringen. Bevor der vorgeschlagene Beitrag ins Argumentarium der Demokratiefabrik einfliesst, muss er von zufällig ausgewählten Teilnehmenden in einem Begutachtungsverfahren angenommen werden.`" /> -->
    </StageMilestone>
  </div>
</template>

<script lang="ts">
import { defineComponent, computed, ref } from 'vue';
import {
  AMs,
  ICtx,
} from 'src/plugins/CIR/stages/PROS_AND_CONS/ArtificialModeration';
import ArtificialModeration from 'src/pages/components/artificial_moderation/ArtificialModeration.vue';
import library from 'src/utils/library';
import { useStore } from 'vuex';
const { loaded, scrollToAnchor } = library;
import ArgumentRatingList from './ArgumentRatingList.vue';
import { useMilestoneComposable } from 'src/composables/milestone.composable';
import useContentComposable from 'src/composables/content.composable';
// import getStageService from 'src/composables/stage.composable';
import { getStageService } from 'src/services/index';

import usePeerreviewComposable from 'src/composables/peerreview.composable';
import StageMilestone from 'src/pages/Assembly/components/StageMilestone.vue';
// import AlgorithmDisclaimer from 'src/pages/components/AlgorithmDisclaimer.vue';
import { IPeerreviewTuple } from 'src/models/peerreview';
import ProposalCreate from 'src/plugins/CIR/components/ProposalCreate.vue';
import PeerReviewListItem from 'src/pages/PeerReview/PeerReviewListItem.vue';
import { INodeTuple } from 'src/models/content';
import { date } from 'quasar';
const { formatDate } = date;

export default defineComponent({
  name: 'ArgumentariumSide',
  props: [
    'arguments',
    'contenttreeTuple',
    'side',
    'firstSide',
    'getDescendantsOf',
    'addSeperator',
    'contenttreeID',
    'contenttreeIdentifier',
    'topicTuple',
  ],

  components: {
    ArtificialModeration,
    StageMilestone,
    ProposalCreate,
    // AlgorithmDisclaimer,
    ArgumentRatingList,
    PeerReviewListItem,
  },

  setup(props) {
    const {
      arePeerreviewsCompleted,
      getAllLocalPeerreviews,
      contentsToPeerreview,
      overallLimitForAddingProposalsReached,
      limitForAddingProposalsReached,
    } = usePeerreviewComposable(props.contenttreeID);

    const isShownProposeForm = ref(false)
    const defaultNumberOfArgumentsToRate = 4
    const numberOfArgumentsToRate = ref(defaultNumberOfArgumentsToRate)

    const store = useStore();
    const public_profile = computed(
      () => store.getters['profilestore/profile']
    );

    const { isRated } = useContentComposable();

    const { routedStageTuple } = getStageService();

    const argumentsMinusThoseToPeerreview = computed(
      (): INodeTuple[] | null => {
        // TODO: filter arguments to peerreview from the original argument list...
        if (!contentsToPeerreviewBySide.value) {
          return null;
        }
        const filtered = props.arguments.filter(
          (arg) =>
            !contentsToPeerreviewBySide.value?.find((peer) => {
              return (
                peer.peerreview.operation == 'INSERT' &&
                arg.content.id == peer.content.id &&
                !peer.peerreview.date_approved
              );
            })
        );
        return filtered;
      }
    );

    const restoreDefaultNumberOfArgumentsToRate = () => {
      numberOfArgumentsToRate.value = defaultNumberOfArgumentsToRate
    }

    const showMoreArgumentsToRate = () => {
      numberOfArgumentsToRate.value += 30
    }

    const argumentsToRateList = computed((): INodeTuple[] | null => {

      if (!argumentsMinusThoseToPeerreview.value) {
        return null
      }
      if (argumentsMinusThoseToPeerreview.value?.length === 0) {
        return []
      }

      if (numberOfArgumentsToRate.value == 0 || argumentsMinusThoseToPeerreview.value?.length <= numberOfArgumentsToRate.value) {
        return argumentsMinusThoseToPeerreview.value
      }

      return argumentsMinusThoseToPeerreview.value.slice(0, numberOfArgumentsToRate.value)
    });

    const nofArgumentsToRate = computed((): number => {
      if (!argumentsToRateList.value) {
        // if (!argumentsMinusThoseToPeerreview.value) {
        throw 'Arguments were not loaded...';
      }

      // console.log(props.side, 'TO RATE LIST', argumentsToRateList.value);

      const args = argumentsToRateList.value.filter(
        // const args = argumentsMinusThoseToPeerreview.value.filter(
        (nodeTuple) => !isRated(nodeTuple)
      );
      // console.log('DEBUG', args.length)
      return args.length;
    });

    const ratingCompleted = computed((): boolean => {
      if (
        nofArgumentsToRate.value === undefined ||
        nofArgumentsToRate.value === null
      ) {
        throw 'Arguments were not loaded...';
      }

      // if (nofArgumentsToRate.value === 0) {
      // console.log('DEBUG - nofArgumentsToRate', nofArgumentsToRate.value);
      //   throw 'RATING COMPLETE????'
      // }

      // return false
      return nofArgumentsToRate.value === 0;
    });

    const contributedAtleastOneArgument = computed((): boolean | null => {
      if (!loaded(props.arguments)) {
        return null;
      }

      return !!props.arguments.find(
        (x) => x.creator.id === public_profile.value?.id
      );
    });

    const improvedAtleastOneArgument = computed((): boolean | null => {
      return !!getAllLocalPeerreviews.value?.find(x => x.creator.id === public_profile.value?.id)
    });

    // contributedAtleastOneArgument

    const contentsToPeerreviewBySide = computed(
      (): IPeerreviewTuple[] | null => {
        if (!contentsToPeerreview?.value) {
          return null;
        }
        const tempPeerreview = contentsToPeerreview.value.filter((x) => x?.content?.type === props.side)
        return tempPeerreview.filter((x) => {
          const date_completed = x.peerreview.date_rejected
            ? x.peerreview.date_rejected
            : x.peerreview.date_approved;
          return (!date_completed ||
            formatDate(date_completed as any, 'YYYY-MM-DD') ==
            formatDate(new Date(), 'YYYY-MM-DD')
          );
        });
      }
    );
    const atleastOneArgumentNotInPeerreview = computed((): boolean | null => {
      if (!argumentsToRateList.value) {
        return false;
      }
      const notInPeerreview = argumentsToRateList.value.find(x => {
        return !x.content?.pending_peerreview_for_insert && !x.content?.pending_peerreview_for_update
      })
      return !!notInPeerreview
    })

    const peerreviewCompleted = computed((): boolean | null => {
      if (!contentsToPeerreviewBySide.value) {
        return null;
      }
      if (contentsToPeerreviewBySide.value.length === 0) {
        return true;
      }
      return arePeerreviewsCompleted(contentsToPeerreviewBySide.value);
    });

    // -------------- MILESTONES -----------------------
    const msArgumentRatingList = useMilestoneComposable({
      key: `ARGUMENTS_RATING_${props.side}`,
      priors: [],
      loading: computed((): boolean => {
        // console.log(' MS ', props.side, 'argumentsToRateList', argumentsToRateList.value)
        return argumentsToRateList.value === undefined || argumentsToRateList.value === null;
        // return !argumentsMinusThoseToPeerreview.value;
      }),
      achieved: computed((): boolean => {
        // console.log(' MS ', props.side, 'ACHIEVED', ratingCompleted.value)
        return ratingCompleted.value;
      }),
    });

    const msArgumentsPeerreview = useMilestoneComposable({
      key: `ARGUMENTS_PEERREVIEW_${props.side}`,
      priors: [msArgumentRatingList],
      loading: ref(!loaded(props.arguments || !contentsToPeerreviewBySide.value)),

      // skipped: computed((): boolean => {
      //   return (
      //     !!contentsToPeerreviewBySide.value &&
      //     contentsToPeerreviewBySide.value.length === 0
      //   );
      // }),
      achieved: computed((): boolean => {
        return peerreviewCompleted?.value === true;
        // console.log(
        //   'DEBUGGG: peerreviewCompleted?.value ',
        //   peerreviewCompleted?.value
        // );
        // return false;
      }),
    });


    const encourageToImprove = computed((): boolean | null => {
      if (!loaded(contentsToPeerreviewBySide.value)) {
        return null;
      }

      // dont ask, when one already submitted one proposals...
      if (
        improvedAtleastOneArgument.value ||
        (argumentsMinusThoseToPeerreview.value && argumentsMinusThoseToPeerreview.value.length <= 5) ||
        !atleastOneArgumentNotInPeerreview.value ||
        contributedAtleastOneArgument.value ||
        overallLimitForAddingProposalsReached.value ||
        limitForAddingProposalsReached.value
      ) {
        return false;
      }

      return true;
    });

    const encourageToAdd = computed((): boolean | null => {
      if (!loaded(contentsToPeerreviewBySide.value)) {
        return null;
      }
      // console.log('fixing', argumentsMinusThoseToPeerreview.value, ' > ', argumentsToRateList.value);
      // dont ask, when one submitted one proposals...
      if (
        (argumentsMinusThoseToPeerreview.value && argumentsMinusThoseToPeerreview.value.length > 5) ||
        contributedAtleastOneArgument.value ||
        improvedAtleastOneArgument.value ||
        overallLimitForAddingProposalsReached.value ||
        limitForAddingProposalsReached.value
      ) {
        return false;
      }

      return true;
    });



    const msArgumentsMissing = useMilestoneComposable({
      key: `ARGUMENTS_MISSING_${props.side}`,
      priors: [msArgumentsPeerreview, msArgumentRatingList],
      achieved: computed((): boolean => {
        return encourageToAdd.value === false && encourageToImprove.value === false;
      }),
    });



    return {
      AMs,
      ratingCompleted,
      nofArgumentsToRate,
      contentsToPeerreview,
      contentsToPeerreviewBySide,
      routedStageTuple,
      peerreviewCompleted,
      encourageToAdd,
      encourageToImprove,
      msArgumentsMissing,
      msArgumentsPeerreview,
      msArgumentRatingList,
      argumentsMinusThoseToPeerreview,
      argumentsToRateList,
      showProposeForm: ref<boolean>(false),
      scrollToAnchor,
      isShownProposeForm,
      atleastOneArgumentNotInPeerreview,
      restoreDefaultNumberOfArgumentsToRate,
      showMoreArgumentsToRate,
      defaultNumberOfArgumentsToRate
    };
  },

  data() {
    return { that: this as unknown as ICtx };
  },

  methods: {
    toggleProposeForm(value) {
      this.showProposeForm = value;
      // this.isShownProposeForm = true;
      this.msArgumentsMissing.markAchieved();
    },
  },
});
</script>

<style lang="scss">
.actionButtonCard {
  width: 450%;
  max-width: 300px;

  .text-caption {
    min-height: 200px;
  }
}
</style>