<template>
  <div class="full-width" v-if="nodeTuple">
    <!-- :group="ratingCompleted ? 'accordeon' : `group${nodeTuple.content.id}`" -->
    <q-expansion-item v-if="nodeTuple" :group="'accordeon'" popup class="q-my-sm" v-model="expanded" :ref="`expandable`"
      :header-class="[
        'text-primary',
        'text-h4',
        expanded ? 'bg-grey-2' : !isRatedTuple ? 'bg-orange-2' : '',
      ]">
      <template v-slot:header>
        <q-item class="full-width">
          <q-item-section avatar class="q-pt-md" style="justify-content: flex-start" vertical-align="top">
            <q-badge color="grey" style="position: absolute; left: -10px; top: -5px" class="absolut" v-if="
              nodeTuple.content.common_property &&
              nodeTuple.content.pending_peerreview_for_insert
            " @click="
  showPeerreviewDetail(
    nodeTuple.content.pending_peerreview_for_insert
  )
">Begutachtung ausstehend
              <q-tooltip>Dieses Argument wird gerade von anderen Teilnehmenden
                begutachtet.
              </q-tooltip>
            </q-badge>
            <q-badge color="grey" style="position: absolute; left: -10px; top: -5px" class="absolut" v-if="
              nodeTuple.content.common_property &&
              nodeTuple.content.pending_peerreview_for_update
            " @click="
  showPeerreviewDetail(
    nodeTuple.content.pending_peerreview_for_update
  )
">Verbesserung vorgeschlagen<q-tooltip>Für dieses Argument wurde eine Verbesserung<br />vorgeschlagen,
                die gerade begutachtet wird.
              </q-tooltip>
            </q-badge>

            <q-icon :name="itemIcon" :class="
              nodeTuple.content.pending_peerreview_for_insert
                ? 'text-grey-5'
                : ''
            " :style="nodeTuple.content.common_property ? '' : 'text-grey-9'" />
          </q-item-section>

          <q-item-section class="q-pt-sm">
            <q-item-label>
              {{ nodeTuple.content.title }}
            </q-item-label>

            <q-item-label caption v-if="isRatedTuple">
              Argument | Ihre Bewertung: {{ getSlideLabel }}
            </q-item-label>
            <q-item-label caption v-else> Argument | unbewertet </q-item-label>
          </q-item-section>
          <a :name="`ITEM${nodeTuple.content.id}`" />
        </q-item>
      </template>

      <q-card class="q-pa-xs" v-if="expanded">
        <!-- <q-card-section class="bg-grey"> -->
        <q-tabs dense v-model="tab" class="grey text-grey-6" indicator-color="grey-7" align="justify" narrow-indicator
          @update:model-value="showContentDetail()" v-if="nodeTuple?.content">
          <q-tab name="content" label="Beitrag" icon="mdi-comment-text-multiple">
            <q-badge v-if="!isRatedTuple && tab != 'content'" color="orange" floating align="middle">
              Unbewertet
              <q-tooltip>Bitte bewerten Sie das Argument hier. </q-tooltip>
            </q-badge>
          </q-tab>
          <q-tab name="discussion" icon="mdi-comment-text-multiple"
            :label="nofChildren ? `Diskussion (${nofChildren})` : 'Diskussion'">
            <q-badge v-if="nofChildrenUnread" color="orange" floating>{{
              nofChildrenUnread
            }}<q-tooltip>{{ nofChildrenUnread }} ungelesene Beiträge
              </q-tooltip>
            </q-badge>
          </q-tab>
          <q-tab name="proposal" label="Verbessern" icon="mdi-lightbulb-outline"
            v-if="nodeTuple?.content?.acl.includes('propose_modify')" />
          <!-- <q-tab name="history" label="Aktivität" icon="mdi-clock-outline" /> -->
          <q-tab name="info" label="Info" icon="mdi-information-outline" />
        </q-tabs>
        <!-- </q-card-section> -->

        <q-separator />

        <q-card-section v-if="nodeTuple?.content?.text" class="text-center q-mt-lg">
          <q-icon name="mdi-format-quote-open" size="xl" class="text-custom-user-color" />

          <div class="text-h2">{{ nodeTuple?.content?.title }}</div>
          <div class="text-h4">« {{ nodeTuple?.content?.text }}»</div>

          <div class="text-caption text-weight-thin q-mt-sm q-mb-lg">
            Erstellt von der Demokratiefabrik-Community <br />
          </div>
        </q-card-section>

        <q-card-section class="q-pa-none">
          <EvaluationSlider v-if="nodeTuple" :scaleLabel="RATING_100_SCALE_LABELS_ARGUMENTS"
            :value="nodeTuple.progression?.rating" @change="argumentRating($event)">
            <template #default>
              Wie relevant ist dieses Argument für Ihren persönlichen
              Stimmentscheid? Bitte bewerten Sie dieses Argument, indem Sie den
              Regler verschieben.</template>

            <template #scaleLabelRight><q-icon name="mdi-plus" /></template>
            <template #scaleLabelLeft><q-icon name="mdi-minus" /></template>

            <!-- <template #scaleLabelRight>Zustimmung</template>
            <template #scaleLabelLeft>Ablehnung</template> -->
          </EvaluationSlider>
        </q-card-section>
      </q-card>
    </q-expansion-item>
  </div>
</template>

<script lang="ts">
import EvaluationSlider from 'src/pages/ContentTree/components/EvaluationSlider.vue';
import { computed, defineComponent, Ref, ref } from 'vue';
import library from 'src/utils/library';
import useContentComposable from 'src/composables/content.composable';
import constants from 'src/utils/constants';
import { INodeTuple } from 'src/models/content';
import useEmitter from 'src/utils/emitter';

const { loaded } = library;
const RATING_100_SCALE_LABELS_ARGUMENTS = constants.RATING_100_SCALE_LABELS_ARGUMENTS;
const emitter = useEmitter();

export default defineComponent({
  name: 'ArgumentRating',
  props: [
    'nodeTuple',
    'ratingCompleted',
    'getDescendantsOf',
    'defaultExpanded',
    'contenttreeTuple',
  ],
  setup(props) {
    const tab: Ref<string> = ref('content');

    const { markRead, isRated, isRead, saveRating, getChildrenTuples } =
      useContentComposable();

    const children = computed(() => {
      if (!props.nodeTuple) {
        throw 'invalid content';
      }
      return getChildrenTuples(props.nodeTuple, props.contenttreeTuple);
    });

    const nofChildren = computed(() => {
      if (!children.value) {
        return null;
      }
      return children.value?.length;
    });
    const nofChildrenUnread = computed(() => {
      if (!children.value) {
        return null;
      }
      const unread = children.value.filter((n) => !isRead(n));
      return unread.length;
    });

    const showContentDetail = (): void => {
      if (!props.nodeTuple) {
        throw 'invalid content';
      }
      emitter.emit('showDialog', {
        type: 'content',
        id: props.nodeTuple.content.id,
        contenttreeIdentifier: props.nodeTuple.content.contenttree_identifier,
        tab: tab.value,
      });

      tab.value = 'content';
    };

    const showPeerreviewDetail = (peerreviewID): void => {
      if (!props.nodeTuple || !peerreviewID) {
        throw 'invalid peerreview';
      }
      emitter.emit('showDialog', {
        type: 'peerreview',
        id: peerreviewID,
        contenttreeIdentifier: props.nodeTuple.content.contenttree_identifier,
      });
    };

    return {
      markRead,
      isRated,
      isRead,
      showContentDetail,
      showPeerreviewDetail,
      saveRating,
      nofChildren,
      nofChildrenUnread,
      tab,
    };
  },
  emits: ['item-read', 'item-rate', 'expandable-hide'],

  components: {
    // ArgumentRatingDetail,
    EvaluationSlider,
    // ContentToolbar
  },

  data() {
    return {
      expanded: null as boolean | null,
      RATING_100_SCALE_LABELS_ARGUMENTS,
    };
  },

  computed: {
    isRatedTuple() {
      return this.isRated(this.nodeTuple);
    },

    getSlideLabel() {
      if (loaded(this.nodeTuple.progression?.rating)) {
        return `${this.nodeTuple.progression?.rating} von 100`; // PERCENT
      } else {
        return '';
      }
    },

    discussionDescendants(): Record<string, INodeTuple> | undefined {
      if (!this.nodeTuple) {
        return;
      }
      return this.getDescendantsOf(this.nodeTuple);
    },

    nofDiscussionDescendants(): undefined | number {
      if (!this.discussionDescendants) {
        return;
      }
      return Object.keys(this.discussionDescendants).length;
    },

    discussionDescendantsUnread(): INodeTuple | undefined {
      if (!this.discussionDescendants) {
        return;
      }
      return Object.values(this.discussionDescendants).find(
        (x) => !this.isRead(x)
      );
    },

    itemIcon(): string {
      return constants.ICONS[this.nodeTuple.content.type];
    },
  },

  methods: {
    closeExpandedItem() {
      this.$emit('expandable-hide');
    },
    argumentRating(newValue: number): void {
      if (!this.nodeTuple) {
        throw 'ContentTuple not loaded';
      }
      this.saveRating(newValue, this.nodeTuple);
      // emitter_CIR.emit('notifyPublicCirProfileUpdate');
    },
  },
  watch: {
    expanded(val) {
      if (val) {
        this.$emit('item-read', this.nodeTuple);
        this.markRead(this.nodeTuple);
      }
    },
  },
  mounted() {
    this.expanded = this.defaultExpanded;
  },
});
</script>
