<template>
  <div class="row justify-center items-end argumentPlot" v-if="top3ArgumentsBySide">
    <!-- style="height: 560px" -->
    <div v-for="side in ['PRO', 'CONTRA']" :key="side" class="row items-center justify-center col-5 q-ma-none q-pa-none">
      <h2 class="q-ma-sm">
        {{ side === 'PRO' ? 'Pro-Argumente' : 'Contra-Argumente' }}
        <q-icon :name="side === 'PRO'
          ? 'mdi-message-plus-outline'
          : 'mdi-message-minus-outline'
          " class="text-grey-9" size="1em" />
      </h2>
    </div>

    <div v-for="side in ['PRO', 'CONTRA']" :key="side" class="row items-end col-5 text-bold no-margin" :class="side">
      <div class="argumentBox" :class="side" v-for="argument in top3ArgumentsBySide[side]"
        @click="showContentDetail(argument)" :style="{
            height: `80px`,
          }" :key="argument?.content?.id">
        <template v-if="argument?.content && top3RatingsBySide">
          <q-tooltip max-width="500px">{{ argument.content.text }}<br /><br />{{
            top3RatingsBySide[side][argument.content.id]
          }}
            {{ argument.id }}

            von 100</q-tooltip>

          {{ argument.content.title }}</template>
      </div>
    </div>
  </div>

  <div v-if="!top3ArgumentsBySide">Es sind noch keine Argumente vorhanden.</div>
</template>

<script lang="ts">
// import ContentToolbar from 'src/pages/ContentTree/components/ContentToolbar.vue';

import { INodeTuple } from 'src/models/content';
import useEmitter from 'src/utils/emitter';
import { defineComponent, PropType, computed, ref } from 'vue';
const emitter = useEmitter();

export default defineComponent({
  name: 'ArgumentReport',
  props: {
    top3ArgumentsBySide: {
      type: Object as PropType<
        Record<'PRO' | 'CONTRA', INodeTuple[]> | undefined
      >,
      default: () => {
        return undefined;
      },
    },
    community: {
      type: Boolean,
      required: false,
      default: () => {
        return false;
      },
    },
  },
  setup(props) {
    const showContentDetail = (nodeTuple: INodeTuple): void => {
      if (
        !nodeTuple?.content?.contenttree_identifier ||
        !nodeTuple.content.id
      ) {
        throw 'invalid content';
      }

      emitter.emit('showDialog', {
        type: 'content',
        id: nodeTuple.content.id,
        contenttreeIdentifier: nodeTuple.content.contenttree_identifier,
      });
    };

    function compare_title(a: INodeTuple, b: INodeTuple) {
      if (a?.content && b?.content && a.content.title < b.content.title) {
        return -1;
      }
      if (a?.content && b?.content && a.content.title > b.content.title) {
        return 1;
      }
      return 0;
    }

    const sortedTop3ArgumentsBySide = ref(props.top3ArgumentsBySide)
    // console.log(props.top3ArgumentsBySide)
    if (sortedTop3ArgumentsBySide.value) {
      sortedTop3ArgumentsBySide.value['PRO'].sort(compare_title);
      sortedTop3ArgumentsBySide.value['CONTRA'].sort(compare_title);
    }
    const top3RatingsBySide = computed(() => {
      const top3ratings = { 'PRO': {}, 'CONTRA': {} }
      const sides = ['PRO', 'CONTRA'];
      if (!props.top3ArgumentsBySide) {
        return undefined
      }

      sides.forEach((side) => {
        if (!sortedTop3ArgumentsBySide.value || !(side in sortedTop3ArgumentsBySide.value) || !sortedTop3ArgumentsBySide.value[side]) {
          return undefined
        }

        // console.log(side)
        sortedTop3ArgumentsBySide.value[side].forEach(arg => {
          // console.log(arg)
          top3ratings[side][arg.content.id] =
            props.community ? Math.round(
              arg?.content?.S?.RA
                ? arg.content.S.RA
                : 0
            ) : Math.round(
              arg?.progression?.rating
                ? arg.progression.rating
                : 0
            )
        })
      });
      return top3ratings
    })



    return { showContentDetail, top3RatingsBySide };
  },
});
</script>

<style lang="scss" scoped>
div.argumentPlot {
  .argumentBox {
    text-align: center;
    overflow: hidden;
    // display: flex;
    // align-items: center;
    cursor: pointer;
    line-height: 1em;
    width: 100%;
    border: 2px solid white;
    border-bottom: 0px;
    border-left: 0px;
    padding: 5px;

    &:hover {
      border: 2px solid grey;
    }
  }

  .PRO {
    background-color: rgb(218, 241, 218);
  }

  .CONTRA {
    background-color: rgb(233, 233, 243);
  }

  // }
}
</style>
