<!-- <template>
  <br />
  <ArgumentView
    :top3ArgumentsBySide="top3ArgumentsBySide"
    v-if="!emptyArguments && top3ArgumentsBySide"
  ></ArgumentView>

  <div v-if="emptyArguments">
    Der Teilnehmer hat noch keine Argumente bewertet.
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import ArgumentView from './ArgumentView.vue';
import useArgumentsComposable from 'src/plugins/CIR/stages/PROS_AND_CONS/composables/arguments.composable';

export default defineComponent({
  props: ['userTuple'],
  setup(props) {
    const { top3ArgumentsBySide, emptyArguments } = useArgumentsComposable(
      props.userTuple,
      false
    );

    return {
      top3ArgumentsBySide,
      emptyArguments,
    };
  },

  name: 'TabUserViewArguments',
  components: {
    ArgumentView,
  },
});
</script> -->
