<template>
  <q-page class="doc_content" v-if="ready">
    <ArtificialModeration :AM="AMs.index_top" alignment="center" :ctx="this" />

    <template v-if="firstTopicTuple?.content">
      <div>
        <a :name="`ANCHOR${firstTopicTuple.content?.id}`" />

        <TextsheetComponent
          v-if="routedStageContenttreeIdentifier"
          :icon="`img:plugins/KI/topic${firstTopicTuple.content?.contenttree_id}.png`"
          :headingNumbering="false"
          :fullWidth="true"
          :key="routedStageContenttreeIdentifier"
          :contenttreeIdentifier="routedStageContenttreeIdentifier"
        ></TextsheetComponent>

        <div class="row justify-between">
          <div class="seperator">
            <q-icon name="mdi-star-four-points-outline" />
          </div>
        </div>
        <br />

        <!-- AM-FINAL -->
        <ArtificialModeration
          :AM="AMs.arguments_bottom"
          alignment="left"
          :ctx="this"
        />

        <template v-if="expertChapters">
          <div
            class="full-width q-my-xl"
            v-for="tuple in expertChapters"
            :key="tuple.content?.id"
          >
            <template
              v-if="tuple.content && tuple.content.id && contentByParentID"
            >
              <p class="text-h4">{{ tuple.content.title }}</p>

              <q-list
                bordered
                class="full-width"
                v-if="contentByParentID[tuple.content.id]?.length"
              >
                <ExpertCard
                  v-for="(nodeL1, keyL1) in contentByParentID[tuple.content.id]"
                  :nodeTuple="nodeL1"
                  :contenttreeTuple="contenttreeTuple"
                  :key="keyL1"
                ></ExpertCard>
              </q-list>
            </template>
          </div>
        </template>
      </div>

      <br />
      <div class="row justify-between">
        <div class="seperator">
          <q-icon name="mdi-star-four-points-outline" />
        </div>
      </div>
      <br />

      <h2>Fragen an unsere Expertinnen und Experten</h2>
      <p v-if="canAddQuestions && firstTopicTuple?.content">
        Sie können hier Fragen an unsere KI-Expertinnen und KI-Experten stellen.
        Diese werden die Fragen hier im Forum möglichst zeitnah beantworten. Sie
        können sich hier also auf viele spannende Inputs zum Thema '{{
          firstTopicTuple.content.title
        }}' freuen.
      </p>
      <p v-if="!canAddQuestions && firstTopicTuple?.content">
        Es werden hier Fragen an unsere KI-Expertinnen und KI-Experten
        gesammelt. Diese werden die Fragen hier im Forum möglichst zeitnah
        beantworten. Sie können sich hier also auf viele spannende Inputs zum
        Thema '{{ firstTopicTuple.content.title }}' freuen.
      </p>

      <q-btn v-if="showQuestions == false" @click="showQuestions = true"
        >Fragen an ExpertInnen einblenden</q-btn
      >
      <q-btn v-if="showQuestions == true" @click="showQuestions = false"
        >Fragen an ExpertInnen ausblenden</q-btn
      >

      <div
        v-if="faqContenttreeTuple && showQuestions"
        class="bg-grey-1 q-pa-sm"
      >
        <ComponentContentTree
          :contenttreeTuple="faqContenttreeTuple"
          :dense="false"
          :key="faqContenttreeTuple.id"
          discussionBlockLabel=""
          customDisclaimerText="Wir haben fünf Expertinnen und Experten im Feld der künstlichen Intelligenz gebeten, von Zeit zu Zeit die Fragen hier im Forum anzusehen und zu beantworten."
          :hideNoEntryText="false"
          customHideNoEntryText="Es wurden noch keine Experten-Fragen eingegeben."
          :hideNofEntriesText="false"
          :allowAddingToRootLevel="true"
          :alwaysExpanded="true"
          :amEnabled="false"
        />
      </div>

      <br />
      <div class="row justify-between">
        <div class="seperator">
          <q-icon name="mdi-star-four-points-outline" />
        </div>
      </div>

      <br />
      <!-- AM-FINAL -->
      <ArtificialModeration
        :AM="AMs.index_bottom"
        alignment="center"
        :ctx="this"
      />
    </template>

    <!-- <SideMenu :items="sideMenuItems" /> -->
  </q-page>
</template>

<script lang="ts">
import { defineComponent, computed, watch, ref } from 'vue';
// import TextsheetCard from './components/TextsheetCard.vue';
import AMs from './ArtificialModeration';
import ArtificialModeration from 'src/pages/components/artificial_moderation/ArtificialModeration.vue';
// import SideMenu from 'src/pages/components/SideMenu.vue';
import ExpertCard from './components/ExpertCard.vue';
import localI18n from './i18n';
import { useI18n } from 'vue-i18n';
import library from 'src/utils/library';
import useContenttreeComposable from 'src/composables/contenttree.composable';
import useEmitter from 'src/utils/emitter';
import { INodeTuple } from 'src/models/content';
import useContentComposable from 'src/composables/content.composable';
import useFAQComposable from './faq.composable';
import useStageComposable from 'src/composables/stage.composable';
import useAppComposable from 'src/composables/app.composable';
import useAssemblyComposable from 'src/composables/assembly.composable';
import useRouterComposable from 'src/composables/router.composable';
import { useMilestoneComposable } from 'src/composables/milestone.composable';
import ComponentContentTree from 'src/pages/ContentTree/components/ContentTree.vue';
import { useStore } from 'vuex';
import TextsheetComponent from 'src/pages/Textsheet/Index.vue';

const { scrollToTop, loaded, pushSorted } = library;

export default defineComponent({
  name: 'Expert',
  components: {
    TextsheetComponent,
    ComponentContentTree,
    ExpertCard,
    ArtificialModeration,
  },
  setup() {
    const store = useStore();
    const {
      // contenttreeID,
      routedStageTuple,
      isFirstText,
      isRoutedStageAlerted,
      assembly_sorted_stages,
      markUnAlert,
      markCompleted,
      gotoStage,
      routedStageContenttreeIdentifier,
      nextScheduledStage,
    } = useStageComposable();

    // const allowDelegatesToAddQuestions

    const { faqContenttreeTuple } = useFAQComposable(true);
    const { isRead } = useContentComposable();

    const get_allowed_node_types_to_add =
      store.getters['contenttreestore/get_allowed_node_types_to_add'];

    const { contenttreeTuple, filter_entries } = useContenttreeComposable(
      routedStageContenttreeIdentifier,
      true
    );
    const { assembly } = useAssemblyComposable();
    const { gotoAssemblyStart } = useRouterComposable();
    const { hideLoadingGif, showLoadingGif } = useAppComposable();
    const emitter = useEmitter();

    // emitter.emit('showLoading');
    // console.log('SHOWLOADING');

    // extend i18n
    const i18n = useI18n();
    i18n.mergeLocaleMessage('de-ch', localI18n['de-ch']);

    const contentByParentID = computed(
      (): Record<string, INodeTuple[]> | null => {
        // console.log('run textEntries (computed)');
        const byParentId = {};

        if (!contenttreeTuple.value?.entries) {
          return null;
        }

        Object.values(contenttreeTuple.value.entries).forEach((x) => {
          if (!x.content?.id) {
            throw 'id not available for this content';
          }

          if (!(`${x.content.parent_id}` in byParentId)) {
            byParentId[`${x.content.parent_id}`] = [];
          }

          pushSorted(byParentId[`${x.content.parent_id}`], x);
          // byParentId[`${x.content.parent_id}`].push(x);
        });

        return byParentId;
      }
    );

    const showQuestions = ref<boolean>(false);
    const expertChapters = computed((): INodeTuple[] | null => {
      if (contentByParentID.value && contentByParentID.value['null']) {
        return filter_entries(contentByParentID.value['null'], ['EXPERT']);
      }
      return null;
    });

    const sectionChapters = computed((): INodeTuple[] | null => {
      if (contentByParentID.value && contentByParentID.value['null']) {
        return filter_entries(contentByParentID.value['null'], ['SECTION']);
      }
      return null;
    });

    const firstTopicTuple = computed((): INodeTuple | undefined => {
      if (sectionChapters.value) {
        return sectionChapters.value[0];
      }
      return undefined;
    });

    const expertArguments = computed((): INodeTuple[] | undefined => {
      if (
        !loaded(expertChapters.value) ||
        !expertChapters.value ||
        !contentByParentID.value === null
      ) {
        return undefined;
      }
      let allChapters: INodeTuple[] = [];
      // console.log('sectionChapters, ', expertChapters.value);
      expertChapters.value.forEach((tuple) => {
        if (
          tuple.content?.id &&
          contentByParentID?.value &&
          contentByParentID.value[tuple.content.id]
        ) {
          // console.log('chapters, ', tuple.content);
          const args = contentByParentID.value[tuple.content.id];
          allChapters = [...allChapters, ...args];
        }
      });

      return allChapters;
    });

    const unreadExpertArguments = computed((): number | undefined => {
      // console.log('expertArguments', expertArguments.value);
      const nof = expertArguments.value?.filter((tuple) => !isRead(tuple));
      return nof?.length;
    });

    // // -------------- MILESTONES -----------------------
    // INITIAL Stellungnahme

    // Either msInitialPreference or msRevisePreference must be completed....
    const msInitialLoad = useMilestoneComposable({
      key: 'INITIAL_PREFERENCE',
      priors: [],
      loading: computed((): boolean => {
        return !loaded(expertChapters.value);
      }),
      achieved: computed((): boolean => {
        // console.log('finachievedished.value?', unreadExpertArguments.value);
        return unreadExpertArguments.value === 0;
      }),
    });

    const atFirstKITopic = computed((): boolean | null => {
      if (assembly_sorted_stages.value?.length) {
        const firstTextStage = assembly_sorted_stages.value?.find(
          (stage) => stage?.stage.type === 'EXPERT_STATEMENT'
        );
        return routedStageTuple.value == firstTextStage;
      }

      return true;
    });

    const finished = computed((): boolean => {
      return !!msInitialLoad.achieved.value || !!msInitialLoad.skipped.value;
    });

    const ready = computed((): boolean => {
      const contenttreeLoaded =
        loaded(routedStageTuple.value) && loaded(contenttreeTuple.value);

      if (
        !contenttreeLoaded &&
        routedStageTuple.value?.stage.type === 'EXPERT_STATEMENT'
      ) {
        showLoadingGif('KIExperts');
      } else {
        hideLoadingGif('KIExperts');
      }

      // console.log('READY?? (computed)', contenttreeLoaded);
      return contenttreeLoaded;
    });

    const canAddQuestions = computed(() => {
      if (!faqContenttreeTuple.value?.identifier) {
        return undefined;
      }

      const types = get_allowed_node_types_to_add({
        contenttreeIdentifier: faqContenttreeTuple.value.identifier,
        parentType: null,
      });

      return types.length > 0;
    });

    watch(
      () => finished.value,
      () => {
        // console.log('finished.value?', finished.value);
        if (finished.value) {
          // console.log('unalert');
          markUnAlert();
        }
      },
      { immediate: true }
    );

    return {
      AMs,
      routedStageTuple,
      isRoutedStageAlerted,
      emitter,
      nextScheduledStage,
      assembly,
      ready,
      isFirstText,
      atFirstKITopic,
      contenttreeTuple,
      loaded,
      canAddQuestions,
      expertChapters,
      routedStageContenttreeIdentifier,
      contentByParentID,
      faqContenttreeTuple,
      firstTopicTuple,
      expertArguments,
      unreadExpertArguments,
      gotoAssemblyStart,
      markUnAlert,
      markCompleted,
      gotoStage,
      scrollToTop,
      showQuestions,
    };
  },

  // sideMenuItems(): ISideMenuItems {
  //   if (!this.firstTopicTuple || !this.expertChapters) {
  //     return [];
  //   }

  //   let topics = [this.firstTopicTuple].filter(
  //     (x) => x.content?.title !== '@HIDDEN@'
  //   );

  //   const items = [...topics, ...this.expertChapters];

  //   return items.map((node) => {
  //     return {
  //       label: node.content?.title,
  //       anchor: `ANCHOR${node.content?.id}`,
  //     } as ISideMenuItem;
  //   });
  // },
  // },
});
</script>
