<template>
  <q-page>
    <template v-if="showAssemblyMenu">
      <AssemblyMenu />
    </template>
    <router-view></router-view>
  </q-page>
</template>

<script lang="ts">
// import useAssemblyService from 'src/composables/assembly.composable';
import { getAssemblyService } from 'src/services/index';
import { defineComponent } from 'vue';
import AssemblyMenu from 'src/pages/layouts/components/AssemblyMenu.vue';
import localI18n from './i18n';
import { getCIRMenuService } from './services';

export default defineComponent({
  name: 'CIRLayout',
  components: { AssemblyMenu },
  setup() {
    // INIIALIZE CIR
    const { assemblyMenuData, tocFooterComponent, assemblyMenuAMs } = getCIRMenuService();
    const { initializePlugin, showAssemblyMenu } = getAssemblyService();
    initializePlugin(
      'CIR',
      assemblyMenuData,
      localI18n,
      true,
      tocFooterComponent,
      assemblyMenuAMs,
    );
    return { showAssemblyMenu };
  },
  computed: {},
});
</script>
