<template>
  <div class="doc_content">

    <a name="INTRO" />

    <div class="text-vessel2">
      <!-- <h1>Bürgerinnen und Bürger erstellten online ein Argumentarium für eine eidgenössische Abstimmungsvorlage</h1> -->
      <h1>Bürgerinnen und Bürger erstellten online ein Argumentarium zur Volksabstimmung über das Klima- und
        Innovationsgesetz</h1>
      <!-- <h1>Ein Argumentarium der Bevölkerung zur Volksabstimmung über das Klima- und Innovationsgesetz vom Juni 2023</h1> -->


      <div class="text-body1 text-justify">

        In einem einmaligen digitalen Beteiligungsprojekt erarbeiteten über tausend Stimmbürger:innen aus der
        Deutschschweiz zwischen März und April gemeinsam ein Argumentarium zur eidgenössischen Abstimmungsvorlage
        "Bundesgesetz über die Ziele im Klimaschutz, die Innovation und die Stärkung der Energiesicherheit" (Abstimmung
        18. Juni 2023). Die nach repräsentativen Kriterien ausgewählten Bürgerinnen und Bürger konnten auf der eigens
        dafür entwickelten Online-Plattform «Demokratiefabrik» Argumente für oder gegen das Bundesgesetz vorschlagen,
        begutachten, bewerten und kommentieren.<br><br>

        Die aus Sicht der Bürgerinnen und Bürgern relevantesten Argumente wurden am Ende zusammengetragen und in Form
        eines Argumentariums aufgelistet. Dieses Argumentarium finden Sie weiter unten auf dieser Seite. Das Argumentarium
        wurde ausserdem über verschiedene digitale Kanäle verbreitet und im Rahmen eines Pilotprojekts in der Stadt Wohlen
        (AG) per Post an Tausende von Schweizer Haushalten verschickt.
        <br><br>

        Das Argumentarium stellt eine wichtige Ergänzung zu den zahlreichen bereits verfügbaren Abstimmungsinformationen
        dar. Der grosse Vorteil des Argumentariums ist, dass es die Sicht der Bürgerinnen und Bürger in den Vordergrund
        stellt. Bei der Erarbeitung wurde bewusst auf den Einbezug von Fachexpert:innen und Politiker:innen verzichtet.

        <br><br>


        Das Beteiligungsprojekt wurde vom Instituts für Politikwissenschaft der Universität Bern durchgeführt und vom
        Schweizerischen Nationalfonds finanziert. Mit der Rekrutierung der Teilnehmenden wurde das Marktforschungsinstitut
        LINK beauftragt.

      </div>
      <br><br>
      <ArtificialModeration :AM="AMs.AMmsVoiceIntroduction" :role="1" alignment="left" :ctx="this" />

      <br><br>


      <h2>Die Abstimmungsvorlage: Das Klima-Gesetz</h2>

      <a name="VORLAGE" />
      <div class="text-body1 text-justify">
        Im Juni 2023 findet die Volksabstimmung über das Bundesgesetz über die Ziele im Klimaschutz, die Innovation und
        die Stärkung der Energiesicherheit (KlG) ab. Dieses beinhaltet Ziele und grobe Massnahmen für den Schweizer
        Klimaschutz. Das sind die Hauptbestandteile des Gesetzes sowie des dazugehörigen Bundesbeschlusses:

        <ul>
          <li>Die Festlegung eines Ziels, damit die Schweiz bis 2050 klimaneutral ist. Das bedeutet, dass entweder keine
            <span class="tooltipped">
              Treibhausgase<q-tooltip anchor="top middle" class="bg-amber-1 text-black shadow-4 text-body1 text-justify"
                self="bottom middle" max-width="400px" :offset="[10, 10]">
                Treibhausgase, z. B. CO2, gelten als Hauptgrund für den Klimawandel. Der Ausstoss von Treibhausgasen wird
                ausgeglichen, indem z. B. neue Bäume gepflanzt werden.
              </q-tooltip></span> mehr
            ausgestossen werden oder der Ausstoss von Treibhausgasen ausgeglichen wird (Netto-Null-Ziel);
          </li>
          <li>Der Ausbau von Technologien, um bereits ausgestossenes Treibhausgas zu reduzieren (z. B. Verfahren, um CO2
            aus der
            Atmosphäre zu entfernen);</li>
          <li>Eine finanzielle Förderung für Unternehmen, damit diese den Ausstoss von Treibhausgasen durch neuartige
            Technologien
            reduzieren;</li>
          <li>Eine finanzielle Unterstützung für den Ersatz von nicht nachhaltigen Heizungen (fossile und elektrische
            Heizungen) und
            für Gebäudesanierungen.</li>
        </ul>

      </div>

      <div class="text-body1 text-justify">
        Möchten Sie noch mehr Informationen zum neuen Bundesgesetz? Wir empfehlen Ihnen folgende Dokumente:

        <ul>
          <li><a href="javascript:void(this);" @click="togglerBackgroundInfo()">
              Entstehungsgeschichte ({{ !toggleBackgroundInfo ? 'hier einblenden' : 'ausblenden' }})</a>
            <div class="bg-blue-1 q-pa-md" v-if="toggleBackgroundInfo">
              <!-- <div class="text-h4 q-mb-xs">Hintergrundinformationen</div> -->
              <div class="text-body1 text-justify">
                Im Jahr 2019 wurde die Volksinitiative «Für ein gesundes Klima», die sogenannte Gletscher-Initiative, vom
                Verein Klimaschutz Schweiz lanciert. Das Parlament hat im Jahr 2022 als <span class="tooltipped">
                  indirekten Gegenvorschlag<q-tooltip anchor="top middle"
                    class="bg-amber-1 text-black shadow-4 text-body1 text-justify" self="bottom middle" max-width="400px"
                    :offset="[10, 10]">

                    Mit einem indirekten Gegenvorschlag kann das Parlament ein neues Gesetz oder eine Gesetzesänderung als
                    Alternative zu einer Volksinitiative vorschlagen.
                  </q-tooltip></span> zur Initiative das Bundesgesetz über die Ziele im Klimaschutz, die Innovation und
                die Stärkung der
                Energiesicherheit (KlG) erarbeitet. Dieses übernimmt die Stossrichtung der Initiative.
                <br><br>

                Deshalb hat der Verein Klimaschutz Schweiz die Gletscher-Initiative <span class="tooltipped">
                  bedingt
                  zurückgezogen<q-tooltip anchor="top middle"
                    class="bg-amber-1 text-black shadow-4 text-body1 text-justify" self="bottom middle" max-width="400px"
                    :offset="[10, 10]">
                    Wird der indirekte Gegenvorschlag angenommen, tritt das Klimaschutz-Gesetz in Kraft. Die Initiative
                    wird dann endgültig zurückgezogen. Wird der indirekte Gegenvorschlag abgelehnt, wird die
                    Stimmbevölkerung zu einem späteren Zeitpunkt über die Gletscher-Initiative abstimmen.
                  </q-tooltip></span>. Gegen das Gesetz wurde das
                <span class="tooltipped">
                  Referendum<q-tooltip anchor="top middle" class="bg-amber-1 text-black shadow-4 text-body1 text-justify"
                    self="bottom middle" max-width="400px" :offset="[10, 10]">
                    Über einen indirekten Gegenvorschlag stimmt die Stimmbevölkerung nur dann ab, wenn erfolgreich das
                    Referendum dagegen ergriffen wird. Dafür müssen 50'000 Unterschriften gesammelt werden.
                  </q-tooltip></span>
                ergriffen, weshalb im Juni 2023 über das Gesetz abgestimmt wird.
              </div>
            </div>
          </li>
          <li><a href="javascript:void(this);"
              @click="openTab('https://swissvotes.ch/attachments/3a1217a53cb1d9a6827266b7ca103e1ff7df9f520a72a107b8795bdf7661918f', 'LEGALTEXT')">Gesetzestext
              (PDF in neuem Fenster)</a>
          </li>
          <li><a href="javascript:void(this);" @click="openTab('https://anneepolitique.swiss/prozesse/64275', 'APS')">Zum
              Dossier auf der Webseite von Année Politique Suisse (In neuem Fenster)</a>. Année Politique Suisse erstellt
            seit 1965 eine politisch unabhängige Chronik der Schweizer
            Politik.
          </li>

        </ul>

      </div>

    </div>


    <br><br>


    <a name="MERKMALE" />

    <h2>Sehr hohes und ausgeglichenes Engagement der Teilnehmenden
      <!-- Wer waren die Teilnehmenden? -->
    </h2>
    <div class="text-body1 text-justify">

      Insgesamt haben sich 1023 Personen an der Erstellung des Argumentariums beteiligt. 880 Teilnehmende haben sich an
      mehr als einem Tag eingeloggt.
      Die Teilnehmenden reichten 98
      Argumente (50 Pro- und 48 Contra-Argumente) ein. Zudem haben sie 2625 Kommentare geschrieben.<br><br>


      Das Teilnehmendenfeld setzte sich
      wie folgt zusammen:




    </div>

    <br><br>
    <q-table title="Merkmale der Teilnehmerschaft" :rows="rows" :hide-pagination="true" :hide-bottom="true"
      :columns="columns" row-key="name" :pagination="initialPagination">

      <template v-slot:body-cell="props">
        <q-td :props="props">
          <template v-if="props.col.name == 'name'">
            <div v-if="props.row.caption"><b>{{ props.value }}</b></div>
            <div v-if="!props.row.caption">{{ props.value }}</div>
          </template>

          <template v-if="props.col.name !== 'name'">
            <div>{{ props.value }}</div>
          </template>

        </q-td>
      </template>
    </q-table>


    <br /><br />


    <a name="CIRPLOT"></a>
    <!-- <h2>Meinungsspektrum</h2> -->
    <div class="text-body1 text-justify">

      Das Engagement auf der Plattform war ausgegesprochen ausgeglichen. Dazu beigetragen hat, dass die Teilnahme nicht
      mit Klarnamen sondern unter einem Pseudonym erfolgte.
      Als Pseudonym wurden die Namen von Schweizer
      Berge verwendet. So diskutierte beispielsweise A. Schrattenfluh mit C. Stanserhorn zusammen.
      <br><br>

      In der folgenden
      Grafik sehen Sie, wie sich die Teilnehmenden zur Abstimmungsvorlage positioniert
      haben. Sie können sich hier mit der Vielfalt der Meinungen und
      Positionen des Teilnehmerfeldes vertraut machen. Dabei ist noch zu ergänzen, dass sich nicht alle Teilnehmende
      bereit
      erklärt haben, Ihre Beiträge im Nachhinein zu veröffenlichen. Die Beiträge von den Teilnehmenden, die dies
      ablehnten, wurden von uns nachträglich zensiert.
    </div>

    <ArtificialModeration :AM="AMs.AMmsPolarBeePlot" alignment="left" :role="1" :ctx="this" />
    <CIRPlotComponent v-on:data-reload="beePlotLoaded = true;
    setBeePlotUserCount($event);
    " />

    <br><br>

    <a name="ARGUMENTARIUM" />

    <h2>Das finale Argumentarium</h2>

    <!-- Die Demokratiefabrik wurde vom Forschungsteam konzipiert und programmiert.  -->
    <div class="text-body1 text-justify">

      Die Teilnehmenden konnten auf der Online-Plattform Argumente vorschlagen, von anderen Teilnehmenden vorgeschlagene
      Argumente bewerten und begutachten sowie Verbesserungsvorschläge für bestehende Argumente einreichen. Zudem konnten
      sie via Kommentarfunktion über die Vorlage diskutieren. Die Teilnehmenden der Demokratiefabrik wurden aufgefordert,
      zu bewerten, wie relevant die eingegebenen Argumente für ihren persönlichen Stimmentscheid sind. Aus den am besten
      bewerteten Argumenten der Befürwortenden sowie der Gegnerschaft hat das Projektteam ein Argumentarium erstellt. Das
      Projektteam hat vor der Publikation einzig kleine grammatikalische Änderungen an den Argumenten vorgenommen.
    </div>
    <br><br>
    <div v-if="argumentsBySide">
      <ArgumentReport :top3ArgumentsBySide="argumentsBySide" :community="true"></ArgumentReport>
    </div>


    <br />
    <!-- TODO Schlusswort. 
     -->
    <br><br>
    <div class="text-body1 text-justify">
      Dieses Argumentarium steht der Schweizer Stimmbevölkerung zur Meinungsbildung bei der
      Volksabstimmung im Juni 2023 zur Verfügungen.
      Wenn Sie möchten können Sie das Argumentarium hier in einer

      <a target="_blank" href="/storage/upload/Demokratiefabrik_Argumentarium.pdf"
        alt="Demokratiefabrik Argumentarium als PDF-Download">
        PDF-Version
      </a>
      herunterladen.

      <br><br>
      Zum Schluss möchten wir uns bei den über tausend Teilnehmenden für die
      engagierte und konstruktive
      Mithilfe bedanken. Wir bedanken uns
      an dieser Stelle auch bei LINK für die gute Zusammenarbeit.
    </div>
    <!-- <q-img src="/plugins/CIR/LINK-x-YouGov_RGB.png" contain class="q-ma-sm" style="max-width: 180px; width: 80%">
    </q-img> -->

    <br><br><br>
    <ArtificialModeration :AM="AMs.endOfPage" :role="2" v-if="beePlotLoaded" :slim="true" alignment="right" :ctx="this" />

  </div>

  <SideMenu :items="sideMenuItems" />
</template>

<script lang="ts">
import { computed, defineComponent, ref, Ref } from 'vue';
import AMs from './ArtificialModerationReport';
import CIRPlotComponent from 'src/plugins/CIR/stages/VOICE/components/CIRPlotComponent.vue';
import ArtificialModeration from 'src/pages/components/artificial_moderation/ArtificialModeration.vue';
import { getMonitorService } from 'src/services/index';
import useCIRStatementService from 'src/plugins/CIR/services/statement.composable';
import SideMenu from 'src/pages/components/SideMenu.vue';
import library from 'src/utils/library';
import { useQuasar } from 'quasar';
import useArgumentsComposable from '../../stages/PROS_AND_CONS/composables/arguments.composable';
import ArgumentReport from 'src/plugins/CIR/stages/PROS_AND_CONS/components/ArgumentReport.vue';
import useCIRTopicComposable from '../../services/topic.composable';

const { scrollToTop, scrollToAnchor } = library;

export default defineComponent({
  name: 'Voice',
  components: {
    ArtificialModeration,
    SideMenu,
    ArgumentReport,
    CIRPlotComponent,
  },
  setup() {
    const $q = useQuasar();
    // const is_mobile = $q?.platform.is.mobile;
    const beePlotLoaded: Ref<boolean> = ref<boolean>(false);
    const beePlotUserCount: Ref<number | undefined> = ref<number | undefined>(
      undefined
    );

    const setBeePlotUserCount = (val: number) => {
      beePlotUserCount.value = val;
    };

    // const store = useStore();
    const { monitorFire } = getMonitorService();
    const { topicContentTuple } = useCIRTopicComposable();


    const firstSide = computed((): 'PRO' | 'CONTRA' | null => {
      const rand = Math.random();
      if (rand > 0.5) {
        return 'PRO';
      }

      return 'CONTRA';
    });

    const {
      argumentsBySide,
      // firstSide,
      secondSide,
      contenttreeIdentifier,
      contenttreeTuple,
      getDescendantsOf,
      contenttreeID,
    } = useArgumentsComposable(undefined, true);


    const columns = [
      {
        name: 'name',
        required: true,
        label: 'Merkmale der Teilnehmenden',
        align: 'left',
        field: row => row.name,
        format: val => `${val}`,
      },
      { name: 'value', align: 'center', label: 'Anteile (gerundet)', field: 'value' },
    ]

    const rows = [
      {
        name: 'Geschlecht',
        caption: true,
      },
      {
        name: 'Frauen',
        value: '45.0%'
      },
      {
        name: 'Männer',
        value: '55.0%'
      },
      {
        name: 'Alter',
        caption: true,
        value: null
      },
      {
        name: '18 - 25 Jährige',
        value: '4.8%'
      }
      ,
      {
        name: '26 - 35 Jährige',
        value: '13.5%'
      }
      ,
      {
        name: '36 - 45 Jährige',
        value: '15.8%'
      },
      {
        name: '46 - 55 Jährige',
        value: '25.2%',
      },
      {
        name: '56 - 65 Jährige',
        value: '17.9%'
      },
      {
        name: '66 - 75 Jährige',
        value: '17.6%'
      },
      {
        name: 'über 75 Jährige',
        value: '5.2%'
      },
      {
        name: 'Politisches Interesse',
        caption: true,

      },
      {
        name: 'Personen mit höherem politischen Interesse',
        value: '82.9%'
      },
      {
        name: 'Personen mit niedrigerem politischen Interesse',
        value: '17.1%'
      },
      {
        name: 'Politische Links - Rechts - Positionierung',
        caption: true,
      },
      {
        name: 'Personen, die sich dem rechten Spektrum zuordnen',
        value: '43.1%'
      },
      {
        name: 'Personen, die sich genau in der Mitte verorten',
        value: '18.0%'
      },
      {
        name: 'Personen, die sich dem linken Spektrum zuordnen',
        value: '38.9%'
      }
    ]

    const initialPagination = {
      page: 1,
      rowsPerPage: 300
    }

    const {
      statementContentTuple,
      statementContenttreeTuple,
      statementContentId,
    } = useCIRStatementService(undefined, false, true);

    const argumentariumTab = ref('first')
    const toggleBackgroundInfo = ref(false)
    const togglerBackgroundInfo = () => {
      toggleBackgroundInfo.value = !toggleBackgroundInfo.value;
    }

    const openTab = (url) => {
      window.open(url)
    }

    const sideMenuItems: any[] = [
      {
        label: 'Einführung',
        anchor: 'INTRO',
      },
      {
        label: 'Vorlage',
        anchor: 'VORLAGE',
      },
      {
        label: 'Teilnehmerschaft',
        anchor: 'MERKMALE',
      },
      {
        label: 'Meinungsspektrum',
        anchor: 'CIRPLOT',
      },
      {
        label: 'Argumentarium',
        anchor: 'ARGUMENTARIUM',
      }
    ];

    return {
      statementContentId,
      statementContentTuple,
      statementContenttreeTuple,
      monitorFire,
      initialPagination,
      togglerBackgroundInfo,
      toggleBackgroundInfo,
      beePlotLoaded,
      beePlotUserCount,
      setBeePlotUserCount,
      scrollToTop,
      scrollToAnchor,
      sideMenuItems,
      q: $q,
      columns,
      rows,
      openTab,
      argumentariumTab,
      argumentsBySide,
      firstSide,
      secondSide,
      contenttreeIdentifier,
      topicContentTuple,
      contenttreeTuple,
      getDescendantsOf,
      contenttreeID,
    };
  },

  data() {
    return {
      AMs,
      that: this,
    };
  },

  methods: {
    openPublicCirProfileModify() {
      console.log(this.$refs);
      const popup: unknown = this.$refs['dialog-modify-public-cir-profile'];
      if (!popup) {
        throw 'invliad popup key';
      }
      (popup as any).showCIRProfileForm();
    },
    openPublicCirProfile() {
      // console.log(this.$refs);
      const popup: unknown = this.$refs['dialog-modify-public-cir-profile'];
      if (!popup) {
        throw 'invliad popup key';
      }
      (popup as any).showCIRProfile();
    },
  },
});
</script>
