<style scoped>
.hovercraft:hover {
  background-color: gainsboro;
}
</style>

<template>
  <q-page class="doc_content" v-if="ready">
    <h1>Mitwirkung in der Demokratiefabrik</h1>

    <p v-if="assembly" v-dompurify-html="assembly.info" />

    <ArtificialModeration v-if="assemblyMenuAMs?.toc" :AM="assemblyMenuAMs.toc" alignment="right" :ctx="that" />

    <template v-if="orderedAssemblyMenuItems?.length">
      <TOCItem v-for="(item, index) in orderedAssemblyMenuItems" :key="index" :index="index"
        :nextScheduledStage="nextScheduledStage" :groupsAccessible="groupsAccessible" :groupsScheduled="groupsScheduled"
        :stages_by_groups="stages_by_groups" v-on:expand-stage-group="expandStageGroup($event)"
        v-on:goto-stage-group="gotoStageGroup($event)" v-on:goto-stage="gotoStage($event)" :item="item" />
    </template>
    <component v-if="tocFooterComponent" :is="tocFooterComponent" />
  </q-page>
</template>

<script lang="ts">
import { computed, defineComponent } from 'vue';
import { useRouter } from 'vue-router';
import TOCItem from './TOCItem.vue';
import ArtificialModeration from 'src/pages/components/artificial_moderation/ArtificialModeration.vue';
import { getStageService } from 'src/services/index';
import { IStageGroup } from 'src/models/stage';
import library from 'src/utils/library';
import { useStore } from 'vuex';
import { getAssemblyService } from 'src/services/index';


export default defineComponent({
  setup() {
    const store = useStore();
    const { push } = useRouter();
    const { loaded } = library;
    const {
      groupsScheduled,
      groupsAccessible,
      stages_by_groups,
      nextScheduledStage,
    } = getStageService();

    const {
      assembly,
      assemblyMenuData,
      tocFooterComponent,
      gotoStage,
      orderedAssemblyMenuItems,
      assemblyMenuAMs
    } = getAssemblyService();

    // console.log('DEBUG III ', assemblyMenuAMs, assemblyMenuAMs.value);

    const enabled_certificates = computed(
      () => store.getters['profilestore/enabled_certificates']
    );
    // const ctx = this
    // console.log(Object.keys(assemblyMenuData))

    return {
      orderedAssemblyMenuItems,
      assemblyMenuAMs,
      assemblyMenuData,
      tocFooterComponent,
      groupsScheduled,
      assembly,
      loaded,
      push,
      enabled_certificates,
      groupsAccessible,
      nextScheduledStage,
      gotoStage,
      stages_by_groups,
    };
  },
  name: 'AssemblyTOC',
  components: {
    ArtificialModeration,
    TOCItem,
  },
  data() {
    return {
      that: this,
    };
  },

  computed: {
    ready(): boolean {
      // console.log(this.assemblyMenu)
      return this.loaded(this.assemblyMenuData);
    },
    nextScheduledStageGroup(): null | IStageGroup {
      const group = this.nextScheduledStage?.stage.group;
      if (!group || !this.assemblyMenuData) {
        return null;
      }

      // console.log('DEBUG; ', group, this.assemblyMenuData);
      return this.assemblyMenuData[group];
    },

    assemblyMenuItems(): null | IStageGroup[] {
      return Object.values(this.assemblyMenuData)
    }
  },

  methods: {
    gotoStageGroup(item: IStageGroup) {
      this.push(item.to());
    },

    expandStageGroup(item) {
      item.manual_expanded = !item.manual_expanded;
    },
  },
});
</script>
