<template>
  <template v-if="milestone.skipped.value !== true">
    <a :name="milestone.key" />

    <div class="row justify-between q-my-xl" v-if="addSeperator">
      <div class="seperator">
        <q-icon name="mdi-star-four-points-outline" />
      </div>
    </div>

    <div
      v-if="
        !fullyHiddenWhenNotAccessible &&
        (milestone.loading.value || milestone.hidden.value)
      "
    >
      <Skeleton
        :h1="milestone.skipped.value !== false ? '' : h1"
        :h2="milestone.skipped.value !== false ? '' : h2"
        :h3="milestone.skipped.value !== false ? '' : h3"
      ></Skeleton>
      <!-- Dont show header, when milestone is potentially skipped. (during loading) -->

      <q-tooltip max-width="300px" v-if="milestone.loading.value">
        {{ $t('menu.items.loading.tooltip') }}
      </q-tooltip>
      <q-tooltip max-width="300px" v-else>
        {{ $t('menu.items.locked.tooltip') }}
      </q-tooltip>
    </div>
    <div v-if="milestone.visible.value">
      <h1 v-if="h1">
        <q-icon v-if="iconH1" :name="iconH1" class="text-grey-9" size="1em" />
        {{ h1 }}
      </h1>
      <h2 v-if="h2">
        <q-icon v-if="iconH2" :name="iconH2" class="text-grey-9" size="1em" />
        {{ h2 }}
      </h2>
      <h3 v-if="h3">
        <q-icon v-if="iconH3" :name="iconH3" class="text-grey-9" size="1em" />
        {{ h3 }}
      </h3>

      <template v-if="!milestone.loading?.value">
        <slot><!-- Default Content --></slot>
      </template>
    </div>
  </template>
</template>

<script lang="ts">
import { IMilestoneComposable } from 'src/models/stage';
import Skeleton from 'src/pages/components/Skeleton.vue';
import { defineComponent, PropType } from 'vue';

export default defineComponent({
  name: 'StageMilestone',
  components: { Skeleton },
  props: {
    addSeperator: { type: Boolean, default: true },
    fullyHiddenWhenNotAccessible: { type: Boolean, default: false },
    h1: { type: String, default: '' },
    h2: { type: String, default: '' },
    h3: { type: String, default: '' },
    iconH1: { type: String, default: '' },
    iconH2: { type: String, default: '' },
    iconH3: { type: String, default: '' },
    milestone: {
      type: Object as PropType<IMilestoneComposable>,
      required: true,
    },
  },
});
</script>
