<template>
  <q-page class="doc_content">


    <template v-if="!surveyFinalized && linkRedirectionDisabled">
      <div class="seperator bg-blue-1 q-pa-lg">
        <h3>
          Hinweis: Das Zeitfenster für die Teilnahme am weiteren Verlauf der LINK-Studie ist geschlossen. Wir danken für
          Ihre
          Teilnahme! Die Plattform steht für Sie noch eine Weile zur Verfügung.
        </h3>


        <img src="https://www.link.ch/wp-content/uploads/2022/08/LINK-x-YouGov_RGB.svg" class=" float-left" alt="logo"
          width="200">
        <br><br>
        <!-- <ArtificialModeration :AM="AMs.conclusionC" alignment="right" amGroup="Conclusion" :role="2" :ctx="this" /> -->
      </div>
      <br><br>
      <br><br>
    </template>





    <ArtificialModeration :AM="AMs.index_top_one" :role="1" :slim="true" alignment="left" :ctx="that" />
    <ArtificialModeration :AM="AMs.index_top" :role="2" :slim="true" alignment="right" :ctx="that" />
    <!-- <h1>Wie relevant sind folgende Argumente für Sie?</h1> -->
    <!-- <ArtificialModeration :AM="AMs.index_bottom_right" v-if="msArgumentsSecondSide.achieved.value" alignment="right"
      :role="2" amGroup="index_bottom" :ctx="that" /> -->


    <StageMilestone :milestone="msArgumentsFirstSide" :addSeperator="false" :iconH1="
      firstSide === 'PRO'
        ? 'mdi-message-plus-outline'
        : 'mdi-message-minus-outline'
    " :h1="firstSide === 'PRO' ? 'Pro-Argumente' : 'Contra-Argumente'">
      <a :name="firstSide"></a> <a name="FIRST"></a>

      <ArgumentariumSide :side="firstSide" :addSeperator="false" :firstSide="true" :contenttreeTuple="contenttreeTuple"
        v-if="argumentsBySide && firstSide" :topicTuple="topicContentTuple" :contenttreeID="contenttreeID"
        :contenttreeIdentifier="contenttreeIdentifier" :getDescendantsOf="getDescendantsOf"
        :arguments="argumentsBySide[firstSide]"></ArgumentariumSide>
    </StageMilestone>

    <div class="row justify-between q-my-xl">
      <div class="seperator">
        <q-icon name="mdi-star-four-points-outline" />
      </div>
    </div>
    <br />
    <ArtificialModeration :AM="AMs.index_middle" v-if="
      msArgumentsFirstSide.achieved.value &&
      !msArgumentsSecondSide.achieved.value
    " alignment="left" :ctx="that" />
    <StageMilestone :addSeperator="false" :milestone="msArgumentsSecondSide"
      :h1="secondSide === 'PRO' ? 'Pro-Argumente' : 'Contra-Argumente'" :iconH1="
        secondSide === 'PRO'
          ? 'mdi-message-plus-outline'
          : 'mdi-message-minus-outline'
      ">
      <a :name="secondSide"></a> <a name="SECOND"></a>

      <ArgumentariumSide :side="secondSide" :addSeperator="false" :firstSide="false" :contenttreeTuple="contenttreeTuple"
        v-if="argumentsBySide && secondSide" :topicTuple="topicContentTuple" :contenttreeID="contenttreeID"
        :contenttreeIdentifier="contenttreeIdentifier" :getDescendantsOf="getDescendantsOf"
        :arguments="argumentsBySide[secondSide]"></ArgumentariumSide>
    </StageMilestone>

    <a name="FINAL"></a>
    <StageMilestone :milestone="msArgumentsFinish" h2="Ihr persönliches Argumentarium">
      <template v-if="!emptyArguments">
        <p>
          In der folgenden Grafik sind nun die bisher wichtigsten Argumente nach
          der von Ihnen vorgenommenen Bewertung aufgelistet. Die Grösse der Blöcke wiederspiegelt dabei die Relevanz, die
          Sie dem Argument beigemessen haben.
        </p>

        <ArgumentView :top3ArgumentsBySide="top3ArgumentsBySide"></ArgumentView>
      </template>
    </StageMilestone>

    <br /><br />
    <br /><br />

    <ArtificialModeration :AM="AMs.index_bottom_right" v-if="msArgumentsSecondSide.achieved.value" alignment="right"
      :role="2" amGroup="index_bottom" :ctx="that" />
    <SideMenu :items="sideMenuItems" :highlightedItemAnchor="highlightedItemAnchor" />
  </q-page>
</template>

<script lang="ts">
import { defineComponent, computed, watch } from 'vue';
import ArgumentariumSide from './components/ArgumentariumSide.vue';
import useArgumentsComposable from 'src/plugins/CIR/stages/PROS_AND_CONS/composables/arguments.composable';
import {
  AMs,
  ICtx,
} from 'src/plugins/CIR/stages/PROS_AND_CONS/ArtificialModeration';
import ArtificialModeration from 'src/pages/components/artificial_moderation/ArtificialModeration.vue';
import {
  useMilestoneComposable,
  useMilestoneLibrary,
} from 'src/composables/milestone.composable';
import StageMilestone from 'src/pages/Assembly/components/StageMilestone.vue';
import SideMenu from 'src/pages/components/SideMenu.vue';
import library from 'src/utils/library';
import useCIRTopicComposable from '../../services/topic.composable';
const { loaded, scrollToTop } = library;
import ArgumentView from 'src/plugins/CIR/stages/PROS_AND_CONS/components/ArgumentView.vue';
import usePeerreviewComposable from 'src/composables/peerreview.composable';
import { getAssemblyService } from 'src/services';
// import useAssemblyService from 'src/services/assembly.service';
import { useStore } from 'vuex';

export default defineComponent({
  name: 'Argumentarium',
  props: ['userTuple'],
  components: {
    ArtificialModeration,
    StageMilestone,
    ArgumentariumSide,
    SideMenu,
    ArgumentView,
  },
  setup() {
    const {
      argumentsBySide,
      top3ArgumentsBySide,
      getDescendantsOf,
      firstSide,
      secondSide,
      emptyArguments,
      markUnAlert,
      gotoStage,
      routedStageTuple,
      nextScheduledStage,
      gotoNextStageNr,
      isRoutedStageAlerted,
      contenttreeID,
      contenttreeTuple,
      contenttreeIdentifier,
    } = useArgumentsComposable(undefined, true);
    const store = useStore();

    watch(
      () => contenttreeID.value,
      () => {
        if (contenttreeID.value) {
          usePeerreviewComposable(contenttreeID.value, true);
        }
      },
      { immediate: true }
    );
    const { assembly } = getAssemblyService();
    const { topicContentTuple } = useCIRTopicComposable();
    const { isMilestoneSet } = useMilestoneLibrary();
    // const secondSide = firstSide.value === 'PRO' ? 'CONTRA' : (firstSide.value === 'CONTRA' ? 'PRO' : null);

    // -------------- MILESTONES -----------------------
    const msArgumentsFirstSide = useMilestoneComposable({
      key: 'ARGUMENTS_FIRST_SIDE',
      priors: [],
      loading: computed((): boolean => {
        // console.log('FIRST LOADING', (!loaded(argumentsBySide?.value) || !firstSide.value))
        return !loaded(argumentsBySide?.value) || !firstSide.value;
      }),
      achieved: computed((): boolean => {
        const key = `ARGUMENTS_MISSING_${firstSide.value}`;
        // console.log('FIRST achieved', isMilestoneSet(key))
        return isMilestoneSet(key);
      }),
    });

    const msArgumentsSecondSide = useMilestoneComposable({
      key: 'ARGUMENTS_SECOND_SIDE',
      priors: [msArgumentsFirstSide],
      loading: computed((): boolean => {
        // console.log(msArgumentsFirstSide)
        return !loaded(argumentsBySide?.value) || !secondSide.value;
      }),
      achieved: computed((): boolean => {
        const key = `ARGUMENTS_MISSING_${secondSide.value}`;
        return isMilestoneSet(key);
      }),
    });

    const msArgumentsFinish = useMilestoneComposable({
      key: 'ARGUMENTS_FINSIHED',
      priors: [msArgumentsSecondSide],
      loading: computed((): boolean => {
        return !loaded(top3ArgumentsBySide.value);
      }),
      achieved: computed((): boolean => {
        return true;
      }),
    });




    const highlightedItemAnchor = computed(() => {
      if (!msArgumentsFirstSide.achieved.value) {
        return firstSide.value
      }

      if (!msArgumentsSecondSide.achieved.value) {
        return secondSide.value
      }

      return undefined
    })

    const sideMenuItems: any[] = [];

    if (secondSide.value == 'CONTRA') {
      sideMenuItems.push({
        label: 'Pro-Argumente',
        anchor: 'PRO',
      });
      sideMenuItems.push({
        label: 'Contra-Argumente',
        anchor: 'CONTRA',
      });
      sideMenuItems.push({
        label: 'Persönliches Argumentarium',
        anchor: 'FINAL',
      });
    }
    if (secondSide.value == 'PRO') {
      sideMenuItems.push({
        label: 'Contra-Argumente',
        anchor: 'CONTRA',
      });
      sideMenuItems.push({
        label: 'Pro-Argumente',
        anchor: 'PRO',
      });
    }

    const surveyFinalized = computed(() => store.getters['profilestore/surveyFinalized']);
    const linkRedirectionDisabled = computed(
      () => assembly.value?.custom_data?.DISABLE_LINK_REDIRECTION
    );


    return {
      AMs,
      surveyFinalized,
      linkRedirectionDisabled,
      argumentsBySide,
      top3ArgumentsBySide,
      msArgumentsFirstSide,
      msArgumentsSecondSide,
      msArgumentsFinish,
      highlightedItemAnchor,
      emptyArguments,
      getDescendantsOf,
      contenttreeID,
      contenttreeIdentifier,
      routedStageTuple,
      nextScheduledStage,
      gotoNextStageNr,
      isRoutedStageAlerted,
      markUnAlert,
      gotoStage,
      topicContentTuple,
      firstSide,
      secondSide,
      scrollToTop,
      sideMenuItems,
      contenttreeTuple,
    };
  },

  data() {
    return { that: this as unknown as ICtx };
  },
});
</script>

<style lang="scss">
div.argumentChapter {
  padding-left: 2em;

  &.PRO {
    border-left: 0.5em solid rgb(218, 241, 218);
  }

  &.CONTRA {
    border-left: 0.5em solid rgb(233, 233, 243);
  }
}
</style>
