<template>
  <div
    class="text-vessel q-pt-md"
    :class="{ 'full-width': fullWidth }"
    v-if="mainTopics"
  >
    <h1 v-if="h1">
      <q-icon v-if="icon" size="xl" class="float-left" :name="icon" />
    </h1>
    <h2 v-if="h2">
      <q-icon v-if="icon" size="xl" class="float-left" :name="icon" /> {{ h2 }}
    </h2>
    <h3 v-if="h3">
      <q-icon v-if="icon" size="xl" class="float-left" :name="icon" /> {{ h3 }}
    </h3>

    <div
      class="row justify-between"
      v-for="(nodeL1, keyL1) in mainTopics"
      :key="`L1${nodeL1?.content?.id}`"
    >
      <a :name="`ANCHOR${nodeL1.content?.id}`" />

      <TextsheetCard
        :level="1"
        :icon="!h1 && !h2 && !h3 && keyL1 === 0 ? icon : ''"
        :filterTypes="DISCUSSIONTYPES"
        :nodeTuple="nodeL1"
        :discussionAM="discussionAM ? discussionAM : null"
        :heading_number="headingNumbering ? `${keyL1 + 1}` : ''"
      />

      <template v-if="nodeL1?.content">
        <div
          class="full-width"
          v-for="(nodeL2, keyL2) in textChildrenEntries(nodeL1 as INodeTuple)"
          :key="`L2${nodeL2.content?.id}`"
        >
          <TextsheetCard
            :level="2"
            :filterTypes="DISCUSSIONTYPES"
            :nodeTuple="nodeL2"
            :discussionAM="discussionAM ? discussionAM : null"
            :heading_number="
              headingNumbering ? `${keyL1 + 1}.${keyL2 + 1}` : ''
            "
          />
          <template v-if="nodeL2?.content">
            <div
              class="full-width"
              v-for="(nodeL3, keyL3) in textChildrenEntries(nodeL2 as INodeTuple)"
              :key="`L3${nodeL3.content.id}`"
            >
              <span>{{ keyL3 }}</span>
              <TextsheetCard
                :filterTypes="DISCUSSIONTYPES"
                :nodeTuple="nodeL3"
                :level="3"
                :discussionAM="discussionAM ? discussionAM : null"
              />
            </div>
          </template>
        </div>
      </template>
    </div>

    <!-- NEW ENTRIES -->
    <template v-if="IsManager">
      <ContentEditorPopup
        :contenttreeTuple="contenttreeTuple"
        :parentTuple="null"
        ref="showContentEditorPopup"
        :typesToAdd="types_to_add_on_root_level"
      >
      </ContentEditorPopup>
    </template>
  </div>
</template>

<script lang="ts">
import ContentEditorPopup from 'src/pages/ContentTree/components/ContentEditorPopup.vue';

import { defineComponent, ref, PropType, computed } from 'vue';
import TextsheetCard from './components/TextsheetCard.vue';
import { useStore } from 'vuex';
import constants from 'src/utils/constants';
import library from 'src/utils/library';
import useContenttreeComposable from 'src/composables/contenttree.composable';
import useEmitter from 'src/utils/emitter';
import { INodeTuple } from 'src/models/content';
import { ISideMenuItem, ISideMenuItems } from 'src/models/layout';
import { IArtificialModerationFile } from 'src/pages/components/artificial_moderation/model';
const { loaded } = library;

export default defineComponent({
  name: 'TextsheetComponent',
  components: {
    TextsheetCard,
    ContentEditorPopup,
  },
  props: {
    contenttreeIdentifier: {
      type: String,
      required: true,
    },
    icon: {
      type: String,
      default: '',
      required: false,
    },
    headingNumbering: {
      type: Boolean,
      default: true,
    },
    fullWidth: {
      type: Boolean,
      default: false,
    },

    h1: {
      type: String,
      default: '',
    },
    h2: {
      type: String,
      default: '',
    },
    h3: {
      type: String,
      default: '',
    },
    discussionAM: {
      type: Object as PropType<IArtificialModerationFile | undefined | null>,
      default: undefined,
    },
  },
  setup(props) {
    const store = useStore();

    const { contenttreeTuple, filter_entries } = useContenttreeComposable(
      ref<string>(props.contenttreeIdentifier),
      true
    );
    const get_allowed_node_types_to_add =
      store.getters['contenttreestore/get_allowed_node_types_to_add'];

    const IsManager = computed(
      (): boolean => store.getters['assemblystore/IsManager']
    );

    const emitter = useEmitter();

    const types_to_add_on_root_level = computed(() => {
      return get_allowed_node_types_to_add({
        contenttreeIdentifier: props.contenttreeIdentifier,
        parentType: null,
      });
    });

    return {
      emitter,
      contenttreeTuple,
      loaded,
      IsManager,
      types_to_add_on_root_level,
      filter_entries,
    };
  },

  data() {
    return {
      TEXTTYPES: constants.TEXTTYPES,
      DISCUSSIONTYPES: constants.DISCUSSIONTYPES,
    };
  },

  computed: {
    ready(): boolean {
      const contenttreeLoaded = this.loaded(this.contenttreeTuple);
      if (contenttreeLoaded) {
        this.emitter.emit('hideLoading');
      }
      return contenttreeLoaded;
    },

    mainTopics(): INodeTuple[] | undefined {
      // console.log('run mainTOpics? (computed)', this.textChildrenEntries());
      return this.textChildrenEntries();
    },

    textEntries(): INodeTuple[] | null {
      // console.log('run textEntries (computed)');
      if (this.contenttreeTuple?.entries) {
        return this.filter_entries(
          Object.values(this.contenttreeTuple?.entries),
          this.TEXTTYPES
        );
      }

      return null;
    },

    sideMenuItems(): ISideMenuItems {
      if (!this.mainTopics) {
        return [];
      }

      const topics = this.mainTopics.filter(
        (x) => x.content?.title !== '@HIDDEN@'
      );
      return topics.map((node) => {
        return {
          label: node.content?.title,
          anchor: `ANCHOR${node.content?.id}`,
        } as ISideMenuItem;
      });
    },
  },

  methods: {
    textChildrenEntries(
      node: INodeTuple | null = null
    ): undefined | INodeTuple[] {
      const node_id = node ? node.content?.id : null;
      // console.log('look for children of ', node_id);
      let children = this.textEntries?.filter(
        (child) => child.content?.parent_id === node_id
      );
      return children;
    },

    showEditorPopup(refKey, type_) {
      const popup = this.$refs[refKey];
      if (!popup) {
        throw 'invliad popup key';
      }
      (popup as any).showPopup(type_);
    },
  },
});
</script>
