<template>
  <span>
    <q-chip
      clickable
      style="inline-block !important"
      color="primary"
      text-color="white"
      v-if="!expanded"
      @click="showDisclaimer = !showDisclaimer"
      align="right"
      icon="mdi-monitor-eye"
    >
      <template v-if="label !== undefined">{{ label }}</template>
      <template v-if="label === undefined">{{
        $t('disclaimer.btnLabel')
      }}</template>
    </q-chip>

    <q-dialog v-model="showDisclaimer">
      <q-card :class="[bgcolor ? bgcolor : 'bg-grey-2']" class="q-pa-sm">
        <q-card-section class="row items-center q-pb-none">
          <div class="text-h6">
            <template v-if="label">{{ label }}</template>
            <template v-if="!label">{{ $t('disclaimer.btnLabel') }}</template>
          </div>
          <q-space />
          <q-btn icon="mdi-close" flat round dense v-close-popup />
        </q-card-section>

        <q-card-section>
          <span v-dompurify-html="text"></span>
          <slot> <!-- Default Content --></slot>
        </q-card-section>
      </q-card>
    </q-dialog>

    <!-- <q-banner
      align="justify"
      v-if="showDisclaimer"
    >
      <span class="text-weight-thin">
        <q-icon
          v-if="expanded"
          class="float-left q-mr-sm q-mb-sm q-mt-xs"
          name="mdi-monitor-eye"
          size="sm" />
        <span v-dompurify-html="text"
      /></span>
      <span v-if="!text"><slot></slot></span>
    </q-banner> -->
  </span>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
export default defineComponent({
  name: 'AlgorithmDisclaimer',
  data() {
    return {
      showDisclaimer: false as boolean,
    };
  },
  props: {
    text: {
      type: String,
      required: false,
    },
    label: {
      type: String,
      required: false,
    },
    expanded: {
      type: Boolean,
      required: false,
      default: false,
    },
    bgcolor: {
      type: String,
      default: '',
    },
  },
  created() {
    this.showDisclaimer = this.expanded as boolean;
  },
});
</script>
