<template>
  <div :align="alignment" v-if="text && userProfie">
    <!-- :class="['full-width', slim && $q.screen.gt.xs ? '' : 'q-mb-xl']" -->
    <div style="max-width: 500px">
      <q-chat-message
        size="9"
        bg-color="custom-user-color"
        text-color="white"
        :text="text"
        :name="suptext"
        :stamp="subtext"
        :sent="alignment == 'left' ? false : true"
      >
        <template v-slot:avatar>
          <div>
            <UserAvatar :avatarOnly="true" :profile="userProfie" size="xl">
            </UserAvatar>
            <div class="subtitle">{{ userProfie.U }}</div>
          </div>
        </template>
      </q-chat-message>
    </div>
  </div>
</template>

<script lang="ts">
import { IAssemblyUser } from 'src/models/assembly';
import { defineComponent, PropType } from 'vue';
import UserAvatar from 'src/pages/components/UserAvatar.vue';
import { mapGetters } from 'vuex';

export default defineComponent({
  name: 'ChatBubble',
  components: {
    UserAvatar,
  },

  data() {
    return {};
  },

  props: {
    // slim: {
    //   // low margins around the AM
    //   type: Boolean,
    //   default: false,
    // },
    user: {
      type: Object as PropType<IAssemblyUser | null>,
      default: null,
    },
    body: {
      type: String as PropType<string[] | string>,
    },

    suptext: {
      type: String as PropType<string[] | string>,
      default: '',
    },
    subtext: {
      type: String as PropType<string[] | string>,
      default: '',
    },

    alignment: {
      type: String as PropType<'left' | 'center' | 'right'>,
      default: 'left',
    },
  },

  computed: {
    tooltip(): string {
      return 'TEST';
    },

    userProfie(): IAssemblyUser {
      return this.user ? this.user : this.profile;
    },

    usercolor() {
      if (!this.user || !this.user?.CO) {
        return 'orange';
      }
      return this.user.CO;
    },

    text(): string[] | unknown {
      const body = this.body;
      // string or list of strings.
      if (Array.isArray(body)) {
        // filter empty values
        return body.filter((x) => x && x.length > 0);
      }

      return [body];
    },

    ...mapGetters({
      profile: 'profilestore/profile',
    }),
  },
});
</script>

<style>
/* NO SCOPE, PLEASE: Due to .bg-custom-user-color */
.subtitle {
  position: absolute;
  margin-top: 0.2em;
  font-style: italic;
}

.bg-custom-user-color {
  background: v-bind(usercolor);
}
.text-custom-user-color {
  background: v-bind(usercolor);
}

.q-message-stamp {
  margin-top: 1em;
}
</style>
