<style>
/* body.screen--xs  */
</style>
<template>
  <div v-if="items">
    <div style="
        top: 120px;
        right: 0px;
        max-width: 150px;
        position: fixed;
        background: rgba(255, 255, 255, 0.3);
      ">
      <!-- <q-menu content-class="bg-purple text-white" auto-close> -->
      <q-list>
        <q-item v-for="item in items" :key="item.label" clickable
          :disable="enabledAnchors && !enabledAnchors.includes(item.anchor)" :class="{
            'q-pa-none': $q.screen.lt.sm,
            'q-ma-none': $q.screen.lt.sm,
            hidden: item?.visible && !item?.visible(),
          }" :style="
  selectedItemsAnchor.includes(item.anchor) ? selectedStyle : ''
" @click="scrollToAnchor(item.anchor, headerOffset)" v-ripple>
          <!-- {{ enabledAnchors }} -->
          <q-item-section v-if="$q.screen.lt.sm" style="width: 0.6em; border-top: 1px solid #ccc" :class="{
            'bg-grey-3': !selectedItemsAnchor.includes(item.anchor),
            'bg-blue-3': selectedItemsAnchor.includes(item.anchor),
            'q-pa-none': true,
            'q-ma-none': true,
          }">&nbsp;
            <q-icon v-if="composedHighlightedItem && composedHighlightedItem.anchor == item.anchor"
              style="position: absolute; right: 0px" color="blue" name="mdi-account-supervisor-circle"
              size="sm"></q-icon>
          </q-item-section>

          <q-item-section v-if="$q.screen.lt.md && $q.screen.gt.xs">
            <q-icon dense :class="
              selectedItemAnchor == item.anchor ? '' : 'bg-white q-pa-xs'
            " :name="
  selectedItemAnchor == item.anchor
    ? 'mdi-checkbox-blank-circle'
    : 'mdi-checkbox-blank-circle-outline'
">
              <q-icon v-if="composedHighlightedItem && composedHighlightedItem.anchor == item.anchor"
                style="position: absolute; left: 12px; top: -5px" color="blue" name="mdi-account-supervisor-circle"
                size="sm"></q-icon>
              <q-tooltip anchor="center left" self="center right" :offset="[10, 10]" content-class="tooltip">{{
                item.label
              }}</q-tooltip>
            </q-icon>
          </q-item-section>

          <q-item-section v-if="$q.screen.gt.sm">
            <q-item-label v-if="item.caption" style="width: 150px" caption>{{ item.caption }}
            </q-item-label>

            <q-item-label>
              {{ item.label }}
            </q-item-label>
            <q-icon v-if="composedHighlightedItem && composedHighlightedItem?.anchor == item.anchor"
              style="position: absolute; right: 2px" color="blue" name="mdi-account-supervisor-circle"
              size="sm"></q-icon>
          </q-item-section>

        </q-item>
      </q-list>
    </div>
    <q-scroll-observer @scroll="onScroll" debounce="300" />
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue';
import { mapGetters } from 'vuex';
import { dom } from 'quasar';
import { getAppService } from 'src/services/index';
import { ISideMenuItem, ISideMenuItems } from 'src/models/layout';
import library from 'src/utils/library';
const { offset } = dom;

export default defineComponent({
  setup() {
    const { scrollToAnchor } = library;
    const { headerOffset } = getAppService();

    return { headerOffset, scrollToAnchor };
  },
  name: 'SideMenu',
  props: {
    items: {
      type: Array as PropType<ISideMenuItems>,
    },
    highlightedItem: {
      type: Object as PropType<ISideMenuItem>,
      required: false,
    },
    highlightedItemAnchor: {
      type: String,
      required: false,
    },
  },
  data() {
    return {
      scrollSelectedItemAnchor: null as string | null,
      fixedSelectedItemAnchor: null,
      enabledAnchors: undefined as string[] | undefined,
      // step: null,
    };
  },
  computed: {
    selectedItemAnchor() {
      return this.fixedSelectedItemAnchor
        ? this.fixedSelectedItemAnchor
        : this.scrollSelectedItemAnchor;
    },

    composedHighlightedItem() {
      if (this.highlightedItem) {
        return this.highlightedItem
      }

      if (this.highlightedItemAnchor) {
        return this.items?.find(x => x.anchor === this.highlightedItemAnchor)
      }

      return undefined

    },

    selectedItemsAnchor() {
      // it is possible that two are selected: onclick event!
      return [this.fixedSelectedItemAnchor, this.scrollSelectedItemAnchor];
    },

    selectedStyle() {
      const color = this.public_profile ? this.public_profile.CO : 'grey';
      return `background-color: ${color}; color:#fff;`;
    },

    itemAnchors() {
      return this.items?.map((item) => item.anchor);
    },

    ...mapGetters({
      public_profile: 'profilestore/profile',
    }),
  },
  methods: {
    init() {
      if (this.items?.length && this.items[0].anchor) {
        // console.log(this.items[0]);
        this.scrollSelectedItemAnchor = this.items[0].anchor;
        this.enabledAnchors = this.getEnabledAnchors();
      }
    },
    onScroll() {
      this.scrollSelectedItemAnchor = this.getSelectedItemAnchor();
    },

    getEnabledAnchors() {
      const anchors = this.itemAnchors;
      return anchors?.filter((anchor) => !!document.getElementsByName(anchor));
    },

    refresh() {
      this.enabledAnchors = this.getEnabledAnchors();
    },

    getSelectedItemAnchor() {
      const anchors = JSON.parse(JSON.stringify(this.itemAnchors));
      anchors.reverse();
      var selected = anchors.find((anchor) => {
        const dom = document.getElementsByName(anchor);
        return (
          dom &&
          dom?.item(0) &&
          offset(dom.item(0)).top < this.headerOffset + 150
        );
      });
      if (!selected) {
        return anchors[anchors.length - 1];
      }
      return selected;
    },
  },

  watch: {
    items(items) {
      if (items) {
        this.init();
      }
    },
  },

  mounted() {
    this.init();
  },
});
</script>
