<style lang="sass" scoped>
.q-skeleton
  z-index: 0
</style>

<template>
  <div>
    <slot>
      <!-- e.g. TOOLTIP -->
    </slot>
    <h1 v-if="h1" disabled>
      {{ h1 }}
      <q-badge color="orange" style="position: relative; top: -1em">
        <q-icon name="mdi-clock-time-eleven-outline" size="1.2em" />
      </q-badge>
    </h1>

    <h2 v-if="h2" disabled>
      {{ h2 }}
      <q-badge color="orange" style="position: relative; top: -1em">
        <q-icon name="mdi-clock-time-eleven-outline" size="1.2em" />
      </q-badge>
    </h2>
    <h3 v-if="h3" disabled>
      {{ h3 }}
      <q-badge color="orange" style="position: relative; top: -1em">
        <q-icon name="mdi-clock-time-eleven-outline" size="1.2em" />
      </q-badge>
    </h3>
    <!-- 
    <a name="FORUM" /> -->

    <q-card style="full-width" flat>
      <q-skeleton type="text" class="text-subtitle1" />
      <q-skeleton type="text" width="50%" class="text-subtitle1" />
      <q-skeleton type="text" class="text-subtitle1" />
      <q-skeleton type="text" width="50%" class="text-subtitle1" />
    </q-card>
  </div>
</template>

<script>
export default {
  name: 'Skeleton',
  props: {
    h1: {
      type: String,
      default: () => '',
    },
    h2: {
      type: String,
      default: () => '',
    },
    h3: {
      type: String,
      default: () => '',
    },
  },
};
</script>
