<template>
  <q-item
    :clickable="clickable"
    class="items-center text-overline q-pa-none q-ma-none"
    style="display: inline-flex"
    :style="dense ? 'min-height: 1em' : ''"
    :class="[clickable ? 'cursor-pointer' : '', customClass, userRoleClass]"
    @click="clickHandler($event)"
  >
    <q-avatar
      :icon="
        user?.LANG === 'de-de' ? 'img:icons/tanne.png' : 'mdi-image-filter-hdr'
      "
      :style="{ 'background-color': user ? user.CO : 'inherit' }"
      :text-color="user ? 'white' : 'primary'"
      :size="size"
      class="q-mr-sm"
    >
      <q-tooltip v-if="showTooltip">{{ usernameDerivation }}</q-tooltip>
      <slot name="badge"></slot>
    </q-avatar>

    <q-item-section v-if="!avatarOnly">
      <q-item-label v-if="menu" caption>
        {{ $t('auth.registered_as') }}</q-item-label
      >
      <q-item-label :style="cssStyle" class="fUsername">
        {{ username }}
        <slot name="extrainfos"></slot>
      </q-item-label>
      <q-item-label v-if="showUsernameDerivation">
        {{ usernameDerivation }}
      </q-item-label>
    </q-item-section>
  </q-item>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue';
// import useAuthService from 'src/composables/auth.composable';
import { getAuthService } from 'src/services/index';

import { IAssemblyUserTuple, IAssemblyUser } from 'src/models/assembly';
import useEmitter from 'src/utils/emitter';
const emitter = useEmitter();

export default defineComponent({
  name: 'UserAvatar',
  props: {
    profile: {
      type: Object as PropType<IAssemblyUser>,
      required: false,
    },
    userTuple: {
      type: Object as PropType<IAssemblyUserTuple>,
      required: false,
    },
    size: {
      type: String,
      default: () => {
        return 'lg';
      },
    },
    customClass: {
      type: [String, Array, Object],
      default: () => '',
    },
    targetTab: {
      type: String,
      default: () => {
        return 'voice';
      },
    },
    clickable: {
      type: Boolean,
      default: true,
    },
    showTooltip: {
      type: Boolean,
      default: true,
    },
    menu: {
      type: Boolean,
      required: false,
    },
    openedAsScheduledTask: {
      type: Boolean,
      default: () => false,
      required: false,
    },
    avatarOnly: {
      type: Boolean,
      default: false,
    },
    showUsernameDerivation: {
      type: Boolean,
      default: false,
    },
    dense: {
      type: Boolean,
      default: false,
    },
  },

  setup() {
    const { getUsernameDerivation, getUsername, profile } = getAuthService();
    return { getUsernameDerivation, getUsername, ownProfile: profile };
  },

  data() {
    return {
      toolbar: false,
    };
  },

  computed: {
    username(): string {
      if (!this.user) {
        return '';
      }
      return this.getUsername(this.user);
    },

    user(): IAssemblyUser | null {
      if (this.profile) {
        return this.profile;
      }

      if (this.userTuple) {
        return this.userTuple.user;
      }

      // throw 'INVALID PROFILE SPECIFIED';
      return this.ownProfile;
    },

    usernameDerivation: function () {
      if (this.user) {
        return this.getUsernameDerivation(this.user);
      }

      return null;
    },

    userRoleClass() {
      if (this.user?.ROLE === 'EXPERT') {
        return 'expertRole';
      }
      if (this.user?.ROLE === 'MANAGER') {
        return 'managerRole';
      }

      return '';
    },

    cssStyle() {
      if (this.size === 'xl') {
        return { 'font-size': '1.6em' };
      }
      if (this.size === 'lg') {
        return { 'font-size': '1.2em' };
      }

      return {};
    },
  },

  methods: {
    clickHandler(event) {
      if (this.clickable && this.user) {
        event.stopPropagation();
        emitter.emit('showDialog', {
          type: 'user',
          id: this.user.id,
          openedAsScheduledTask: this.openedAsScheduledTask,
          tab: this.targetTab,
        });
      }
    },
  },
});
</script>

<style lang="scss">
.expertRole .fUsername {
  font-weight: bold;
  color: green;
}
.managerRole .fUsername {
  font-weight: bold;
  color: blue;
}
</style>
