<template>
  <div>
    <q-card-section>
      <template v-if="contenttreeTuple">
        <!-- {{ contenttreeTuple.entries['6902'].content.title }} -->

        <ComponentContentTree :contenttreeTuple="contenttreeTuple" :dense="false"
          discussionAddEntryLabel="Neuer Kommentar" :discussionBlockIntro="ownCirProfile
              ? `Hier können andere Teilnehmende mit Ihnen diskutieren.`
              : `Sie können hier mit «${userTuple.user.U}» diskutieren. Haben Sie vielleicht Fragen an diese Person? Bitte bleiben Sie jederzeit freundlich.`
            " :alternativeRootNode="alternativeRootNode" :hideNoEntryText="false" :hideNofEntriesText="false"
          :allowAddingToRootLevel="true" :alwaysExpanded="true" :amEnabled="false" :expandAddFormAtRootLevel="true" />
      </template>

      <template v-else-if="unfinshedStatement">
        <div class="full-width q-mb-xl q-mt-xl" style="text-align: center">
          Diese Person hat die Stellungnahme noch nicht vollständig ausgefüllt.
          <br />
          Die Gesprächsecke ist somit noch nicht eröffnet.
        </div>
      </template>

      <template v-else-if="emptyStatementEntries">
        <div class="full-width q-mb-xl q-mt-xl" style="text-align: center">
          Der Beitrag konnte nicht geladen werden. Wir bitten Sie um
          Entschuldigung.
        </div>
      </template>
    </q-card-section>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType, computed } from 'vue';
// import { mapGetters } from 'vuex';
// import api from 'src/utils/api';
import { useStore } from 'vuex';
import useStoreService from 'src/services/store.service';

import library from 'src/utils/library';
import { getAuthService } from 'src/services/index';
// import useAuthService from 'src/composables/auth.composable';
import {
  // IAssemblyUser,
  // IAssemblyUserStatistic,
  IAssemblyUserTuple,
} from 'src/models/assembly';
import { INodeTuple } from 'src/models/content';
import { IContentTreeTuple } from 'src/models/contenttree';
import ComponentContentTree from 'src/pages/ContentTree/components/ContentTree.vue';

export default defineComponent({
  name: 'UserDiscussion',
  props: {
    contenttreeTuple: {
      type: Object as PropType<IContentTreeTuple>,
      required: true,
    },
    userTuple: {
      type: Object as PropType<IAssemblyUserTuple>,
      required: true,
    },
    alternativeRootNode: {
      type: Object as PropType<INodeTuple>,
    },
  },
  // props: ['userTuple', 'statementContenttreeTuple', 'statementContentTuple'],
  components: { ComponentContentTree },

  setup(props) {
    // console.log('DEBUG setup mainLayout')
    const { loaded } = library;
    const store = useStore();

    const { getUsernameDerivation } = getAuthService();
    const { assemblyIdentifier } = useStoreService();

    const publicProfile = computed(() => store.getters['profilestore/profile']);
    const ownCirProfile = computed(() => {
      return publicProfile.value?.id == props.userTuple.user.id;
    });

    const unfinshedStatement = computed(() => {
      return props.userTuple.user?.id && !props.userTuple.statement_content_id;
    });

    const emptyStatementEntries = computed(() => {
      return (
        !unfinshedStatement.value &&
        props.contenttreeTuple &&
        !Object.keys(props.contenttreeTuple.entries).length
      );
    });

    return {
      ownCirProfile,
      loaded,
      getUsernameDerivation,
      assemblyIdentifier,
      emptyStatementEntries,
      unfinshedStatement,
    };
  },

  // data() {
  //   return {
  //     // loading: true,
  //     // toolbar: false,
  //     // locked: false,
  //     // showNotificationMessageDialog: false,
  //     // dialogType: '',
  //     // notificationMessage: '',
  //   };
  // },

  // computed: {
  // user(): IAssemblyUser | null {
  //   if (this.userTuple) {
  //     return this.userTuple.user;
  //   }

  //   return null;
  // },

  // usernameDerivation(): string | null {
  //   if (this.user) {
  //     return this.getUsernameDerivation(this.user);
  //   }

  //   return null;
  // },

  // statistic(): null | IAssemblyUserStatistic {
  //   if (this.userTuple?.statistic) {
  //     return this.userTuple.statistic;
  //   }

  //   return null;
  // },

  // ...mapGetters({
  //   IsManager: 'assemblystore/IsManager',
  //   // assemblyIdentifier: "assemblystore/assembly",
  // }),
  // },
});
</script>
