<template>
  <q-card-section>
    <!-- <h2 v-if="!hideAvatar">
        <UserAvatar
          size="xl"
          :showUsernameDerivation="true"
          :userTuple="userTuple"
          :clickable="false"
        ></UserAvatar>
      </h2> -->

    <div class="text-h5">Übersicht</div>

    <q-list v-if="user">
      <!-- <q-item> -->
      <!-- <q-item-section avatar> -->
      <!-- <UserAvatar :userTuple="userTuple"></UserAvatar> -->

      <!-- <q-avatar
              icon="mdi-image-filter-hdr"
              :style="{ 'background-color': user ? user.CO : 'inherit' }"
              :text-color="user ? 'white' : 'primary'"
              class="q-mr-sm"
            >
            </q-avatar> -->
      <!-- </q-item-section> -->
      <!-- <div style="width: 80%">
            <span class="text-bold">{{ user.U }}</span
            >, {{ usernameDerivation }}
          </div> -->
      <!-- </q-item> -->

      <q-item v-if="IsManager">
        <q-item-section>
          <q-item-label> Moderation </q-item-label>
        </q-item-section>
        <q-item-section side>
          <q-item-label>
            <template v-if="!userTuple.locked">
              <q-btn label="Benachrichtigen" color="primary" @click="
                dialogType = 'MESSAGE'; showNotificationMessageDialog = true;" />&nbsp;
              <q-btn v-if="!locked" label="Sperren" color="primary" @click="
                dialogType = 'LOCK';
              showNotificationMessageDialog = true;" />
            </template>
            <div class="text-notification" v-if="userTuple.locked">
              <br />BEREITS GESPERRT<br />
            </div>

            <q-dialog v-model="showNotificationMessageDialog" persistent>
              <q-card class="popup-dialog-card scroll">
                <q-card-section class="row items-center">
                  <q-avatar :icon="
                    dialogType == 'LOCK'
                      ? 'mdi-sign-caution'
                      : 'mdi-message-text-outline'
                  " color="primary" text-color="white" />
                  <span class="q-ml-sm" v-if="dialogType == 'MESSAGE'">Möchten Sie dem User eine Nachricht
                    schreiben?</span>
                  <span class="q-ml-sm" v-if="dialogType == 'LOCK'">Möchten Sie den User aus der Könizer
                    Demokratiefabrik
                    aussperren? Bitte erläutern Sie dem User die Gründe
                    dafür:</span>
                </q-card-section>

                <q-card-section class="q-pt-none">
                  <q-input dense counter :maxlength="300" v-model="notificationMessage" autofocus />
                  <!-- @keyup.enter="prompt = false" -->
                </q-card-section>

                <q-card-actions align="right">
                  <q-btn flat label="Cancel" color="primary" v-close-popup />
                  <q-btn flat @click="sendUserAction" :label="
                    dialogType == 'LOCK'
                      ? 'Sofort Sperren'
                      : 'Nachricht senden'
                  " color="primary" />
                </q-card-actions>
              </q-card>
            </q-dialog>
          </q-item-label>
        </q-item-section>
      </q-item>

      <q-item v-if="statistic">
        <q-item-section>
          <q-item-label> Plattform-Besuche </q-item-label>
        </q-item-section>

        <q-item-section side>
          <q-item-label v-if="loaded(statistic.DAYS)">
            An {{ statistic.DAYS }}
            {{ statistic.DAYS === 1 ? 'Tag' : 'Tagen' }}
          </q-item-label>
          <q-item-label v-if="!loaded(statistic.DAYS)"> Keine </q-item-label>
        </q-item-section>
      </q-item>

      <q-item v-if="statistic">
        <q-item-section>
          <q-item-label> Letzte Aktivität </q-item-label>
        </q-item-section>

        <q-item-section side>
          <q-item-label v-if="loaded(statistic.DAYS) && statistic.DAYS > 0">
            vor {{ statistic.DLI }}
            {{ statistic.DLI === 1 ? 'Tag' : 'Tagen' }}
          </q-item-label>
          <q-item-label v-if="loaded(statistic.DAYS) && statistic.DAYS === 0">
            Heute
          </q-item-label>
          <q-item-label v-if="!loaded(statistic.DAYS)"> Noch nie </q-item-label>
        </q-item-section>
      </q-item>

      <q-item v-if="statistic">
        <q-item-section>
          <q-item-label> Erstellte Beiträge </q-item-label>
        </q-item-section>

        <q-item-section side>
          <q-item-label>
            {{ statistic.CCC }}
            {{ statistic.CCC === 1 ? 'eigenen Beitrag' : 'eigene Beiträge' }}
          </q-item-label>
        </q-item-section>
      </q-item>

      <q-item v-if="statistic">
        <q-item-section>
          <q-item-label> Feedback </q-item-label>
          <!-- <q-item-label caption> (Relevanz und Zustimmung) </q-item-label> -->
        </q-item-section>

        <q-item-section side top>
          <q-item-label>
            {{ statistic.CRC }}
            {{ statistic.CRC === 1 ? 'Bewertung' : 'Bewertungen' }}
          </q-item-label>
        </q-item-section>
      </q-item>

      <q-item v-if="statistic">
        <q-item-section top>
          <q-item-label> Durchschnittlich erhaltene Zustimmung </q-item-label>
        </q-item-section>

        <q-item-section side v-if="loaded(statistic.RSC)">
          <q-item-label>{{
            statistic.RSC && Number.isInteger(statistic.RSA)
            ? Math.round(statistic.RSA) + '%'
            : '-'
          }}</q-item-label>
          <q-item-label caption>{{
            Number.isInteger(statistic.RSC) ? `(${statistic.RSC} ${statistic.RSC > 1 ? 'Beiträge' : 'Beitrag'})` : ''
          }}</q-item-label>
        </q-item-section>
        <q-item-section side v-if="!loaded(statistic.RSC)">
          <q-item-label>Noch nicht berrechnet</q-item-label>
          <q-item-label caption>&nbsp;</q-item-label>
        </q-item-section>
      </q-item>
    </q-list>
    <br />

    <!-- <q-separator /> -->
    <!-- <br /> -->
    <!-- <div class="text-h5">Alle Aktivitäten</div> -->
  </q-card-section>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue';
import { mapGetters } from 'vuex';
import api from 'src/utils/api';
import library from 'src/utils/library';
import { getAuthService } from 'src/services/index';
// import useAuthService from 'src/composables/auth.composable';
import {
  IAssemblyUser,
  IAssemblyUserStatistic,
  IAssemblyUserTuple,
} from 'src/models/assembly';
import useStoreService from 'src/services/store.service';
// import UserAvatar from 'src/pages/components/UserAvatar.vue';

export default defineComponent({
  name: 'UserInfo',
  props: {
    userTuple: {
      type: Object as PropType<IAssemblyUserTuple>,
      required: false,
    },
    hideAvatar: {
      type: Boolean,
      default: false,
      required: false,
    },
  },
  // components: { UserAvatar },

  setup() {
    // console.log('DEBUG setup mainLayout')
    const { loaded } = library;
    const { getUsernameDerivation } = getAuthService();
    const { assemblyIdentifier } = useStoreService();

    return {
      loaded,
      getUsernameDerivation,
      assemblyIdentifier,
    };
  },

  data() {
    return {
      loading: true,
      toolbar: false,
      locked: false,
      showNotificationMessageDialog: false,
      dialogType: '',
      notificationMessage: '',
    };
  },

  computed: {
    user(): IAssemblyUser | null {
      if (this.userTuple) {
        return this.userTuple.user;
      }

      return null;
    },

    usernameDerivation(): string | null {
      if (this.user) {
        return this.getUsernameDerivation(this.user);
      }

      return null;
    },

    statistic(): null | IAssemblyUserStatistic {
      if (this.userTuple?.statistic) {
        return this.userTuple.statistic;
      }

      return null;
    },

    ...mapGetters({
      IsManager: 'assemblystore/IsManager',
      // assemblyIdentifier: "assemblystore/assembly",
    }),
  },

  methods: {
    sendUserAction: function () {
      this.loading = true;
      if (this.notificationMessage.length < 5) {
        alert('Bitte schreibe einen Text mit mindestens 5 Zeichen.');
        return;
      }

      if (!this.user) {
        throw 'Error: Es ist aktuell kein User ausgewählt.';
      }

      const assemblyIdentifier = this.assemblyIdentifier;
      const userID = this.user.id;
      console.assert(userID);

      if (this.dialogType == 'MESSAGE') {
        // console.log('Send Message!!!', this.notificationMessage);
        api
          .sendUserMessage(assemblyIdentifier, userID, this.notificationMessage)
          .then((response) => {
            // ERROR RESPONSE
            if (response.data.ok) {
              this.dialogType = '';
              this.notificationMessage = '';
              this.showNotificationMessageDialog = false;

              // Success Message.
              this.$q.notify({
                type: 'nFabrikInfo',
                message:
                  'Die Nachricht wird dem User auf der Plattform angezeigt.',
              });
            } else {
              if (
                response.data.error &&
                response.data.response == 'NOT.PART.OF.THIS.ASSEMBLY'
              ) {
                // Error Message.
                this.$q.notify({
                  type: 'nFabrikError',
                  message:
                    'Diese Person hat sich noch nie zu der Assembly eingeloggt. Es kann keine Nachricht deponiert werden.',
                });
              }
            }
          });
      }

      if (this.dialogType == 'LOCK') {
        // console.log('Lock user and send Message!!!');
        api
          .lockUserWithMessage(
            assemblyIdentifier,
            userID,
            this.notificationMessage
          )
          .then((response) => {
            // ERROR RESPONSE
            if (response.data.ok) {
              this.dialogType = '';
              this.notificationMessage = '';
              this.showNotificationMessageDialog = false;
              this.locked = true
              // this.$emit('user-locked');

              // Success Message.
              this.$q.notify({
                type: 'nFabrikInfo',
                message:
                  'Diese Person wurde gesperrt. die Nachricht wird beim nächsten Besuch des Users angezeigt.',
              });

              this.loading = false;
            } else {
              if (
                response.data.error &&
                response.data.response == 'NOT.PART.OF.THIS.ASSEMBLY'
              ) {
                // Error Message.
                this.$q.notify({
                  type: 'nFabrikError',
                  message:
                    'Diese Person hat sich noch nie zu der Assembly eingeloggt. Er kann daher auch nicht gesperrt werden.',
                });
              }
              this.loading = false;
            }
          });
      }
    },
  },
});
</script>
