<template>
  <q-page class="doc_content" v-if="ready">
    <TextsheetPlugin :AMs="AMs" />
  </q-page>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'TextsheetPlugin',
  // props: {
  //   AMs: {
  //     type: Object as PropType<IArtificialModerationFile | undefined | null>,
  //     default: undefined,
  //   },
  // },
  // // setup: {
  // //     const { contenttreeTuple, filter_entries } = useContenttreeComposable(
  // //     routedStageContenttreeIdentifier,
  // //     true
  // //   );

  // },

  // components: {
  //   TextsheetPlugin,
  // },

  // computed: {
  //   ...mapGetters('assemblystore', ['is_stage_alerted']),

  //   ready(): boolean {
  //     const contenttreeLoaded =
  //       loaded(routedStageTuple) && loaded(contenttreeTuple);
  //     if (contenttreeLoaded) {
  //       emitter.emit('hideLoading');
  //     }
  //     return contenttreeLoaded;
  //   },
  // },
});
</script>
