<template>
  <!-- AM-CONCLUSION -->
  <ArtificialModeration
    v-if="AMsReal"
    :AM="AMsReal.index_top"
    alignment="center"
    :ctx="this"
  />

  <div class="text-vessel" v-if="mainTopics?.length">
    <h2>{{ routedStageTuple?.stage.title }}</h2>

    <div
      class="row justify-between"
      v-for="(nodeL1, keyL1) in mainTopics"
      :key="`L1${nodeL1?.content?.id}`"
    >
      <a :name="`ANCHOR${nodeL1.content?.id}`" />

      <TextsheetCard
        :level="1"
        :filterTypes="DISCUSSIONTYPES"
        :node="nodeL1"
        :discussionAM="AMsReal ? discussionAM : null"
        :heading_number="`${keyL1 + 1}`"
      />

      <template v-if="nodeL1?.content">
        <div
          class="row justify-between"
          v-for="(nodeL2, keyL2) in textChildrenEntries(nodeL1 as INodeTuple)"
          :key="`L2${nodeL2.content?.id}`"
        >
          <TextsheetCard
            :level="2"
            :filterTypes="DISCUSSIONTYPES"
            :node="nodeL2"
            :discussionAM="AMsReal ? discussionAM : null"
            :heading_number="`${keyL1 + 1}.${keyL2 + 1}`"
          />
          <template v-if="nodeL2?.content">
            <div
              class="row justify-between"
              v-for="(nodeL3, keyL3) in textChildrenEntries(nodeL2 as INodeTuple)"
              :key="`L3${nodeL3.content.id}`"
            >
              <span>{{ keyL3 }}</span>
              <TextsheetCard
                :filterTypes="DISCUSSIONTYPES"
                :node="nodeL3"
                :level="3"
                :discussionAM="AMsReal ? discussionAM : null"
              />
            </div>
          </template>
        </div>
      </template>
    </div>
  </div>

  <!-- AM-FINAL -->
  <ArtificialModeration
    v-if="AMsReal"
    :AM="AM_index_bottom"
    alignment="center"
    :ctx="this"
  />

  <SideMenu :items="sideMenuItems" />
</template>

<script lang="ts">
import { defineComponent, PropType, watch } from 'vue';
import TextsheetCard from './components/TextsheetCard.vue';
import AMsDefault from './ArtificialModerationDefault';
import ArtificialModeration from 'src/pages/components/artificial_moderation/ArtificialModeration.vue';
import SideMenu from 'src/pages/components/SideMenu.vue';
import localI18n from './i18n';
import constants from 'src/utils/constants';
import { useI18n } from 'vue-i18n';
import library from 'src/utils/library';
import useContenttreeComposable from 'src/composables/contenttree.composable';
import useEmitter from 'src/utils/emitter';
import { INodeTuple } from 'src/models/content';
// import getStageService from 'src/composables/stage.composable';
import { getStageService } from 'src/services/index';

import { ISideMenuItem, ISideMenuItems } from 'src/models/layout';
import {
  IArtificialModerationGroup,
  IArtificialModerationFile,
} from 'src/pages/components/artificial_moderation/model';
// import useAssemblyService from 'src/composables/assembly.composable';
import { getAssemblyService } from 'src/services/index';
import { mapGetters } from 'vuex';
import useRouterService from 'src/services/router.service';

const { scrollToTop, loaded } = library;

export default defineComponent({
  name: 'TextsheetPlugin',
  props: {
    AMs: {
      type: Object as PropType<IArtificialModerationFile | undefined | null>,
      default: undefined,
    },
  },
  emits: ['finishedLoading'],
  setup(props, { emit }) {
    const {
      // contenttreeID,
      routedStageTuple,
      isFirstText,
      isRoutedStageAlerted,
      markUnAlert,
      markCompleted,
      routedStageContenttreeIdentifier,
      nextScheduledStage,
    } = getStageService();

    const AMsReal = props.AMs === undefined ? AMsDefault : props.AMs;

    const { contenttreeTuple, filter_entries } = useContenttreeComposable(
      routedStageContenttreeIdentifier,
      true
    );

    const { assembly, gotoStage } = getAssemblyService();
    const { gotoAssemblyStart } = useRouterService();
    const emitter = useEmitter();

    // extend i18n
    const i18n = useI18n();
    i18n.mergeLocaleMessage('de-ch', localI18n['de-ch']);

    watch(
      () => contenttreeTuple.value,
      () => {
        if (contenttreeTuple.value) {
          emit('finishedLoading', true);
        }
      },
      { immediate: true }
    );

    return {
      AMsReal,
      routedStageTuple,
      isRoutedStageAlerted,
      emitter,
      nextScheduledStage,
      assembly,
      isFirstText,
      contenttreeTuple,
      loaded,
      filter_entries,
      gotoAssemblyStart,
      markUnAlert,
      markCompleted,
      gotoStage,
      scrollToTop,
    };
  },

  components: {
    TextsheetCard,
    SideMenu,
    ArtificialModeration,
  },

  data() {
    return {
      TEXTTYPES: constants.TEXTTYPES,
      DISCUSSIONTYPES: constants.DISCUSSIONTYPES,
    };
  },

  computed: {
    ...mapGetters('assemblystore', ['is_stage_alerted']),

    // ready(): boolean {
    //   const contenttreeLoaded =
    //     this.loaded(this.routedStageTuple) &&
    //     this.loaded(this.contenttreeTuple);
    //   if (contenttreeLoaded) {
    //     console.log('uuuuuuuuuuuuuuuuuuu');
    //     this.emitter.emit('hideLoading');
    //     this.$emit('finishedLoading', true);
    //   }
    //   return contenttreeLoaded;
    // },

    // isStageAlerted() {
    //   return this.is_stage_alerted(this.routedStageTuple);
    // },

    mainTopics(): INodeTuple[] | undefined {
      // console.log('run mainTOpics? (computed)', this.textChildrenEntries());
      return this.textChildrenEntries();
    },

    textEntries(): INodeTuple[] | null {
      // console.log('run textEntries (computed)');
      if (this.contenttreeTuple?.entries) {
        return this.filter_entries(
          Object.values(this.contenttreeTuple?.entries),
          this.TEXTTYPES
        );
      }

      return null;
    },

    sideMenuItems(): ISideMenuItems {
      if (!this.mainTopics) {
        return [];
      }

      const topics = this.mainTopics.filter(
        (x) => x.content?.title !== '@HIDDEN@'
      );
      return topics.map((node) => {
        return {
          label: node.content?.title,
          anchor: `ANCHOR${node.content?.id}`,
        } as ISideMenuItem;
      });
    },

    AM_index_bottom(): IArtificialModerationGroup {
      // console.log(
      //   'CONSENT REQUEST...',
      //   this.routedStageTuple?.stage.custom_data
      // );
      if (!this.AMsReal) {
        throw 'no AMs transmitted';
      }

      if (this.routedStageTuple?.stage.custom_data?.REQUEST_CONSENT) {
        // console.log('CONSENT REQUEST...!!');
        return this.AMsReal.index_bottom_with_request_for_consent;
      } else {
        return this.AMsReal.index_bottom;
      }
    },

    discussionAM(): IArtificialModerationGroup {
      if (!this.AMsReal) {
        throw 'no AMs transmitted';
      }

      return this.AMsReal.discussion_index_top;
    },
  },

  methods: {
    textChildrenEntries(
      node: INodeTuple | null = null
    ): undefined | INodeTuple[] {
      const node_id = node ? node.content?.id : null;
      // console.log('look for children of ', node_id);
      let children = this.textEntries?.filter(
        (child) => child.content?.parent_id === node_id
      );
      return children;
    },
  },
});
</script>
