<style scoped>
.trennbar {
  /* hyphens */
  -moz-hyphens: auto;
  -o-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
</style>

<template>
  <!-- nextScheduledStage: {{ nextScheduledStage?.stage.id }}<br />
      nextScheduledStage2: {{ nextScheduledStage2?.stage.id }} -->

  <!-- {{ `/${assembly.identifier}/${assembly.type}/start` }} -->
  <div v-if="ready && orderedAssemblyMenuItems">
    <q-tabs outside-arrows mobile-arrows v-if="stages_by_groups">
      <q-route-tab v-if="showIndexInAssemblyMenu" key="index" name="Inhaltsverzeichnis"
        :to="`/${assembly.identifier}/${assembly.type}/start`" label="" icon="mdi-home-outline">
        <q-tooltip max-width="300px">Inhaltsverzeichnis</q-tooltip>
      </q-route-tab>

      <q-route-tab v-for="item in orderedAssemblyMenuItems" v-model="currenttab" :exact="item?.exact ? item.exact : false"
        :key="item.name" :name="item.name" :disable="!groupsAccessible?.includes(item.name)" :to="item.to()"
        alert-icon="mdi-account-supervisor-circle" :alert="
          nextScheduledStage && nextScheduledStage.stage.group == item.name
            ? 'blue'
            : false
        " :class="{
  'q-tab--active': routedStageGroup === item.name,
  trennbar: true,
}" :icon="item.icon" :label="item.label">
        <q-tooltip v-if="!groupsAccessible?.includes(item.name)" max-width="300px">{{ $t('menu.items.locked.tooltip')
        }}</q-tooltip>

        <!-- :offset="menuOffset" -->
        <q-tooltip v-if="groupsAccessible?.includes(item.name)" max-width="300px">{{ item.tooltip }}</q-tooltip>
        <q-badge v-if="!groupsAccessible?.includes(item.name)" color="orange"
          style="position: absolute; top: 2em; right: 2em">
          <q-icon name="mdi-clock-time-eleven-outline" size="1.2em" />
        </q-badge>
      </q-route-tab>
    </q-tabs>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
// import getStageService from 'src/composables/stage.composable';
import { getStageService } from 'src/services/index';

import useRouterService from 'src/services/router.service';
import library from 'src/utils/library';
// import useAssemblyService from 'src/composables/assembly.composable';
import { getAssemblyService } from 'src/services/index';

export default defineComponent({
  name: 'AssemblyMenu',
  // props: ['menuOffset'],

  setup() {
    const currenttab = ref<string>('');
    const { loaded } = library;
    const {
      stages_by_groups,
      routedStageGroup,
      nextScheduledStage,
      groupsAccessible,
    } = getStageService();
    const { pushR } = useRouterService();

    const { assembly, orderedAssemblyMenuItems, showIndexInAssemblyMenu } =
      getAssemblyService();

    return {
      stages_by_groups,
      routedStageGroup,
      orderedAssemblyMenuItems,
      groupsAccessible,
      nextScheduledStage,
      loaded,
      pushR,
      currenttab,
      assembly,
      showIndexInAssemblyMenu,
    };
  },
  computed: {
    ready(): boolean {
      return (
        this.loaded(this.orderedAssemblyMenuItems) &&
        this.loaded(this.routedStageGroup)
      );
    },
  },
  methods: {
    isRoutedPrepartionStage(name) {
      return name === 'preparation' && name === this.routedStageGroup;
    },
  },
});
</script>
