<template>
  <template v-if="currentDialog?.id">
    <q-dialog v-model="showDialog">
      <component v-if="AsyncComp && currentDialog" :is="AsyncComp" :id="currentDialog.id" :defaultTab="currentDialog.tab"
        :currentDialog="currentDialog" @default-tab-change="tabChange($event)" @back-or-close-dialog="backOrClose()"
        :contenttreeIdentifier="currentDialog.contenttreeIdentifier
            ? currentDialog.contenttreeIdentifier
            : ''
          ">
        <template v-slot:header-toolbar-action-left>
          <q-btn v-if="dialogHistory.length > 1 && !currentDialog.forceBackInsteadOfCancel" flat round size="lg" dense
            icon="mdi-keyboard-backspace" @click="goBack()"><q-tooltip>Zurück zur vorherigen Ansicht</q-tooltip></q-btn>
        </template>

        <template v-slot:header-toolbar-action-right>
          <template v-if="currentDialog.forceBackInsteadOfCancel && dialogHistory.length > 1">
            <q-btn flat round size="lg" dense icon="mdi-close" @click="goBack()"><q-tooltip>Fenster
                schliessen</q-tooltip></q-btn>
          </template>
          <template v-else>
            <q-btn flat round dense icon="mdi-close" @click="closeAll()"><q-tooltip>Fenster
                schliessen</q-tooltip></q-btn>
          </template>
        </template>
      </component>
    </q-dialog>
  </template>
</template>

<script lang="ts">
import {
  defineComponent,
  ref,
  computed,
  shallowRef,
  // watchEffect,
  watch,
} from 'vue';
import useStoreService from 'src/services/store.service';
import useRouterService from 'src/services/router.service';
// import useAssemblyService from 'src/composables/assembly.composable';
import { getAssemblyService } from 'src/services/index';
import useEmitter from 'src/utils/emitter';
import { IDialog } from 'src/models/layout';
const emitter = useEmitter();
import { scroll } from 'quasar';
const {
  getScrollTarget,
  setVerticalScrollPosition,
  getVerticalScrollPosition,
} = scroll;

export default defineComponent({
  name: 'DialogContainer',
  setup() {
    const AsyncComp = shallowRef<any>('');
    const { assemblyIdentifier } = useStoreService();
    const { assembly } = getAssemblyService();
    const { gotoAssemblyStart } = useRouterService();
    // console.log('DEBUG SETUP DialogContainer')
    const dialogHistory = ref<IDialog[]>([]);
    const showDialog = ref<boolean>(false);
    const currentDialog = computed((): IDialog | null => {
      // console.log('DEBUG currentDialog REFRESH ', dialogHistory.value);
      if (dialogHistory.value.length > 0) {
        return dialogHistory.value[dialogHistory.value.length - 1];
      }

      return null;
    });

    const getScrollPositionOfOffsetTarget = (
      el: HTMLElement
    ): number | undefined => {
      const target = getScrollTarget(el);
      if (!target) {
        return undefined;
      }
      return getVerticalScrollPosition(target);
    };

    const setScrollPositionOfOffsetTarget = (
      el: HTMLElement,
      offset: number
    ): void => {
      const target = getScrollTarget(el);
      if (!target) {
        return undefined;
      }
      setVerticalScrollPosition(target, offset);
    };

    const scrollToOriginalPosition = (): void => {
      if (!currentDialog.value || currentDialog.value.focusElementId) {
        return undefined;
      }

      let counter = 0;
      var intrvall: any = null;
      const checkDom = () => {
        if (counter > 100 && intrvall) {
          clearInterval(intrvall);
        }
      };

      intrvall = setInterval(() => {
        checkDom();

        if (
          !currentDialog.value?.focusElementId ||
          !currentDialog.value.focusElementScrollPosition
        ) {
          return;
        }

        counter += 1;

        const el: HTMLElement | null = document.getElementById(
          currentDialog.value.focusElementId
        );

        if (el) {
          clearInterval(intrvall);
          setScrollPositionOfOffsetTarget(
            el,
            currentDialog.value.focusElementScrollPosition
          );
        }
      }, 100);
    };

    const goBack = (): void => {
      // console.log('DEBUG. goBack dialog')
      if (dialogHistory.value?.length) {
        dialogHistory.value.pop();
      }
    };

    const closeAll = (): void => {
      // console.log('DEBUG. closeAll dialog')

      if (dialogHistory.value?.length) {
        dialogHistory.value = [];
      }
    };

    const syncAssemblyRoute = (dialog) => {
      if (
        dialog?.assembly?.identifier &&
        dialog?.assembly?.identifier !== assemblyIdentifier.value
      ) {
        gotoAssemblyStart(dialog.assembly);
      }
    };

    const backOrClose = () => {
      // console.log('DEBUG. backor close dialog')
      goBack();
    };

    const tabChange = (tab) => {
      if (!currentDialog.value) {
        throw 'no current dialog selected';
      }
      currentDialog.value.tab = tab;
    };

    emitter.on('showDialog', (dialog: IDialog): void => {
      // do not open the same dialog again...
      if (
        currentDialog.value &&
        currentDialog.value.id === dialog.id &&
        currentDialog.value?.type === dialog.type
      ) {
        showDialog.value = true;
        return undefined;
      }

      // console.log('DEBUG93 ', dialog)
      // Update focus Point in current dialog
      if (currentDialog.value) {
        currentDialog.value.focusElementId = dialog.triggerElementId;
        const el: HTMLElement | null | undefined = currentDialog.value
          .focusElementId
          ? document.getElementById(currentDialog.value.focusElementId)
          : undefined;
        if (el) {
          currentDialog.value.focusElementScrollPosition =
            getScrollPositionOfOffsetTarget(el);
        }
      }

      // replace current dialog (remove current from history)
      if (dialog.replaceCurrent) {
        // console.log("REPLACE!!!")
        dialogHistory.value.pop()
      }

      dialogHistory.value.push(dialog);
    });

    // watchEffect(() => { // DONT USE THIS, BECAUSE ITS RELOAD ON EVERY MONITOR AJAX CALL => when assembly changes...
    watch([currentDialog], () => {
      let assemblyType = assembly.value?.type;
      if (currentDialog.value?.assembly) {
        assemblyType = currentDialog.value?.assembly.type;
      }
      // console.log('dddd1', assembly.value?.type, currentDialog?.value?.assembly?.type)
      AsyncComp.value = '';
      // console.log('DEBUG: showDialog = ', currentDialog.value)

      showDialog.value = !!currentDialog.value?.type;
      // console.log('dddd', assemblyType)

      if (currentDialog.value && !currentDialog.value.dontRouteToAssemblySection) {
        syncAssemblyRoute(currentDialog.value);
      }
      // console.log(currentDialog.value, 'ddd', assemblyType, currentDialog.value?.type)
      if (assemblyType && currentDialog.value?.type === 'user') {
        // console.log('dddd', assemblyType)

        import(
          `src/plugins/${assemblyType}/components/DialogUserInfo.vue`
        ).then((val) => {
          // console.log('dddd1')

          AsyncComp.value = val.default;
          showDialog.value = true;
        });
      } else if (currentDialog.value?.type === 'profileForm') {
        import(
          `src/plugins/${assemblyType}/components/DialogUserInfoModify.vue`
        ).then((val) => {
          AsyncComp.value = val.default;
          showDialog.value = true;
        });
      } else if (currentDialog.value?.type === 'content') {
        import(
          'src/pages/ContentTree/components/DialogContentBackground.vue'
        ).then((val) => {
          showDialog.value = true;
          AsyncComp.value = val.default;
        });
      } else if (currentDialog.value?.type === 'peerreview') {
        import('src/pages/PeerReview/DialogPeerreviewBackground.vue').then(
          (val) => {
            showDialog.value = true;
            AsyncComp.value = val.default;
          }
        );
      } else if (currentDialog.value?.type === 'certificate') {
        import(
          `src/plugins/${assemblyType}/components/DialogCertificate.vue`
        ).then((val) => {
          showDialog.value = true;
          AsyncComp.value = val.default;
        });
      }
      if (showDialog.value) {
        scrollToOriginalPosition();
      }
    });

    return {
      tabChange,
      AsyncComp,
      currentDialog,
      showDialog,
      dialogHistory,
      goBack,
      backOrClose,
      closeAll,
    };
  },
});
</script>

<style></style>
