<template>
  <q-toolbar align="center" style="align: center; text-align: center">
    <q-space v-if="$q.screen.gt.sm" />
    <q-toolbar-title shrink v-if="$q.screen.gt.sm && !!assembly" class="cursor-pointer" style="font-weight: 400">
      {{ assembly ? assembly.title : '' }}
    </q-toolbar-title>

    <q-space />
    <!-- Extended TOP Menu: (large page or none-assembly page)  -->

    <!-- NOTIFICATION BELL  -->
    <Notifications></Notifications>

    <!-- <q-img>mdi-help</q-img> -->
    <!-- @click="expandMenu" -->

    <q-btn stretch size="md" icon="mdi-help-circle-outline" flat @click="openInfoPoint()" v-if="authorized"></q-btn>

    <!-- Expanded Menus: Wide pages  -->
    <template v-if="!is_assembly_page && $q.screen.gt.xs">
      <q-item v-for="item in menu" clickable :label="item.text" :class="
        item.to.name == currentRouteName
          ? 'topmenuSelected'
          : 'topmenuDefault'
      " @click="pushR(item.to)" :key="item.text">{{ item.text }}
      </q-item>
    </template>

    <!-- Collapsed menu: Small  pages Or assembly pages  -->
    <template v-if="is_assembly_page || !$q.screen.gt.xs">
      <q-btn size="lg" flat icon="mdi-menu" label="">
        <q-menu>
          <q-list style="min-width: 100px">
            <q-item v-for="item in menu" clickable :key="item.text" :class="
              item.to.name == currentRouteName
                ? 'topmenuSelected'
                : 'topmenuDefault'
            " @click="pushR(item.to)" v-close-popup>
              <q-item-section>{{ item.text }}</q-item-section>
            </q-item>
          </q-list>
        </q-menu>
      </q-btn>
    </template>

    <q-btn-dropdown stretch flat v-if="authorized">
      <template v-slot:label>
        <UserAvatar :profile="profile" :menu="true" :clickable="false"></UserAvatar>
      </template>

      <q-list class="z-max">
        <q-item>
          <q-item-section>
            <q-item-label caption style="max-width: 250px">{{
              currentUsernameDerivation
            }}</q-item-label>
          </q-item-section>
        </q-item>
        <q-item clickable @click="profileClickHandler($event)" v-if="authorized && showPublicProfile" v-close-popup>
          <q-item-section>
            <q-item-label>Öffentliches Profil</q-item-label>
            <q-item-label caption>Für alle Teilnehmenden sichtbar</q-item-label>
          </q-item-section>
        </q-item>
        <q-item clickable :class="'profile' == currentRouteName ? 'dropdownSelected' : ''" @click="gotoProfile()"
          v-if="authorized && showSecretariat" v-close-popup>
          <q-item-section>
            <q-item-label>Sekretariat</q-item-label>
            <q-item-label caption>Angaben zu Ihrem Benutzerkonto</q-item-label>
          </q-item-section>
        </q-item>

        <q-item @click="logout()" clickable class="" v-close-popup>
          <q-item-section v-if="authorized">
            <q-item-label>{{ $t('auth.logout') }}</q-item-label>
            <q-item-label caption>Demokratiefabrik verlassen.</q-item-label>
          </q-item-section>
        </q-item>

        <!-- DEBUG FUNCTIONALITY -->
        <!-- <q-item
          @click="apireset()"
          clickable
          v-if="is_in_testing_phase"
          class=""
          v-close-popup
        >
          <q-item-section v-if="authorized">
            <q-item-label>_day reset</q-item-label>
            <q-item-label caption>TESTING</q-item-label>
          </q-item-section>
        </q-item> -->

        <!-- <q-item
          @click="apireset(true)"
          clickable
          v-if="is_in_testing_phase"
          class=""
          v-close-popup
        >
          <q-item-section v-if="authorized">
            <q-item-label>_full reset</q-item-label>
            <q-item-label caption>TESTING</q-item-label>
          </q-item-section>
        </q-item> -->
      </q-list>
    </q-btn-dropdown>
  </q-toolbar>
</template>

<script lang="ts">
import { defineComponent, computed } from 'vue';
import { IAssembly } from 'src/models/assembly';
import { getAppService, getCurrentRoute } from 'src/services/index';
import { getAuthService } from 'src/services/index';
import useRouterService from 'src/services/router.service';
import { useStore } from 'vuex';
import { useI18n } from 'vue-i18n';
import Notifications from './Notifications.vue';
import UserAvatar from 'src/pages/components/UserAvatar.vue';
import useEmitter from 'src/utils/emitter';
import useStoreService from 'src/services/store.service';
import { getAssemblyService } from 'src/services/index';
const emitter = useEmitter();

export default defineComponent({
  name: 'MainMenu',
  components: {
    UserAvatar,
    Notifications,
  },

  // eslint-disable-next-line @typescript-eslint/no-unused-vars
  setup() {
    const { setHeaderOffset, apireset } = getAppService();

    const { pushR, gotoProfile } = useRouterService();
    const currentRoute = getCurrentRoute();
    const store = useStore();
    const { t } = useI18n();

    const UsersDelegateAssemblies = computed(() => {
      return store.getters['publicindexstore/UsersDelegateAssemblies'];
    });
    const { assembly } = getAssemblyService();
    const { assemblyIdentifier } = useStoreService();
    const {
      profile,
      logout,
      authorized,
      currentUsernameDerivation,
      is_in_testing_phase,
    } = getAuthService();

    const currentRouteName = computed(
      (): string => currentRoute.name as string
    );

    const is_assembly_page = computed((): boolean => {
      return (
        currentRoute.name === 'assemblies' ||
        !!currentRoute.params.assemblyIdentifier
      );
    });

    const showSecretariat = computed((): boolean => {
      if (!UsersDelegateAssemblies.value) {
        return false;
      }
      if (!UsersDelegateAssemblies.value.length) {
        return true;
      }
      return !UsersDelegateAssemblies.value.find(
        (x: IAssembly) =>
          'HIDE_MAIN_MENU_PROFILE' in x.custom_data && x.custom_data.HIDE_MAIN_MENU_SECRETARIAT
      );
    });

    const showPublicProfile = computed((): boolean => {
      if (!UsersDelegateAssemblies.value) {
        return false;
      }
      if (!UsersDelegateAssemblies.value.length) {
        return true;
      }

      return !UsersDelegateAssemblies.value.find(
        (x: IAssembly) =>
          'HIDE_MAIN_MENU_PROFILE' in x.custom_data &&
          x.custom_data.HIDE_MAIN_MENU_PROFILE == 1
      );
    });

    // TODO: why here?
    setHeaderOffset(150);

    const menu = computed(() => {
      return [
        {
          text: t('app.mainMenu.homepage'),
          to: { name: 'home' },
        },
        {
          text: t('app.mainMenu.news'),
          to: { name: 'news' },
        },
        {
          text: t('app.mainMenu.background'),
          to: { name: 'background' },
        },
      ];
    });

    return {
      menu,
      is_assembly_page,
      currentRouteName,
      showPublicProfile,
      showSecretariat,
      logout,
      pushR,
      is_in_testing_phase,
      gotoProfile,
      apireset,
      authorized,
      profile,
      assembly,
      assemblyIdentifier,

      // assemblyName,
      UsersDelegateAssemblies,
      currentUsernameDerivation,
    };
  },

  methods: {
    openInfoPoint() {
      window.open('storage/upload/demokratiefabrik_infopoint.pdf');
    },

    profileClickHandler(event) {
      // if (this.clickable && this.user) {
      event.stopPropagation();
      emitter.emit('showDialog', {
        type: 'user',
        id: this.profile.id,
      });
      // }
    },
  },
});
</script>

<style scoped>
.topmenuSelected {
  border-top: 2px solid #111;
}

.topmenuDefault {
  border-top: 2px solid #fff;
}

.dropdownSelected {
  border-left: 2px solid #111;
}

.dropdownDefault {
  border-left: 2px solid #fff;
}
</style>
