<template>
  <!-- @click="expandMenu" -->
  <!-- ddd{{ userid }} -->
  <q-btn stretch size="md" icon="mdi-bell-outline" flat v-if="notificationsList && authorized">
    <!-- // TODO disabled by DW for migration to vue3 -->
    <q-menu @before-show="expandMenu()" anchor="bottom left" self="top left">
      <q-list class="scroll" style="max-height: 50vh; min-width: 100px" v-if="notificationsList.length">
        <q-item v-for="entry in notificationsList" :clickable="
          NOTIFICATION_ACTIONS.includes(entry.action) &&
          loadedAssemblieIdentifiers.includes(entry.assembly_identifier)
        " :key="entry.id" @click="notificationAction(entry)">
          <!-- clickable -->
          <q-item-section side>
            <q-icon :name="NOTIFICATION_ICONS[entry.action]" :color="entry.is_read ? 'grey' : 'blue'" />
          </q-item-section>

          <q-item-section>
            <q-item-label caption style="max-width: 450px">{{
              formatTimeLeft(entry.date_created)
            }}</q-item-label>
            <q-item-label style="max-width: 450px">{{
              $t(`notifications.${entry.action
                }`, {
                value: entry.value,
              })
            }}</q-item-label>
          </q-item-section>
          <!-- {{ loadedAssemblies[0].assembly }} -->
          <q-item-section side>
            <div class="text-grey-8 q-gutter-xs" v-if="
              NOTIFICATION_ACTIONS.includes(entry.action) &&
              loadedAssemblieIdentifiers.includes(entry.assembly_identifier)
            ">
              <q-btn class="gt-xs" size="12px" flat dense round icon="mdi-open-in-new" />
            </div>
          </q-item-section>
        </q-item>
      </q-list>

      <q-list class="scroll" style="max-height: 50vh; min-width: 100px"
        v-if="!notifications || !notificationsList.length">
        <q-item>
          <q-item-section>
            <q-item-label style="max-width: 450px">Für Sie liegt noch keine Nachricht bereit.</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-menu>



    <!-- TODO: disabled due to migration  -->
    <q-badge :color="oneUnread ? 'blue' : 'grey'" floating v-if="notifications && notificationsList.length"
      class="q-mt-sm q-mr-sm">{{ oneUnread ? unreads.length : notificationsList.length }}</q-badge>
  </q-btn>
</template>

<script lang="ts">
import { defineComponent, computed } from 'vue';
import constants from 'src/utils/constants';
import { mapGetters, useStore } from 'vuex';
import { IAssemblyTuple } from 'src/models/assembly';
// import useAuthService from 'src/composables/auth.composable';
import { getAuthService } from 'src/services/index';

import filters from 'src/utils/filters';
// import getMonitorService from 'src/composables/monitor.composable';
import { getMonitorService } from 'src/services/index';

import useEmitter from 'src/utils/emitter';
import { IDialog } from 'src/models/layout';
import useStoreService from 'src/services/store.service';
const emitter = useEmitter();

export default defineComponent({
  name: 'Notifications',

  setup() {
    // console.log('DEBUG setup notifications')

    const { assemblyIdentifier } = useStoreService();
    const { authorized, userid } = getAuthService();
    const { monitorLog } = getMonitorService();
    const { formatTimeLeft } = filters;
    const store = useStore();

    const loadedAssemblies = computed(
      () => store.getters['assemblystore/assemblies']
    );
    const loadedAssemblieIdentifiers = computed((): string[] => {
      return loadedAssemblies.value.map(
        (tuple: IAssemblyTuple) => tuple.assembly.identifier
      );
    });
    // TODO: twice the same identifier!
    const { assemblyIdentifier: routedAssemblyIdentifier } = useStoreService();

    return {
      store,
      assemblyIdentifier,
      routedAssemblyIdentifier,
      loadedAssemblies,
      authorized,
      loadedAssemblieIdentifiers,
      userid,
      formatTimeLeft,
      monitorLog,
    };
  },

  data() {
    return {
      // numberOfNotifications: 10,
      NOTIFICATION_ICONS: constants.NOTIFICATION_ICONS,
      NOTIFICATION_ACTIONS: constants.NOTIFICATION_ACTIONS,
      preloadedAssemblies: [],
    };
  },

  mounted() {
    emitter.on('notificationAction', (notification) =>
      this.notificationAction(notification)
    );
  },

  computed: {
    recentNotifications(): any[] {
      return [];
    },

    notificationsList(): any[] | undefined {
      // console.log(this.notifications);
      if (!this.notifications) {
        return undefined;
      }
      const notificationsList: any[] = [...Object.values(this.notifications)];
      notificationsList.sort((a, b) => b.id - a.id);
      return notificationsList.slice(0, 10);
      // return notificationsList;
    },

    unreads(): any[] {
      if (!this.notificationsList) {
        throw 'Notifications not ready';
      }
      return this.notificationsList.filter((x) => x.is_read !== true);
    },
    oneUnread(): boolean {
      return this.unreads.length > 0;
    },

    ...mapGetters({
      notifications: 'profilestore/notifications',
    }),
  },
  methods: {
    expandMenu() {
      // DISABLE BY migratin vue 3
      this.monitorLog(constants.MONITOR_NOTIFICATION_SHOW);
      if (!this.notificationsList) {
        throw 'Notifications not ready';
      }
      // console.log('PRELOAD NOTIFICATION RELATED STUFF')

      // preload data:
      const preloadContenttrees: string[] = [];
      const preloadAssemblies: string[] = [];
      const preloadPeerreviews: number[] = [];
      // console.log(this.notificationsList, "notificationsListnotificationsList")
      let latest_notification_date = null

      this.notificationsList.forEach((notification) => {

        if (!latest_notification_date || notification.date_created > latest_notification_date) {
          latest_notification_date = notification.date_created
        }
        // PEERREVIEW
        if (
          !!notification.peerreview_id &&
          !!notification.contenttree_id &&
          !preloadPeerreviews.includes(notification.contenttree_id)
        ) {
          preloadPeerreviews.push(notification.contenttree_id);
        }
        // Assemblies
        if (
          !!notification.assembly_identifier &&
          !preloadAssemblies.includes(notification.assembly_identifier)
        ) {
          preloadAssemblies.push(notification.assembly_identifier);
        }

        // CONTENTTREES
        if (
          !!notification.contenttree_identifier &&
          !preloadContenttrees.includes(notification.contenttree_identifier)
        ) {
          preloadContenttrees.push(notification.contenttree_identifier);
        }
      });
      // TODO: does this work as expected?
      preloadAssemblies.forEach((assemblyIdentifier: string) => {
        this.store.dispatch('assemblystore/syncAssembly', {
          assemblyIdentifier,
          oauthUserID: this.userid,
          forceSyncDate: latest_notification_date
        });
      });

      // CONTENTTREES
      preloadContenttrees.forEach((contenttreeIdentifier) => {
        // load contenttree
        this.store.dispatch('contenttreestore/syncContenttree', {
          assemblyIdentifier: this.assemblyIdentifier,
          contenttreeIdentifier,
          oauthUserID: this.userid,
          forceSyncDate: latest_notification_date
        });
        // console.log('dddd')
      });

      // PEERREVIES
      preloadPeerreviews.forEach((contenttreeID) => {
        // also load peerreviews for this trees...
        this.store.dispatch('peerreviewstore/syncPeerreviews', {
          assemblyIdentifier: this.assemblyIdentifier,
          contenttreeID,
          oauthUserID: this.userid,
          forceSyncDate: latest_notification_date
        });
      });
    },

    notificationAction(notification) {

      // console.log('DEBUG: notificationAction => ', notification);


      // Which DetailView should Be opened: 1) Content or 2) Peerreview
      const contenttreeID = notification.contenttree_identifier;
      let contenttreeIdentifier = notification.contenttree_identifier;
      let peerreviewID = notification.peerreview_id;
      const assemblyTuple = this.loadedAssemblies.find(
        (tuple) =>
          tuple.assembly.identifier === notification.assembly_identifier
      );

      if (!contenttreeIdentifier) {
        contenttreeIdentifier = `${contenttreeID}`;
      }

      if (peerreviewID) {
        emitter.emit('showDialog', {
          type: 'peerreview',
          contenttreeIdentifier,
          id: peerreviewID,
          assembly: assemblyTuple.assembly,
        });
        return null;
      }

      if (notification.action == 'CERTIFICATE_ACCOMPLISHED') {

        emitter.emit('showDialog', {
          type: 'certificate',
          id: notification.value,
          forceBackInsteadOfCancel: true,
          dontRouteToAssemblySection: true,
          assembly: assemblyTuple.assembly,
        });
        return null;
      }

      let contentID = notification.content_id;
      if (contentID) {
        console.log('DEBUG', notification, notification.action === 'REPLY_TO_CONTENT' ? 'discussion' : null)

        // IS CONNECTED TO A PUBLIC OR COMMON PROPERTY => SHOW AS SALIENCE LIST ITEM
        emitter.emit('showDialog', {
          type: 'content',
          tab: notification.action === 'REPLY_TO_CONTENT' ? 'discussion' : null,
          id: contentID,
          contenttreeIdentifier,
          assembly: assemblyTuple.assembly,
        } as IDialog);
        return null;
      }
    },
  },
});
</script>
