<template>
  <q-page class="doc_content">

    <h1>Die Demokratiefabrik braucht Pause</h1>

    Es finden aktuell Arbeiten an der Demokratiefabrik statt. Es wäre schön, wenn Sie uns später wieder besuchen würden.

    <div class="row justify-between">
      <div class="seperator">
        <q-icon
          name="mdi-account-hard-hat"
          size="xl"
        />
      </div>
    </div>

  </q-page>
</template>


<script  lang="ts">
import { defineComponent } from 'vue';
export default defineComponent({
  name: 'Construction',
});
</script>