<template>
  <q-page class="doc_content">

    <div class="full-width q-mb-xl" style="text-align: center">
      <!-- In case of errors.  -->
      <q-spinner-ball color="primary" size="2em" /><br><br>
      <q-btn v-if="showHomepageLink" @click="backToStart();">Es kann losgehen</q-btn>
    </div>
  </q-page>
</template>


<script lang="ts">
import useRouterService from 'src/services/router.service';
import { defineComponent, ref } from 'vue';

export default defineComponent({
  name: 'Empty',
  components: {
  },

  setup() {
    const { gotoHome } = useRouterService();

    const showHomepageLink = ref<boolean>(false)
    setTimeout(() => {
      showHomepageLink.value = true
      // gotoHome()
    }, 5000);

    const redirectTimeout = setTimeout(() => {
      gotoHome()
    }, 3000);

    return {
      showHomepageLink,
      gotoHome,
      redirectTimeout

    };
  },

  beforeUnmount() {
    if (this.redirectTimeout) {
      clearTimeout(this.redirectTimeout);
    }
  },


  methods: {
    backToStart() {
      console.log('backToStart  4');
      this.gotoHome();
      // console.log('AFTER LOGIN 5');

    }

    //   closeDialog() {
    //     this.$emit('back-or-close-dialog');
    //   },

    //   tabChange(tab) {
    //     this.tab = tab;
    //     // this.$emit('tab-change', tab);
    //   },
  },
});
</script>
