<template>
  <q-page class="doc_content">
    <h2>404 - Die angeforderte Seite wurde nicht gefunden.</h2>

    <p>
      Wir werden diesem Fehler sobald wie möglich nachgehen. Sie können mit
      <a href="/">diesem Link auf die Startseite</a> zurückzukehren.
    </p>

    <p>
      Wurden Sie von uns oder von einer unseren Partnerinstitutionen in die
      Demokratiefabrik eingeladen und können nun Ihre Arbeit nicht mehr
      fortsetzen? Dann wären wir sehr froh über eine kurze Nachricht via
      <a
        :href="`mailto:demokratiefabrik.ipw@unibe.ch?body=Liebe%20Demokratiefabrik,%20ein%20404-Error%20ist%20aufgetreten.%20AuthID:${
          userid ? userid : '-'
        }&subject=Fehler404%20-%20${currentHref}`"
        >demokratiefabrik.ipw@unibe.ch</a
      >.
    </p>
  </q-page>
</template>

<script lang="ts">
import usePKCEComposable from 'src/utils/VueOAuth2PKCE/pkce.composable';
import { defineComponent } from 'vue';
// import { useRoute } from 'vue-router';

export default defineComponent({
  setup() {
    // const currentRoute = useRoute();
    const currentHref = window.location.href;
    const { userid } = usePKCEComposable();

    return {
      currentHref,
      userid,
    };
  },
  name: 'Error404',
});
</script>
