<template>
  <q-page class="doc_content">
    <h1>Impressum</h1>

    Team Demokratiefabrik<br />
    Institut für Politikwissenschaft<br />
    Universität Bern<br />
    Fabrikstrasse 8<br />
    3012 Bern<br /><br />
    demokratiefabrik.ipw@unibe.ch
    <br />
    <br />

    <div class="row justify-between">
      <div class="seperator">
        <q-icon name="mdi-star-four-points-outline" />
      </div>
    </div>

    <h2>Datenschutzerklärung</h2>
    Diese Erklärung gibt Aufschluss darüber, wie die Demokratiefabrik mit
    Personendaten umgeht, welche bei der Nutzung der Website erhoben werden. Mit
    der Nutzung der Website demokratiefabrik.ch erklären Sie sich mit der
    Bearbeitung Ihrer Daten nach Massgabe dieser Datenschutzerklärung
    einverstanden und akzeptieren die vorliegende Datenschutzerklärung.
    <br />
    <br />

    <div class="text-h6">Personendaten</div>
    Personendaten sind alle Angaben, die sich auf eine bestimmte oder
    bestimmbare (natürliche oder juristische) Person beziehen. Darunter fallen
    Informationen wie Vorname und Name, Anrede, Postadresse, E-Mail-Adresse,
    Telefonnummer und ähnliche Angaben. <br /><br />

    <div class="text-h6">Erhebung von Personendaten</div>
    <!-- SMS-OPTION::: oder alternativ die Handy-Nummer -->
    In der Demokratiefabrik wird ausschliesslich mit Pseudonymen gearbeitet. Wir
    erfassen zu Beginn Ihre E-Mail-Adressen. Andere Angabe wie Anrede, Namen,
    Postadresse, Geburtsdatum und so weiter werden nicht erfasst.
    <br />
    <br />
    <div class="text-h6">Nutzung von Personendaten</div>

    Die angegebenen Personendaten sind für das Funktionieren der
    Demokratiefabrik notwendig. Auf der Plattform sind diese Daten komplett
    getrennt von den übrigen Nutzerdaten gespeichert, so das Rückschlüsse auf
    Ihre Person nicht möglich sind. Die Daten werden allesamt ausschliesslich in
    der Schweiz auf hauseigenen Servern gehostet (Universität Bern). Wir
    behandeln Ihre Personendaten sehr vertraulich und werden sie keinesfalls an
    Dritte weitergegeben. Wir werden Ihnen während der Dauer des Projektes
    wenige Benachrichtigungen zusenden. Sie können die Benachrichtigungen
    jederzeit durch Mitteilung an demokratiefabrik.ipw@unibe.ch abbestellen.
    <br />
    <br />
    <div class="text-h6">Löschung von Personendaten</div>

    Die angegebenen Daten werden nach Beendigung des jeweiligen Einsatzes (hier Erstellung eines Argumentariums zur
    Abstimmung vom Juni 2023) gelöscht. <br />
    <br />
    <div class="text-h6">Weitere, im Rahmen des Projektes erhobene Daten</div>

    Zu Forschungszwecken erheben wir weitere Angaben zu Ihrer Person – zum einen
    im Rahmen dreier Umfragen und zum anderen zu Ihrer Nutzungsaktivität auf der
    Plattform. Diese Angaben werden getrennt von den oben erwähnten
    Personendaten erhoben, so dass Rückschlüsse auf Ihre Person nicht möglich
    sind. Auf der Plattform agieren Sie anonym. Sie haben während der Umfrage in
    jedem Fall die Möglichkeit, die Antwort auf eine Frage zu verweigern. Für
    die Umfrage werden die Teilnehmenden auf Qualtrics geleitet. Die
    Umfragedaten werden in einem europäischen Datenzentrum von Qualtrics
    gespeichert und unterliegen den Datenschutzbestimmungen von Qualtrics.
    <br />

    <br />
    <div class="text-h6">Datensicherheit</div>

    Ihre persönlichen Daten und deren Schutz sind uns sehr wichtig. Es werden
    angemessene technische und organisatorische Vorkehrungen getroffen, um Ihre
    Daten gewissenhaft vor Verlust, Zerstörung, Verfälschung, Manipulation oder
    unberechtigtem Zugriff zu schützen. Obwohl die Demokratiefabrik alle
    adäquaten Mittel einsetzt, um die Offenlegung der Daten aufgrund
    unberechtigten Zugriffes durch Dritte zu verhindern, kann sie keine Haftung
    für solche unerwünschten Ereignisse übernehmen. <br />
    <br />
    <div class="text-h6">Auskunftsrecht</div>

    Das Datenschutzgesetz gewährt Ihnen den Anspruch, unentgeltlich zu erfahren,
    ob und welche personenbezogenen Daten die Demokratiefabrik über Sie
    speichert. Zudem steht Ihnen auch das Recht zu, falsche Angaben berichtigen
    und löschen zu lassen. Vorbehalten bleiben gesetzliche
    Aufbewahrungspflichten. Auskunftsbegehren sind schriftlich zusammen mit
    einem Identitätsausweis an die Betreibern der Demokratiefabrik zu richten.
    <br />
    <br />
    <div class="text-h6">Rechtliche Grundlage</div>

    Das schweizerische Datenschutzgesetz bildet die ausschliessliche rechtliche
    Grundlage dieser Datenschutzerklärung.
    <br />
  </q-page>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
export default defineComponent({
  name: 'Impressum',
});
</script>
