<template>
  <q-page class="doc_content">
    <div align="center" style="min-height: 20px; margin-top: 1em">
      <q-img style="max-width: 150px; max-height: 150px" :src="`layout/logodemokratiefabrik.png`" class="q-mb-xl" />
      <!-- ASSEMBLY DESCRIPTION -->
      <h1 class="q-mt-none">Willkommen in der Demokratiefabrik!</h1>
      <p v-if="authorized && ongoing_assemblies?.length">
        Die Demokratiefabrik ist ein neuer Ort für demokratische Online-Beteiligung. Hier findet gerade eine
        Online-Versammlung
        von Bürgerinnen und Bürgern statt und wir würden uns freuen, wenn Sie sich daran beteiligen!
      </p>

      <p v-if="!authorized || !ongoing_assemblies?.length">
        Die Demokratiefabrik ist ein neuer Ort für demokratische
        Online-Beteiligung.
      </p>

      <div class="seperator bg-blue-1 q-pa-lg">
        <!-- Die Demokratiefabrik zur Abstimmung vom 18. Juni ist geschlossen. Die Ergebnisse werden nun aufbereitet und bald
        an dieser Stelle publiziert. -->

        Über tausend, nach repräsentativen Kriterien ausgewählte Bürgerinnen und Bürger haben online ein
        Argumentarium zur Volksabstimmung "Bundesgesetz über die Ziele im Klimaschutz, die Innovation und die
        Stärkung der Energiesicherheit" (Abstimmung 18. Juni 2023) erarbeitet.
        Das dabei erarbeitete Argumentarium steht nun der Öffentlichkeit für die
        Meinungsbildung zur Verfügung. <br><br>Hier gelangen Sie <a href="/AbstimmungJuni2023/CIR/report"> zum
          Argumentarium
          und zu den Hintergrundinformationen.</a>

      </div>

      <br />
      <div class="justify-center center;" style="max-width: 470px">
        <!-- displayMode="all" -->
        <ArtificialModeration :AM="AMs.indexpage_left" :fixedActor="2" :slim="true" alignment="left" :ctx="that" />
        <ArtificialModeration :AM="AMs.indexpage_right" :fixedActor="1" alignment="right" :ctx="that" />
      </div>
      <br />

      <!-- <div class="q-mt-xl">
        <p>
          Möchten Sie mehr über die Plattform und unsere aktuellen Projekte
          erfahren? Dann besuchen Sie den Bereich
          <router-link :to="{ name: 'background' }">Hintergrund</router-link>.
        </p>
      </div> -->
    </div>
  </q-page>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { getAuthService } from 'src/services/index';

// import useAuthService from 'src/composables/auth.composable';
import AMs from 'src/pages/ArtificialModeration';
import ArtificialModeration from 'src/pages/components/artificial_moderation/ArtificialModeration.vue';
import { mapGetters } from 'vuex';
import useRouterService from 'src/services/router.service';

export default defineComponent({
  name: 'PageIndex',

  setup() {
    // console.log('DEBUG: INDEX:VUE');
    const { authorized, profile, currentUsernameDerivation } = getAuthService();
    const { gotoAssemblyStart, gotoAssemblyManage } = useRouterService();
    return {
      authorized,
      profile,
      currentUsernameDerivation,
      gotoAssemblyStart,
      gotoAssemblyManage,
      ENV_I18N_LOCALE: process.env.ENV_I18N_LOCALE,
    };
  },
  components: {
    ArtificialModeration,
  },
  data() {
    return {
      AMs,
      that: this,
    };
  },

  computed: {
    ...mapGetters({
      // get_profile: 'profilestore/get_profile',
      IsUserDelegateOfOngoingAssembly:
        'publicindexstore/IsUserDelegateOfOngoingAssembly',
      IsUserObserverOfOngoingAssembly:
        'publicindexstore/IsUserObserverOfOngoingAssembly',
      UsersDelegateAssemblies: 'publicindexstore/UsersDelegateAssemblies',
      UsersObserverAssemblies: 'publicindexstore/UsersObserverAssemblies',
      UsersManagerAssemblies: 'publicindexstore/UsersManagerAssemblies',
      UsersExpertAssemblies: 'publicindexstore/UsersExpertAssemblies',
      IsThereAnAssemblyOngoing: 'publicindexstore/IsThereAnAssemblyOngoing',
      ongoing_assemblies: 'publicindexstore/ongoing_assemblies',
      IsThereNothingGoingOn: 'publicindexstore/IsThereNothingGoingOn',
    }),
  },
});
</script>
