<template>
  <q-page class="doc_content">
    <div align="center" style="min-height: 20px; margin-top: 1em">
      <q-img
        style="max-width: 150px; max-height: 150px"
        :src="`layout/logodemokratiefabrik.png`"
        class="q-mb-xl"
      />

      <!-- ASSEMBLY DESCRIPTION -->
      <span v-if="ongoing_assemblies?.length">
        <h1 class="q-mt-none">{{ ongoing_assemblies[0].title }}</h1>
        <p v-dompurify-html="ongoing_assemblies[0].background" />
      </span>

      <div class="justify-center center;" style="max-width: 470px">
        <!-- displayMode="all" -->
        <ArtificialModeration
          :AM="AMs.indexongoing_left"
          :fixedActor="2"
          :slim="true"
          alignment="left"
          :ctx="that"
        />
        <ArtificialModeration
          :AM="AMs.indexongoing_right"
          :fixedActor="1"
          alignment="right"
          :ctx="that"
        />
      </div>
      <br />
      <div class="q-mt-xl">
        <p>
          Möchten Sie mehr über die Plattform oder das Könizer Projekt erfahren?
          Dann besuchen Sie unsere Seite
          <router-link :to="{ name: 'background' }">Hintergrund</router-link>.
        </p>
      </div>
    </div>
  </q-page>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
// import useAuthService from 'src/composables/auth.composable';
import { getAuthService } from 'src/services/index';

import AMs from 'src/pages/ArtificialModeration';
import ArtificialModeration from 'src/pages/components/artificial_moderation/ArtificialModeration.vue';
import { mapGetters } from 'vuex';
// import useAssemblyService from 'src/composables/assembly.composable';
import useRouterService from 'src/services/router.service';

export default defineComponent({
  name: 'PageIndex',

  setup() {
    // console.log('DEBUG: INDEX:VUE');
    const {
      authorized,
      profile,
      loginToCurrentPage,
      payload,
      currentUsernameDerivation,
    } = getAuthService();
    const { gotoAssemblyStart } = useRouterService();
    return {
      currentUsernameDerivation,
      authorized,
      loginToCurrentPage,
      gotoAssemblyStart,
      profile,
      payload,
      ENV_I18N_LOCALE: process.env.ENV_I18N_LOCALE,
    };
  },
  components: {
    ArtificialModeration,
  },
  data() {
    return {
      AMs,
      that: this,
    };
  },

  computed: {
    ...mapGetters({
      // get_profile: 'profilestore/get_profile',
      IsUserDelegateOfOngoingAssembly:
        'publicindexstore/IsUserDelegateOfOngoingAssembly',
      IsUserObserverOfOngoingAssembly:
        'publicindexstore/IsUserObserverOfOngoingAssembly',
      UsersDelegateAssemblies: 'publicindexstore/UsersDelegateAssemblies',
      UsersObserverAssemblies: 'publicindexstore/UsersObserverAssemblies',
      UsersManagerAssemblies: 'publicindexstore/UsersManagerAssemblies',
      IsThereAnAssemblyOngoing: 'publicindexstore/IsThereAnAssemblyOngoing',
      ongoing_assemblies: 'publicindexstore/ongoing_assemblies',
      IsThereNothingGoingOn: 'publicindexstore/IsThereNothingGoingOn',
    }),
  },
});
</script>
