<template>
  <q-page>
    <template v-if="showAssemblyMenu">
      <AssemblyMenu />
    </template>

    <router-view></router-view>
  </q-page>
</template>

<script lang="ts">
// import useAssemblyComposable from 'src/composables/assembly.composable';
import useAssemblyComposable from 'src/composables/assembly.composable';
import { defineComponent } from 'vue';
import AssemblyMenu from './AssemblyMenu.vue';
// import useCIRComposable from './composables/vaa.composable';
export default defineComponent({
  name: 'VAALayout',
  computed: {},
  setup() {
    const { showAssemblyMenu } = useAssemblyComposable();
    return { showAssemblyMenu };
  },
  components: { AssemblyMenu },
});
</script>
