<template>
  <q-page class="doc_content">


    <template v-if="!surveyFinalized && linkRedirectionDisabled">
      <div class="seperator bg-blue-1 q-pa-lg">
        <h3>
          Hinweis: Das Zeitfenster für die Teilnahme am weiteren Verlauf der LINK-Studie ist geschlossen. Wir danken für
          Ihre
          Teilnahme! Die Plattform steht für Sie noch eine Weile zur Verfügung.
        </h3>


        <img src="https://www.link.ch/wp-content/uploads/2022/08/LINK-x-YouGov_RGB.svg" class=" float-left" alt="logo"
          width="200">
        <br><br>
        <!-- <ArtificialModeration :AM="AMs.conclusionC" alignment="right" amGroup="Conclusion" :role="2" :ctx="this" /> -->
      </div>
    </template>

    <div class="row text-center">
      <div class="seperator">
        <h1>Aktueller Zwischenstand</h1>

        <!-- <ArtificialModeration
                  :AM="AMs.conclusionIntroA"
                  alignment="left"
                  amGroup="Conclusion"
                  :role="1"
                  :ctx="this"
                /> -->

        <ArtificialModeration :AM="AMs.conclusionIntroB" alignment="right" amGroup="Conclusion" :role="2" :ctx="this" />
      </div>
    </div>



    <a name="ARGUMENTARIUM" />
    <div v-if="!!top3ArgumentsBySide">
      <!-- <h2>Provisorisches Argumentarium</h2> -->
      <br />
      <div class="row justify-between">
        <div class="seperator">
          <q-icon name="mdi-star-four-points-outline" />
        </div>
      </div>
      <h2>
        Dies sind die von den Teilnehmenden aktuell am besten bewerteten
        Argumente. Die Grösse der Blöcke widerspiegelt dabei die Relevanz, welche die Teilnehmenden den Argumenten
        durchschnittlich beigemessen haben.


        <!-- Ungefähr so, könnte das Argumentarium am Ende aussehen. Jedenfalls sind
        das aktuell die von den Teilnehmenden am besten bewerteten Argumente. -->
      </h2>
      <p>
        Noch steht nicht fest, welche Argumente im finalen Argumentarium
        enthalten sein werden. Einen ersten Eindruck, welche Argumente bei Ihnen
        persönlich und bei den anderen Teilnehmenden der Demokratiefabrik auf
        die grösste Zustimmung stossen, erhalten Sie anhand folgender Abbildung:

        <!-- (zum Vergleich klicken Sie auf den Schalter unterhalb der Graphik.) -->
      </p>
      <div class="row justify-between">
        <div class="seperator">
          <ArgumentView :top3ArgumentsBySide="
            argumentariumCommunityMode
              ? top3ArgumentsBySideForCommunity
              : top3ArgumentsBySide
          " :community="argumentariumCommunityMode"></ArgumentView>

          <q-toggle class="q-ma-none q-mt-none" v-model="argumentariumCommunityMode" :false-value="false"
            :true-value="true" color="grey" size="xl" checked-icon="mdi-account-group-outline"
            unchecked-icon="mdi-account-outline" :label="
              argumentariumCommunityMode
                ? 'Zeigt die Top-3 Argumente von allen Teilnehmenden'
                : 'Zeigt die Top-3 Argumente von Ihnen persönlich'
            " />
        </div>
      </div>

      <!-- <p>
            Sie haben sich folgendermassen zur Abstimmungsvorlage geäussert.
          </p> -->
    </div>
    <!-- </q-timeline-entry> -->

    <br />

    <a name="PROFILE" />
    <div v-if="topicContentTuple">
      <div class="row justify-between">
        <div class="seperator">
          <q-icon name="mdi-star-four-points-outline" />
        </div>
      </div>
      <br />
      <h2>
        Sie haben nun die Gelegenheit, Ihre Stellungnahme anzupassen.
      </h2>
      <ArtificialModeration :AM="AMs.msRevisePreference" alignment="left" :ctx="this" />

      <PublicCirProfileStandalone ref="dialog-modify-public-cir-profile" :statementContentTuple="statementContentTuple"
        :topicContentTuple="topicContentTuple"></PublicCirProfileStandalone>

    </div>

    <br />


    <!-- MEDALS / CERTIFICATES -->
    <template v-if="enabled_certificates">
      <a name="MEDALS" />
      <div class="row justify-between">
        <div class="seperator">
          <q-icon name="mdi-star-four-points-outline" />
        </div>
      </div>
      <br />
      <h2 v-if="hasTotalNofMedals">
        Sie haben intensiv mitgemacht und haben sich sämtliche Medaillen
        erarbeitet. Herzliche Gratulation!
      </h2>
      <h2 v-else-if="hasNoMedals">
        Sie haben sich noch keine Medaillen verdient. Wenn Sie mögen, können Sie auf der Plattform nach Medaillen Ausschau
        halten.
      </h2>
      <h2 v-else>
        Sie haben sich bereits {{ nofMedals }} Medaillen verdient. Haben Sie
        Lust, Ihre Sammlung zu vervollständigen?
      </h2>

      <!-- TODO: hide certificates for non-gamification-treatment-user -->
      <CertificatesOverview></CertificatesOverview>

      <br />

    </template>
    <a name="GOODBYE" />
    <template v-if="outgoingURL">
      <a name="OUTGOINGREDIRECT" />
      <div class="row justify-between">
        <div class="seperator">
          <q-icon name="mdi-star-four-points-outline" />
        </div>
      </div>

      <template v-if="!surveyFinalized && !linkRedirectionDisabled">
        <div class="seperator bg-blue-1 q-pa-lg">
          <h1>
            Vielen Dank für Ihre Mitarbeit! Wir werden Sie nun zu LINK weiterleiten.
          </h1>

          <p>Hat es Ihnen in der Demokratiefabrik soweit gefallen? Die Demokratiefabrik bleibt
            voraussichtlich noch bis Mitte April für alle Teilnehmenden offen. Danach wird das Argumentarium aufbereitet
            und den Haushalten
            einer ausgewählten Gemeinde zugesendet. Sie werden es zudem auf dieser Webseite
            (www.demokratiefabrik.ch) finden.
          </p>

          <p>Mitte April und Mitte Juni erhalten Sie noch einmal je eine Einladung zu einer Umfrage (15 Minuten und 5
            Minuten). Nachdem Sie bis und mit der letzten Umfrage dabeigeblieben sind, erhalten Sie den Bonus für Ihr
            Engagement ausbezahlt.</p>
          <!-- , nach Ihrer Teilnahme daran erhalten Sie die Entlöhnung für Ihr Engagement ausbezahlt -->

          <img src="https://www.link.ch/wp-content/uploads/2022/08/LINK-x-YouGov_RGB.svg"
            class="cursor-pointer float-left" @click="setSurveyFinalized()" alt="logo" width="200">
          <ArtificialModeration :AM="AMs.conclusionC" alignment="right" amGroup="Conclusion" :role="2" :ctx="this" />
        </div>
      </template>



      <template v-if="surveyFinalized">
        <div class="seperator bg-blue-1 q-pa-lg">
          <h1>
            Vielen Dank!
          </h1>
          <h2>Hat es Ihnen in der Demokratiefabrik soweit gefallen? Die Demokratiefabrik bleibt
            für alle Teilnehmenden voraussichtlich noch bis Mitte April offen. Danach wird das Argumentarium aufbereitet
            und den Haushalten
            einer ausgewählten Gemeinde zugesendet. Sie werden es zudem auf dieser Webseite
            (www.demokratiefabrik.ch) finden.
          </h2>

          <!-- <img src="https://www.link.ch/wp-content/uploads/2022/08/LINK-x-YouGov_RGB.svg"
                class="cursor-pointer float-left" @click="redirectToOutgoingURL()" alt="logo" width="200">
              <ArtificialModeration :AM="AMs.conclusionC" alignment="right" amGroup="Conclusion" :role="2" :ctx="this" /> -->
        </div>
      </template>

    </template>

    <!-- <template v-if="1 == 2">
      <div class="seperator">
        <h1>
          Vielen Dank für Ihre heutige Mitarbeit! Die Demokratiefabrik bleibt noch
          bis zum 13. April offen.
        </h1>

      </div>
      <ArtificialModeration :AM="AMs.conclusionA" alignment="left" amGroup="Conclusion" :role="1" :ctx="this" />
      <ArtificialModeration :AM="AMs.conclusionB" alignment="right" amGroup="Conclusion" :role="2" :ctx="this" />
      <-- <p class="text-h4"> Es folgt ein kleiner Zwischenstand zur Demokratiefabrik! Wenn Sie möchten können Sie sich weiterhin auf der Plattform bewegen. Es gibt noch viel zu entdecken und mit anderen Könizerinenn und Könizer zu diskutieren. </p> ->

      <img src="https://www.link.ch/wp-content/uploads/2022/08/LINK-x-YouGov_RGB.svg" alt="logo" width="200" class="">

      Die Demokratiefabrik ist vom 27. März bis am 13. April 2023 geöffnet. Sie
      bestimmen, wann und wie oft Sie die Demokratiefabrik besuchen. Wenn Sie
      sich einige Tage hintereinander nicht eingeloggt haben, erlauben wir uns,
      Ihnen eine E-Mail zu schreiben, in der wir Sie um Ihre erneute Mitarbeit
      bitten. Sie können die E-Mail-Erinnerung auch abbestellen. Gerne dürfen
      Sie sich auch ohne unsere Nachfrage erneut einloggen.

    </template> -->

    <br />

    <SideMenu :items="sideMenuItems" :highlightedItemAnchor="surveyFinalized ? '' : 'OUTGOINGREDIRECT'" />
  </q-page>
</template>

<script lang="ts">
import { computed, defineComponent, ref } from 'vue';
import { getAssemblyService, getStageService } from 'src/services/index';

import AMs from './ArtificialModeration';
import SideMenu from 'src/pages/components/SideMenu.vue';
import ArtificialModeration from 'src/pages/components/artificial_moderation/ArtificialModeration.vue';
import useArgumentsComposable from 'src/plugins/CIR/stages/PROS_AND_CONS/composables/arguments.composable';
import ArgumentView from 'src/plugins/CIR/stages/PROS_AND_CONS/components/ArgumentView.vue';
import PublicCirProfileStandalone from 'src/plugins/CIR/components/PublicCirProfileStandalone.vue';
import CertificatesOverview from 'src/plugins/CIR/components/CertificatesOverview.vue';
import useCIRStatementService from 'src/plugins/CIR/services/statement.composable';
import useCIRTopicComposable from 'src/plugins/CIR/services/topic.composable';
import { useStore } from 'vuex';
import library from 'src/utils/library';
const { addArrayItemAtIndex } = library;
import api from 'src/utils/api';

export default defineComponent({
  name: 'CONCLUSION__CIR',
  components: {
    ArgumentView,
    SideMenu,
    ArtificialModeration,
    PublicCirProfileStandalone,
    CertificatesOverview,
  },
  setup() {
    const enabled_certificates = computed(
      () => store.getters['profilestore/enabled_certificates']
    );

    const { routedStageTuple, markUnAlert, nextScheduledStage } = getStageService();
    const { outgoingURL, assembly } = getAssemblyService();
    const { topicContentTuple } = useCIRTopicComposable(undefined, true);
    const store = useStore();
    const user = computed(() => store.getters['profilestore/profile']);



    const { statementContentTuple } = useCIRStatementService(
      undefined,
      true,
      true
    );

    const argumentariumCommunityMode = ref<boolean>(true);

    const totalNofMedals = 5;
    const nofMedals = computed(() => user.value?.CERTIFICATES?.length);
    const hasTotalNofMedals = computed(
      () => nofMedals.value === totalNofMedals
    );
    const hasNoMedals = computed(
      () => nofMedals.value === 0
    );

    const linkRedirectionDisabled = computed(
      () => assembly.value?.custom_data?.DISABLE_LINK_REDIRECTION
    );



    const setSurveyFinalized = () => {
      markUnAlert();
      store.dispatch('profilestore/setSurveyFinalized', {});

      // INFORMAT AUTH SERVER

      // Get Email from oauth server
      api
        .setFlag({})
        .then((response) => {
          if (!response.data) {
            console.error('CANNOT NOTIFY AUTH SERVER FOR FINALIZED PARTICPATION');
          }
        })
        .catch((e) => {
          console.error(e);
        });

      // redirectToOutgoingURL();
    }

    const surveyFinalized = computed(() => store.getters['profilestore/surveyFinalized']);
    const { top3ArgumentsBySideForCommunity, top3ArgumentsBySide } =
      useArgumentsComposable(undefined, true);

    const sideMenuItems = computed(() => {
      let tmpSideMenuItems: any[] = [
        {
          label: 'Argumentarium',
          anchor: 'ARGUMENTARIUM',
        },
        {
          label: 'Ihre Stellungnahme',
          anchor: 'PROFILE',
        },
        // {
        //   label: 'LINK-Abschluss',
        //   anchor: 'GOODBYE',
        // },
      ];

      if (enabled_certificates.value) {
        const newItem = {
          label: 'Medaillenspiegel',
          anchor: 'MEDALS',
        };

        tmpSideMenuItems = addArrayItemAtIndex(tmpSideMenuItems, 2, newItem);
      }

      if (outgoingURL.value) {
        if (!(linkRedirectionDisabled.value && !surveyFinalized.value)) {
          const newItem = {
            label: 'LINK-Abschluss',
            anchor: 'OUTGOINGREDIRECT',
          };
          tmpSideMenuItems.push(newItem);
          // sideMenuItems.push(newItem);
        }
      }

      return tmpSideMenuItems
    })

    return {
      routedStageTuple,
      markUnAlert,
      nofMedals,
      hasTotalNofMedals,
      hasNoMedals,
      statementContentTuple,
      topicContentTuple,
      top3ArgumentsBySideForCommunity,
      argumentariumCommunityMode,
      top3ArgumentsBySide,
      sideMenuItems,
      // redirectToOutgoingURL,
      outgoingURL,
      linkRedirectionDisabled,
      enabled_certificates,
      nextScheduledStage,
      surveyFinalized,
      setSurveyFinalized
    };
  },
  data() {
    return {
      AMs,
    };
  },

  mounted() {
    if (this.routedStageTuple) {
      if (this.surveyFinalized) {
        this.markUnAlert();
      }
    }
  },
});
</script>
