<template>
  <!-- padding="0px"
      label="Bewertung"
      unelevated
    -->
  <q-rating
    v-model="progression_rating"
    :max="5"
    size="32px"
    @update:model-value="debouncedSubmit"
  />
  <!-- <q-card-section class="q-pa-none q-ma-none bg-none">
      BEWERTUNG
    </q-card-section> -->
</template>

<script lang="ts">
import { defineComponent, PropType, ref, watch } from 'vue';
import { debounce } from 'quasar';
import { INodeTuple } from 'src/models/content';
import useContentComposable from 'src/composables/content.composable';

export default defineComponent({
  name: 'ContentRatingStars',
  props: {
    nodeTuple: { type: Object as PropType<INodeTuple> },
  },
  setup(props) {
    const { saveRating } = useContentComposable();
    const progression_rating = ref<number | null>(50);
    const submit = (): void => {
      if (progression_rating.value === null || !props.nodeTuple) {
        throw 'this must be an error';
      }

      // immediatly update saliences in vuex store (=> allows to update the dynamically generated charts)
      saveRating(progression_rating.value, props.nodeTuple);
    };

    const debouncedSubmit = debounce(submit, 1200);

    watch(
      () => props.nodeTuple,
      () => {
        if (props.nodeTuple && props.nodeTuple.progression) {
          progression_rating.value = props.nodeTuple.progression.rating;
        }
      },
      { immediate: true }
    );

    return {
      progression_rating,
      submit,
      debouncedSubmit,
    };
  },
  data() {
    return {
      // TODO: do we need zero as starting value?

      buttons: [
        {
          value: 0,
          slot: 'one',
          toggleColor: 'red',
          textColor: 'grey-7',
          ratingicon: 'mdi-emoticon-sad-outline',
          tooltipNr: 1,
        },
        {
          value: 50,
          slot: 'two',
          toggleColor: 'orange',
          textColor: 'grey-7',
          ratingicon: 'mdi-emoticon-neutral-outline',
          tooltipNr: 2,
        },
        {
          value: 100,
          slot: 'three',
          toggleColor: 'green',
          textColor: 'grey-7',
          ratingicon: 'mdi-emoticon-happy-outline',
          tooltipNr: 3,
        },
      ],
    };
  },

  computed: {
    noneResponse() {
      return typeof this.progression_rating !== 'number';
    },
  },
});
</script>
