<template>
  <!-- <template> -->
  <q-item>
    <q-item-section avatar>
      <UserAvatar :profile="profile" :avatarOnly="true"></UserAvatar>
      <span class="text-bold">{{ username }}</span>
    </q-item-section>

    <q-item-section v-if="text">
      <q-item-label>
        {{ text }}
      </q-item-label>
      <template v-if="version?.changeset">
        <template v-for="(change, index) in humanReadableContent" :key="`change_${index}`">
          <div>
            <q-tooltip>Ursprünglich: {{ change.values.old }}</q-tooltip>
            {{ change.label }}: <i>{{ change.values.new }}</i>
          </div>
        </template>

        <!-- // INSERT PROPOSALS:::: LINK TO PEERREVIEW -->
        <span v-if="'pending_peerreview_for_insert' in version.changeset">
          <q-badge color="grey" class="cursor-pointer" v-if="version.changeset?.pending_peerreview_for_insert" @click="
            showPeerreviewDetail(
              version.changeset?.pending_peerreview_for_insert[0] ? version.changeset?.pending_peerreview_for_insert[0] :
                version.changeset?.pending_peerreview_for_insert[1]
            )
          ">
            Gutachten #{{
              version.changeset?.pending_peerreview_for_insert[0] ?
              version.changeset?.pending_peerreview_for_insert[0] :
              version.changeset?.pending_peerreview_for_insert[1]
            }}
          </q-badge>
        </span>


        <!-- // MODIFICATIONS:::: LINK TO PEERREVIEW -->
        <span v-if="'pending_peerreview_for_update' in version.changeset">
          <q-badge color="grey" class="cursor-pointer" v-if="version.changeset?.pending_peerreview_for_update" @click="
            showPeerreviewDetail(
              version.changeset?.pending_peerreview_for_update[0] ? version.changeset?.pending_peerreview_for_update[0] :
                version.changeset?.pending_peerreview_for_update[1]
            )
          ">
            Gutachten #{{
              version.changeset?.pending_peerreview_for_update[0] ?
              version.changeset?.pending_peerreview_for_update[0] :
              version.changeset?.pending_peerreview_for_update[1]
            }}
          </q-badge>
        </span>

      </template>
    </q-item-section>
  </q-item>
</template>

<script lang="ts">
import { getAuthService } from 'src/services/index';
import { IAssemblyUser } from 'src/models/assembly';
import UserAvatar from 'src/pages/components/UserAvatar.vue';
import { defineComponent } from 'vue';
import useEmitter from 'src/utils/emitter';

const emitter = useEmitter();

interface IChange {
  label: string | null;
  values: { old: string | null; new: string | null };
}

export default defineComponent({
  setup() {
    const { getUsername, getUsernameDerivation } = getAuthService();
    return { getUsernameDerivation, getUsername };
  },
  name: 'ContentVersionItem',
  // props: ['profile', 'customText', 'version'],
  props: {
    // profile: {},
    contenttreeIdentifier: {
      type: String,
    },
    version: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {};
  },
  components: { UserAvatar },
  computed: {
    humanReadableContent(): IChange[] {
      if (!this.version?.changeset) {
        throw 'missing version changeset';
      }
      return this.humanReadable(Object.entries(this.version.changeset));
    },

    profile(): IAssemblyUser {
      return this.version.user_profile;
    },

    username(): string {
      if (this.profile) {
        return this.getUsername(this.profile);
      }

      return '';
    },

    username_derivation() {
      return this.getUsernameDerivation(this.profile);
    },

    text(): string | null {
      if (!this.version) {
        return '-';
      }

      const date_formatted = this.$filters.formatDate(this.version.date);

      if ('date_created' in this.version.changeset) {
        if (this.version.changeset?.pending_peerreview_for_insert && this.version.changeset?.pending_peerreview_for_insert[1]) {
          return `Vorgeschlagen am ${date_formatted}`;
        } else {
          return `Erstellt am ${date_formatted}`;
        }
      }
      // pending_peerreview_for_update
      if ('rejected_peerreview_for_insert' in this.version.changeset && this.version.changeset.rejected_peerreview_for_insert) {
        return `Ergebnis vom ${date_formatted}: Das Argument wurde im Gutachtenverfahren durch die anderen Teilnehmenden abgelehnt.`
      }
      if ('completed_peerreview_for_insert' in this.version.changeset && this.version.changeset.completed_peerreview_for_insert) {
        return `Ergebnis vom ${date_formatted}: Das Argument wurde im Gutachtenverfahren durch die anderen Teilnehmenden angenommen.`
      }
      if ('pending_peerreview_for_update' in this.version.changeset && this.version.changeset.pending_peerreview_for_update[1]) {
        return `Änderungsvorschlag eingereicht am  ${date_formatted}.`
      }
      if ('pending_peerreview_for_update' in this.version.changeset && this.version.changeset.pending_peerreview_for_update[0]) {
        return `Ergebnis vom am  ${date_formatted}: Das Gutachtenverfahren ist abgeschlossen.`
      }

      return `Änderung vom ${date_formatted}`;
    },
  },

  methods: {
    showPeerreviewDetail(peerreviewID) {

      // console.log(peerreviewID)
      if (!peerreviewID) {
        throw 'invalid peerreview';
      }
      emitter.emit('showDialog', {
        type: 'peerreview',
        id: peerreviewID,
        contenttreeIdentifier: this.contenttreeIdentifier,
      });
    },

    humanReadable(changeset): IChange[] {
      const fieldsNotToIgnore = ['title', 'text', 'parent_id'];
      changeset = changeset.filter((change) =>
        fieldsNotToIgnore.includes(change[0])
      );
      return changeset.map((change) => this.humanReadableChange(change));
    },

    humanReadableChange(change): IChange {
      const labelled = {
        label: null,
        values: {
          old: null,
          new: null,
        },
      };

      // convert values
      const dateFields = ['date_modified'];
      let func = (x) => {
        return x;
      };

      if (dateFields.includes(change[0])) {
        func = this.$filters.formatDate;
      }

      labelled.values.old = func(change[1][0]);
      labelled.values.new = func(change[1][1]);

      // convert field labels
      const labels = {
        date_modified: 'Datum',
        title: 'Titel',
        type: 'Typ',
        parent_id: 'Angehängt bei',
        text: 'Text',
      };

      if (change[0] in labels) {
        labelled.label = labels[change[0]];
      }
      return labelled;
    },
  },
});
</script>
