<template>
  <div v-if="localContent && contenttreeTupleReal?.identifier" style="width: 100%" class="bg-white q-pa-md">
    <q-form @submit="onSubmit" @reset="onCancel" class="q-gutter-md" ref="form">

      <div v-if="discussionAddEntryLabel" class="text-bold">{{ discussionAddEntryLabel }}</div>

      <div class="q-mb-md q-ml-md text-notification" v-if="contextNodeTypesOptions.length === 0">
        Es kann an dieser Stelle keinen Beitrag hinzugefügt werden. Die
        entsprechenden Berechtigungen wurden nicht konfiguriert.
      </div>

      <div class="q-mb-md q-ml-md text-notification" v-if="localLimitReached">
        {{
          $t('contenttree.editor.contribution_limit_reached', {
            current: dailyCommentContributionLimits?.current,
          })
        }}
      </div>
      <div v-else>
        <!-- lazy-rules -->
        <q-input type="text" v-model="localContent.title" :label="
          labelTitle ? labelTitle : $t('contenttree.editor.content_title')
        " standout="bg-teal text-white" stack-label input-style="padding-top:2.5em; padding-bottom:0.6em" lazy-rules
          counter :rules="[
            (val) =>
              (val && val.length > 0) ||
              $t('contenttree.editor.content_title_shadow'),
          ]" filled v-if="allowModifyingTitle" :error="'title' in errors" :error-message="errors.title"
          :maxlength="maxTitleLength" autofocus />

        <!-- <b>{{$t('contenttree.editor.content_text')}}</b> -->
        <q-input @keyup.enter.stop v-model="localContent.text" :hint="
          $t('contenttree.editor.content_text_hint', {
            maxTextLength,
            minTextLength,
          })
        " type="textarea" :style="
  highlightOn == 'text' && !localContent.text
    ? 'background-color: #F2D2BD'
    : ''
" counter filled v-if="allowModifyingText" input-style="padding-top:0.5em" :label="labelText" :error="'text' in errors"
          :error-message="errors.text" :rules="[
            (val) =>
              (val &&
                val.length > minTextLength &&
                val.length <= maxTextLength) ||
              $t('contenttree.editor.content_text_shadow'),
          ]" :maxlength="maxTextLength" :minlength="minTextLength">
          <!-- -->
        </q-input>
      </div>

      <div class="q-ma-md" :hidden="
        (!allowModifyingType && !IsManager) ||
        contextNodeTypesOptions.length == 1
      ">
        <br />
        <br />
        <b>{{ $t('contenttree.editor.content_type') }}</b><br />
        <div v-if="'type' in errors" class="bg-red q-pa-sm q-ma-sm">
          {{ errors.type }}
        </div>

        {{ $t('contenttree.editor.content_type_hint') }}
        <q-option-group name="preferred_genre" v-model="localContent.type" :options="contextNodeTypesOptions" dense
          color="primary" inline />
      </div>

      <div v-if="isAModification && !onlyBasicModifications">
        <br />
        <b>Beitrag löschen</b>
        Wenn Sie die folgende Checkbox aktivieren, wird dieser Beitrag (und
        sämtliche Antworten darauf) von der Plattform entfernt.
        <q-toggle class="q-ma-none q-mt-md" v-model="localContent.disabled" :false-value="false" :true-value="true"
          size="xl" checked-icon="mdi-delete-variant" unchecked-icon="mdi-eye-outline" color="red" :label="
            localContent.disabled
              ? 'Der Beitrag ist im Papierkorb. Möchten Sie ihn wieder anzeigen lassen?'
              : 'Klicken Sie hier, um diesen Beitrag in den Papierkorb zu verschieben.'
          " />
      </div>

      <div v-if="IsManager && isAModification && !onlyBasicModifications">
        <br />
        <b>Beitrag Verschieben</b>
        Als Event-Manager können Sie die Beiträge auch verschieben. Möchten Sie
        das tun?
        <q-btn @click="showParentSelection" :label="
          showParentSelectionBool
            ? `Elternbeiträge aktualisieren`
            : `Elternbeiträge laden`
        " />
        <!-- && contextNodeTypesOptions.length <= 1 -->
        <q-select filled v-if="showParentSelectionBool" v-model="localContent.parent_id" use-input input-debounce="0"
          label="Eltern-Beitrag" :display-value="`Beitrag: ${parentTupleReal?.content?.id
          ? `#${parentTupleReal.content.id} ${parentTupleReal.content.title}`
          : '*Oberste Ebene*'
          }`" :options="parentOptionsFiltered" @filter="filterParentsFn"
          :option-value="(tuple) => (tuple ? tuple.content.id : null)" :option-label="
            (tuple) =>
              `${tuple && tuple.content.id == this.localContent?.parent_id
                ? '*** '
                : ''
              }#${tuple.content.id} ${tuple.content.title}`
          " :option-disable="
  (tuple) =>
    tuple ? tuple.content.disabled || tuple.content.deleted : false
" map-options style="width: 250px" class="q-mt-sm" emit-value behavior="menu">
          <template v-slot:no-option>
            <q-item>
              <q-item-section class="text-grey"> No results </q-item-section>
            </q-item>
          </template>
        </q-select>
      </div>

      <!-- <q-btn flat label="cancel" dense icon="mdi-close-box-outline" style="float:right" @click.stop="$refs['popupeditor'].cancel()" /> -->
      <div align="right">
        <q-btn flat :label="labelClose" v-if="allowToCancel" dense size="md" icon="mdi-close" type="reset" />
        <!-- @click.stop="popup_content_formor.value.cancel()" -->
        <q-btn flat v-if="!localLimitReached" :label="labelSubmit" type="submit" dense size="md" icon="mdi-check" />
      </div>
    </q-form>
  </div>
  <!-- <small>Note: add contribution and proposal limit checker...</small> -->
</template>

<script lang="ts">
import { mapGetters, mapActions, useStore } from 'vuex';
import { defineComponent, PropType, computed, ref } from 'vue';
import library from 'src/utils/library';
import useStoreService from 'src/services/store.service';
import { getAssemblyService } from 'src/services/index';
import { INodeTuple } from 'src/models/content';
import { IContentTreeTuple } from 'src/models/contenttree';
import useContentComposable from 'src/composables/content.composable';
import useContenttreeComposable from 'src/composables/contenttree.composable';
import { QForm } from 'quasar';

export interface IError {
  title?: string;
  text?: string;
  type?: string;
}

export interface IData {
  id: number | null;
  title: string;
  disabled: boolean;
  type: string;
  text: string;
  parent_id: number | null;
}

export default defineComponent({
  name: 'ContentEditorStandalone',

  props: {
    nodeTuple: {
      type: Object as PropType<INodeTuple>,
    },
    contenttreeTuple: {
      type: Object as PropType<IContentTreeTuple | null>,
      default: null,
    },
    parentTuple: {
      type: Object as PropType<INodeTuple | null | undefined>,
      default: undefined,
    },
    ignoredContentTypes: {
      type: Array, // Remove these content types from select-option menu.
      default: () => [],
    },
    forcedContentTypes: {
      type: String, // Remove these content types from select-option menu.
      default: () => '',
    },
    highlightOn: {
      type: String, // title or text
      default: () => '',
    },
    minTextLength: {
      type: Number, // Remove these content types from select-option menu.
      default: () => 0,
    },
    hiddenElements: {
      type: Array,
      default: () => [],
    },
    labelClose: {
      type: String,
      default: 'Abbrechen',
    },
    discussionAddEntryLabel: {
      type: String,
      required: false,
      default: '',
    },
    labelText: {
      type: String,
      default: 'Ihr Beitrag',
    },
    labelTitle: {
      type: String,
      default: 'Ihr Beitrag',
    },
    labelSubmit: {
      type: String,
      default: 'Speichern',
    },
    onlyBasicModifications: {
      type: Boolean,
      default: false,
    },
  },

  setup(props) {
    const form = ref<QForm>();
    // console.log('SETUPPPPPPPPPPP, CONTENTEDITORSTANDALONE');
    const { loaded } = library;
    const { assemblyIdentifier } = useStoreService();
    const { getDailyContributionLimits, limitForAddingCommentsReached } =
      getAssemblyService();

    const localContent = ref<IData | null>(null);

    const { doesContentChangeRequiresReviewProcess, saveContent, getLabel } =
      useContentComposable();

    const store = useStore();

    const contenttreeIdentifer = computed((): string => {
      if (props.contenttreeTuple) {
        return props.contenttreeTuple.identifier;
      }

      if (props.nodeTuple?.content?.contenttree_identifier) {
        return props.nodeTuple.content.contenttree_identifier;
      }

      if (props.parentTuple?.content?.contenttree_identifier) {
        return props.parentTuple.content.contenttree_identifier;
      }

      throw 'contenttree identifier not found';
    });

    // console.log('DEBUG: ------ ContentEditorStandalone');

    const { contenttreeTuple } = useContenttreeComposable(contenttreeIdentifer);

    const contenttreeTupleReal = computed((): IContentTreeTuple => {
      if (props.contenttreeTuple) {
        return props.contenttreeTuple;
      }

      if (!contenttreeTuple.value) {
        throw 'contenttree tuple not found';
      }

      return contenttreeTuple.value;
    });

    // currentParent(): INodeTuple | null {
    const parentTupleReal = computed((): INodeTuple | null => {
      if (props.parentTuple) {
        return props.parentTuple;
      }

      if (!localContent.value?.parent_id) {
        return null;
      }
      const entries = contenttreeTupleReal.value?.entries;
      const parentId = localContent.value.parent_id;

      if (parentId && entries[parentId]) {
        return entries[parentId];
      }

      throw 'Parent Node Tuple could not be loaded...';
    });

    return {
      loaded,
      localContent,
      contenttreeTupleReal,
      parentTupleReal,
      saveContent,
      getDailyContributionLimits,
      limitForAddingCommentsReached,
      getLabel,
      store,
      doesContentChangeRequiresReviewProcess,
      assemblyIdentifier,
      form,
    };
  },

  emits: ['submit', 'close'],
  // 'cancel',

  data() {
    return {
      originalContent: null as IData | null,
      error: false as boolean,
      TYPES_WITHOUT_REQUIRED_TEXTS: ['VAA_QUESTION'],
      errors: {} as IError,
      errormsg: '',
      action: null as string | null,
      btnlabel: '',
      showParentSelectionBool: false,
      parentOptions: null as any,
      parentOptionsFiltered: [] as any[],
    };
  },

  watch: {
    nodeTuple: {
      immediate: true,
      handler: 'initLocalContent',
    },
  },

  computed: {
    reviewNeeded(): boolean {
      if (!this.contenttreeTupleReal) {
        throw 'contentreeTuple is not yet loaded';
      }

      return !!this.doesContentChangeRequiresReviewProcess(
        this.contenttreeTupleReal.identifier,
        this.originalContent,
        this.localContent
      );
    },
    dailyCommentContributionLimits(): Record<string, number> | undefined {
      const { number_of_comments } = this.getDailyContributionLimits();
      return number_of_comments;
    },

    isAModification(): boolean {
      // console.log(this.action);
      return !!this.nodeTuple?.content?.id;
    },

    localLimitReached(): boolean {
      return !!this.limitForAddingCommentsReached && !this.isAModification;
    },

    allowModifyingTitle(): boolean {
      return !this.hiddenElements.includes('title');
    },
    allowModifyingText(): boolean {
      return !this.hiddenElements.includes('text');
    },
    allowModifyingType(): boolean {
      return !this.hiddenElements.includes('type');
    },
    allowToCancel(): boolean {
      return !this.hiddenElements.includes('cancel');
    },
    maxTextLength(): number {
      return this.get_content_text_max_length({
        contenttreeIdentifier: this.contenttreeTupleReal?.identifier,
        type: this.localContent?.type,
      });
    },

    maxTitleLength(): number {
      return this.get_content_title_max_length({
        contenttreeIdentifier: this.contenttreeTupleReal?.identifier,
        type: this.localContent?.type,
      });
    },
    parentReference(): string | null {
      if (!this.parentTupleReal) {
        return null;
      }
      return this.getLabel(this.parentTupleReal);
    },

    contextNodeTypes(): string[] {
      if (this.localContent && !('id' in this.localContent)) {
        return [];
      }

      // get parent type (if available)
      var parentType = null as string | null;
      if (this.parentTupleReal?.content?.type) {
        parentType = this.parentTupleReal.content?.type;
        if (!parentType) {
          throw 'parent type is not specified!';
        }
      }

      // get allowed types for this parent
      var context_node_types = this.get_allowed_node_types_to_add({
        contenttreeIdentifier: this.contenttreeTupleReal?.identifier,
        parentType,
      });

      if (
        this.localContent?.type &&
        !context_node_types.includes(this.localContent.type)
      ) {
        context_node_types = [this.localContent.type];
      }

      // REMOVE IGNORED TYPES
      context_node_types = context_node_types.filter(
        (x) => this.ignoredContentTypes.indexOf(x) === -1
      );

      // use the contenttype that is forced
      if (
        this.forcedContentTypes &&
        context_node_types.includes(this.forcedContentTypes)
      ) {
        return [this.forcedContentTypes];
      }

      // allow all content types that are posiblle...
      return context_node_types;
    },

    contextNodeTypesOptions(): any {
      const options = Object.values(
        this.contextNodeTypes.reduce((prev, cur, i) => {
          return {
            ...(prev as string[]),
            [i as number]: {
              value: cur as string,
              label: this.$t(`contenttree.types.${cur}`),
            },
          };
        }, [] as any[])
      );
      return options;
    },

    ...mapGetters({
      IsManager: 'assemblystore/IsManager',
      get_allowed_node_types_to_add:
        'contenttreestore/get_allowed_node_types_to_add',
      get_node_types_with_add_permission:
        'contenttreestore/get_node_types_with_add_permission',
      get_content_text_max_length:
        'contenttreestore/get_content_text_max_length',
      get_content_title_max_length:
        'contenttreestore/get_content_title_max_length',
      // isCommonPropertyByConentType:
      //   'contenttreestore/isCommonPropertyByConentType',
    }),
  },

  methods: {
    initLocalContent() {
      if (!this.contenttreeTupleReal) {
        // console.log('DEBUG: ContenttreeTuple is not yet loaded');
        return null;
      }

      if (this.nodeTuple?.content) {
        const { id, title, disabled, type, text, parent_id } =
          this.nodeTuple.content;
        this.localContent = {
          id,
          title,
          disabled,
          type,
          text,
          parent_id: parent_id ? parent_id : null,
        };
      } else {
        // console.log(
        //   'ContentEditor nodeTuple is still empty! Create new Content?'
        // );

        this.localContent = {
          id: null,
          title: '',
          disabled: false,
          type: '',
          text: '',
          parent_id: null,
        };

        const parent_id = this.parentTuple?.content?.id;
        if (parent_id) {
          this.localContent.parent_id = parent_id;
        }
      }
      const types = this.contextNodeTypes;

      if (types.length == 1 && !this.localContent.type) {
        this.localContent.type = types[0];
      }
    },

    showParentSelection() {
      if (!this.localContent) {
        return;
      }

      if (!this.contenttreeTupleReal?.entries) {
        throw 'CONTENTTREE ENtries not loaded...';
      }

      const tmpParentOptions = Object.values(this.contenttreeTupleReal.entries);
      // console.log(tmpParentOptions);
      const nodeId = this.localContent?.id;
      if (nodeId) {
        this.parentOptions = tmpParentOptions.filter((v) => {
          const noCyclying = !(v as INodeTuple).path?.includes(nodeId);
          return noCyclying;
        });
      } else {
        console.log('warning: nodeID not defined..973..');
      }
      // console.log(this.parentOptions);

      this.showParentSelectionBool = true;
      if (this.localContent.parent_id) {
        this.parentOptionsFiltered = [this.parentTupleReal];
      }
    },

    filterParentsFn(val, update) {
      if (val === '') {
        update(() => {
          this.parentOptionsFiltered = this.parentOptions;
        });
        return;
      }

      update(() => {
        const needle = val.toLowerCase();
        this.parentOptionsFiltered = this.parentOptions.filter((v) => {
          const searchable = `${v.content.title} ${v.content.text}  #${v.content.id}  @${v.creator.FN}`;
          return searchable.toLowerCase().indexOf(needle) > -1;
        });
      });
    },

    validate() {
      // console.log("validate...");
      var has_error = false;
      this.errors = {};

      if (!this.localContent) {
        return false;
      }

      if (
        !this.localContent?.type ||
        !this.contextNodeTypes.includes(this.localContent.type)
      ) {
        this.errors['type'] = 'Sie müssen ein Inhaltstyp angeben.';
        has_error = true;
      }

      if (!this.localContent?.title) {
        this.errors['text'] =
          'Bitte fügen Sie einen Titel für diesen Beitrag ein.';
        has_error = true;
      } else if (this.localContent.title.length > this.maxTitleLength) {
        this.errors[
          'title'
        ] = `Den Titel den Sie geschrieben haben ist zu lang. Er darf maximal ${this.maxTitleLength} Zeichen lang sein.`;
        has_error = true;
      }
      if (
        !this.localContent?.text &&
        !this.TYPES_WITHOUT_REQUIRED_TEXTS.includes(this.localContent.type)
      ) {
        this.errors['text'] =
          'Bitte fügen Sie einen Text für diesen Beitrag ein.';
        has_error = true;
      } else if (this.localContent.text.length > this.maxTextLength) {
        this.errors[
          'text'
        ] = `Den Text den Sie geschrieben haben ist zu lang. Er darf maximal ${this.maxTextLength} Zeichen lang sein.`;
        has_error = true;
      } else if (this.localContent.text.length < this.minTextLength) {
        this.errors[
          'text'
        ] = `Den Text den Sie geschrieben haben ist zu kurz. Er sollte mindestens ${this.minTextLength} Zeichen lang sein.`;
        has_error = true;
      }

      return !has_error;
    },

    onSubmit: function () {
      /** Save the content of the statment */
      const originalNode = this.nodeTuple?.content
        ? this.nodeTuple.content
        : null;
      if (!this.localContent || !this.contenttreeTupleReal) {
        throw 'Error happened.';
      }

      this.saveContent(
        originalNode,
        this.localContent,
        this.contenttreeTupleReal
      )
        .then((response) => {
          if (!response) {
            throw 'empty response';
          }

          // console.log('DEBUG: saveContent after => close window (334)');

          this.$emit('submit');
          this.$emit('close');
          this.onCancel();

          this.$q.notify({
            type: 'nFabrikInfo',
            message: response.reviewNeeded
              ? 'Der Antrag wurde eingereicht und wird ab sofort von anderen Teilnehmenden begutachtet.'
              : response.isAModification
                ? 'Die Änderungen wurden gespeichert.'
                : 'Der Beitrag wurde gespeichert.',
          });

          // RESET THE FORM IN 100ms
          setTimeout(() => {
            this.onCancel();
          }, 100);
        })
        .catch((error) => {
          // Error Message
          console.error(error);
          this.$q.notify({
            type: 'nFabrikError',
            message:
              'Der Beitrag konnte nicht gespeichert werden. Bitte informieren Sie die Veranstalter.',
          });
        });
    },

    onCancel() {
      this.initLocalContent();
      this.$emit('close');
      this.form?.resetValidation();
    },

    ...mapActions({
      update_content: 'contenttreestore/update_content',
    }),
  },
});
</script>

<style scoped>

</style>
