<template>
  <q-card-section vertical align="center" v-if="!content_reviewed" margin="0px" class="q-pa-sm q-ma-none cursor-pointer">
    <q-btn padding="0px" v-model="content_reviewed" :icon="buttonIcon" :color="buttonColor" size="1.4em"
      @click="submit" />
    <q-card-section class="q-pa-none q-ma-none bg-none">
      {{ buttonLabel }}
    </q-card-section>
  </q-card-section>
</template>

<script lang="ts">
import { defineComponent, computed } from 'vue';
import useContentComposable from 'src/composables/content.composable';

export default defineComponent({
  name: 'ContentManagerReview',
  props: ['nodeTuple'],
  setup(props) {
    if (!props.nodeTuple) {
      throw 'this must be an error';
    }
    // console.log('DEEEE', props.nodeTuple);
    const content_reviewed = computed(
      (): boolean => props.nodeTuple?.content?.reviewed !== false
    );
    const { saveReview } = useContentComposable();
    // const { monitorFire } = getMonitorService();

    // ...mapActions('contenttreestore', ['update_rating']),

    const submit = (): void => {
      if (content_reviewed.value === null || !props.nodeTuple) {
        throw 'this must be an error';
      }
      saveReview(!content_reviewed.value, props.nodeTuple);
    };

    // const data = {
    //   contentID: props.content.content.id,
    //   reviewed: content_reviewed.value,
    // };
    // console.log('new rating received...', content_reviewed.value);

    // console.log('new review data received...', this.content_reviewed);
    // monitorLog(constants.MONITOR_SET_CONTENT_REVIEWED, data);

    // immediatly update saliences in vuex store (=> allows to update the dynamically generated charts)
    // };

    // watch(
    //   () => props.nodeTuple,
    //   () => {
    //     if (props.nodeTuple && props.nodeTuple.progression) {
    //       progression_rating.value = props.nodeTuple.progression.rating;
    //     }
    //   },
    //   { immediate: true }
    // );

    return {
      content_reviewed,
      // monitorFire,
      submit,
    };
  },

  computed: {
    buttonIcon() {
      return this.content_reviewed ? 'mdi-check' : 'mdi-file-find-outline';
    },
    buttonColor() {
      return this.content_reviewed ? 'green' : 'yellow';
    },
    buttonLabel() {
      return this.content_reviewed ? 'Geprüft' : 'Prüfung Ausstehend';
    },
  },

  // created() {
  //   this.debouncedInitSet = debounce(this.initSet, 500);
  // },
});
</script>
