<template>
  <!-- <q-btn label="Edit" color="primary" @click="editor = true" /> -->
  <template v-if="expandedForm && typesToAddWithoutInvitedComment.length == 1">
    <component :is="ContentEditorComponent" @submit="$emit('submit', $event)" @close="closePopup()"
      :contenttreeTuple="contenttreeTuple" :discussionAddEntryLabel="discussionAddEntryLabel" :nodeTuple="nodeTuple"
      :forcedContentTypes="shownContentType" :labelText="computedLabelText" :labelTitle="computedLabelTitle"
      :ignoredContentTypes="ignoredContentTypes" :parentTuple="parentTuple"
      :hiddenElements="[...hiddenElements, 'cancel']" />
  </template>
  <template v-else>
    <!-- AS POPUPS -->
    <slot name="trigger">
      <template v-if="labelToggle">
        <q-chip icon="mdi-tooltip-plus-outline" color="primary" text-color="white" clickable @click="showPopup()">
          {{ labelToggle }}
        </q-chip>
      </template>
      <template v-if="!labelToggle">
        <q-chip v-for="type_ in typesToAddWithoutInvitedComment" :key="type_" :icon="replyButtonIcons[type_]"
          color="primary" text-color="white" clickable @click="showPopup(type_)">
          {{ buttonLabels[type_] }}
        </q-chip>
      </template>
    </slot>
    <q-dialog v-model="show">
      <component :is="ContentEditorComponent" @submit="$emit('submit', $event)" @close="closePopup()"
        :contenttreeTuple="contenttreeTuple" :nodeTuple="nodeTuple" :forcedContentTypes="shownContentType"
        :labelText="computedLabelText" :discussionAddEntryLabel="discussionAddEntryLabel"
        :labelTitle="computedLabelTitle" :ignoredContentTypes="ignoredContentTypes" :parentTuple="parentTuple"
        :hiddenElements="hiddenElements" />
    </q-dialog>
  </template>
</template>

<script lang="ts">
import { defineComponent, PropType, defineAsyncComponent, computed } from 'vue';
import { INodeTuple } from 'src/models/content';
import { IContentTreeTuple } from 'src/models/contenttree';
import { useStore } from 'vuex';

export default defineComponent({
  name: 'ContentEditorPopup',

  props: {
    // show: {
    //   type: Boolean,
    //   default: () => false,
    // },
    nodeTuple: {
      type: Object as PropType<INodeTuple>,
      default: null,
    },
    contenttreeTuple: {
      type: Object as PropType<IContentTreeTuple | null>,
      required: false,
      default: null,
    },
    parentTuple: {
      type: Object as PropType<INodeTuple | null | undefined>,
      default: undefined,
    },
    ignoredContentTypes: {
      type: Array, // Remove these content types from select-option menu.
      default: () => [],
    },
    hiddenElements: {
      type: Array,
      default: () => [],
    },
    discussionAddEntryLabel: {
      type: String,
      required: false,
      default: '',
    },
    labelClose: {
      type: String,
      default: 'Abbrechen',
    },
    labelText: {
      type: String,
      default: '',
    },
    labelToggle: {
      type: String,
      default: '',
    },
    labelSubmit: {
      type: String,
      default: 'Speichern',
    },
    typesToAdd: {
      type: Array as PropType<string[]>, // Remove these content types from select-option menu.
      default: () => [],
    },
    expandedForm: {
      type: Boolean,
      required: false,
      default: false,
    },
  },

  setup(props) {
    const store = useStore();
    const ContentEditorComponent = defineAsyncComponent(
      () =>
        import('src/pages/ContentTree/components/ContentEditorStandalone.vue')
    );

    const get_allowed_node_types_to_add =
      store.getters['contenttreestore/get_allowed_node_types_to_add'];

    const types_to_add = computed(() => {
      return get_allowed_node_types_to_add({
        contenttreeIdentifier: props.contenttreeTuple?.identifier,
        parentType: props.nodeTuple?.content?.type
          ? props.nodeTuple.content?.type
          : null,
      });
    });

    const typesToAddWithoutInvitedComment = computed(() => {
      return props.typesToAdd.filter((x) => x !== 'INVITED_COMMENT');
    });

    return {
      types_to_add,
      ContentEditorComponent,
      typesToAddWithoutInvitedComment,
    };
  },

  emits: ['submit', 'close'],
  //  'cancel',

  data() {
    return {
      show: false,
      shownContentType: null as string | null,
      buttonLabels: {} as Record<string, unknown>,
      replyButtonIcons: {} as Record<string, any>,
    };
  },
  computed: {
    computedLabelTitle() {
      if (this.shownContentType === 'QUESTION') {
        return this.$t('contenttree.add_content_title_question');
      } else if (this.shownContentType === 'ANSWER') {
        return this.$t('contenttree.add_content_title_answer');
      } else if (this.shownContentType === 'COMMENT') {
        return this.$t('contenttree.add_content_title_comment');
      } else {
        return this.$t('contenttree.add_content_title_unspecific');
      }
      //  {{ buttonLabels[type_] }}  }
    },

    computedLabelText() {
      if (this.labelText) {
        return this.labelText;
      }
      if (this.shownContentType === 'QUESTION') {
        return this.$t('contenttree.add_content_body_question');
      } else if (this.shownContentType === 'ANSWER') {
        return this.$t('contenttree.add_content_body_answer');
      } else if (this.shownContentType === 'COMMENT') {
        return this.$t('contenttree.add_content_body_comment');
      } else {
        return this.$t('contenttree.add_content_body_unspecific');
      }
      //  {{ buttonLabels[type_] }}  }
    },
  },

  methods: {
    showPopup(contentType: string | null = null) {
      this.shownContentType = contentType;
      this.show = true;
    },

    closePopup() {
      this.show = false;
      this.shownContentType = null;
    },
  },

  mounted() {
    if (!this.labelToggle) {
      this.typesToAdd.forEach((type_) => {
        if (type_ === 'QUESTION') {
          this.buttonLabels[type_] = this.$t(
            'contenttree.reply_content_question'
          );
          this.replyButtonIcons[type_] = this.$t(
            'contenttree.reply_icon_content_question'
          );
        } else if (type_ === 'ANSWER') {
          this.buttonLabels[type_] = this.$t(
            'contenttree.reply_content_answer'
          );
          this.replyButtonIcons[type_] = this.$t(
            'contenttree.reply_icon_content_answer'
          );
        } else if (type_ === 'COMMENT') {
          this.buttonLabels[type_] = this.$t(
            'contenttree.reply_content_comment'
          );
          this.replyButtonIcons[type_] = this.$t(
            'contenttree.reply_icon_content_comment'
          );
        } else if (type_ === 'PARAGRAPH') {
          this.buttonLabels[type_] = this.$t(
            'contenttree.reply_content_paragraph'
          );
          this.replyButtonIcons[type_] = this.$t(
            'contenttree.reply_icon_content_paragraph'
          );
        } else if (type_ === 'SUBSECTION') {
          this.buttonLabels[type_] = this.$t(
            'contenttree.reply_content_subsection'
          );
          this.replyButtonIcons[type_] = this.$t(
            'contenttree.reply_icon_content_subsection'
          );
        } else if (type_ === 'SECTION') {
          this.buttonLabels[type_] = this.$t(
            'contenttree.reply_content_section'
          );
          this.replyButtonIcons[type_] = this.$t(
            'contenttree.reply_icon_content_section'
          );
        } else if (type_ === 'FOLDER') {
          this.buttonLabels[type_] = this.$t(
            'contenttree.reply_content_folder'
          );
          this.replyButtonIcons[type_] = this.$t(
            'contenttree.reply_icon_content_folder'
          );
        } else {
          this.buttonLabels[type_] = this.$t(
            'contenttree.reply_content_unspecific'
          );
          this.replyButtonIcons[type_] = this.$t(
            'contenttree.reply_icon_content_question'
          );
        }
      });
    }
  },
});
</script>
