<template>
  <!-- class="q-pa-none q-ma-none" -->
  <!-- <div
    style="display:inline-block"
    class="vertical-bottom "
  > -->
  <q-card-section
    vertical
    align="center"
    margin="0px"
    class="q-pa-sm q-ma-none cursor-pointer"
  >
    <q-btn-toggle
      padding="0px"
      label="Bewertung"
      v-model="progression_rating"
      unelevated
      size="1.2em"
      @update:model-value="debouncedSubmit"
      :options="buttons"
    >
      <template
        v-for="button in buttons"
        v-slot:[button.slot]
        :key="button.value"
      >
        <q-icon :name="button.ratingicon" size="md">
          <q-tooltip>{{
            $t(`contenttree.rating.${button.tooltipNr}`)
          }}</q-tooltip>
        </q-icon>
      </template>
    </q-btn-toggle>
    <q-card-section class="text-uppercase q-pa-none q-ma-none bg-none">
      Ihre Bewertung
    </q-card-section>
  </q-card-section>
</template>

<script lang="ts">
import { defineComponent, PropType, ref, watch } from 'vue';
import { debounce } from 'quasar';
// import constants from 'src/utils/constants';
// import getMonitorService from 'src/composables/monitor.composable';
import { INodeTuple } from 'src/models/content';
import useContentComposable from 'src/composables/content.composable';
import { getMonitorService } from 'src/services/index';
// import { useStore } from 'vuex';

export default defineComponent({
  name: 'ContentRatingSmilies',
  props: {
    nodeTuple: { type: Object as PropType<INodeTuple> },
  },
  setup(props) {
    // const store = useStore();
    const { saveRating } = useContentComposable();
    const progression_rating = ref<number | null>(null);

    const { monitorLog } = getMonitorService();
    // ...mapActions('contenttreestore', ['update_rating']),

    const submit = (): void => {
      if (progression_rating.value === null || !props.nodeTuple) {
        throw 'this must be an error';
      }
      // immediatly update saliences in vuex store (=> allows to update the dynamically generated charts)
      saveRating(progression_rating.value, props.nodeTuple);
    };

    const debouncedSubmit = debounce(submit, 1200);

    watch(
      () => props.nodeTuple,
      () => {
        if (props.nodeTuple && props.nodeTuple.progression) {
          progression_rating.value = props.nodeTuple.progression.rating;
        }
      },
      { immediate: true }
    );

    return {
      progression_rating,
      monitorLog,
      submit,
      debouncedSubmit,
    };
  },
  data() {
    return {
      // TODO: do we need zero as starting value?

      buttons: [
        {
          value: 0,
          slot: 'one',
          toggleColor: 'red',
          textColor: 'grey-7',
          ratingicon: 'mdi-emoticon-sad-outline',
          tooltipNr: 1,
        },
        {
          value: 50,
          slot: 'two',
          toggleColor: 'orange',
          textColor: 'grey-7',
          ratingicon: 'mdi-emoticon-neutral-outline',
          tooltipNr: 2,
        },
        {
          value: 100,
          slot: 'three',
          toggleColor: 'green',
          textColor: 'grey-7',
          ratingicon: 'mdi-emoticon-happy-outline',
          tooltipNr: 3,
        },
      ],
    };
  },

  computed: {
    noneResponse() {
      return typeof this.progression_rating !== 'number';
    },
  },
});
</script>
