<template>
  <q-card flat square @click.stop @keypress.stop class="full-width q-pa-none q-ma-none" :class="[
    node?.creator.ROLE === 'EXPERT'
      ? bgExpert
      : node?.creator.ROLE === 'MODERATION'
        ? bgModeration
        : '',
    isHover ? 'styleHover' : 'bg-none',
    isRealExpanded ? 'expanded' : 'collapsed',
    !isRealExpanded ? 'cursor-pointer' : 'cursor-default',
  ]" @click="toggleExpand()">
    <!-- || !isSelected -->
    <!-- node?.creator.ROLE === 'EXPERT' ? 'fromExpert' : '', -->
    <!-- isSelected ? `${bgSelected}` : 'bg-none', -->
    <q-card-section v-if="node" class="q-ma-none q-pa-none">
      <div class="row items-center no-wrap">
        <div class="col">
          <!-- SHOW USER INFOS FOR PRIVATE CONTENT -->
          <span v-if="node.content?.private_property">
            <template v-if="node.content?.type === 'QUESTION'">
              <!-- <q-icon name="mdi-map-marker-question-outline"></q-icon> -->
              <q-avatar color="grey-6" text-color="white" class="q-mr-sm" :icon="ICONS[node.content.type]"></q-avatar>
              <span style="font-size: 1.2em">Frage ans Expertenteam </span>

              <!-- <b>Frage ans Expertenteam</b> -->
              <i>von {{ node.creator.U }}</i>
            </template>
            <template v-else-if="node.content?.type === 'ANSWER'">
              <!-- <q-icon name="mdi-map-marker-question-outline"></q-icon> -->
              <q-avatar color="grey-6" text-color="white" class="q-mr-sm" :icon="ICONS[node.content.type]"></q-avatar>
              <!-- customUsername="Expertenteam" -->

              <span style="font-size: 1.2em">Antwort vom Expertenteam</span>

              <!-- <i
                >eingegeben von {{ node.creator.U }}</i
              > -->
            </template>
            <template v-else>
              <UserAvatar v-if="node.creator" :profile="node.creator"></UserAvatar>
            </template>

            {{
              node.nof_descendants
              ? `(${node.nof_descendants})`
              : '(0 Replies)'
            }}<br />

            <!-- transparent -->
            <q-badge color="blue" style="left: 17px; top: -3px" class="absolute" v-if="!isRead">
              <!-- EXPANDABLE-ALL: v-if="isExpanded !== false" -->

              <q-tooltip>Dieser Beitrag haben Sie bisher noch nicht gelesen.</q-tooltip>
              Neu
            </q-badge>

            <!-- <br /> -->

            <span class="text-subtitle">
              <!-- <q-icon :name="ICONS[node.content.type]"></q-icon> -->
              {{ node.content.title }}</span>
          </span>

          <span v-else class="text-h5 q-pt-sm q-pl-none">
            <q-chip v-if="node.content?.type">
              <q-avatar color="grey" text-color="white">
                <q-icon :name="ICONS[node.content?.type]"></q-icon>
              </q-avatar>
              {{ TYPE_LABELS[node.content?.type] }}
            </q-chip>

            <span v-if="node.content?.type == 'UPDATEPROPOSAL'">
              <!-- <q-icon :name="ICONS[node.content.type]"></q-icon> -->
              vom {{ formatDate_node_content_date_created }}
              {{ node.nof_descendants ? `(${node.nof_descendants})` : '' }}
            </span>
            <span v-else>
              <!-- <q-icon :name="ICONS[node.content.type]"></q-icon> -->
              {{ node.content?.title }}
              {{ node.nof_descendants ? ` (${node.nof_descendants})` : '' }}
            </span>
          </span>

          <q-badge color="purple" v-if="node.content?.disabled" size="lg" style="position: relative; top: -1em">
            <q-tooltip>Dieser Beitrag wurde gelöscht. Er ist nur noch heute hier
              sichtbar.</q-tooltip>
            Gelöscht
          </q-badge>
          <q-badge color="grey" v-if="node.content?.rejected" size="lg" style="position: relative; top: -1em">
            <q-tooltip>Dieser Beitrag wurde in einem Gutachten abgelehnt. Er ist nur
              noch heute hier sichtbar.</q-tooltip>
            Abgelehnt
          </q-badge>
          <br />
        </div>

        <div class="col-auto vertical-top" v-if="node.content">
          <span v-if="IsManager"> #{{ node.content?.id }} | </span>
          <span class="q-mr-xs" v-if="node?.nof_descendants">
            <span v-if="$q.screen.gt.sm">
              {{ isExpanded ? 'Zuklappen' : 'Mehr anzeigen' }}
            </span>

            <q-icon right size="md" class="q-pa-none q-ma-none"
              :name="isExpanded ? 'mdi-chevron-up' : 'mdi-chevron-down'" />
            <!-- :name="isExpanded ? 'mdi-unfold-less-horizontal' : 'mdi-unfold-more-horizontal'" -->
            <q-tooltip v-if="!isExpanded">Klicken Sie hier, um diesen Beitrag vollständig
              anzuzeigen.</q-tooltip>
            <q-tooltip v-if="isExpanded">Klicken Sie hier um diesen Diskussionsast zu
              schliessen.</q-tooltip>
          </span>
        </div>
      </div>
    </q-card-section>
  </q-card>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue';
import { mapGetters } from 'vuex';
import UserAvatar from 'src/pages/components/UserAvatar.vue';
import constants from 'src/utils/constants';
// import { INodeTuple } from 'src/models/content';
import { ITreeNodeTuple } from 'src/models/contenttree';

export default defineComponent({
  // setup() {},
  name: 'ContentTreeQTreeHead',
  props: {
    node: {
      type: Object as PropType<ITreeNodeTuple>,
      required: true,
    },
    is_currently_expanded: {
      type: Function as PropType<(node: ITreeNodeTuple) => boolean | null>,
      required: true,
    },
    isSelected: {
      type: Boolean,
      required: true,
    },
    isHover: {
      type: Boolean,
      required: false,
    },

    bgSelected: {
      type: String,
      default: 'bg-grey-2',
    },

    bgModeration: {
      type: String,
      default: 'bg-grey-2',
    },
    bgExpert: {
      type: String,
      default: 'bg-grey-3',
    },

    // highlightedNode: { type: Boolean },
  },
  components: {
    UserAvatar,
  },
  // inject: ['toggle_node', 'is_currently_expanded', 'isRead'],
  data() {
    return {
      ICONS: constants.ICONS,
      TYPE_LABELS: constants.TYPE_LABELS,
    };
  },
  emits: ['is-currently-expanded', 'popup-content-form', 'toggle-node'],
  computed: {
    formatDate_node_content_date_created(): string {
      return this.$filters.formatDate(this.node?.content?.date_created);
    },
    isExpanded() {
      return this.is_currently_expanded(this.node);
    },
    // TODO: expanded is handled in parent qtree object...
    isRealExpanded(): boolean {
      const response = this.isExpanded || !this.node.nof_descendants;
      if (response && !this.isExpanded) {
        this.$emit('toggle-node', this.node);
      }
      return response;
    },

    isRead() {
      if (!this.IsAuthenticated) {
        return true
      }

      return this.node?.progression?.read;
    },

    headColor() {
      return 'grey-6';
    },

    ...mapGetters('assemblystore', ['IsManager', 'IsAuthenticated']),
  },

  methods: {
    toggleExpand(force = true) {
      if (!this.node?.nof_descendants) {
        // do not expand death ends..
        return;
      }
      if (!this.isExpanded || force) {
        this.$emit('toggle-node', this.node);
      }
    },
    popup_edit() {
      if (this.node) {
        this.$emit('popup-content-form', {
          action: 'edit',
          content: this.node.content,
        });
      } else {
        console.error('Error: content node not loaded');
      }
    },
  },

  // mounted() {
  //   console.log('head', this.node?.content?.id, this.node?.content?.title);
  // },
});
</script>

<style scoped lang="scss">
@import 'src/css/quasar.variables.scss';

.text-subtitle {
  margin-left: 7px;
  font-weight: bold;
  display: inline-block;
}

// fromExpert.text-subtitle {
//   font-weight: bold;
// }

.q-card.collapsed {
  margin-bottom: 1em;
}

.backToDefault {
  background-color: $primary-light !important;
  transition: background 1s ease;
}
</style>
