<template>
  <!-- v-if="nodeTuple && isParentExpanded" -->
  <q-card flat style="width: 100%" square :class="[
    nodeTuple?.creator.ROLE === 'EXPERT'
      ? bgExpert
      : nodeTuple?.creator.ROLE === 'MODERATION'
        ? bgModeration
        : '',
    isHover ? 'styleHover' : 'bg-none',
  ]">
    <!-- :class="isSelected ? nodeTuple : 'bg-none'" -->
    <q-card-section v-if="nodeTuple.content?.type === 'UPDATEPROPOSAL'">
      <i>{{ nodeTuple.creator.U }} schlug vor den Beitrag folgendermassen
        abzuändern:</i>
      <br />
      <div class="q-ma-md">
        <p class="text-notification" v-if="nodeTuple.content?.title !== '@NOCHANGE@'">
          {{ nodeTuple.content?.title }}
        </p>
        <template v-if="
          nodeTuple.content?.text && nodeTuple.content?.text !== '@NOCHANGE@'
        ">
          {{ nodeTuple.content?.text }}
        </template>
      </div>
    </q-card-section>

    <!-- <q-card-section horizontal v-else> -->
    <q-card-section class="tree-text-body" v-else>
      <div v-text="nodeTuple.content?.text" />
    </q-card-section>

    <ContentToolbar :nodeTuple="nodeTuple" :limitForAddingCommentsReached="limitForAddingCommentsReached" />
  </q-card>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue';
import ContentToolbar from './ContentToolbar.vue';
import { ITreeNodeTuple } from 'src/models/contenttree';

export default defineComponent({
  name: 'ContentTreeQTreeBody',
  props: {
    nodeTuple: {
      type: Object as PropType<ITreeNodeTuple>,
      required: true,
    },
    limitForAddingCommentsReached: {
      type: Boolean,
      required: false,
    },
    is_currently_expanded: {
      type: Function as PropType<
        (nodeTuple: ITreeNodeTuple | number) => boolean | null
      >,
      required: true,
    },

    isSelected: {
      type: Boolean,
      required: true,
    },
    isHover: {
      type: Boolean,
      required: false,
    },

    bgSelected: {
      type: String,
      default: 'bg-grey-2',
    },

    bgExpert: {
      type: String,
      default: 'bg-grey-2',
    },
    bgModeration: {
      type: String,
      default: 'bg-grey-2',
    },
  },
  setup() {
    return {};
  },
  components: {
    ContentToolbar,
  },
  computed: {
    // isExpanded() {
    //   if (!this.nodeTuple) {
    //     throw 'nodeTuple not loaded..';
    //   }
    //   return this.is_currently_expanded(this.nodeTuple);
    // },

    // realIsParentExpanded() {
    //   if (!this.nodeTuple) {
    //     throw 'nodeTuple not loaded..';
    //   }

    //   if (!this.nodeTuple?.content?.parent_id) {
    //     return true; // no parent = parent expanded
    //   }

    //   return this.is_currently_expanded(this.nodeTuple?.content?.parent_id);
    // },

    // isParentExpanded() {
    //   if (this.realIsParentExpanded) {
    //     return true;
    //   }

    //   // Root Objects
    //   return this.isExpanded;
    // },

    isRead() {
      return this.nodeTuple?.progression?.read;
    },
  },
  emits: ['popup-content-form'],
  // mounted() {
  //   console.log(
  //     'body',
  //     this.nodeTuple?.content?.id,
  //     this.nodeTuple?.content?.title
  //   );
  // },
});
</script>

<style scoped>
/* .text-container {
  padding-top: 0px;
} */

.tree-text-body {
  padding-top: 0px;
  padding-left: 8px;
}
</style>
