<template>
  <q-card-actions align="right" horizontal>
    <!-- EDIT -->

    <template v-if="ContentResponseComponentLoader && nodeTuple">
      <component :is="ContentResponseComponentLoader" :nodeTuple="nodeTuple" />
    </template>
    <ContentEditorPopup v-if="nodeTuple?.content?.acl.includes('modify') ||
      nodeTuple?.content?.acl.includes('propose_modify')
      " ref="showContentEditorPopup" :nodeTuple="nodeTuple" :labelText="nodeTuple?.content?.acl.includes('propose_modify')
      ? 'Änderung Beantragen'
      : 'Ändern'
    " :ignoredContentTypes="['INVITED_COMMENT']">
      <template v-slot:trigger>
        <!-- MODIFY -->
        <q-btn align="around" stack flat @click="showEditorPopup('showContentEditorPopup')"
          v-if="nodeTuple?.content?.acl.includes('modify')" dense :label="nodeTuple?.content?.acl.includes('modify')
              ? 'Ändern'
              : 'Änderung Beantragen'
            " icon="mdi-playlist-edit" />
      </template>
    </ContentEditorPopup>

    <!-- :labelToggle="$t('contenttree.add_comment_or_question')" -->
    <ContentEditorPopup :parentTuple="nodeTuple" ref="showContentReplyPopup" v-if="!limitForAddingCommentsReached"
      labelText="Haupttext" :ignoredContentTypes="['INVITED_COMMENT']">
      <template v-slot:trigger>
        <template v-if="nodeTuple?.content?.acl.includes('append') &&
          allowedNodeTypesToAdd &&
          allowedNodeTypesToAdd.length > 0
          ">
          <!-- icon="mdi-tooltip-plus-outline" -->
          <q-btn v-for="type_ in allowedNodeTypesToAdd" :key="type_" :icon="replyButtonIcons[type_]" dense flat stack
            clickable @click="showEditorPopup('showContentReplyPopup', type_)">
            {{ buttonLabels[type_] }}
          </q-btn>
        </template>
      </template>
    </ContentEditorPopup>

    <q-btn :id="`dialogTriggerInfo${nodeTuple?.content?.id}`"
      v-if="!hideInfoButton && nodeTuple?.content?.acl.includes('observe')"
      @click="showBackground(`${nodeTuple?.content?.id}`)" dense flat stack label="Info" icon="mdi-information-outline" />
  </q-card-actions>
</template>

<script lang="ts">
import { defineComponent, PropType, shallowRef, computed } from 'vue';
import { mapActions, mapGetters, useStore } from 'vuex';
import ContentEditorPopup from 'src/pages/ContentTree/components/ContentEditorPopup.vue';
import { INodeTuple } from 'src/models/content';
import useEmitter from 'src/utils/emitter';
const emitter = useEmitter();
import { IDialog } from 'src/models/layout';

export default defineComponent({
  name: 'ContentToolbar',
  props: {
    hideInfoButton: { type: Boolean, default: false },
    nodeTuple: { type: Object as PropType<INodeTuple> },
    limitForAddingCommentsReached: { type: Boolean, default: () => false },
  },
  components: {
    ContentEditorPopup,
  },
  emits: ['open-dialog'],
  setup(props) {
    const store = useStore();
    const get_allowed_node_types_to_add =
      store.getters['contenttreestore/get_allowed_node_types_to_add'];
    const ContentResponseComponentLoader = shallowRef<any>('');
    if (
      props.nodeTuple?.content?.acl.includes('manage') &&
      props.nodeTuple.content.private_property
    ) {
      import('src/pages/ContentTree/components/ContentManagerReview.vue').then(
        (val) => {
          ContentResponseComponentLoader.value = val.default;
        }
      );
    } else if (
      props.nodeTuple?.content?.acl.includes('rating') &&
      props.nodeTuple.content.private_property
    ) {
      import('src/pages/ContentTree/components/ContentRatingSmilies.vue').then(
        (val) => {
          ContentResponseComponentLoader.value = val.default;
        }
      );
    }

    const allowedNodeTypesToAdd = computed((): string[] | undefined => {
      if (!props.nodeTuple?.content?.contenttree_identifier) {
        return undefined;
      }

      return get_allowed_node_types_to_add({
        contenttreeIdentifier: props.nodeTuple.content.contenttree_identifier,
        parentType: props.nodeTuple.content.type,
      });
    });

    return { ContentResponseComponentLoader, allowedNodeTypesToAdd };
  },

  data() {
    return {
      prompt: true,
      // TODO: what is that for?
      confirm_deletion: false,
      confirm_deletion_content: null,
      confirm_deletion_justification: '',
      confirm_deletion_justification_error: false,
      confirm_deletion_justification_error_message: '',
      replyButtonIcons: {} as Record<string, any>,
      buttonLabels: {} as Record<string, unknown>,
      // track_changes: this.nodeTuple?.progression
      //   ? this.nodeTuple.progression?.track_changes
      //   : false,
    };
  },

  computed: {
    // track_changes_icon: function () {
    //   return this.track_changes
    //     ? 'mdi-bookmark-remove'
    //     : 'mdi-bookmark-plus-outline';
    // },
    // track_changes_color: function () {
    //   return this.track_changes ? 'brown-9' : 'grey-6';
    // },

    ...mapGetters('assemblystore', [
      'IsDelegate',
      'IsExpert',
      'IsContributor',
      'IsObserver',
      'IsManager',
    ]),
  },

  methods: {
    showReplyPopup() {
      this.$refs.content_editor;
    },

    showEditorPopup(refKey, type_) {
      const popup = this.$refs[refKey];
      if (!popup) {
        throw 'invliad popup key';
      }
      (popup as any).showPopup(type_);
    },

    showBackground(elId: string | undefined = undefined) {
      if (
        !this.nodeTuple?.content?.id ||
        !this.nodeTuple.content.contenttree_identifier
      ) {
        throw 'error: no tuple id or identifier found....';
      }

      emitter.emit('showDialog', {
        type: 'content',
        id: this.nodeTuple.content.id,
        contenttreeIdentifier: this.nodeTuple.content.contenttree_identifier,
        triggerElementId: elId,
      } as IDialog);
    },
    deletePrompt(content) {
      var message =
        'This is private property. If you want, you can delete it. However, please provide a short justification.';
      if (content.common_property) {
        message =
          'This is common property. You can submit a Proposal to delete this entry. However, provide a short justification, why do you think deletion is appropriate.';
      }

      this.$q
        .dialog({
          title: content.common_property
            ? this.$t('contenttree.toolbar.submit_delete_proposal')
            : this.$t('contenttree.toolbar.delete'),
          message,
          prompt: {
            model: '',
            isValid: (val) => val.length > 3, // << here is the magic
            type: 'text', // optional
          },
          cancel: true,
          persistent: true,
        })
        .onOk(() => {
          alert('DELETE ENTRY METHOD DOES NOT EXIST..908.');
          // console.log(data, 'object to delete?');
          // this.deleteEntry(content, data);
        });
    },

    validateConfirmDeletion() {
      var has_error = false;
      this.confirm_deletion_justification_error_message = '';
      this.confirm_deletion_justification_error = false;

      if (
        !this.confirm_deletion_justification ||
        this.confirm_deletion_justification.length < 5
      ) {
        this.confirm_deletion_justification_error = true;
        this.confirm_deletion_justification_error_message =
          'Please indicate why you want to delete this entry. What is wrong with it?';
        has_error = true;
      }

      return !has_error;
    },

    ...mapActions({
      add_or_update_contenttree: 'contenttreestore/add_or_update_contenttree',
    }),
  },

  mounted() {
    if (!this.allowedNodeTypesToAdd) {
      throw 'allowedNodeTypesToAdd not yet loaded...';
    }

    this.allowedNodeTypesToAdd.forEach((type_) => {
      if (type_ === 'QUESTION') {
        this.buttonLabels[type_] = this.$t(
          'contenttree.reply_content_question'
        );
        this.replyButtonIcons[type_] = this.$t(
          'contenttree.reply_icon_content_question'
        );
      } else if (type_ === 'ANSWER') {
        this.buttonLabels[type_] = this.$t('contenttree.reply_content_answer');
        this.replyButtonIcons[type_] = this.$t(
          'contenttree.reply_icon_content_answer'
        );
      } else if (type_ === 'COMMENT') {
        this.buttonLabels[type_] = this.$t('contenttree.reply_content_comment');
        this.replyButtonIcons[type_] = this.$t(
          'contenttree.reply_icon_content_comment'
        );
      } else if (type_ === 'PARAGRAPH') {
        this.buttonLabels[type_] = this.$t(
          'contenttree.reply_content_paragraph'
        );
        this.replyButtonIcons[type_] = this.$t(
          'contenttree.reply_icon_content_paragraph'
        );
      } else if (type_ === 'SUBSECTION') {
        this.buttonLabels[type_] = this.$t(
          'contenttree.reply_content_subsection'
        );
        this.replyButtonIcons[type_] = this.$t(
          'contenttree.reply_icon_content_subsection'
        );
      } else if (type_ === 'SECTION') {
        this.buttonLabels[type_] = this.$t('contenttree.reply_content_section');
        this.replyButtonIcons[type_] = this.$t(
          'contenttree.reply_icon_content_section'
        );
      } else if (type_ === 'FOLDER') {
        this.buttonLabels[type_] = this.$t('contenttree.reply_content_folder');
        this.replyButtonIcons[type_] = this.$t(
          'contenttree.reply_icon_content_folder'
        );
      }
      else {
        // console.log(type_, 'ddddddddddddddddddd')
        this.buttonLabels[type_] = this.$t(
          'contenttree.reply_content_unspecific'
        );
        this.replyButtonIcons[type_] = this.$t(
          'contenttree.reply_icon_content_question'
        );
      }
    });
  },
});
</script>
