<template>
  <template v-if="tree">
    <a :name="`CONTENTTREE${contenttreeTuple.id}CONTENT${tree.id ? tree.id : ''
      }`" />

    <ArtificialModerationComponent v-if="amEnabled" :AM="
      customAMGroup
        ? customAMGroup
        : [AMs.indexTopBasic, AMs.indexTopBasicDefaultExtension]
    " :alignment="amPosition" :role="amRole" :amGroup="amGroup" v-on:am-change="$emit('am-index-change', $event)"
      :ctx="this" />
    <div align="right" class="q-px-sm">
      <span :class="{ 'bg-blue-1': temporaryHighlightedBackground }">
        <q-btn v-if="tree && !alwaysExpanded && discussionBlockLabel" flat align="right" @click="toggleDiscussion"
          text-color="grey-7" :class="[show_discussion ? 'bg-grey-1' : '']"
          :icon="show_discussion ? 'mdi-comment' : 'mdi-comment-outline'" size="md">
          <q-badge v-if="tree.nof_descendants_unread" color="red" floating>{{ tree.nof_descendants_unread }}
            Ungelesen</q-badge>
          <q-tooltip v-if="!show_discussion" anchor="top left" self="bottom left">{{
            $t('contenttree.comment_section_tooltip')
          }}</q-tooltip>
          <q-tooltip v-if="show_discussion" anchor="top left" self="bottom left">{{
            $t('contenttree.close_comment_section_tooltip')
          }}</q-tooltip>
          &nbsp;{{ discussionBlockLabel }}
          }}
          {{
            tree.nof_descendants && discussionBlockLabel
            ? `(${tree.nof_descendants} Beiträge)`
            : ''
          }}
        </q-btn>
      </span>
    </div>

    <div v-if="show_discussion" class="q-px-sm">
      <!-- FILTER PANEL -->
      <q-chip clickable color="primary" text-color="white" v-if="!expanded_filter && tree.nof_descendants > 0"
        @click="expanded_filter = !expanded_filter" align="right" class="q-mr-md float-right" icon="mdi-feature-search">
        {{ $t('contenttree.search_button') }}
      </q-chip>

      <div v-if="tree?.children">
        <div v-if="
          tree.nof_descendants && !hideNofEntriesText && discussionBlockLabel
        " class="text-subtitle1 q-mt-lg">
          {{ discussionBlockLabel }}

          ({{
            $t(
              'contenttree.text_nof_descendants',
              {
                nofDescendants: tree.nof_descendants
              },
              tree.nof_descendants
            )
          }})
        </div>
        <div v-if="discussionBlockIntroComputed">
          {{ discussionBlockIntroComputed }}
        </div>
      </div>

      <q-toolbar inset v-if="tree.nof_descendants > 0 && expanded_filter" class="bg-grey-3 q-my-md">
        <q-toolbar-title :shrink="true">Suche</q-toolbar-title>

        <q-space />

        <!-- <span style="display: inline-block"> -->
        <q-checkbox v-model="treeFilter.own" label="Eigene" />
        <q-checkbox v-model="treeFilter.new" label="Neu" />
        <q-checkbox v-if="IsManager" v-model="treeFilter.unreviewed" label="Ungeprüft" />

        <q-input style="width: 250px; display: inline-block" dense class="q-mx-md" ref="treeFilterInput"
          v-model="treeFilter.text" :label="$t('contenttree.search_field_label')">
        </q-input>

        <q-space />
        <q-btn flat round @click="expanded_filter = !expanded_filter" dense icon="mdi-close" class="q-mr-sm" />
      </q-toolbar>

      <!-- AFTER LOADING -->
      <div v-if="tree?.children">
        <div>
          <div class="q-my-lg text-notification" v-if="
            limitForAddingCommentsReached && dailyContributionLimits?.current
          ">
            Hinweis: Sie haben heute schon
            {{ dailyContributionLimits.current }} Beiträge geschrieben. Damit
            haben Sie die Tageslimite erreicht. Ab morgen früh können Sie wieder
            neue Kommentare schreiben.
          </div>
        </div>
        <!-- -- {{ tree?.children[0].content.title }} -- -->
        <q-tree ref="qtree" :nodes="tree.children" :expandable="false" node-key="key" :dense="true"
          v-model:expanded="expanded" @update:expanded="updateExpanded" filter="custom" color="teal-10"
          style="clear: both; margin-top: 10px" :filter-method="treeFilterMethod" :no-results-label="
            tree.children.length
              ? $t('contenttree.no_filter_results')
              : hideNoEntryText
                ? ' '
                : computedHideNoEntryText
          ">
          <template v-slot:default-header="prop">
            <a :name="`NODE${prop.node.id}`" />
            <!-- duration="0" -->
            <ContentTreeQTreeHead v-if="
              prop.node.content &&
              (prop.node.content?.parent_id ===
                (tree?.content?.id ? tree?.content?.id : null) ||
                (expanded &&
                  expanded.includes(`${prop.node.content.parent_id}`)))
            " :node="prop.node" :isSelected="prop.node.id === selectedNodeTuple?.id"
              v-on:toggle-node="toggle_node($event)" :bgSelected="bgSelected" @click="selectNodeTuple(prop.node)"
              :is_currently_expanded="is_currently_expanded" />
          </template>
          <!-- v-on:popup_content_form="
                popup_content_form($event.action, $event.content)
              " -->

          <!-- :is-expanded-node="false"
              :is-read-node="false" -->
          <template v-slot:default-body="prop">
            <ContentTreeQTreeBody v-if="
              // false &&
              prop.node.content &&
              (prop.node.content.parent_id ===
                (tree?.content?.id ? tree?.content?.id : null) ||
                (expanded &&
                  expanded.includes(`${prop.node.content.parent_id}`) &&
                  expanded.includes(`${prop.node.id}`)))
            " :nodeTuple="prop.node" @click="selectNodeTuple(prop.node)" :bgSelected="bgSelected"
              :isSelected="prop.node.id === selectedNodeTuple?.id" :is_currently_expanded="is_currently_expanded"
              :limitForAddingCommentsReached="limitForAddingCommentsReached" />
          </template>
        </q-tree>

        <br /><br />
        <div class="full-width">
          <!-- class="bg-accent" -->

          <template v-if="
            allowAddingToRootLevel &&
            !limitForAddingCommentsReached &&
            types_to_add_on_root_level.length > 0
          ">

            <ContentEditorPopup :contenttreeTuple="contenttreeTuple" :parentTuple="tree"
              :discussionAddEntryLabel="discussionAddEntryLabel" :expandedForm="expandAddFormAtRootLevel"
              :typesToAdd="types_to_add_on_root_level" :ignoredContentTypes="['INVITED_COMMENT']" />

          </template>

          <q-chip :clickable="expanded && expanded.length > 0" @click="expand_none_and_scroll"
            :disabled="disabledExpandNoneChip" v-if="!alwaysExpanded" align="right" icon="mdi-collapse-all">
            {{ $t('contenttree.collapse_all') }}
          </q-chip>

          <!-- <slot name="actions"></slot> -->
          <q-chip v-if="!alwaysExpanded" clickable @click="closeDiscussion(true)" align="right" icon="mdi-close">
            {{ $t('contenttree.close_comment_section') }}
          </q-chip>

          <q-chip v-if="!alwaysExpanded" :clickable="expanded && expanded.length > 0" @click="expand_none"
            :disabled="expanded && expanded.length == 0" align="right" icon="mdi-unfold-less-horizontal">
            <!-- icon="mdi-collapse-all" -->
            {{ $t('contenttree.collapse_all') }}
          </q-chip>

          <!-- Disclaimer -->
          <span v-if="
            tree?.nof_descendants !== null &&
            tree?.nof_descendants !== undefined &&
            tree?.nof_descendants > 1
          ">
            <AlgorithmDisclaimer v-if="disclaimerText" :text="`${disclaimerText}`" />
          </span>
        </div>
      </div>

      <!-- DURING LOADING -->
      <div v-else>
        <q-spinner-rings color="primary" size="2em" />
        <q-tooltip :offset="[0, 8]">Bitte warten. Die Daten werden geladen.</q-tooltip>
      </div>
    </div>
    <br />
    <br />
    <br />
  </template>
</template>

<script lang="ts">
import { defineComponent, PropType, computed, defineAsyncComponent } from 'vue';
import AlgorithmDisclaimer from 'src/pages/components/AlgorithmDisclaimer.vue';
import { mapGetters, useStore } from 'vuex';
import ContentTreeQTreeHead from './ContentTreeQTreeHead.vue';
import ArtificialModerationComponent from 'src/pages/components/artificial_moderation/ArtificialModeration.vue';
import ContentTreeQTreeBody from './ContentTreeQTreeBody.vue';
import ContentEditorPopup from 'src/pages/ContentTree/components/ContentEditorPopup.vue';
import AMs from '../ArtificialModeration';
import { getAssemblyService } from 'src/services/index';
import useQtreeComposable from 'src/composables/qtree.composable';
import library from 'src/utils/library';
import { getAppService } from 'src/services/index';
import useContentComposable from 'src/composables/content.composable';
import { INodeTuple } from 'src/models/content';
import { IContentTreeTuple } from 'src/models/contenttree';
import { getMonitorService } from 'src/services/index';
import constants from 'src/utils/constants';
import { IArtificialModerationGroup } from 'src/pages/components/artificial_moderation/model';
import { IAssemblyUser } from 'src/models/assembly';
const { pushSorted, scrollToAnchor } = library;

export default defineComponent({
  name: 'ContentTree',
  emits: ['loaded', 'am-index-change'],

  props: {
    contenttreeTuple: {
      type: Object as PropType<IContentTreeTuple>,
      default: null,
    },
    alternativeRootNode: {
      type: Object as PropType<INodeTuple | null>,
      required: false,
      default: null,
    },
    customAMGroup: {
      type: Object as PropType<IArtificialModerationGroup>,
      required: false,
      default: null,
    },
    hideNoEntryText: {
      type: Boolean,
      required: false,
      default: false,
    },
    customHideNoEntryText: {
      type: String,
      required: false,
      default: '',
    },
    hideNofEntriesText: {
      type: Boolean,
      required: false,
      default: false,
    },
    allowAddingToRootLevel: {
      type: Boolean,
      required: false,
      default: true,
    },
    expandAddFormAtRootLevel: {
      type: Boolean,
      required: false,
      default: false,
    },
    alwaysExpanded: {
      type: Boolean,
      required: false,
      default: false,
    },
    discussionBlockIntro: {
      type: String,
      required: false,
      default: null,
    },
    showExpandCollapseButtons: {
      type: Boolean,
      required: false,
      default: true,
    },
    discussionBlockLabel: {
      type: String,
      required: false,
      default: '',
    },
    discussionAddEntryLabel: {
      type: String,
      required: false,
      default: '',
    },
    customDisclaimerText: {
      type: String,
      required: false,
      default: '',
    },
    initialFocusNode: {
      type: Object as PropType<INodeTuple>,
      required: false,
      default: null,
    },
    amEnabled: {
      type: Boolean,
      required: false,
      default: true,
    },
    amGroup: {
      type: String,
      required: false,
      default: null,
    },
    amRole: {
      type: Number,
      required: false,
      default: 1,
    },
    doNotExpandNodesAtInitialization: {
      type: Boolean,
      required: false,
      default: false,
    },
    amPosition: {
      type: String as PropType<'left' | 'center' | 'right'>,
      required: false,
      default: 'left',
    },
    accordion: {
      type: Boolean,
      required: false,
      default: false,
    }, // bool. Note: Default qtree accoridion does not work here
    dense: {
      type: Boolean,
      required: false,
      default: false,
    },
    bgSelected: {
      type: String,
      default: 'bg-grey-2',
    },
    filterTypes: {
      default: () => null,
      type: Array as PropType<string[]>,
    },
  },

  setup(props) {
    // console.log('tree 0', new Date());

    const ContentEditorComponent = defineAsyncComponent(
      () =>
        import('src/pages/ContentTree/components/ContentEditorStandalone.vue')
    );

    const store = useStore();
    const profile = computed((): IAssemblyUser => {
      return store.state.profilestore?.profile?.user;
    });
    const { monitorLog } = getMonitorService();
    const { headerOffset } = getAppService();
    const { isRead, isAlerted } = useContentComposable();
    const { getDailyContributionLimits, limitForAddingCommentsReached } =
      getAssemblyService();
    const {
      treeFilter,
      tree,
      expanded,
      is_currently_expanded,
      focus_on_branch,
      highlightedNodeID,
      updateExpanded,
      expand_none,
      expanded_filter,
      treeFilterMethod,
      toggle_node,
      selectedNodeTuple,
      flatEntries,
      selectNodeTuple,
      animationDuration,
    } = useQtreeComposable(
      props.contenttreeTuple,
      props.alternativeRootNode,
      props.filterTypes,
      props.doNotExpandNodesAtInitialization,
      props.accordion
    );

    const get_allowed_node_types_to_add =
      store.getters['contenttreestore/get_allowed_node_types_to_add'];

    const types_to_add_on_root_level = computed(() => {
      return get_allowed_node_types_to_add({
        contenttreeIdentifier: props.contenttreeTuple?.identifier,
        parentType: props.alternativeRootNode?.content?.type
          ? props.alternativeRootNode.content.type
          : null,
      });
    });


    return {
      tree,
      profile,
      types_to_add_on_root_level,
      // types_to_add_on_root_level_without_invited_comment,
      selectedNodeTuple,
      selectNodeTuple,
      scrollToAnchor,
      headerOffset,
      pushSorted,
      monitorLog,
      isAlerted,
      isRead,
      getDailyContributionLimits,
      expanded,
      treeFilter,
      focus_on_branch,
      toggle_node,
      flatEntries,
      expanded_filter,
      treeFilterMethod,
      expand_none,
      is_currently_expanded,
      highlightedNodeID,
      updateExpanded,
      animationDuration,
      limitForAddingCommentsReached,
      ContentEditorComponent,
    };
  },

  components: {
    ArtificialModerationComponent,
    AlgorithmDisclaimer,
    ContentTreeQTreeHead,
    ContentTreeQTreeBody,
    ContentEditorPopup,
  },

  data() {
    return {
      AMs,
      show_discussion: false,
      temporaryHighlightedBackground: false,
    };
  },

  computed: {
    disabledExpandNoneChip(): boolean | null {
      if (!this.tree) {
        return null;
      }
      const disabled = this.expanded && this.expanded.length == 0;
      return disabled ? true : null;
    },

    isExpandedNode(): boolean | null {
      if (!this.tree) {
        return null;
      }
      return this.is_currently_expanded(this.tree);
    },

    isReadNode(): boolean | null {
      if (!this.tree) {
        return null;
      }
      return this.isRead(this.tree);
    },

    disclaimerText(): string | null {
      if (this.customDisclaimerText) {
        return this.customDisclaimerText;
      }

      if (!this.tree) {
        return null;
      }

      var text = this.$t('disclaimer.contenttree.basic');
      if (this.tree.nof_descendants && this.tree.nof_descendants > 30) {
        text += ' ' + this.$t('disclaimer.contenttree.extensionExtraLarge');
      }
      return text;
    },

    computedHideNoEntryText(): string {
      if (this.customHideNoEntryText) {
        return this.customHideNoEntryText;
      }
      return this.$t('contenttree.no_entries');
    },

    dailyContributionLimits(): Record<string, number> | null {
      const limits = this.getDailyContributionLimits();
      return limits?.number_of_comments;
    },

    ownEntries(): INodeTuple[] | undefined {
      if (!this.flatEntries) {
        return undefined;
      }

      const owns = Object.values(this.flatEntries).filter(
        (tuple) => tuple.creator.id === this.profile.id
      );
      // console.log(owns);
      return owns;
    },

    discussionBlockIntroComputed(): string | null | undefined {
      // individual text
      if (this.discussionBlockIntro !== null) {
        return this.discussionBlockIntro;
      }

      // type-specific text // content type...
      const slug = `contenttree.discussion_block_intro.${this.contenttreeTuple.type
        }.${this.tree?.content?.type ? this.tree?.content?.type : 'ROOT'}`;
      let text = this.$t(slug);

      if (text === slug) {
        // NO TYPE SPECIFIC TRANSLATION FOUND...
        text = this.$t('contenttree.discussion_block_intro_default');
      }

      return text;
    },

    ...mapGetters('assemblystore', [
      'IsDelegate',
      'stageMilestoneWeigths',
      'IsExpert',
      'IsContributor',
      'IsObserver',
      'IsManager',
      // "nextScheduledStage",
    ]),

    // computedLabelTitle() {
    //   if (
    //     this.types_to_add_on_root_level_without_invited_comment[0] ===
    //     'QUESTION'
    //   ) {
    //     return this.$t('contenttree.add_content_title_question');
    //   } else if (
    //     this.types_to_add_on_root_level_without_invited_comment[0] === 'ANSWER'
    //   ) {
    //     return this.$t('contenttree.add_content_title_answer');
    //   } else if (
    //     this.types_to_add_on_root_level_without_invited_comment[0] === 'COMMENT'
    //   ) {
    //     return this.$t('contenttree.add_content_title_comment');
    //   } else {
    //     return this.$t('contenttree.add_content_title_unspecific');
    //   }
    //   //  {{ buttonLabels[type_] }}  }
    // },

    // computedLabelText() {
    //   if (
    //     this.types_to_add_on_root_level_without_invited_comment[0] ===
    //     'QUESTION'
    //   ) {
    //     return this.$t('contenttree.add_content_body_question');
    //   } else if (
    //     this.types_to_add_on_root_level_without_invited_comment[0] === 'ANSWER'
    //   ) {
    //     return this.$t('contenttree.add_content_body_answer');
    //   } else if (
    //     this.types_to_add_on_root_level_without_invited_comment[0] === 'COMMENT'
    //   ) {
    //     return this.$t('contenttree.add_content_body_comment');
    //   } else {
    //     return this.$t('contenttree.add_content_body_unspecific');
    //   }
    //   //  {{ buttonLabels[type_] }}  }
    // },
  },

  methods: {
    expand_none_and_scroll() {
      this.scrollToAnchor(
        `CONTENTTREE${this.contenttreeTuple?.id}CONTENT${this.tree?.content?.id ? this.tree.content.id : ''
        }`,
        this.headerOffset,
        50
      );

      this.expand_none();
    },

    checkMilestone(identifier, weight) {
      return (
        identifier in this.stageMilestoneWeigths &&
        this.stageMilestoneWeigths[identifier] >= weight
      );
    },

    toggleDiscussion() {
      // event, scroll = false
      if (this.show_discussion) {
        this.closeDiscussion();
      } else {
        this.openDiscussion();
      }
    },
    closeDiscussion(scroll = false) {
      // scroll To element above the discussion
      if (scroll) {
        this.scrollToAnchor(
          `CONTENTTREE${this.contenttreeTuple?.id}CONTENT${this.tree ? this.tree.content?.id : ''
          }`,
          this.headerOffset,
          50
        );

        // Toggle Discussion
        this.show_discussion = false;
      }

      // Monitor action
      const data = {} as any;
      if (this.tree) {
        data.content_id = this.tree.content?.id;
      }
      // this.monitorLog(constants.MONITOR_DISCUSSION_HIDE, data);

      // TEMPORARILY HIGHLIGHT BACKGROUND OF BUTTON
      // TODO: is this used?
      this.temporaryHighlightedBackground = true;
      const turnOffTemporaryHighlightedBackground = () => {
        this.temporaryHighlightedBackground = false;
      };
      setTimeout(turnOffTemporaryHighlightedBackground, 3000);
    },

    openDiscussion() {
      // Toggle Discussion
      this.show_discussion = true;

      // Monitor action
      const data = {} as any;
      if (this.tree) {
        data.content_id = this.tree.content?.id;
      }
      this.monitorLog(constants.MONITOR_DISCUSSION_SHOW, data);
      // console.log('EXPANDED ', this.expanded);
    },
  },

  created() {
    if (this.initialFocusNode) {
      this.treeFilter.focus = this.initialFocusNode;
    }
  },

  mounted() {
    this.show_discussion = !!this.expanded || this.alwaysExpanded;
    this.$emit('loaded', this.tree);

    if (this.show_discussion) {
      // Monitor action
      const data = {} as any;
      if (this.tree) {
        data.content_id = this.tree.content?.id;
      }
      this.monitorLog(constants.MONITOR_DISCUSSION_SHOW, data);
    }
  },

  // watch: {
  //   tree() {
  //     this.$emit('tree-content', this.tree);
  //   },
  // },
});
</script>

<style>
.q-tree .q-focus-helper {
  background-color: transparent !important;
}

/* DENSE */

body .q-tree--dense .q-tree__node-header {
  padding: 0px;
}

/* body .q-tree--dense .q-tree__node-body {
  padding-left: 1px;
} */

body .q-tree--dense .q-tree__node--parent>.q-tree__node-collapsible>.q-tree__node-body {
  padding: 0 0 0px 17px;
}

/* body.screen--xs .q-tree__node-header {
  padding: 0px;
} */
/* body.screen--xs
  .q-tree__node--parent
  > .q-tree__node-collapsible
  > .q-tree__node-body {
} */
body.screen--xs .q-tree__children {
  padding-left: 19px;
}

body .q-card__section--vert {
  padding: 0px;
}

body .q-card .q-card__actions {
  padding-top: 0px;
  padding-bottom: 40px;
  /* padding-bottom: 20px; */
}

/* body.screen--xs .q-card__section--vert {
  padding: 7px;
} */
body.screen--xs .q-tree__node--parent>.q-tree__node-collapsible>.q-tree__node-body:after {
  left: 6px;
}

body.screen--xs .q-gutter-x-sm>*,
.q-gutter-sm>* {
  margin-left: -1em;
}
</style>
