<template>
  <q-card class="popup-dialog-card no-scroll">
    <div class="bg-blue-grey-1">
      <q-toolbar>
        <slot name="header-toolbar-action-left"></slot>
        <q-toolbar-title></q-toolbar-title>
        <slot name="header-toolbar-action-right"></slot>
      </q-toolbar>
      <template v-if="!!nodeTuple">
        <div class="full-width q-mb-xl" style="text-align: center">
          <q-avatar color="grey-6" text-color="white" class="q-mr-sm" :icon="ICONS[nodeTuple.content.type]"></q-avatar>
          <br />
          <div class="text-h2">{{ TYPE_LABELS[nodeTuple.content.type] }} <template v-if="IsManager">#{{
            nodeTuple.content.id }}</template></div>
          <!-- <div class="text-italic" v-if="nodeTuple.content.private_property">
                    von {{ nodeTuple.creator.U }} vom
                    {{ formatDate_obj_content_date_created }}
                  </div> -->
        </div>
      </template>
      <template v-else>
        <div class="full-width q-mb-xl" style="text-align: center">
          <q-spinner-ball color="primary" size="2em" />
        </div>
      </template>
      <q-tabs v-model="tab" @update:model-value="$emit('default-tab-change', $event)" dense v-if="nodeTuple?.content"
        active-color="primary" indicator-color="primary" align="justify" narrow-indicator>
        <q-tab name="content" label="Beitrag" icon="mdi-comment-text-multiple">
          <!-- <q-badge v-if="!isRatedTuple && tab != 'content'" color="orange" floating align="middle">
            Unbewertet
            <q-tooltip>Bitte bewerten Sie das Argument hier. </q-tooltip>
          </q-badge> -->

        </q-tab>
        <q-tab name="discussion" icon="mdi-comment-text-multiple"
          :label="nofChildren ? `Diskussion (${nofChildren})` : 'Diskussion'">
          <q-badge v-if="nofChildrenUnread" color="orange" floating>{{
            nofChildrenUnread
          }}<q-tooltip>{{ nofChildrenUnread }} ungelesene Beiträge
            </q-tooltip>
          </q-badge>
        </q-tab>

        <q-tab name="proposal" label="Verbessern" icon="mdi-lightbulb-outline"
          v-if="nodeTuple?.content?.acl.includes('propose_modify')" />
        <!-- <q-tab name="history" label="Aktivität" icon="mdi-clock-outline" /> -->
        <q-tab name="info" label="Info" icon="mdi-information-outline" />
      </q-tabs>
    </div>

    <q-separator />

    <q-card-section style="height: calc(100% - 260px)" class="scroll">
      <!-- // TODO: keep-alive-include would be more specific. (however, seems not to work.) -->
      <q-tab-panels v-model="tab" animated keep-alive class="no-scroll">
        <!-- MAIN CONTENT -->
        <q-tab-panel name="content" class="no-scroll tab-panel-content">
          <q-card-section v-if="nodeTuple?.content?.text" class="text-center q-ma-lg">
            <q-icon name="mdi-format-quote-open" size="xl" class="text-custom-user-color" />

            <div class="text-h2">{{ nodeTuple?.content?.title }}</div>
            <div class="text-h4">«{{ nodeTuple?.content?.text }}»</div>

            <div class="text-caption text-weight-thin q-mt-sm q-mb-lg">
              <template v-if="nodeTuple.content.common_property">
                Erstellt von der Demokratiefabrik-Community<template v-if="nodeTuple.content.comment">. {{
                  nodeTuple.content.comment
                }}</template>
              </template>

              <template v-else-if="nodeTuple.content.private_property">
                <br />
                <br />
                <q-toolbar>
                  <UserAvatar :profile="nodeTuple.creator" size="xs" :dense="true">
                    <template v-slot:extrainfos>
                      vom {{ formatDate_obj_content_date_created }}
                    </template>
                  </UserAvatar>
                  <q-space />
                  <q-space />

                  <ContentRatingSmilies v-if="nodeTuple && nodeTuple?.content?.acl.includes('rating')
                    " :nodeTuple="nodeTuple"></ContentRatingSmilies>
                </q-toolbar>
              </template>
              <div v-if="nodeTuple?.content?.parent_id && !nodeTuple.content.comment"
                class="text-caption text-weight-thin" @click="gotoContent(nodeTuple.content.parent_id)"
                style="text-align:left; width:100%; ">Dieser Beitrag
                ist eine
                Replik auf den Beitrag <span style="text-decoration:underline; font-style:italic; cursor:pointer;">#{{
                  nodeTuple?.content?.parent_id }}</span></div>
            </div>

            <ContentToolbar v-if="IsManager" :limitForAddingCommentsReached="true" :hideInfoButton="true"
              :nodeTuple="nodeTuple" />

          </q-card-section>
          <br>
          <!-- EVALUATION / RATING -->
          <q-card-section class="q-ma-lg" v-if="nodeTuple?.content?.acl.includes('rating')">
            <!-- // NON-PRIVATE CONTENT -->
            <EvaluationSlider v-if="nodeTuple && !nodeTuple?.content?.private_property"
              :scaleLabel="RATING_100_SCALE_LABELS_ARGUMENTS" :value="nodeTuple.progression?.rating"
              @change="argumentRating($event)">
              <template #default>
                Wie relevant ist dieses Argument für Ihren persönlichen
                Stimmentscheid? Bitte bewerten Sie dieses Argument, indem Sie
                den Regler verschieben.
              </template>
              <!-- <template #scaleLabelRight>++</template>
              <template #scaleLabelLeft>--</template> -->
              <template #scaleLabelRight><q-icon name="mdi-plus" /></template>
              <template #scaleLabelLeft><q-icon name="mdi-minus" /></template>

            </EvaluationSlider>
          </q-card-section>

          <q-card-section class="q-ma-lg" v-if="sameTypeChildren?.length">
            <div class="text-caption text-weight-thin q-mt-sm">
              Dieses Argument steht stellvertretend auch für folgendendes, ebenfalls gut bewertetes Argument:</div>
            <li v-for="child in sameTypeChildren" :key="child.content.id">
              <span class="text-caption text-weight-thin" @click="gotoContent(child.content.id)"
                style="text-align:left; width:100%; ">{{ child.content.title }} <span
                  style="text-decoration:underline; font-style:italic; cursor:pointer;">#{{
                    child?.content?.id }}</span></span>


            </li>

          </q-card-section>

        </q-tab-panel>

        <!-- DISCUSSION -->
        <q-tab-panel name="discussion" class="no-scroll tab-panel-discussion">
          <template v-if="contenttreeTuple">
            <!-- {{ contenttreeTuple.entries['6726'].content.title }} -->
            <ComponentContentTree :contenttreeTuple="contenttreeTuple" :dense="false" discussionBlockLabel="Beiträge"
              discussionAddEntryLabel="Neuer Kommentar" :expandAddFormAtRootLevel="true" :alternativeRootNode="nodeTuple"
              :hideNoEntryText="false" :hideNofEntriesText="false" :allowAddingToRootLevel="true" :alwaysExpanded="true"
              :amEnabled="false" />

          </template>
        </q-tab-panel>

        <!-- PROPOSAL -->
        <q-tab-panel name="proposal" class="scroll block tab-panel-proposal" style="height: 100%"
          v-if="tab == 'proposal'">
          <component v-if="AsyncProposalComp" :is="AsyncProposalComp" :nodeTuple="nodeTuple" v-on:switch-tab="switchTab">
          </component>
        </q-tab-panel>

        <!-- INFO -->
        <q-tab-panel name="info" class="scroll block tab-panel-info" style="height: 100%">
          <q-card-section v-if="contentStats && nodeTuple">
            <div class="text-h4">Allgemeine Informationen</div>

            <q-list>
              <q-item>
                <q-item-section>
                  <q-item-label> Erstellung </q-item-label>
                </q-item-section>

                <q-item-section side>
                  <!-- <q-item-label> -->
                  <!-- {{ nodeTuple.creator }} -->
                  <UserAvatar :profile="nodeTuple.creator" size="sm">
                    <template v-slot:extrainfos>
                      <br />
                      {{ formatDate_obj_content_date_created }}
                    </template>
                  </UserAvatar>
                  <!-- </q-item-label> -->
                </q-item-section>
              </q-item>

              <q-item v-if="nodeTuple?.content?.type !== 'UPDATEPROPOSAL'">
                <q-item-section> Reichweite </q-item-section>

                <q-item-section side v-if="contentStats?.PC">
                  <q-item-label>{{ contentStats.PC }}
                    {{
                      contentStats.PC == 1
                      ? 'Erreichte Teilnehmende'
                      : 'Erreichte Teilnehmende'
                    }}</q-item-label>
                </q-item-section>
                <q-item-section side v-if="!contentStats.PC">
                  <q-item-label>Noch nicht berrechnet</q-item-label>
                </q-item-section>
              </q-item>

              <q-item v-if="nodeTuple?.content?.type !== 'UPDATEPROPOSAL'">
                <q-item-section top>
                  Durchschnittliche Bewertung
                </q-item-section>
                <q-item-section side v-if="loaded(contentStats.RA)">
                  <q-item-label>{{
                    contentStats.RC ? Math.round(contentStats.RA) + ' von 100' : '-'
                  }}</q-item-label>
                  <q-item-label caption>(bei {{ contentStats.RC }} Stimmen)</q-item-label>
                </q-item-section>
                <q-item-section side v-if="!loaded(contentStats.RA)">
                  <q-item-label>Noch nicht berechnet</q-item-label>
                  <q-item-label caption>&nbsp;</q-item-label>
                </q-item-section>
              </q-item>

              <q-item>
                <q-item-section top>
                  <q-item-label> Verantwortlichkeit </q-item-label>
                </q-item-section>

                <q-item-section side>
                  <q-item-label class="text-right" style="width: 70%">
                    <span v-if="nodeTuple?.content?.locked">
                      Der Beitrag wurde von den Organisatoren blockiert. Es
                      können keine Änderungen mehr vorgenommen werden.
                    </span>
                    <span v-else-if="nodeTuple?.content?.type == 'UPDATEPROPOSAL'">Der Beitrag wurde automatisch
                      erstellt.</span>
                    <span v-else-if="nodeTuple?.content?.common_property">Der Beitrag wird von allen Teilnehmenden
                      gemeinsam
                      betreut. Alle können einen Verbesserungsantrag
                      einreichen.</span>
                    <span v-else-if="nodeTuple?.content?.given_property">Der Beitrag wurde von den Organisatoren
                      erstellt. Er kann
                      nicht verändert werden.</span>
                    <span v-else-if="nodeTuple?.content?.private_property">Der Beitrag ist in Privatbesitz eines
                      Teilnehmenden. Nur
                      die Urheberin respektive der Urheber sowie die
                      Organisatoren (im Falle einer Verletzung des
                      Verhaltenskodex) können den Beitrag ändern oder löschen.
                    </span>
                  </q-item-label>

                </q-item-section>
              </q-item>

            </q-list>
            <br />
          </q-card-section>

          <q-separator />

          <q-card-section class="q-mt-lg">
            <div class="text-h4">Aktivität</div>
            <!-- <div class="text-subtitle2">Aktivität</div> -->

            <q-list v-if="history?.length">
              <template v-for="version in history" :key="version.id">
                <ContentVersionItem :version="version" :contenttreeIdentifier="nodeTuple.content?.contenttree_identifier
                  " />
              </template>
            </q-list>
          </q-card-section>
        </q-tab-panel>
      </q-tab-panels>
    </q-card-section>
  </q-card>
</template>

<script lang="ts">
import {
  defineComponent,
  computed,
  // watch,
  ref,
  PropType,
  shallowRef,
} from 'vue';
import library from 'src/utils/library';
import ContentVersionItem from 'src/pages/ContentTree/components/ContentVersionItem.vue';
import api from 'src/utils/api';
import constants from 'src/utils/constants';
// import getMonitorService from 'src/composables/monitor.composable';
// import useAssemblyService from 'src/composables/assembly.composable';
import { getAssemblyService } from 'src/services/index';
// import useAuthService from 'src/composables/auth.composable';
import { getAuthService } from 'src/services/index';
import { INodeTuple } from 'src/models/content';
import { useStore } from 'vuex';
import filters from 'src/utils/filters';
import { useQuasar } from 'quasar';
import UserAvatar from 'src/pages/components/UserAvatar.vue';
import { IDialog } from 'src/models/layout';
import EvaluationSlider from 'src/pages/ContentTree/components/EvaluationSlider.vue';
import useContentComposable from 'src/composables/content.composable';
import ComponentContentTree from 'src/pages/ContentTree/components/ContentTree.vue';
import useContenttreeComposable from 'src/composables/contenttree.composable';
import ContentRatingSmilies from 'src/pages/ContentTree/components/ContentRatingSmilies.vue';
import useStoreService from 'src/services/store.service';
import { IAssembly } from 'src/models/assembly';
import { getMonitorService } from 'src/services/index';
import ContentToolbar from 'src/pages/ContentTree/components/ContentToolbar.vue';


const { formatDate } = filters;
const RATING_100_SCALE_LABELS_ARGUMENTS = constants.RATING_100_SCALE_LABELS_ARGUMENTS;
import useEmitter from 'src/utils/emitter';
const emitter = useEmitter();

interface IVersionEntry {
  user_profile: any;
  date: string;
  id: number;
  profile: any;
  changeset: any;
  date_formatted?: string;
}

export default defineComponent({
  name: 'DialogContentBackground',
  emits: ['default-tab-change', 'back-or-close-dialog', 'redirect-dialog'],
  props: {
    id: { type: Number },
    contenttreeIdentifier: { type: String },
    currentDialog: {
      type: Object as PropType<IDialog>,
      required: true,
    },
    defaultTab: {
      type: String,
      default: 'content',
    },
    assembly: {
      type: Object as PropType<IAssembly>,
      required: false,
      default: undefined,
    },
  },

  setup(props) {
    const store = useStore();
    const { monitorLog } = getMonitorService();
    const { assembly: routedAssembly } = getAssemblyService();
    const { setAssemblyIdentifier } = useStoreService();

    const assembly = computed((): IAssembly => {
      if (props.assembly) {
        if (props.assembly && !routedAssembly.value) {
          setAssemblyIdentifier(props.assembly.identifier);
        }

        return props.assembly;
      }

      return routedAssembly.value;
    });

    const assemblyType = computed((): string => assembly.value?.type);
    const assemblyIdentifier = computed(
      (): string => assembly.value?.identifier
    );

    const { loaded } = library;
    const { getUsername, getUsernameDerivation } = getAuthService();
    const { saveRating, isRated, getChildrenTuples, isRead } = useContentComposable();
    const publicProfile = computed(() => store.getters['profilestore/profile']);
    const nodeTuple = computed((): INodeTuple => {
      const getter = store.getters['contenttreestore/get_content'];
      // console.log('CONTENT GETTER', props.contenttreeIdentifier, props.id);
      const tempNodeTuple = getter({
        contenttreeIdentifier: props.contenttreeIdentifier,
        contentID: props.id,
      });

      // console.log(tempNodeTuple.content, 'ddddddddd')
      if (tempNodeTuple?.content?.type === 'INVITED_COMMENT') {
        // PROFILE PAGE (and not normal thing..)
        // console.log('ATTENTDION. this is a profile page', tempNodeTuple)
        // redirect - dialog
        emitter.emit('showDialog', {
          type: 'user',
          id: tempNodeTuple.creator.id,
          replaceCurrent: true,
          tab: props.defaultTab == 'discussion' ? 'discussion' : 'voice',
        });
      }
      return tempNodeTuple;
    });

    const gotoContent = (contentId) => {
      // console.log("DEBUG showDialog", contentId)
      emitter.emit('showDialog', {
        type: 'content',
        id: contentId,
        contenttreeIdentifier: props.contenttreeIdentifier,
      });
    }

    const contenttreeIdentifier = computed((): null | string => {

      if (!nodeTuple.value?.content?.contenttree_identifier) {
        return null;
      }
      return nodeTuple.value.content.contenttree_identifier;
    });

    const { contenttreeTuple } = useContenttreeComposable(
      contenttreeIdentifier,
      true
    );

    const children = computed(() => {
      if (!nodeTuple.value) {
        throw 'invalid content';
      }
      if (!contenttreeTuple.value) {
        throw 'invalid content';
      }

      return getChildrenTuples(nodeTuple.value, contenttreeTuple.value);
    });

    const sameTypeChildren = computed(() => {
      if (!children.value) {
        return []
      }

      return children.value.filter(x => x?.content?.type === nodeTuple.value?.content?.type)
    });


    const nofChildren = computed(() => {
      if (!children.value) {
        return null;
      }
      return children.value?.length;
    });
    const nofChildrenUnread = computed(() => {
      if (!IsAuthenticated.value) {
        return 0
      }

      if (!children.value) {
        return null;
      }
      const unread = children.value.filter((n) => !isRead(n));
      return unread.length;
    });

    const ownCirProfile = computed(() => {
      return publicProfile.value?.id == nodeTuple.value.creator.id;
    });
    const tab = ref<string>(props.defaultTab);
    const contentStats = ref<any>(null);
    const userStats = ref<any>(null);
    const loading = ref<boolean>(false);
    const history = ref<IVersionEntry[] | null>(null);
    const locked = ref<boolean | null>(null);
    const q = useQuasar();
    const IsManager = computed(
      (): boolean => store.getters['assemblystore/IsManager']
    );
    const IsAuthenticated = computed(
      (): boolean => store.getters['assemblystore/IsAuthenticated']
    );

    const retrieveContentDetails = (): void => {
      loading.value = true;
      monitorLog(constants.MONITOR_DIALOG_CONTENT_BACKGROUND, {
        contentID: nodeTuple.value?.content?.id,
      });

      if (!props.id) {
        throw 'no content Id transmitted #95908';
      }
      // Get Content Detail Information... from oauth server
      api
        .contentDetail(assemblyIdentifier.value, props.id)
        .then((response) => {
          if (response.data) {
            contentStats.value = response.data.statistic.content;
            userStats.value = response.data.statistic.user;
            history.value = response.data.history as IVersionEntry[];
            locked.value = response.data.locked;

            // prepare human content
            history.value.forEach((version: IVersionEntry) => {
              version.date_formatted = formatDate(version.date);
              if (version?.profile) {
                version.profile.username_derivation_formatted =
                  getUsernameDerivation(version.profile);
                version.profile.username_formatted = getUsername(
                  version.profile
                );
              }
            });
          } else {
            // Error Message
            q.notify({
              type: 'nFabrikError',
              message:
                'Die Hintergrund Informationen zu diesem Beitrag konnte nicht geladen werden. Bitte informieren Sie die Platform-Betreiber.',
            });
          }

          // console.log('FINISH LOADING');
          loading.value = false;
        })
        .catch((e) => {
          console.log(e);
          loading.value = false;
        });
    };


    // LOAD assembly-specific Proposal Form
    const AsyncProposalComp = shallowRef<any>('');
    if (nodeTuple.value?.content?.common_property && assemblyType.value) {
      import(
        `src/plugins/${assemblyType.value}/components/ProposalEdit.vue`
      ).then((val) => {
        AsyncProposalComp.value = val.default;
      });
    }

    return {
      tab,
      loaded,
      nodeTuple,
      assemblyIdentifier,
      monitorLog,
      getUsernameDerivation,
      getUsername,
      isRated,
      contentStats,
      userStats,
      history,
      ownCirProfile,
      locked,
      saveRating,
      retrieveContentDetails,
      AsyncProposalComp,
      contenttreeTuple,
      nofChildrenUnread,
      children,
      nofChildren,
      gotoContent,
      IsManager,
      sameTypeChildren
    };
  },

  data() {
    return {
      RATING_100_SCALE_LABELS_ARGUMENTS,
      ICONS: constants.ICONS,
      TYPE_LABELS: constants.TYPE_LABELS,
    };
  },
  components: {
    ContentVersionItem,
    UserAvatar,
    ContentRatingSmilies,
    EvaluationSlider,
    ComponentContentTree,
    ContentToolbar
    // ProposalEdit,
  },

  mounted() {
    this.retrieveContentDetails();
  },
  computed: {
    isRatedTuple() {
      return this.isRated(this.nodeTuple);
    },


    userTuple() {
      if (this.userStats) {
        return {
          user: this.nodeTuple?.creator,
          statistic: this.userStats,
        };
      }
      return {
        user: this.nodeTuple?.creator,
      };
    },

    permissions(): string[] {
      if (!this.nodeTuple) {
        return [];
      }

      if (!this.nodeTuple?.content?.acl) {
        throw 'error acl is missing.';
      }

      const permissions = [
        this.nodeTuple.content.acl.includes('add')
          ? 'den Beitrag kommentieren'
          : '',
        this.nodeTuple.content.acl.includes('modify')
          ? 'den Beitrag bearbeiten oder löschen'
          : '',
        this.nodeTuple.content.acl.includes('contribution_propose')
          ? 'einen Verbesserungsantrag einreichen'
          : '',
      ];
      return permissions.filter((txt) => !!txt);
    },

    formatDate_obj_content_date_created(): string | undefined {
      if (!this.nodeTuple?.content?.date_created) {
        throw 'error acl is missing.';
      }
      return this.$filters.formatDate(this.nodeTuple.content.date_created);
    },

    content_type(): string | null {
      if (!this.nodeTuple?.content?.type) {
        throw 'error nodeTuple type is missing.';
      }
      return constants.TYPE_LABELS[this.nodeTuple.content.type];
    },
  },

  methods: {
    switchTab(tab) {
      this.tab = tab;
    },
    humanReadable(changeset) {
      const fieldsNotToIgnore = ['title', 'text', 'parent_id'];
      changeset = changeset.filter((change) =>
        fieldsNotToIgnore.includes(change[0])
      );
      return changeset.map((change) => this.humanReadableChange(change));
    },

    argumentRating(newValue: number): void {
      if (!this.nodeTuple) {
        throw 'ContentTuple not loaded';
      }
      this.saveRating(newValue, this.nodeTuple);
      // emitter_CIR.emit('notifyPublicCirProfileUpdate');
    },

    humanReadableChange(change) {
      // convert values
      const dateFields = ['date_modified'];
      let func = (x) => {
        return x;
      };

      if (dateFields.includes(change[0])) {
        func = this.$filters.formatDate;
      }
      change[1][0] = func(change[1][0]);
      change[1][1] = func(change[1][1]);

      // convert field labels
      const labels = {
        date_modified: 'Datum',
        title: 'Titel',
        type: 'Typ',
        parent_id: 'Angehängt bei',
        text: 'Text',
      };

      if (change[0] in labels) {
        change[0] = labels[change[0]];
      }
      return change;
    },
  },
});
</script>

<style lang="scss" scoped>
.q-tab-panels {
  min-height: 250px;

  // .q-tab-panel {
  //   padding-left: 0px;
  // }
}
</style>
