<template>
  <div class="full-width" :class="noneResponse ? 'bg-orange-4 q-pa-md ' : ''">
    <slot></slot>
    <q-list dense class="q-mt-lg">
      <q-item>
        <q-item-section side v-if="$q.screen.gt.xs">
          <slot name="scaleLabelLeft"> Unwichtig</slot>
        </q-item-section>
        <q-item-section side v-else> 0 </q-item-section>
        <q-item-section>
          <q-slider v-model="internValueQuasar" :readonly="readonly" :min="min" :max="max" @change="debouncedInitSet"
            label-always :label-value="getSlideLabel" :style="{ color: getSlideColor }" />
        </q-item-section>
        <q-item-section side v-if="$q.screen.gt.xs">
          <slot name="scaleLabelRight">Sehr wichtig</slot>
        </q-item-section>
        <q-item-section side v-else> 100 </q-item-section>
      </q-item>
    </q-list>
  </div>
</template>

<script lang="ts">
import { defineComponent, watch, ref } from 'vue';
import { debounce } from 'quasar';
import { colors } from 'quasar';
const { rgbToHex } = colors;

export default defineComponent({
  setup(props) {
    const internValue = ref<number | null>(null);

    watch(
      () => props.value,
      () => {
        internValue.value = props.value == undefined ? null : props.value;
      },
      { immediate: true }
    );

    const debouncedInitSet: null | (() => void) = () => undefined;
    return { debouncedInitSet, internValue };
  },
  name: 'EvaluationSlider',
  props: {
    value: {
      type: Number as () => number | null,
    },
    readonly: {
      type: Boolean,
      default: false,
    },
    scaleLabel: {
      default: () => [
        'Unwichtig',
        'Eher unwichtig',
        'Mittelmässsig',
        'Eher wichtig',
        'Sehr wichtig',
      ],
    },
  },
  data() {
    return {
      min: 0,
      max: 100,
    };
  },

  computed: {
    internValueQuasar: {
      get: function () {
        return this.noneResponse ? 50 : this.internValue;
      },
      set: function (val) {
        this.internValue = val;
      },
    },

    colorRange() {
      return this.max - this.min;
    },

    getSlideLabel() {
      if (this.noneResponse || this.scale100 === null) {
        return 'Bitte wählen';
      }
      const value = Math.floor(
        (this.scale100 / 100) * this.scaleLabel.length * 0.999
      );
      return `${this.scaleLabel[value]} | ${Math.round(this.scale100)}`; // PERCENT
    },
    // 0-20;20-40;40-60,60-80;80-100

    scale100() {
      if (this.internValue !== null && this.internValue !== undefined) {
        return (100 / this.colorRange) * (this.internValue - this.min);
      }

      return null;
    },

    getSlideColor(): any {
      if (this.noneResponse || this.scale100 === null) {
        return 'grey';
      }
      const color = rgbToHex({
        r: Math.round((100 - this.scale100) * 2.24),
        g: Math.round((100 - this.scale100) * 2.02),
        b: 60,
      });
      return color;
    },
    noneResponse(): boolean {
      return this.internValue === null || this.internValue === undefined;
    },
  },

  methods: {
    change() {
      this.$emit('change', this.internValue);
    },
  },

  created() {
    this.debouncedInitSet = debounce(this.change, 300);
  },

  // watch: {
  //   value(val) {
  //     this.internValue = val;
  //   },
  // // },
});
</script>
