<template>
  <div class="text-h4">
    Zustimmung: {{ `${value} von 100` }}
    <q-badge align="top" :label="getSlideLabelOnly" />
  </div>
</template>

<script lang="ts">
import { defineComponent, watch, ref } from 'vue';
// import { debounce } from 'quasar';
import { colors } from 'quasar';
const { rgbToHex } = colors;

export default defineComponent({
  name: 'EvaluationCertificate',
  setup(props) {
    const internValue = ref<number | null>(null);

    watch(
      () => props.value,
      () => {
        internValue.value = props.value == undefined ? null : props.value;
      },
      { immediate: true }
    );

    // const debouncedInitSet: null | (() => void) = () => undefined;
    return { internValue };
  },
  props: {
    value: {
      type: Number as () => number | null,
    },
    readonly: {
      type: Boolean,
      default: false,
    },
    scaleLabel: {
      default: () => [
        'Unwichtig',
        'Eher unwichtig',
        'Mittelmässsig',
        'Eher wichtig',
        'Sehr wichtig',
      ],
    },
  },
  data() {
    return {
      min: 0,
      max: 100,
    };
  },

  computed: {
    // internValueQuasar: {
    //   get: function () {
    //     return this.noneResponse ? 50 : this.internValue;
    //   },
    //   set: function (val) {
    //     this.internValue = val;
    //   },
    // },

    colorRange() {
      return this.max - this.min;
    },

    getSlideLabel() {
      if (this.noneResponse || this.scale100 === null) {
        return 'Unbekannt';
      }

      const value = Math.round(
        (this.scale100 / 100) * (this.scaleLabel.length - 1)
      );
      return `${this.scaleLabel[value]} | ${Math.round(this.scale100)} von 100`; // PERCENT
    },

    getSlideLabelOnly() {
      if (this.noneResponse || this.scale100 === null) {
        return 'Unbekannt';
      }

      const value = Math.round(
        (this.scale100 / 100) * (this.scaleLabel.length - 1)
      );
      return `${this.scaleLabel[value]}`; // PERCENT
    },

    scale100() {
      if (this.internValue !== null && this.internValue !== undefined) {
        return (100 / this.colorRange) * (this.internValue - this.min);
      }

      return null;
    },

    getSlideColor(): any {
      if (this.noneResponse || this.scale100 === null) {
        return 'grey';
      }
      const color = rgbToHex({
        r: Math.round((100 - this.scale100) * 2.24),
        g: Math.round((100 - this.scale100) * 2.02),
        b: 60,
      });
      return color;
    },
    noneResponse(): boolean {
      return this.internValue === null || this.internValue === undefined;
    },
  },

  // methods: {
  //   change() {
  //     this.$emit('change', this.internValue);
  //   },
  // },

  // created() {
  //   this.debouncedInitSet = debounce(this.change, 1200);
  // },

  // watch: {
  //   value(val) {
  //     this.internValue = val;
  //   },
  // // },
});
</script>
