// app global css in SCSS form
/* GENERAL STUFF*/

/* LAYOUT */
// Space between label and left-border for all the buttons
//.q-btn
//  padding-left: 5px
html body .cursor-default {
  cursor: default;
}

small {
  font-size: 90%;
}
.q-stepper__dot {
  width: 40px !important;
  height: 40px !important;
}
.q-stepper__title {
  font-size: 1.2em;
}
// Default Page content
.doc_content {
  max-width: 750px;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;

  &.superwide {
    max-width: 1130px;
  }

  .side_menu {
    padding-right: 5.4em;
  }
}

.inner-loading {
  width: 100%;
  height: 100%;
  // min-heCight: 5em;
  // margin-bottom: 4em;
}

body.screen--sm {
  .doc_content {
    // max-width: 720px;
    padding: 0.2em;
    margin-left: 0;
    margin-right: 2em;
    padding-left: 0.5em;
    padding-right: 10px;
    .side_menu {
      padding-right: 5.4em;
    }
  }
}
body.screen--xs {
  .doc_content {
    padding: 0.2em;
    padding-left: 7px;
    padding-right: 10px;
    .side_menu {
      padding-right: 5.4em;
    }
  }
}
.seperator {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
  margin-top: 2.5em;

  &.large {
    margin-bottom: 3.5em;
    margin-top: 4.5em;
  }

  &.small {
    margin-bottom: 1em;
    margin-top: 0em;
  }

  // container for long highly readable text
}
.text-vessel {
  max-width: 600px;
  margin-bottom: 5em;
  margin-left: auto;
  margin-right: auto;
  text-align: left;

  q {
    font-size: 1.5em;
    margin: 0.8em;
    display: block;
    &.R {
      display: inline-block;
      max-width: 50%;
      float: right;
      margin-right: 0px;
    }
    &.L {
      display: inline-block;
      max-width: 50%;
      float: left;
      margin-left: 0px;
    }
    &.T {
      margin-top: 0.2em;
    }
  }
}
.text-user {
  font-style: italic;
}
// AM (.artificialmoderation

.bg-none {
  background-color: transparent !important;
}
// CUSTOM TEXTS
.text-notification {
  font-weight: bold;
  color: #229911;
}

:root {
  --antiquewhite: #ffc0cb;
}
.antiquewhite {
  background-color: var(--antiquewhite);
}
// custom color varibales (added manually in quasar.variables.sass)
.bg-secondary-light {
  background: $secondary-light;
}
.text-secondary-light {
  color: $secondary-light;
}
.bg-primary-light {
  background: $primary-light;
}
.text-primary-light {
  color: $primary-light;
}

// variable profilecolor classes
// the variable is replace in the MainLayout.vue
//   :root {
//     profilecolor: blue;
//     profilecolor-light: #eee;
//   }

:root {
  --profilecolor: blue;
  --profilecolor-light: #eee;
}
.profilecolor {
  color: CadetBlue;
  color: var(--profilecolor);
}
.profilecolor {
  color: CadetBlue;
  color: var(profilecolor);
}
.bg-profilecolor {
  background-color: CadetBlue;
  background-color: var(profilecolor);
}
.profilecolor-light {
  color: AliceBlue;
  color: var(profilecolor-light);
}
.bg-profilecolor-light {
  background-color: AliceBlue;
  background-color: var(profilecolor-light);
}

.text-h6 {
  padding-bottom: 0.5em;
}

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-display: auto;
  src: url(/fonts/opensans300.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url(/fonts/opensans400.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-display: auto;
  src: url(/fonts/opensans600.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: auto;
  src: url(/fonts/opensans700.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  font-display: auto;
  src: url(/fonts/opensans800.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

// DIALOG
div.q-dialog div.popup-dialog-card {
  height: calc(100vh - 48px);
  max-height: 1100px;
  width: calc(100vw - 48px);
  max-width: 800px;
  // padding: 1em;
  // TODO: adapt for small screen.
  // height: 90vh;
  // width: 90vh;
  // // min-width: 350px;
  // // min-width: 350px;
  // max-height: 200px;
  // max-width: 200px;
}

// class="full-height" style="width: 95%; max-width: 800px"
