// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #1976d2;

$secondary: #26a69a;

$accent: #9c27b0;

$dark: #1d1d1d;

$positive: #21ba45;

$negative: #c10015;

$info: #31ccec;

$warning: #f2c037;

// Quasar Sass (& SCSS) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables
// https://quasar.dev/style/sass-scss-variables#Variables-list

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$generic-border-radius: 8px;

// large background (i.e. header)
$primary: #465362;
$primary-light: #f3f5f7;

// dark background (i.e. buttons)
$secondary: #12738c;
$secondary-light: #f8fbfc;
//#12738c07

// accent color: strong color (e.g button text)
$accent: #e0ca3c;

$dark: #1d1d1d;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

$tooltip-background: $primary-light !default;
$tooltip-color: $primary !default;
$tooltip-fontsize: 10pt !default;
$tooltip-padding: 6px 10px !default;
// $tooltip-mobile-padding         : 8px 16px !default
// $tooltip-mobile-fontsize        : 14px !default

$h1: (
  size: 2rem,
  line-height: 3rem,
  letter-spacing: -0.01562em,
  weight: 300,
) !default;
$h2: (
  size: 1.75rem,
  line-height: 2.75rem,
  letter-spacing: -0.00833em,
  weight: 300,
) !default;
$h3: (
  size: 1.5rem,
  line-height: 1.525rem,
  letter-spacing: normal,
  weight: 400,
) !default;
$h4: (
  size: 1.125rem,
  line-height: 1.5rem,
  letter-spacing: 0.00735em,
  weight: 400,
) !default;
$h5: (
  size: 1.1rem,
  line-height: 1.2rem,
  letter-spacing: normal,
  weight: 400,
) !default;
$h6: (
  size: 1rem,
  line-height: 1rem,
  letter-spacing: 0.0125em,
  weight: 500,
) !default;
$subtitle1: (
  size: 1rem,
  line-height: 1.75rem,
  letter-spacing: 0.00937em,
  weight: 400,
) !default;
$subtitle2: (
  size: 0.875rem,
  line-height: 1.375rem,
  letter-spacing: 0.00714em,
  weight: 500,
) !default;
$body1: (
  size: 1rem,
  line-height: 1.5rem,
  letter-spacing: 0.03125em,
  weight: 400,
) !default;
$body2: (
  size: 0.875rem,
  line-height: 1.25rem,
  letter-spacing: 0.01786em,
  weight: 400,
) !default;
$overline: (
  size: 0.75rem,
  line-height: 2rem,
  letter-spacing: 0.16667em,
  weight: 500,
) !default;
$caption: (
  size: 0.875rem,
  line-height: 1.25rem,
  letter-spacing: 0.03333em,
  weight: 500,
) !default;

$chat-message-sent-color: $primary !default;
$chat-message-received-color: $primary !default;
$chat-message-received-bg: $accent !default;
$chat-message-sent-bg: $accent !default;
$chat-message-avatar-size: 38px !default;
$chat-message-border-radius: 10px !default;
$chat-message-distance: 10px !default;
$chat-message-text-padding: 23px !default;

// FONTS
// Set the default font-family
$typography-font-family: 'Open Sans', sans-serif !default;
$text-weights: (
  thin: 300,
  light: 400,
  regular: 600,
  medium: 700,
  bold: 800,
  bolder: 800,
) !default;
$button-font-weight: 600; // or 400 if you prefer thinner

// // svg {
// //   font-family: 'Open Sans', sans-serif !default;
// }
