<template>
  <q-page class="doc_content" v-if="ready">
    <ArtificialModeration
      :AM="AMs.profileupdate"
      alignment="center"
      :ctx="this"
    />
  </q-page>
</template>

<script lang="ts">
import AMs from './ArtificialModeration';
import ArtificialModeration from 'src/pages/components/artificial_moderation/ArtificialModeration.vue';
import { defineComponent } from 'vue';
// import useLibraryComposable from 'src/utils/library';
import library from 'src/utils/library';
// import getStageService from 'src/composables/stage.composable';
import { getStageService } from 'src/services/index';

// import useAuthService from 'src/composables/auth.composable';
import { getAuthService } from 'src/services/index';

import useEmitter from 'src/utils/emitter';
import useRouterService from 'src/services/router.service';
// import useAssemblyService from 'src/composables/assembly.composable';
import { getAssemblyService } from 'src/services/index';

export default defineComponent({
  setup() {
    const {
      isRoutedStageCompleted,
      markCompleted,
      nextScheduledStage,
      routedStageTuple,
    } = getStageService();

    const { gotoStage } = getAssemblyService();

    const { loaded } = library;
    // const store = useStore();
    const { payload, emailIsAvailable } = getAuthService();
    const emitter = useEmitter();

    const { gotoProfile } = useRouterService();

    return {
      loaded,
      gotoProfile,
      isRoutedStageCompleted,
      markCompleted,
      nextScheduledStage,
      routedStageTuple,
      gotoStage,
      payload,
      emailIsAvailable,
      emitter,
    };
  },
  name: 'ProfileUpdateStage',
  components: {
    ArtificialModeration,
  },
  data() {
    return {
      AMs,
    };
  },

  computed: {
    ready(): boolean {
      // console.log(this.payload);
      // console.log(this.routedStageTuple);

      const ready =
        this.loaded(this.routedStageTuple) && this.loaded(this.payload);
      if (ready) {
        // console.log('EVERYTHING LOADED');
        this.emitter.emit('hideLoading');

        // Everything loaded...
        if (this.emailIsAvailable) {
          // console.log('PROFILE IS COMPLETE');
          this.markCompleted();
        } else {
          // console.log('REDIRECTING: profile is not yet completed...');
          this.redirectToProfile();
        }
        // }
      }
      return ready;
    },

    redirecting(): boolean {
      return !!this.routedStageTuple && !this.emailIsAvailable;
    },

    // is_profile_data_complete(): boolean {
    //   return !!this.oauth.payload?.userEmail;
    // },
  },

  methods: {
    redirectToProfile: function () {
      this.gotoProfile();
      // this.store.dispatch('profilestore/gotoProfile');

      return true;
    },
  },
});
</script>
