<template>
  <div id="pyswarmplot-container" :class="{ fullscreen: fullscreen }">
    <!-- HOVER TOOLTIP -->

    <div style="min-height: 100px">
      <PySwarmPlot v-on:highlight-element="highlightUser($event)" v-on:select-element="selectUser($event)"
        v-on:data-reload="dataReload($event)" v-on:fullscreen-toggle="fullscreen = !fullscreen"></PySwarmPlot>

      <div id="userBoxHighlighted">
        <div class="text text-h6 bg-primary text-white" v-if="highlightedUser">
          {{ highlightedUser.U }}
        </div>
      </div>
    </div>
  </div>

  <!-- <UserViev ref="popup" topicContentTuple="topicContentTuple"></UserViev> -->
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
import PySwarmPlot from 'src/plugins/CIR/stages/VOICE/components/PySwarmPlot.vue';
import library from 'src/utils/library';
import { IUser } from 'src/plugins/CIR/stages/VOICE/models/user';
// import getAppService from 'src/composables/app.service';
import { getAppService } from 'src/services/index';

import { IHighlightEvent } from '../models/plots';
import useEmitter from 'src/utils/emitter';
import useStoreService from 'src/services/store.service';

const emitter = useEmitter();

export default defineComponent({
  name: 'CIRPlotComponent',

  emits: ['data-reload'],

  setup() {
    // users: null as Record<string, IUser> | null,

    const { loaded } = library;
    const {
      // showLoadingGif,
      // hideLoadingGif,
      showServiceError,
      showNetworkError,
    } = getAppService();

    const { assemblyIdentifier } = useStoreService();

    return {
      assemblyIdentifier,
      showNetworkError,
      showServiceError,
      loaded,
      fullscreen: ref(false),
    };
  },

  mounted() {
    this.userBoxHighlightedElement =
      document.getElementById('userBoxHighlighted');
  },

  // AlgorithmDisclaimer
  components: { PySwarmPlot },

  data() {
    return {
      userBoxHighlightedElement: null as null | HTMLElement,
      users: null as null | Record<string, IUser>,
      loading: false,
      highlightedUser: null as IUser | null,
    };
  },

  computed: {
    ready(): boolean {
      return this.loaded(this.users);
    },
  },

  methods: {
    highlightUser(event: IHighlightEvent | null) {
      if (event) {
        this.highlightedUser = { id: event.id, U: event.label };
        if (this.userBoxHighlightedElement) {
          this.userBoxHighlightedElement.style.top = `${event.elementOffsets.y - 20
            }px`;
          this.userBoxHighlightedElement.style.left = `${event.elementOffsets.x}px`;
        }
      } else {
        // Just De-Hightlihgt
        // TODO enable agains,.
        this.highlightedUser = null;
      }
    },

    selectUser(event: IHighlightEvent) {
      if (event && event.id) {
        // console.log('ddsdff', event?.id)
        emitter.emit('showDialog', {
          type: 'user',
          id: event.id,
          tab: 'voice',
        });
      }
    },

    dataReload(totalUserCount: number) {
      this.highlightedUser = null;
      // console.log('DEBUG', totalUserCount);
      this.$emit('data-reload', totalUserCount);
    },
  },
});
</script>

<style lang="scss">
#pyswarmplot-container {
  position: relative;
  // margin-bottom: 2em;

  &.fullscreen {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100% !important;
    height: 100%;
    background-color: white;
  }
}

// User InfoBox
#userBoxHighlighted {
  position: absolute;
  left: -1000px;
  top: -1000px;
  z-index: +20000;
  margin-left: -30px;
  margin-top: -30px;

  .text {
    padding: 0.5em;
  }
}
</style>
