<template>
  <div v-if="error">Die Grafik konnte nicht geladen werden.</div>
  <q-inner-loading :showing="loading" style="z-index: 100" class="inner-loading">
    <q-spinner-dots size="50px" color="primary" />
  </q-inner-loading>
  <div :class="{ fullscreen: fullscreen }" v-if="!error && !loading" class="full-width" @mouseleave="svgMouseExit()">
    <div v-if="!loading" class="svg-configurator">

      <div v-if="fullscreen" class="float-left">
        <q-btn size="lg" flat :icon="'mdi-close'" label="" @click="fullscreenToggle()">
          Vollbild schliessen
        </q-btn>
      </div>



      <!-- <q-btn size="md" flat icon="mdi-monitor-eye" label="">
        <q-menu class="svg-configurator-menu">
          <q-item>

            <slot>

          </q-item></q-menu
        >
      </q-btn> -->

      <!-- <AlgorithmDisclaimer label="Erläuterungen"
        ><slot>
          <span>
            <template v-if="totalUserCount === plottedUserCount">
              Dieses Halbkreis-Diagram zeigt die Positionen aller Teilnehmenden
              (aktuell {{ totalUserCount }}) der Demokratiefabrik an.</template
            >
            <template
              v-if="
                totalUserCount &&
                plottedUserCount &&
                totalUserCount > plottedUserCount
              "
            >
              Dieses Halbkreis-Diagram zeigt die Positionen von
              {{ plottedUserCount }} zufälligen Teilnehmenden (total
              {{ totalUserCount }}) dieser Demokratiefabrik an. Klicken Sie auf
              das "Alle anzeigen" um die Positionen aller Teilnehmenden
              anzuzeigen.</template
            >

            Jeder Punkt steht für eine Person. Sie können auf die Punkte
            klicken, um mehr über die einzelnen Teilnehmenden zu erfahren und
            sich mit ihnen auszutauschen.</span
          >
        </slot>
      </AlgorithmDisclaimer> -->
    </div>

    <div v-html="storedPolarBeePlot" class="svg-container" :class="loading ? 'loading' : ''"></div>

    <div v-if="totalUserCount && plottedUserCount" class="text-caption text-center q-mb-xl">
      <!-- -- DEBUG totalUserCount: {{ totalUserCount }}--<br /> -->

      <template v-if="totalUserCount === plottedUserCount">
        <template v-if="totalUserCount > 1">
          {{ totalUserCount }} Teilnehmende
        </template>
        <template v-if="totalUserCount == 1"> 1 Teilnehmender </template>
      </template>
      <template v-if="totalUserCount > plottedUserCount">
        {{ plottedUserCount }} von insgesamt {{ totalUserCount }} Teilnehmende
        <br />
        <div>
          <q-input v-if="fullscreen" dense outline style="width: 100px; display: inline-block" v-model="userFilterText"
            debounce="500" input-class="text-right">
            <template v-slot:append>
              <q-icon v-if="userFilterText === ''" name="mdi-magnify" />
              <q-icon v-else name="mdi-close" class="cursor-pointer" @click="userFilterText = ''" />
            </template>
          </q-input>

          <q-btn size="sm" flat :icon="fullscreen ? 'mdi-close' : 'mdi-fullscreen'" label="" @click="fullscreenToggle()">
            &nbsp;{{
              fullscreen ? 'Vollbild schliessen' : 'Alle anzeigen'
            }}</q-btn>
        </div>
      </template>

      <!-- DEBUG -->
      <!-- <br /><br />
      <q-btn size="xs" flat icon="mdi-tune-variant" label="">
        <q-menu>
          <q-select
            v-model="requestParams.distribution"
            :options="optionsDistribution"
            emit-value
            map-options
            label="Verteilung"
            stack-label
            :dense="true"
            :options-dense="true"
          />

          <q-select
            style="min-width: 120px"
            v-model="requestParams.maxNumber"
            :options="optionsDivisor"
            emit-value
            map-options
            label="Angezeigte Personen"
            stack-label
            :dense="true"
            :options-dense="true"
          />

          <q-select
            style="min-width: 100px"
            v-model="requestParams.markerSizeFactor"
            :options="optionsMarkerSizeFactor"
            emit-value
            map-options
            label="Markersize"
            stack-label
            :dense="true"
            :options-dense="true"
          />

          <q-select
            style="min-width: 100px"
            v-model="requestParams.markerColorMap"
            :options="optionsMarkerColorMap"
            emit-value
            map-options
            label="Farbschema"
            stack-label
            :dense="true"
            :options-dense="true"
          />
        </q-menu>

        Dev-Variationen
      </q-btn> -->
      <!-- END DEBUG -->
    </div>
  </div>
</template>

<script lang="ts">
// import AlgorithmDisclaimer from 'src/pages/components/AlgorithmDisclaimer.vue';
import { defineComponent, watch, ref } from 'vue';
// import getAppService from 'src/composables/app.service';
import { getAppService } from 'src/services/index';

import usePolarBeePlotComposable from '../composables/polar-bee-plot.composable';
import {
  IHighlightEvent,
  IOffsets,
  IPosition,
  // IViewBox,
} from '../models/plots';

export default defineComponent({
  name: 'PySwarmPlot',
  emits: [
    'select-element',
    'highlight-element',
    'data-reload',
    'fullscreen-toggle',
  ],
  // components: { AlgorithmDisclaimer },
  setup() {
    const {
      retrievePolarBeePlot,
      storedPolarBeePlot,
      requestParams,
      loading,
      totalUserCount,
      plottedUserCount,
      error,
      postProcessed,
    } = usePolarBeePlotComposable(300);
    const { showServiceError, showNetworkError } = getAppService();

    watch(requestParams, () => {
      retrievePolarBeePlot();
    });

    return {
      loading,
      postProcessed,
      error,
      totalUserCount,
      plottedUserCount,
      requestParams,
      retrievePolarBeePlot,
      storedPolarBeePlot,
      // hideLoadingGif,
      showNetworkError,
      showServiceError,
      fullscreen: ref(false),
    };
  },

  data() {
    return {
      optionsDistribution: [
        { value: 'default', label: 'VAA-TOPIC' },
        { value: 'uniform', label: 'Uniform' },
        { value: 'skewed-slight', label: 'Slightly Skewed' },
        { value: 'skewed-normal', label: 'Moderately Skewed' },
        { value: 'skewed-strong', label: 'Strongly Skewed' },
        { value: 'polarized-slight', label: 'Slightly Polarized' },
        { value: 'polarized-strong', label: 'Strongly Polarized' },
      ],

      optionsDivisor: [
        { value: 100, label: '<=100' },
        { value: 300, label: '<=300' },
        { value: 500, label: '<=500' },
        { value: 800, label: '<=800' },
        { value: 900, label: '<=900' },
        { value: 1000, label: '<=1000' },
      ],

      optionsMarkerColorMap: [
        { value: 'viridis', label: 'viridis' },
        { value: 'winter', label: 'winter' },
        // { value: 'cool', label: 'cool' },
        // { value: 'twilight', label: 'twilight' },
        { value: 'rainbow', label: 'rainbow' },
        { value: 'brg', label: 'brg' },
        { value: 'tab10', label: 'tab10' },
        { value: 'tab20c', label: 'tab20c' },
      ],

      optionsMarkerSizeFactor: [
        { value: 0.1, label: '--' },
        { value: 0.3, label: '-' },
        { value: 0.5, label: '0' },
        { value: 0.8, label: '+' },
        { value: 0.9, label: '+.' },
        { value: 1, label: '++' },
      ],

      svgPlotGridElement: null as HTMLElement | null,
      svgElement: null as HTMLElement | null,
      svgElementOffsets: null as IPosition | null,

      // Zoom and stuff
      svgSize: null as null | IOffsets,
      svgIsPanning: false,
      svgStartPoint: { x: 0, y: 0 },
      svgEndPoint: { x: 0, y: 0 },
      svgScale: 1 as number,

      // chart interactivity
      highlightedId: null as number | null,
      highlightedNr: null as number | null,
      selectedEl: null as HTMLElement | null,
      // userFilter: false,
      userFilterText: '',
    };
  },

  mounted() {
    if (!this.storedPolarBeePlot) {
      // console.log('mount....with stored plot');
      this.retrievePolarBeePlot();
    } else {
      // wait till DOM is ready
      this.onSvgLoad('#svgLoaded').then(() => {
        // console.log('DEBUG: mounted-#svgLoaded => postProcess()');
        this.postProcess();
      });
    }
  },

  methods: {
    /** Monitors svg loading */
    async onSvgLoad(selector, interval = 100, timeout = 5000) {
      let intervalId;
      let elapsed = 0;
      let promise = new Promise(function (resolve, reject) {
        intervalId = setInterval(() => {
          let element = document.querySelector(selector);
          if (element !== null) {
            clearInterval(intervalId);
            resolve(element);
          }
          elapsed += interval;
          if (elapsed > timeout) {
            clearInterval(intervalId);
            reject(
              `The selector ${selector} did not enter within the ${timeout}ms frame!`
            );
          }
        }, interval);
      });
      return promise;
    },

    svgExtractNumber(el: HTMLElement, attrib: string): number | null {
      const idstring: string | null = el.getAttribute(attrib);
      if (!idstring) {
        return null;
      }
      return parseInt(idstring);
    },

    svgExtractString(el: HTMLElement, attrib: string): string | null {
      const idstring: string | null = el.getAttribute(attrib);
      if (!idstring) {
        return null;
      }
      return idstring;
    },

    svgMouseOver(ev: MouseEvent) {
      if (ev.target) {
        const el: HTMLElement = ev.target as HTMLElement;
        const id = this.svgExtractNumber(el, 'data-id');

        if (id && this.highlightedId !== id) {
          // console.log('-', id);
          this.highlightElement(el, id, ev);
        }
      }
    },
    svgClick(ev: MouseEvent): any {
      if (ev.target) {
        const el: HTMLElement = ev.target as HTMLElement;
        const id = this.svgExtractNumber(el, 'data-id');
        // console.log(el, 'onclick');
        if (id) {
          this.selectElement(el, id);
        }
      }
    },

    // svgOnMouseWheel(ev: WheelEvent): void {
    //   ev.preventDefault();

    //   if (!this.svgElement || !this.svgSize) {
    //     console.log('no svg element found');
    //     return;
    //   }
    //   var viewBox: IViewBox = {
    //     x: 0,
    //     y: 0,
    //     w: this.svgElement.clientWidth,
    //     h: this.svgElement.clientHeight,
    //   };
    //   this.svgElement.setAttribute(
    //     'viewBox',
    //     `${viewBox.x} ${viewBox.y} ${viewBox.w} ${viewBox.h}`
    //   );

    //   var w = viewBox.w;
    //   var h = viewBox.h;
    //   var mx = ev.offsetX; //mouse x
    //   var my = ev.offsetY;
    //   var dw = w * Math.sign(ev.deltaY) * 0.05;
    //   var dh = h * Math.sign(ev.deltaY) * 0.05;
    //   var dx = (dw * mx) / this.svgSize.w;
    //   var dy = (dh * my) / this.svgSize.h;
    //   viewBox = {
    //     x: viewBox.x + dx,
    //     y: viewBox.y + dy,
    //     w: viewBox.w - dw,
    //     h: viewBox.h - dh,
    //   };
    //   this.svgScale = this.svgSize.w / viewBox.w;
    //   // console.log(`${Math.round(this.svgScale * 100) / 100}`);
    //   this.svgElement.setAttribute(
    //     'viewBox',
    //     `${viewBox.x} ${viewBox.y} ${viewBox.w} ${viewBox.h}`
    //   );
    // },

    svgMouseExit() {
      this.dehighlightElement();
    },

    dehighlightElement(): void {
      // highlight new one
      this.highlightedId = null;
      this.$emit('highlight-element');
    },

    highlightElement(el: HTMLElement, id: number, ev: MouseEvent): void {
      // de-highlight previous highlight
      // if (this.highlightedId) {
      // this.reorderChild(this.highlightedEl, true);
      // }
      // console.log(ev, 'mouseevent');
      // this.reorderChild(el);

      // highlight new one
      const x = this.svgExtractNumber(el, 'x');
      const y = this.svgExtractNumber(el, 'y');
      const label = this.svgExtractString(el, 'data-label');

      // Get Position of selected user...
      // const el = document.querySelector(
      //   `#scatgrid use[data-id='${event.id}']`
      // // );
      //         if (el) {
      //   const pos = el.getAttribute('data-pos');
      //   this.selectedUserPos = pos ? parseFloat(pos) : null;
      // }
      const posString = el.getAttribute('data-pos');
      const pos = posString ? parseInt(posString) : null;

      if (x && y) {
        const offsets = { x, y };
        const elementOffsets = this.convertSvgPositionToGlobalPosition(offsets);
        // console.log(elementOffsets);
        this.highlightedId = id;
        this.$emit('highlight-element', {
          id,
          label,
          elementOffsets,
          pos,
          ev,
        } as IHighlightEvent);
      }
    },

    selectElement(el: HTMLElement, id: number): void {
      // deselect old selected
      // console.log('DEBUG', el)
      this.deselectElement();
      // console.log('DEBUG2', el)
      // select new one
      this.selectedEl = el;
      el.classList.add('selected');
      const posString = el.getAttribute('data-pos');
      const pos = posString ? parseInt(posString) : null;
      const label = this.svgExtractString(el, 'data-label');
      this.$emit('select-element', { id, label, pos } as IHighlightEvent);
    },

    deselectElement(): void {
      // highlight new one
      if (this.selectedEl) {
        this.selectedEl.classList.remove('selected');
      }
      // console.log('DEBUG. reset sele')
      this.$emit('select-element', null);
    },

    convertSvgPositionToGlobalPosition(offsets: IPosition): IPosition {
      const { x: svgX, y: svgY } = offsets;

      if (!this.svgElement || !this.svgElementOffsets) {
        throw 'SVG Element not loaded';
      }

      const { x: svgW, y: svgH } = this.svgElementOffsets;
      const { width: absW, height: absH } =
        this.svgElement.getBoundingClientRect();
      if (!svgW || !svgH || !absW || !absH) {
        throw 'SVG Element not loaded';
      }
      const factorX = absW / svgW;
      const factorY = absH / svgH;

      // Do the conversion
      const absX = svgX * factorX;
      const absY = svgY * factorY;

      return { x: absX, y: absY };
    },

    /** Process SVG Elements after SVG is loaded in the DOM */
    postProcess() {
      // console.log('DEBUG: start postproce....', this.totalUserCount);

      this.$emit('data-reload', this.totalUserCount);

      // Add listener to root element
      const svgElementContainer = document.querySelector('.svg-container');

      this.svgPlotGridElement = document.querySelector('#scatgrid');
      this.svgElement = document.querySelector('.svg-container > svg');
      if (this.svgElement && svgElementContainer) {
        const viewBox = this.svgElement.getAttribute('viewBox')?.split(' ');
        if (!viewBox) {
          throw 'SVG Element not loaded';
        }
        this.svgElementOffsets = {
          x: parseFloat(viewBox[2]),
          y: parseFloat(viewBox[3]),
        };

        this.svgSize = {
          w: this.svgElement.clientWidth,
          h: this.svgElement.clientHeight,
        };
      }

      if (this.svgPlotGridElement && this.svgElement) {
        const evClick: (MouseEvent) => any = this.svgClick;
        this.svgPlotGridElement.addEventListener('click', evClick);
        const evMouse: (MouseEvent) => any = this.svgMouseOver;
        this.svgPlotGridElement.addEventListener('mouseover', evMouse);
        this.svgPlotGridElement.addEventListener('mouseenter', evMouse);
      }

      const els = document.querySelectorAll(
        '#scatgrid use[data-id]'
      ) as unknown as HTMLElement[];
      if (els) {
        els.forEach((el) => {
          const c = el.getAttribute('data-fill');
          if (c) {
            el.style.fill = c;
          }
        });
      }

      // close loading bar...
      this.postProcessed = true;
    },

    fullscreenToggle() {
      this.fullscreen = !this.fullscreen;
      this.$emit('fullscreen-toggle', this.fullscreen);

      if (this.fullscreen) {
        this.requestParams.maxNumber = 2000;
      } else {
        this.requestParams.maxNumber = 300;
      }
    },

    // filterToggle() {
    //   this.userFilter = !this.userFilter;
    // },

    applyUserFilter() {
      // DESELECT ALL
      const els1 = document.querySelectorAll('g > use.userfiltered');
      els1.forEach((el) => {
        el.classList.remove('userfiltered');
      });

      // SELECT FILTERED
      if (this.userFilterText?.length > 2) {
        let text = this.userFilterText.replace("'", '');
        text = text.replace('"', '');
        text = text.replace('`', '');
        text = text.replace('<', '');
        text = text.replace('>', '');
        text = text.replace(';', '');
        const els = document.querySelectorAll(
          `g > use[data-label*="${text}" i]`
        );
        els.forEach((el) => {
          el.classList.add('userfiltered');
        });
      }
    },
  },

  watch: {
    // New SVG-Plot Received?
    storedPolarBeePlot() {
      this.loading = false;
      this.onSvgLoad('#svgLoaded').then(() => {
        // console.log('DEBUG: storedPolarBeePlot-Watcher => postProcess()');
        this.postProcess();
      });
    },

    userFilterText() {
      // console.log(this.userFilterText);
      this.applyUserFilter();
    },
  },
});
</script>

<style lang="scss">
// SVG CONTAINER
.svg-configurator {
  position: absolute;
  right: 0px;
  top: 0px;
  display: inline-block;
  width: 200px;
  z-index: +2000;
  text-align: right;
}

.svg-configurator-menu {
  // border: 1px solid black;
  // background-color: blue;
  width: 300px;
}

.fullscreen {
  .svg-container {
    margin: 1em;
    max-width: 95%;
    max-height: 90%;
  }
}

.svg-container {
  max-width: 1300px;
  display: inline-block;
  position: relative;
  width: 100%;

  &.loading {
    svg {
      background-color: grey;
      visibility: hidden;
    }
  }
}

// SVG
svg {
  vertical-align: top;
  display: inline-block;

  // Default Text
  text {
    font-size: 30px;
  }

  // No fill for patches...
  g[id^='patch'] {
    fill: none;
  }

  // Y-Axis Lines
  g[id^='line2d'] {
    fill: none;
    stroke: none;
    // stroke-width: 0.8;
    // stroke-linecap: square;
  }

  // Axis
  #matplotlib\.axis_1 path,
  #matplotlib\.axis_2 path {
    stroke: #b0b0b0;
    stroke-opacity: 0.5;
    stroke-width: 0.4;
  }

  // DOTS
  g#scatgrid {

    // DOTS (fill & Hover & Selected & current User)
    use {
      fill-opacity: 0.8;
      cursor: pointer;
      stroke-width: 2;
      stroke-opacity: 1 !important;
      stroke: white !important;

      &:hover {
        fill: red !important;
        fill-opacity: 1;
      }

      &.selected {
        // stroke-width: ;
        fill: pink !important;
        // stroke: pink !important;
        fill-opacity: 1;
      }

      &.userfiltered {
        stroke-width: 2;
        stroke-opacity: 1 !important;
        fill: purple !important;
        fill-opacity: 1;
      }

      &.current {
        stroke-width: 2;
        stroke-opacity: 1 !important;
        // fill: orange !important;
        stroke: black !important;
      }
    }
  }
}
</style>
