<template>
  <ArtificialModeration :AM="AMs.medaillen" alignment="right" :role="2" :ctx="this" />

  <div class="q-pa-md">
    Ihre bisherigen Errungenschaften in der Demokratiefabrik:
  </div>

  <q-list v-if="loaded">

    <q-item v-for="certificate in ordered_certificates" :key="certificate.key">
      <q-item-section side top>
        <q-icon name="mdi-seal-variant" :class="
          user.CERTIFICATES.includes(certificate.key)
            ? 'text-yellow-5'
            : 'text-grey-4'
        " size="xl" />
      </q-item-section>
      <q-item-section v-if="!user.CERTIFICATES.includes(certificate.key)">
        <q-item-label class="q-pb-sm"><i>{{
          user.CERTIFICATES.includes(certificate.key)
          ? ''
          : 'Diese Medaille wurde noch nicht erreicht'
        }}</i></q-item-label>
        <!-- <q-skeleton type="rect" width="80%" /> -->
      </q-item-section>

      <q-item-section v-else>
        <q-item-label>{{ certificate.title }}</q-item-label>
        <q-item-label caption lines="3">{{ certificate.text }}</q-item-label>
      </q-item-section>
      <!-- <q-item-label caption>{{
        user.CERTIFICATES.includes(certificate.key)
          ? ''
          : 'Noch ausstehend'
      }}</q-item-label> -->
    </q-item>
    <!-- <q-separator spaced inset /> -->
  </q-list>
</template>

<script lang="ts">
import { defineComponent, computed } from 'vue';
import { useStore } from 'vuex';
import ArtificialModeration from 'src/pages/components/artificial_moderation/ArtificialModeration.vue';
import AMs from './ArtificialModeration';

export default defineComponent({
  name: 'CertificatesOverview',
  components: { ArtificialModeration },

  setup() {
    const certificates = [
      {
        key: 'CERTIFICATE_OUTLINING_OWN_SIDE',
        title: 'Eigene Position darlegen',
        text: 'Diese Medaille zeichnet Teilnehmende aus, die ihre Meinung in der Demokratiefabrik kundtun! Uns ist es wichtig, dass alle Teilnehmenden zu Wort kommen.',
      },
      // {
      //   key: 'CERTIFICATE_CONTRA_SIDE_ENGAGEMENT',
      //   title: 'Contra-Seite erkunden',
      //   text: 'Was denken die Gegnerinnen und Gegner über die Vorlage? Ihr Interesse an den Überlegungen der Gegnerschaft dieser Vorlage wird mit dieser Medaille belohnt.',
      // },
      {
        key: 'CERTIFICATE_BOTH_SIDE_ENGAGEMENT',
        title: 'Inhaltliche Positionen erkunden',
        text: 'Was denken die Gegnerinnen und Gegner sowie die Befürworterinnen und Befürworter über die Vorlage? Ihr Interesse an den Überlegungen der beiden Positionen wird mit dieser Medaille belohnt.',
      },
      {
        key: 'CERTIFICATE_USER_DISCUSSION',
        title: 'Direkter Austausch mit Teilnehmenden',
        text: 'Der direkte Austausch zwischen Bürgerinnen und Bürgern ist ein wichtiges Element in einer Demokratie. Darum erhalten Sie dafür eine Medaille.',
      },
      // {
      //   key: 'CERTIFICATE_PRO_SIDE_ENGAGEMENT',
      //   title: 'Pro-Seite erkunden',
      //   text: 'Was denken die Befürworterinnen und Befürworter über die Vorlage? Ihr Interesse an den Überlegungen der Befürwortenden wird mit dieser Medaille belohnt.',
      // },
      {
        key: 'CERTIFICATE_ARGUMENTREPERTOIRE',
        title: 'Mitarbeit am Argumentarium',
        text: 'Die Medaille wird an Teilnehmende verliehen, die mithelfen, das Argumentarium zu vervollständigen oder zu verbessern.',
      },
      {
        key: 'CERTIFICATE_FIRST_PEERREVIEWING',
        title: 'Vorschläge begutachten',
        text: 'Helfen Sie mit, die Vorschläge der anderen Teilnehmenden zu begutachten. Die Medaille wird verliehen, wenn Sie mindestens einen Vorschlag begutachtet haben. Achtung: Sie werden nicht jeden Tag zu einer Begutachtung eingeladen.',
      },
    ];
    const store = useStore();
    const user = computed(() => store.getters['profilestore/profile']);
    const nof_certificates = 5;

    const loaded = computed(() => !!user.value?.CERTIFICATES && user.value?.CERTIFICATES?.includes)

    const ordered_certificates = computed(() => {
      return [
        // archieved..
        ...certificates.filter(x => user.value.CERTIFICATES.includes(x.key)),
        ...certificates.filter(x => !user.value.CERTIFICATES.includes(x.key)),
      ]
    })

    return {
      user,
      ordered_certificates,
      AMs,
      loaded,
      nof_certificates,
    };
  },
});
</script>
