<template>
  <q-card class="popup-dialog-card">
    <div class="bg-purple-5">
      <q-toolbar class="text-white">
        <slot name="header-toolbar-action-left"></slot>
        <q-toolbar-title></q-toolbar-title>
        <slot name="header-toolbar-action-right"></slot>
      </q-toolbar>
      <!-- TODO Dont close when previous tab was open -->
      <div class="full-width q-mb-xl" style="text-align: center">
        <q-icon name="mdi-seal-variant" size="xl" class="text-yellow-6" />
        <br />
        <div class="text-h2 text-white">Medaillenspiegel</div>
        <br />
        <br />
      </div>
    </div>
    <q-card-section style="max-height: calc(100% - 280px)" class="scroll">
      <CertificatesOverview></CertificatesOverview>
    </q-card-section>
  </q-card>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue';
import { IDialog } from 'src/models/layout';
import CertificatesOverview from './CertificatesOverview.vue';

export default defineComponent({
  name: 'DialogCertificate',
  props: {
    id: {
      type: String,
      required: false,
    },
    currentDialog: {
      type: Object as PropType<IDialog>,
      required: true,
    },
  },
  components: { CertificatesOverview },
  emits: ['default-tab-change', 'back-or-close-dialog'],
  methods: {
    closeDialog() {
      this.$emit('back-or-close-dialog');
    },
  },
});
</script>

<style lang="scss" scoped>
.q-tab-panels {
  min-height: 220px;
}
</style>
