<template>
  <q-card class="popup-dialog-card no-scroll">
    <q-toolbar>
      <slot name="header-toolbar-action-left"></slot>

      <q-toolbar-title>
        <template v-if="!!userTuple">
          <UserAvatar size="md" :avatarOnly="true" :userTuple="userTuple"></UserAvatar>
          Öffentliches Profil bearbeiten
        </template>
        <template v-else> Bitte warten... </template>
      </q-toolbar-title>

      <slot name="header-toolbar-action-right"></slot>
    </q-toolbar>

    <q-card-section style="max-height: calc(100% - 55px)" class="scroll">
      <ArtificialModeration :AM="currentDialog.AM" v-if="currentDialog.AM" :slim="true" alignment="left" :ctx="this" />

      <keep-alive>
        <PublicCirProfileModify :fullVersion="true" :userTuple="userTuple"
          :statementContentTuple="statementContentTuple" @back-or-close-dialog="$emit('back-or-close-dialog')"
          :topicContentTuple="topicContentTuple" :preventCancel="currentDialog.preventCancel"></PublicCirProfileModify>
      </keep-alive>
    </q-card-section>
  </q-card>
</template>

<script lang="ts">
import { defineComponent, watch, ref, PropType, computed } from 'vue';
import { IAssemblyUserTuple } from 'src/models/assembly';
import { useStore } from 'vuex';
import PublicCirProfileModify from 'src/plugins/CIR/components/PublicCirProfileModify.vue';
import { IDialog } from 'src/models/layout';
import useCIRStatementService from 'src/plugins/CIR/services/statement.composable';
import useCIRTopicService from 'src/plugins/CIR/services/topic.composable';
import UserAvatar from 'src/pages/components/UserAvatar.vue';
import ArtificialModeration from 'src/pages/components/artificial_moderation/ArtificialModeration.vue';
import useStoreService from 'src/services/store.service';

export default defineComponent({
  name: 'DialogUserInfoModify',
  props: {
    id: {
      type: Number,
      required: false,
    },
    defaultTab: {
      type: String,
      default: 'user',
    },
    currentDialog: {
      type: Object as PropType<IDialog>,
      required: true,
    },
    contenttreeIdentifier: {
      type: String,
      required: false,
    },
  },
  components: { ArtificialModeration, PublicCirProfileModify, UserAvatar },
  emits: ['default-tab-change', 'back-or-close-dialog'],
  setup(props) {
    // console.log('DEBUG setup DIALOG USER INFO445435');
    const store = useStore();
    const getAssemblyUser = store.getters['assemblystore/get_assembly_user'];
    const { assemblyIdentifier } = useStoreService();

    const tab = ref<string>(props.defaultTab);

    const syncUser = (): void => {
      store
        .dispatch('assemblystore/retrieveAssemblyUser', {
          assemblyIdentifier: assemblyIdentifier.value,
          userID: props.id,
        })
        .catch((e) => {
          console.error(
            e,
            assemblyIdentifier.value,
            props.id,
            'assembly user sync error'
          );
          // throw 'assembly user sync error';
        });
    };

    const userTuple = computed((): IAssemblyUserTuple | null => {
      if (props.id) {
        const user = getAssemblyUser(assemblyIdentifier.value, props.id);
        return user;
      }
      return null;
    });

    const { topicContentTuple } = useCIRTopicService(userTuple);
    const { statementContentTuple } = useCIRStatementService(userTuple);

    watch(
      () => props.id,
      () => {
        if (props.id) {
          // console.log('--- Changed uSER ID ', props.id);
          syncUser();
        }
      },
      { immediate: true }
    );

    return {
      tab,
      store,
      getAssemblyUser,
      userTuple,
      statementContentTuple,
      topicContentTuple,
    };
  },
});
</script>
