<template>
  <!-- no-scroll -->
  <q-card class="popup-dialog-card">
    <div class="bg-blue-grey-1">
      <q-toolbar>
        <slot name="header-toolbar-action-left"></slot>
        <q-toolbar-title></q-toolbar-title>
        <slot name="header-toolbar-action-right"></slot>
      </q-toolbar>

      <template v-if="!!userTuple">
        <div class="full-width q-mb-xl" style="text-align: center">
          <!-- <div
              class="full-width bg-grey-3"
              style="height: 2em; position: absolute; left: -1em; "
            ></div> -->
          <UserAvatar size="60px" class="" :clickable="false" :showTooltip="false" :avatarOnly="true"
            :userTuple="userTuple"></UserAvatar>

          <br />
          <!-- Öffentliches Profil von  -->
          <div class="text-h2">{{ userTuple.user.U }} <template v-if="IsManager">#{{ userTuple.user.id }}</template>
          </div>
          <div class="text-italic">{{ usernameDerivation }}</div>
        </div>
      </template>
      <template v-else-if="!errorUserLoading">
        <div class="full-width q-mb-xl" style="text-align: center">
          <q-spinner-ball color="primary" size="2em" />
        </div>
      </template>
      <template v-else>
        <div class="full-width q-mb-xl" style="text-align: center">
          <div class="text-red" v-if="errorUserLoading">
            Die Daten dieses Teilnehmers konnte nicht geladen werden.
            (Möglicherweise sind es nur Testdaten.)
          </div>
        </div>
      </template>

      <q-tabs v-model="tab" dense @update:model-value="$emit('default-tab-change', $event)" active-color="primary"
        indicator-color="primary" align="justify" narrow-indicator>
        <q-tab name="voice" label="Positionierung" icon="mdi-map-marker-outline" />
        <!-- <q-tab name="discussion" label="Gesprächsecke" /> -->
        <q-tab name="discussion" icon="mdi-comment-text-multiple" :label="nofChildren ? `Gesprächsecke (${nofChildren})` : 'Gesprächsecke'
          ">
          <q-badge v-if="nofChildrenUnread" color="orange" floating>{{
            nofChildrenUnread
          }}<q-tooltip>{{ nofChildrenUnread }} ungelesene Beiträge
            </q-tooltip>
          </q-badge>
        </q-tab>
        <q-tab name="user" label="Aktivität" icon="mdi-clock-outline" />
      </q-tabs>
    </div>
    <q-separator />

    <q-card-section style="max-height: calc(100% - 280px)" class="scroll">
      <q-tab-panels v-model="tab" animated v-if="!!userTuple">
        <q-tab-panel name="voice" id="voicePanel" class="no-scroll" ref="tab-panel-voice">
          <TabUserViewVoice ref="TabUserViewVoice" :openedAsScheduledTask="openedAsScheduledTask" :userTuple="userTuple"
            @close-dialog="closeDialog()" @tab-change="tabChange($event)" :statementContentTuple="statementContentTuple"
            :statementContenttreeTuple="statementContenttreeTuple" />
          <!-- v-on:open-dialog="openDialog($event)" -->
        </q-tab-panel>

        <q-tab-panel name="discussion" class="no-scroll">
          <UserDiscussion v-if="statementContenttreeTuple && statementContentTuple" :userTuple="userTuple"
            :alternativeRootNode="statementContentTuple" :contenttreeTuple="statementContenttreeTuple" />
        </q-tab-panel>

        <q-tab-panel name="user" class="no-scroll">
          <UserInfo :userTuple="userTuple" :hideAvatar="true" />
        </q-tab-panel>
      </q-tab-panels>

      <!-- <q-separator /> -->
    </q-card-section>
  </q-card>
</template>

<script lang="ts">
import { defineComponent, watch, ref, PropType, computed } from 'vue';
import { IAssemblyUserTuple } from 'src/models/assembly';
import { useStore } from 'vuex';
import UserInfo from 'src/pages/components/UserInfo.vue';
import UserDiscussion from 'src/pages/components/UserDiscussion.vue';
import UserAvatar from 'src/pages/components/UserAvatar.vue';
import TabUserViewVoice from 'src/plugins/CIR/components/TabUserViewVoice.vue';
import { IDialog } from 'src/models/layout';
import useCIRStatementService from 'src/plugins/CIR/services/statement.composable';
import { getAuthService } from 'src/services/index';
import useStoreService from 'src/services/store.service';
import useContentComposable from 'src/composables/content.composable';
// import { INodeTuple } from 'src/models/content';
// import { IContentTreeTuple } from 'src/models/contenttree';

export default defineComponent({
  name: 'DialogUserInfoCIR',
  props: {
    id: {
      type: Number,
      required: false,
    },
    defaultTab: {
      type: String,
      default: 'voice',
    },
    currentDialog: {
      type: Object as PropType<IDialog>,
      required: true,
    },
    contenttreeIdentifier: {
      type: String,
      required: false,
    },
  },
  components: {
    UserInfo,
    UserDiscussion,
    UserAvatar,
    TabUserViewVoice,
    // TabUserViewArguments,
    // ComponentContentTree,
  },
  emits: ['default-tab-change', 'back-or-close-dialog'],

  setup(props) {
    // console.log('DEBUG setup DIALOG USER INFO')
    const store = useStore();
    const IsManager = computed(
      (): boolean => store.getters['assemblystore/IsManager']
    );
    const IsAuthenticated = computed(
      (): boolean => store.getters['assemblystore/IsAuthenticated']
    );

    const { isRead } = useContentComposable();
    const { assemblyIdentifier } = useStoreService();
    const tab = ref<string>(props.defaultTab);
    const errorUserLoading = ref<boolean>(false);
    const { getUsernameDerivation } = getAuthService();

    const publicProfile = computed(() => store.getters['profilestore/profile']);
    const ownCirProfile = computed(() => {
      return publicProfile.value?.id == props.id;
    });
    const syncUser = (): void => {
      store
        .dispatch('assemblystore/retrieveAssemblyUser', {
          assemblyIdentifier: assemblyIdentifier.value,
          userID: props.id,
        })
        .catch((e) => {
          errorUserLoading.value = true;
          console.error(
            e,
            assemblyIdentifier.value,
            props.id,
            'assembly user sync error'
          );
          // throw 'assembly user sync error';
        });
    };

    const getAssemblyUser = store.getters['assemblystore/get_assembly_user'];
    const openedAsScheduledTask = computed((): boolean | undefined => {
      return props.currentDialog?.openedAsScheduledTask;
    });
    const userTuple = computed((): IAssemblyUserTuple | null => {
      if (props.id) {
        return getAssemblyUser(assemblyIdentifier.value, props.id);
      }
      return null;
    });

    const usernameDerivation = computed((): string => {
      if (!userTuple?.value) {
        return '';
      }
      return getUsernameDerivation(userTuple.value.user);
    });

    const {
      statementContentTuple,
      statementContenttreeTuple,
      // statementContenttreeIdentifier,
    } = useCIRStatementService(userTuple, true, true);
    const children = computed(() => {
      if (!statementContentTuple) {
        throw 'invalid content';
      }
      // console.log(statementContenttreeTuple.value?.entries);
      const entries = statementContenttreeTuple.value?.entries;
      if (entries) {
        return Object.values(entries).filter(
          (x) => x.content?.id !== statementContentTuple.value?.content?.id
        );
      }
      return null;
    });

    const nofChildren = computed(() => {
      if (!children.value) {
        return null;
      }
      return children.value?.length;
    });
    const nofChildrenUnread = computed(() => {

      if (!IsAuthenticated.value) {
        return 0
      }

      if (!children.value) {
        return null;
      }
      const unread = children.value.filter((n) => !isRead(n as any));
      return unread.length;
    });

    watch(
      () => props.id,
      () => {
        if (props.id) {
          // console.log('--- Changed uSER ID ', props.id);
          syncUser();
        }
      },
      { immediate: true }
    );

    return {
      tab,
      usernameDerivation,
      statementContentTuple,
      statementContenttreeTuple,
      store,
      nofChildrenUnread,
      nofChildren,
      ownCirProfile,
      userTuple,
      IsManager,
      errorUserLoading,
      assemblyIdentifier,
      openedAsScheduledTask,
    };
  },
  methods: {
    closeDialog() {
      this.$emit('back-or-close-dialog');
    },

    tabChange(tab) {
      this.tab = tab;
      // this.$emit('tab-change', tab);
    },
  },
});
</script>

<style lang="scss" scoped>
.q-tab-panels {
  min-height: 220px;
}
</style>
