<template>
  <span class="float-right q-pa-none q-ma-none" style="display: inline-block">
    <q-btn :label="`Liste bisheriger ${computedType === 'PRO' ? 'Pro-Argumente' : 'Contra-Argumente'
      }`" outline class="q-ma-xs q-px-md q-pv-xl" dense size="md" color="primary"
      @click.stop.prevent="showDialog = true" />

    <q-dialog v-model="showDialog" v-if="showDialog">
      <q-card class="popup-dialog-card scroll q-pa-md">
        <q-toolbar>
          <q-toolbar-title>Liste bestehender
            {{
              computedType === 'PRO' ? 'Pro-Argumente' : 'Contra-Argumente'
            }}</q-toolbar-title>
          <q-btn flat round dense icon="mdi-close" v-close-popup />
        </q-toolbar>

        <q-card-section>
          <p class="text-caption">
            Sie finden nachfolgend eine Liste der bereits eingegangenen
            Argumente zu dieser Position. Überprüfen Sie bitte sorgfältig, ob
            das Argument, welches Sie einfügen möchten, in dieser Liste bereits
            vorhanden ist.
          </p>

          <q-list bordered style="max-height: 50vh" class="scroll" v-if="previousContributions">
            <template v-for="node in previousContributions" :key="node.content?.id">
              <q-expansion-item group="somegroup" :icon="sideIcon" :label="node.content?.title"
                header-class="text-primary">
                <div class="q-pa-sm">
                  {{ node.content?.text }}
                </div>
              </q-expansion-item>
              <q-separator />
            </template>
          </q-list>
        </q-card-section>
        <br>
        <q-card-actions vertical align="right">
          <q-btn flat dense label="Schliessen" icon="mdi-close" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </span>
</template>

<script lang="ts">
import { defineComponent, PropType, ref } from 'vue';
import constants from 'src/utils/constants';
// import getMonitorService from 'src/composables/monitor.composable';
import { getMonitorService } from 'src/services/index';

import useContenttreeComposable from 'src/composables/contenttree.composable';
import { INodeTuple } from 'src/models/content';
import { IPeerreviewTuple } from 'src/models/peerreview';

export default defineComponent({
  name: 'ListOfOlderSameLevelSameTypeEntries',
  props: {
    current: {
      type: Object as PropType<INodeTuple | IPeerreviewTuple>,
      required: false,
    },
    contenttreeIdentifier: {
      type: String,
      required: true,
    },
    type: {
      type: String,
      required: false,
    },
  },

  setup(props) {
    const computedType: string | undefined = props.type
      ? props.type
      : props.current?.content?.type;
    const { monitorLog } = getMonitorService();

    return {
      computedType,
      monitorLog,
      sideIcon: computedType ? constants.ICONS[computedType] : 'mdi-comment',
    };
  },
  data() {
    return {
      showDialog: false,
    };
  },

  computed: {
    contenttreeEntries(): Record<string, INodeTuple> | null {
      const contenttreeIdentifierRef = ref(this.contenttreeIdentifier);

      const { contenttreeEntries } = useContenttreeComposable(
        contenttreeIdentifierRef
      );

      return contenttreeEntries.value;
    },

    previousContributions(): INodeTuple[] | undefined {
      if (!this.contenttreeEntries) {
        return undefined;
      }

      const currentId: number | null = this.current?.content?.id
        ? this.current.content.id
        : 10000000;

      if (!this.computedType) {
        throw 'No content type specified....';
      }
      // console.log(currentId, this.computedType, this.type);
      return Object.values(this.contenttreeEntries).filter((tuple) => {
        return (
          tuple?.content?.id &&
          currentId &&
          this.computedType &&
          // Either older or already accepted...
          (tuple.content.id < currentId ||
            !tuple.content.pending_peerreview_for_insert) &&
          tuple.content?.type == this.computedType
        );
      });
    },
  },

  watch: {
    showDialog(val) {
      if (val) {
        this.monitorLog(constants.MONITOR_DIALOG_CONTENT_SIBLINGS);
      }
    },
  },
});
</script>
