<template>
  <template v-if="just_proposed">
    <div class="text-h5 q-ma-md">Herzlichen Dank!</div>
    <p class="q-pl-md">Ihr Verbesserungsantrag wird nun von anderen Teilnehmerinnen und Teilnehmern begutachtet.</p>
  </template>

  <template v-if="!just_proposed">
    <div class="text-h5 q-ma-md">Neuer Verbesserungsantrag</div>
    <div v-if="nodeTuple?.content?.pending_peerreview_for_insert" class="q-pl-md">
      <p>
        Für diesen Beitrag kann noch kein Verbesserungsantrag
        eingereicht werden, da er noch nicht abschliessend begutachtet wurde. Sie können
        Ihren Antrag vorläufig als Kommentar unter “Beitrag” ins Forum schreiben.
        So gehen Ihre Überlegungen nicht vergessen.
      </p>
    </div>
    <div v-else-if="nodeTuple?.content?.pending_peerreview_for_update" class="q-pl-md">
      Für diesen Beitrag wird gerade ein Verbesserungsantrag
      begutachtet. Wir müssen warten, bis dieses Gutachten abgeschlossen ist.
      Möchten Sie Ihren Vorschlag stattdessen vorläufig als Kommentar ins Forum (in der Rubrik "Diskussion") schreiben? So
      gehen Ihre Überlegungen nicht vergessen.
    </div>

    <div v-else class="q-pl-md">
      <p v-if="nodeTuple?.content?.title">
        Sie möchten eine Verbesserung für den Beitrag "<span class="text-purple">{{ nodeTuple.content.title }}</span>"
        beantragen? Wir sind gespannt! Bitte achten Sie darauf, dass Ihre Verbesserung die unten aufgeführten Bedingungen
        erfüllt.
      </p>
      <p>
        Hinweis: Sie können heute maximal
        {{ dailyContributionLimits.daylimit }}
        {{ dailyContributionLimits.daylimit == 1 ? 'Antrag' : 'Anträge' }}
        einreichen.
        <span v-if="dailyContributionLimits.current">Sie haben bereits
          {{ dailyContributionLimits.current }} eingereicht.</span>
        <!-- <p> Hinweis: Sie können maximal {{dailyContributionLimits.daylimit}} Anträge pro Tag einreichen. <span v-if="dailyContributionLimits.current">Sie haben bereits {{dailyContributionLimits.current}} eingereicht.</span> -->
      </p>
    </div>
  </template>

  <div class="q-pa-md">
    <q-card-section class="q-mb-md q-ml-md text-notification" v-if="
      limitForAddingProposalsReached && !overallLimitForAddingProposalsReached
    ">
      Sie haben heute schon {{ dailyContributionLimits.current }} Anträge
      eingereicht. Damit haben Sie die Tageslimite erreicht. Ab morgen früh
      können Sie wieder neue Anträge stellen.
    </q-card-section>

    <q-card-section class="q-mb-md q-ml-md text-notification" v-if="overallLimitForAddingProposalsReached">
      Sie haben das Maximum an möglichen Anträgen pro Teilnehmenden erreicht.
      Wir danken Ihnen für Ihr grosses Engagement in der Demokratiefabrik.
    </q-card-section>

    <q-form ref="qform" @submit="onSubmit" @reset="onReset" class="q-gutter-md" v-if="
      !overallLimitForAddingProposalsReached &&
      !limitForAddingProposalsReached &&
      !nodeTuple.content.pending_peerreview_for_update &&
      !nodeTuple.content.pending_peerreview_for_insert
    ">
      <b>Titel des Arguments</b>
      <q-input style="clear: both" filled counter v-model="localmodel.title" :maxlength="maxTitleLength"
        :label="$t('common_properties.contribution_title_hint')" :hint="$t('common_properties.contribution_title_hint')"
        lazy-rules :rules="[
          (val) =>
            (val && val.length > 0) ||
            'Nehmen Sie hier Ihre Änderung am Titel des Beitrags vor.',
        ]" />

      <b>Ausführlicher Text</b>
      <q-input style="clear: both" filled counter v-model="localmodel.text" :maxlength="maxTextLength" type="textarea"
        :label="$t('common_properties.contribution_text_hint')" :hint="$t('common_properties.contribution_text_hint')"
        lazy-rules :rules="[
          (val) =>
            (val && val.length > 0) ||
            'Nehmen Sie hier Ihre Änderung am Haupttext des Beitrags vor.',
        ]" />

      <!-- <br /> -->
      <!-- <b>Begründung</b>
      <q-input filled :autogrow="true" v-model="localmodel.comment_text"
        label="Warum nehmen Sie die Änderung vor? Begründen Sie es bitte kurz. *" type="textarea" counter
        :maxlength="maxExplanationLength" lazy-rules :rules="[
          (val) =>
            (val !== null && val !== '') ||
            'Versuchen Sie die anderen Teilnehmenden von dieser Änderung zu überzeugen.',
          (val) =>
            (val && val.length > 0 && val.length <= maxTextLength) ||
            `Die Beschreibung muss zwischen 0 und ${maxTextLength} Zeichen lang sein.`,
        ]" /> -->

      <hr />
      <!-- <q-btn label="OPENAI-DEMO: Validieren" @click="argument_assessment()" color="primary" />

      <div v-if="openai_validation_response">
        <q-spinner-dots v-if="openai_validation_response.LOADING" size="50px" color="primary" />
        <p v-if="openai_validation_response.topicmatch?.choices?.length > 0">
          <b>Passt das Argument thematisch zur Abstimmungsvorlage:</b>
          {{ openai_validation_response.topicmatch.choices[0].text }}
        </p>
        <p v-if="openai_validation_response.sentiment?.choices?.length > 0">
          <b>Ist es ein Pro oder ein Kontra-argument:</b>
          {{ openai_validation_response.sentiment.choices[0].text }}
        </p>
        <p v-if="openai_validation_response.similarity?.choices?.length > 0">
          <b>Ist in diesem Verbesserungsvorschlag der zentrale Gedanke des
            ursprünglichen Arguments erhalten geblieben:</b>
          {{ openai_validation_response.similarity.choices[0].text }}
        </p>
        <p v-if="openai_validation_response.similarity?.choices?.length > 0">
          <b>Wurde dieses Argument bereits von anderen Argumenten
            aufgegriffen:</b>
          {{ openai_validation_response.redundancy.choices[0].text }}
        </p>
      </div> -->
      <!-- <hr /> -->

      <div class="q-pl-xs">
        Bitte bestätigen Sie zudem folgende Aussagen:<br />

        <q-toggle v-model="accept1" class="q-ma-none" color="green" :class="{ 'toggle-red': accept1 === false }"
          checked-icon="mdi-thumb-up" :unchecked-icon="accept1 === false ? 'mdi-thumb-down' : ''" size="lg"
          :label="$t('common_properties.update.criteria_accept.1')" />


        <q-toggle class="q-ma-none" v-model="accept2" color="green" :class="{ 'toggle-red': accept2 === false }"
          checked-icon="mdi-thumb-up" :unchecked-icon="accept2 === false ? 'mdi-thumb-down' : ''" size="lg" :label="$t('common_properties.update.criteria_accept.2', {
            typeLabel:
              nodeTuple.content.type === 'PRO' ? 'Pro-Argument' : 'Contra-Argument',
          })" />

        <q-toggle class="q-ma-none" v-model="accept3" color="green" :class="{ 'toggle-red': accept3 === false }"
          checked-icon="mdi-thumb-up" :unchecked-icon="accept3 === false ? 'mdi-thumb-down' : ''" size="lg"
          :label="$t('common_properties.update.criteria_accept.3')" />

        <q-toggle class="q-ma-none" v-model="accept4" color="green" :class="{ 'toggle-red': accept4 === false }"
          checked-icon="mdi-thumb-up" :unchecked-icon="accept4 === false ? 'mdi-thumb-down' : ''" size="lg" :label="
            $t('common_properties.update.criteria_accept.4', {
              typeLabel:
                nodeTuple.content.type === 'PRO'
                  ? 'Pro-Argument'
                  : 'Contra-Argument',
            })
          " />
        <q-toggle class="q-ma-none" v-model="accept5" color="green" :class="{ 'toggle-red': accept5 === false }"
          checked-icon="mdi-thumb-up" :unchecked-icon="accept5 === false ? 'mdi-thumb-down' : ''" size="lg"
          :label="$t('common_properties.update.criteria_accept.5')" />

        <br />
        <br />

        <div>
          <q-btn label="Änderungsantrag einreichen" type="submit" color="primary" />
          <q-btn label="Antrag verwerfen" type="reset" color="primary" flat class="q-ml-sm" />
        </div>
      </div>

    </q-form>
  </div>
</template>

<script  lang="ts">
import useStoreService from 'src/services/store.service';
import { defineComponent } from 'vue';
import { mapActions, mapGetters } from 'vuex';
import api from 'src/utils/api';
import { getAssemblyService } from 'src/services/index';
import { getStore } from 'src/services';

export default defineComponent({
  name: 'CIR_ProposalEdit',
  setup() {

    const store = getStore();

    // console.log('MOUNTED DEBUG');
    const { assemblyIdentifier } = useStoreService();

    const {
      limitForAddingProposalsReached,
      overallLimitForAddingProposalsReached,
      getDailyContributionLimits,
    } = getAssemblyService();

    return {
      assemblyIdentifier,
      limitForAddingProposalsReached,
      overallLimitForAddingProposalsReached,
      getDailyContributionLimits,
      store
    };
  },
  data() {
    return {
      localmodel: {
        title: '',
        comment_title: 'Begründung durch den Antragstellenden',
        comment_text: '',
        text: '',
      },
      just_proposed: false,
      accept1: undefined as boolean | undefined,
      accept2: undefined as boolean | undefined,
      accept3: undefined as boolean | undefined,
      accept4: undefined as boolean | undefined,
      accept5: undefined as boolean | undefined,
      openai_validation_response: null,
      // accept6: false,
    };
  },
  components: {
    // AlgorithmDisclaimer,
  },
  props: ['nodeTuple'],
  emits: ['switch-tab'],
  computed: {
    dailyContributionLimits() {
      const limits = this.getDailyContributionLimits();
      return limits.number_of_proposals;
    },
    maxTextLength() {
      return this.get_content_text_max_length({
        contenttreeIdentifier: this.nodeTuple.content.contenttree_identifier,
        type: this.nodeTuple.content.type,
      });
    },
    maxTitleLength() {
      return this.get_content_title_max_length({
        contenttreeIdentifier: this.nodeTuple.content.contenttree_identifier,
        type: this.nodeTuple.content.type,
      });
    },
    maxExplanationLength() {
      return this.get_content_title_max_length({
        contenttreeIdentifier: this.nodeTuple.content.contenttree_identifier,
        type: 'COMMENT',
      });
    },

    ...mapGetters({
      get_content_text_max_length:
        'contenttreestore/get_content_text_max_length',
      get_content_title_max_length:
        'contenttreestore/get_content_title_max_length',
    }),
  },
  methods: {
    // argument_assessment() {
    //   console.assert(this.nodeTuple.content.contenttree_identifier);
    //   // console.log('0dddd');

    //   const data = {
    //     title: this.localmodel.title,
    //     type: this.localmodel.type,
    //     text: this.localmodel.text,
    //     id: this.nodeTuple.content.id,
    //   };
    //   // console.log(data, this.localmodel);
    //   this.openai_validation_response = { LOADING: true };
    //   api
    //     .assessArgument(
    //       this.assemblyIdentifier,
    //       this.nodeTuple.content.contenttree_id,
    //       data
    //     )
    //     .then((response) => {
    //       const data = response.data;
    //       console.log('OPENAI: ', data);
    //       this.openai_validation_response = data;
    //     })
    //     .catch(() => {
    //       this.openai_validation_response = null;
    //     });
    // },

    onSubmit() {
      console.assert(this.nodeTuple.content.contenttree_identifier);

      if (!this.accept1) {
        this.$q.notify({
          type: 'nFabrikWarning',
          message:
            `Bestätigen Sie folgendes Kästchen: "${this.$t('common_properties.update.criteria_accept.1', {
              typeLabel:
                this.nodeTuple.content.type === 'PRO' ? 'Pro-Argument' : 'Contra-Argument',
            })}"`,
        });
      }
      if (!this.accept2) {
        this.$q.notify({
          type: 'nFabrikWarning',
          message:
            `Bestätigen Sie folgendes Kästchen: "${this.$t('common_properties.update.criteria_accept.2', {
              typeLabel:
                this.nodeTuple.content.type === 'PRO' ? 'Pro-Argument' : 'Contra-Argument',
            })}"`,
        });
      }
      if (!this.accept3) {
        this.$q.notify({
          type: 'nFabrikWarning',
          message:
            `Bestätigen Sie folgendes Kästchen: "${this.$t('common_properties.update.criteria_accept.3', {
              typeLabel:
                this.nodeTuple.content.type === 'PRO' ? 'Pro-Argument' : 'Contra-Argument',
            })}"`,
        });
      }
      if (!this.accept4) {
        this.$q.notify({
          type: 'nFabrikWarning',
          message:
            `Bestätigen Sie folgendes Kästchen: "${this.$t('common_properties.update.criteria_accept.4', {
              typeLabel:
                this.nodeTuple.content.type === 'PRO' ? 'Pro-Argument' : 'Contra-Argument',
            })}"`,
        });
      }
      if (!this.accept5) {
        this.$q.notify({
          type: 'nFabrikWarning',
          message:
            `Bestätigen Sie folgendes Kästchen: "${this.$t('common_properties.update.criteria_accept.5', {
              typeLabel:
                this.nodeTuple.content.type === 'PRO' ? 'Pro-Argument' : 'Contra-Argument',
            })}"`,
        });
      }
      // if (!this.accept6) {
      //   this.$q.notify({
      //     type: 'nFabrikWarning',
      //     message:
      //       'Bestätigen Sie folgendes Kästchen: ' +
      //       this.$t('common_properties.update.criteria_accept.6'),
      //   });
      // }

      const data = {
        comment_title: this.localmodel.comment_title,
        // comment_text: this.localmodel.comment_text,
      } as any;
      if (this.nodeTuple.content.title !== this.localmodel.title) {
        data.title = this.localmodel.title;
      }
      if (this.nodeTuple.content.text !== this.localmodel.text) {
        data.text = this.localmodel.text;
      }

      // Transmit only the data that changed.
      if (Object.keys(data).length <= 1) {
        this.$q.notify({
          type: 'nFabrikWarning',
          message: 'Es wurden keine Änderungen vorgenommen.',
        });
        return null;
      }

      if (
        this.accept1 &&
        this.accept2 &&
        this.accept3 &&
        this.accept4 &&
        this.accept5
        // this.accept6
      ) {
        // SUBMIT PROPOSAL
        // console.log('Propose new SV-Question');
        data.id = this.nodeTuple.content.id;
        api
          .proposeContent(
            this.assemblyIdentifier,
            this.nodeTuple.content.contenttree_id,
            data
          )
          .then((response) => {
            // console.log(response.data);
            // console.log('Model saved');

            // ERROR RESPONSE
            if (response.data.OK) {
              // Update Vuex Store
              console.assert('peerreview' in response.data);
              this.store.dispatch('peerreviewstore/updatePeerreviewTuple', {
                peerreviewTuple: response.data.peerreview,
              });

              // set just_proposed flag
              this.just_proposed = true

              // set under peerreview flag
              if (!response.data.peerreview.peerreview.id) {
                console.log(
                  'ERROR',
                  response.data.peerreview.peerreview.id,
                  response.data.peerreview.id
                );
                alert(
                  'wrongly coded: response.data.peerreview.peerreview.id or response.data.peerreview.id'
                );
              }
              this.store.dispatch(
                'contenttreestore/set_flag_for_peerreview_updates',
                {
                  contenttreeIdentifier:
                    this.nodeTuple.content.contenttree_identifier,
                  contentID: this.nodeTuple.content.id,
                  peerreviewID: response.data.peerreview.peerreview.id,
                }
              );

              // store new Discussion Entry...
              if (response.data.content) {
                this.update_content({ contentTuple: response.data.content });
              }
              // store new Explanation Entry
              if (response.data.comment) {
                this.update_content({ contentTuple: response.data.comment });
              }

              if ('notifications' in response.data) {
                this.store.dispatch('profilestore/update_notifications', {
                  notifications: response.data.notifications,
                });
              }

              this.store.dispatch(
                'assemblystore/incrementAssemblyActivityCounter',
                { counterName: 'number_of_proposals_today' }
              );

              // Success Message.
              this.$q.notify({
                type: 'nFabrikInfo',
                message:
                  'Der Antrag wurde eingereicht und wird ab sofort von anderen Teilnehmenden begutachtet.',
              });

              this.onReset('proposal');
            } else {
              // Error Message
              this.$q.notify({
                type: 'nFabrikError',
                message:
                  'Das Formular konnte nicht verarbeitet werden. Bitte informieren Sie die Veranstalter.',
              });
            }
          })
          .catch((error) => {
            console.warn(error);
            this.$q.notify({
              type: 'nFabrikError',
              message:
                'Das Formular konnte nicht verarbeitet werden. Bitte informieren Sie die Veranstalter.',
            });
            // Error Handling is done in Axios Interceptor
          });
      }
    },

    ...mapActions({
      update_content: 'contenttreestore/update_content',
    }),

    closeDialog(destinationTab) {
      // console.log('DESTINATION TAB', destinationTab);
      setTimeout(() => {
        this.$emit('switch-tab', destinationTab);
      }, 10);
    },

    onReset(destinationTab) {
      this.accept1 = false;
      this.accept2 = false;
      this.accept3 = false;
      this.accept4 = false;
      this.accept5 = false;
      // this.accept6 = false;
      this.localmodel.title = this.nodeTuple.content.title;
      this.localmodel.text = this.nodeTuple.content.text;
      (this.$refs as any).qform.resetValidation();
      // console.log("closeDialog ", destinationTab);

      if (!destinationTab) {
        destinationTab = 'content';
      }
      this.closeDialog(destinationTab);
    },
  },

  mounted() {
    this.localmodel.title = this.nodeTuple.content.title;
    this.localmodel.text = this.nodeTuple.content.text;
  },
});
</script>
