<style lang="sass" scoped>
.showAsButton
  text-align: center
  margin-left: auto
  margin-right: auto
  max-width: 300px
</style>

<template>
  <!-- <ArtificialModeration :AM="AMs.propose_argument" alignment="right" :role="2" :ctx="this" /> -->

<!-- <q-expansion-item popup v-model="isShownProposeForm" @show="toggleProposeForm(true)" @hide="toggleProposeForm(false)"
    :class="{ showAsButton: !isShownProposeForm }" header-class="bg-yellow" icon="mdi-sticker-plus-outline"> -->
<!-- <template v-slot:header> -->
<!-- <q-item-section avatar>
    <q-icon name="mdi-lightbulb-outline" size="md" />
  </q-item-section>
  <q-item-section>
            <q-item-label v-if="type == 'PRO'">
              Einen Antrag für ein neues Argument für die Vorlage
              einreichen</q-item-label>
            <q-item-label v-if="type == 'CONTRA'">
              Einen Antrag für ein neues Argument gegen die Vorlage
              einreichen</q-item-label>

          </q-item-section> -->
  <a :name="`NEWPROPOSAL`" />
  <!-- </template>  -->
  <!-- v-if="isShownProposeForm" -->
  <q-card flat bordered>
  <q-card-section>
    <!-- <div class="text-overline text-orange-9">Overline</div> -->
    <div class="text-h5 q-mt-sm q-mb-xs"><q-icon name="mdi-lightbulb-outline" size="md" />

        Einen Antrag für ein neues {{ type === 'CONTRA' ? 'Contra' : 'Pro' }}-Argument für die Vorlage
        einreichen
      </div>
      <!-- <div class="text-caption text-grey">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna
                aliqua.
              </div> -->
    </q-card-section>

    <q-card-section class="q-mb-md q-ml-md text-notification" v-if="
      limitForAddingProposalsReached &&
      !overallLimitForAddingProposalsReached
    ">
      Sie haben heute schon {{ dailyContributionLimits.current }} Anträge
      eingereicht. Damit haben Sie die Tageslimite erreicht. Ab morgen früh
      können Sie wieder neue Anträge stellen.
    </q-card-section>

    <q-card-section class="q-mb-md q-ml-md text-notification" v-if="overallLimitForAddingProposalsReached">
      Sie haben das Maximum an möglichen Anträgen pro Teilnehmenden erreicht.
      Wir danken Ihnen für Ihr grosses Engagement in der Demokratiefabrik.
    </q-card-section>

    <q-card-section class="q-mb-md q-ml-md" v-if="
      newlyEnteredContent ||
      !(
        limitForAddingProposalsReached ||
        overallLimitForAddingProposalsReached
      )
    ">
      <q-form @submit="onSubmit" @reset="onResetAndClose" class="q-gutter-md">
        <p>
          Sie können heute maximal {{ dailyContributionLimits.daylimit }}
          {{ dailyContributionLimits.daylimit == 1 ? 'Antrag' : 'Anträge' }}
          einreichen.
          <span v-if="dailyContributionLimits.current">Sie haben bereits
            {{ dailyContributionLimits.current }} eingereicht.</span>

          Bitte denken Sie daran, Ihre Anträge rechtzeitig vor Ablauf der
          Demokratiefabrik Mitte April 2023 einzureichen. Die Begutachtung der
          Anträge durch andere Teilnehmende kann mehrere Tage dauern.
        </p>

        <div>
          Geben Sie Ihrem Argument einen Titel: <br />
          <q-input filled class="full-width" v-model="localmodel.title" label="Überschrift: *"
            :hint="$t('common_properties.contribution_title_hint')" counter lazy-rules :maxlength="maxTitleLength" :rules="[
              (val) =>
                (val && val.length > 0) ||
                'Geben Sie hier den Titel Ihres Beitrages ein.',
              (val) =>
                (val && val.length > 0 && val.length < maxTitleLength) ||
                `Dieser Text darf nicht über 3000 Zeichen lang sein.`,
            ]" />

          Schreiben Sie hier das Argument in voller Länge hin. <br />
          <q-input filled class="full-width" v-model="localmodel.text" label="Argument: *" counter type="textarea"
            lazy-rules :maxlength="maxTextLength" :rules="[
              (val) =>
                (val && val.length > 0) ||
                'Geben Sie hier den Volltext Ihres Beitrages ein.',
              (val) =>
                (val && val.length > 0 && val.length < maxTextLength) ||
                `Dieser Text darf nicht über ${maxTextLength} Zeichen lang sein.`,
            ]" />

        <!-- <br />
            <br />
            Bitte teilen Sie den anderen Demokratiefabrik-Mitgliedern mit, warum
            Ihren Beitrag im Argumentarium aufgenommen werden soll.
            <q-input
              filled
              v-model="localmodel.text"
              counter
              label="Warum soll die Frage in das Argumentarium?"
              :maxlength="maxTextLength"
              type="textarea"
              lazy-rules
              :rules="[
                        (val) =>
                          (val && val.length > 0) ||
                          'Geben Sie hier eine Begründung ein.',
                        (val) =>
                          (val && val.length > 0 && val.length < maxTextLength) ||
                          `Dieser Text muss zwischen 1 und 3000 Zeichen lang sein.`,
                      ]"
            /> -->
      </div>
        <br />

        Bitte bestätigen Sie die folgenden Punkte:<br />
        <div class="q-pb-md">

          <!-- <q-toggle class="q-ma-none" v-model="accept5" color="green" :class="{ 'toggle-red': accept5 === false }"
                              checked-icon="mdi-thumb-up" :unchecked-icon="accept5 === false ? 'mdi-thumb-down' : ''" size="lg"
                              :label="$t('common_properties.update.criteria_accept.5')" /> -->


          <q-toggle v-model="accept1" class="q-ma-none" color="green" :class="{ 'toggle-red': accept1 === false }"
            checked-icon="mdi-thumb-up" :unchecked-icon="accept1 === false ? 'mdi-thumb-down' : ''" size="lg"
            :label="$t('common_properties.insert.criteria_accept.1')" />

          <q-toggle class="q-ma-none" v-model="accept2" color="green" :class="{ 'toggle-red': accept2 === false }"
            checked-icon="mdi-thumb-up" :unchecked-icon="accept2 === false ? 'mdi-thumb-down' : ''" size="lg" :label="
              $t('common_properties.insert.criteria_accept.2', {
                typeLabel:
                  type === 'PRO' ? 'Pro-Argument' : 'Contra-Argument',
              })
            " />

          <q-toggle class="q-ma-none" v-model="accept3" color="green" :class="{ 'toggle-red': accept3 === false }"
            checked-icon="mdi-thumb-up" :unchecked-icon="accept3 === false ? 'mdi-thumb-down' : ''" size="lg"
            :label="$t('common_properties.insert.criteria_accept.3')" />


          <q-toggle class="q-ma-none" v-model="accept4" color="green" :class="{ 'toggle-red': accept4 === false }"
            checked-icon="mdi-thumb-up" :unchecked-icon="accept4 === false ? 'mdi-thumb-down' : ''" size="lg" :label="
              $t('common_properties.insert.criteria_accept.4', {
                typeLabel:
                  type === 'PRO' ? 'Pro-Argumente' : 'Contra-Argumente',
              })
            " />

        <ListOfOlderSameLevelSameTypeEntries :contenttreeIdentifier="contenttreeIdentifier" :type="type" />
        <q-toggle class="q-ma-none" v-model="accept5" color="green" :class="{ 'toggle-red': accept5 === false }"
          checked-icon="mdi-thumb-up" :unchecked-icon="accept5 === false ? 'mdi-thumb-down' : ''" size="lg"
          :label="$t('common_properties.insert.criteria_accept.5')" />
        <!-- <q-toggle
              class="q-ma-none"
              v-model="accept6"
              :label="$t('common_properties.insert.criteria_accept.6')"
            />

            <span class="float-right">
              <AlgorithmDisclaimer>
                <div
                  v-dompurify-html="
                    $t('common_properties.contribution_criteria_html', {
                      thisSideLabel:
                                type === 'PRO' ? 'befürwortende' : 'ablehnende',
                              otherSideLabel:
                                type === 'CONTRA' ? 'befürwortende' : 'ablehnende',
                            })
                          "
                        ></div>
                      </AlgorithmDisclaimer>
                    </span> -->

          <br />
        </div>

        <div>
          <q-btn label="Antrag einreichen" type="submit" color="primary" />
          <q-btn label="Schliessen" type="reset" color="primary" flat class="q-ml-sm" />
        </div>
      </q-form>
    </q-card-section>
  </q-card>
  <!-- </q-expansion-item> -->
</template>

<script lang="ts">
import { defineComponent, computed } from 'vue';
import { mapActions, useStore } from 'vuex';
import { mapGetters } from 'vuex';
// import useAssemblyService from 'src/composables/assembly.composable';
import { getAssemblyService } from 'src/services/index';
import { IContentTreeTuple } from 'src/models/contenttree';
import useContentComposable from 'src/composables/content.composable';
import ListOfOlderSameLevelSameTypeEntries from './ListOfOlderSameLevelSameTypeEntries.vue';
// import ArtificialModeration from 'src/pages/components/artificial_moderation/ArtificialModeration.vue';
import { AMs } from 'src/plugins/CIR/stages/PROS_AND_CONS/ArtificialModeration';
import library from 'src/utils/library';
import useStoreService from 'src/services/store.service';

const { scrollToAnchor } = library;
export default defineComponent({
  name: 'CIR_ProposalCreate',

  components: {
    // AlgorithmDisclaimer,
    // ArtificialModeration,
    ListOfOlderSameLevelSameTypeEntries,
  },

  setup(props) {
    // console.log('MOUNTED DEBUG');
    const store = useStore();
    const get_contenttree = store.getters['contenttreestore/get_contenttree'];

    const contenttreeTuple = computed((): IContentTreeTuple | null => {
      if (!props.contenttreeIdentifier) {
        return null;
      }
      const contenttree = get_contenttree({
        contenttreeIdentifier: props.contenttreeIdentifier,
      });
      return contenttree;
    });

    const { saveContent } = useContentComposable();
    const { assemblyIdentifier } = useStoreService();

    const {
      limitForAddingProposalsReached,
      overallLimitForAddingProposalsReached,
      getDailyContributionLimits,
    } = getAssemblyService();

    return {
      AMs,
      saveContent,
      contenttreeTuple,
      assemblyIdentifier,
      limitForAddingProposalsReached,
      overallLimitForAddingProposalsReached,
      getDailyContributionLimits,
      scrollToAnchor,
    };
  },
  data() {
    return {
      // showSalienceDialog: false,
      newlyEnteredContent: null,
      localmodel: {
        title: '',
        // comment_title: 'Begründung durch den Antragstellenden',
        text: '',
        type: undefined,
        parent_id: null,
      },
      accept1: undefined as boolean | undefined,
      accept2: undefined as boolean | undefined,
      accept3: undefined as boolean | undefined,
      accept4: undefined as boolean | undefined,
      accept5: undefined as boolean | undefined,
      // accept6: false,
      isShownProposeForm: false,
    };
  },

  props: ['contenttreeIdentifier', 'type', 'encourageToAdd', 'encourageToImprove'],
  emits: ['show', 'hide'],

  computed: {
    dailyContributionLimits() {
      const limits = this.getDailyContributionLimits();
      return limits.number_of_proposals;
    },
    maxTextLength() {
      return this.get_content_text_max_length({
        contenttreeIdentifier: this.contenttreeIdentifier,
        type: this.type,
      });
    },
    maxTitleLength() {
      return this.get_content_title_max_length({
        contenttreeIdentifier: this.contenttreeIdentifier,
        type: this.type,
      });
    },
    ...mapGetters({
      get_content_text_max_length:
        'contenttreestore/get_content_text_max_length',
      get_content_title_max_length:
        'contenttreestore/get_content_title_max_length',
    }),
  },

  methods: {
    hideProposeForm() {
      this.isShownProposeForm = false;
      this.toggleProposeForm(false);
      // this.$emit('toggle', false);
    },

    showProposeForm() {
      this.isShownProposeForm = true;
      this.toggleProposeForm(true);
      // this.$emit('toggle', false);
    },

    toggleProposeForm(value) {
      this.isShownProposeForm = value;
      if (value) {
        this.$emit('show');
      } else {
        this.$emit('hide');
      }
    },

    onSubmit() {
      if (!this.contenttreeTuple) {
        throw 'error: contenttree not loaded... (cannot save entry)';
      }

      if (!this.accept1) {
        this.$q.notify({
          type: 'nFabrikWarning',
          message:
            `Bestätigen Sie folgendes Kästchen: "${this.$t('common_properties.insert.criteria_accept.1', {
              typeLabel:
                this.type === 'PRO' ? 'Pro-Argument' : 'Contra-Argument',
            })}"`,
        });
      }
      if (!this.accept2) {
        this.$q.notify({
          type: 'nFabrikWarning',
          message:
            `Bestätigen Sie folgendes Kästchen: "${this.$t('common_properties.insert.criteria_accept.2', {
              typeLabel:
                this.type === 'PRO' ? 'Pro-Argument' : 'Contra-Argument',
            })}"`,
        });
      }
      if (!this.accept3) {
        this.$q.notify({
          type: 'nFabrikWarning',
          message:
            `Bestätigen Sie folgendes Kästchen: "${this.$t('common_properties.insert.criteria_accept.3', {
              typeLabel:
                this.type === 'PRO' ? 'Pro-Argument' : 'Contra-Argument',
            })}"`,
        });
      }

      if (!this.accept4) {
        this.$q.notify({
          type: 'nFabrikWarning',
          message:
            `Bestätigen Sie folgendes Kästchen: "${this.$t('common_properties.insert.criteria_accept.4', {
              typeLabel:
                this.type === 'PRO' ? 'Pro-Argument' : 'Contra-Argument',
            })}"`,
        });
      }

      if (!this.accept5) {
        this.$q.notify({
          type: 'nFabrikWarning',
          message:
            `Bestätigen Sie folgendes Kästchen: "${this.$t('common_properties.insert.criteria_accept.5', {
              typeLabel:
                this.type === 'PRO' ? 'Pro-Argument' : 'Contra-Argument',
            })}"`,
        });
      }
      // if (!this.accept6) {
      //   this.$q.notify({
      //     type: 'nFabrikWarning',
      //     message:
      //       'Bestätigen Sie folgendes Kästchen: ' +
      //       this.$t('common_properties.insert.criteria_accept.6', {
      //         typeLabel: this.type === 'PRO' ? 'Pro-Argument' : 'Contra-Argument',
      //       }),
      //   });
      // }

      if (
        !this.accept1 ||
        !this.accept2 ||
        !this.accept3 ||
        !this.accept4 ||
        !this.accept5
        // !this.accept6
      ) {
        // form not completed...
        return false;
      }

      if (!this.localmodel.type) {
        this.$q.notify({
          type: 'nFabrikWarning',
          message: 'Sie müssen einen Beitrags-Typ angeben.',
        });
        return false;
      }

      // RPOPOSE
      this.localmodel.parent_id = null;

      this.saveContent(null, this.localmodel, this.contenttreeTuple)
        .then((response) => {
          if (!response) {
            throw 'empty response';
          }

          // console.log('DEBUG: saveContent  => Promise.resolve (4356)');

          this.$q.notify({
            type: 'nFabrikInfo',
            message: response.reviewNeeded
              ? 'Der Antrag wurde eingereicht und wird ab sofort von anderen Teilnehmenden begutachtet.'
              : response.isAModification
                ? 'Die Änderungen wurden gespeichert.'
                : 'Der Beitrag wurde gespeichert.',
          });
          this.onResetAndClose();
        })
        .catch((error) => {
          // Error Message
          console.error(error);
          this.$q.notify({
            type: 'nFabrikError',
            message:
              'Das Argument konnte nicht gespeichert werden. Bitte informieren Sie die Veranstalter.',
          });
        });
    },

    ...mapActions({
      update_content: 'contenttreestore/update_content',
    }),

    closeDialog() {
      setTimeout(() => {
        // console.log('DEBUG: closeDialog 335345');
        this.hideProposeForm();
      }, 10);
    },



    onReset() {
      this.accept1 = false;
      this.accept2 = false;
      this.accept3 = false;
      this.accept4 = false;
      this.accept5 = false;
      // this.accept6 = false;
      this.newlyEnteredContent = null;
      this.localmodel.title = '';
      this.localmodel.text = '';
    },

    onResetAndClose() {
      this.onReset();
      this.closeDialog();
    },
  },

  created() {
    this.localmodel.type = this.type;
  },
});
</script>
