<template>
  <q-card class="my-card q-pa-lg" flat bordered>
    <q-card-section v-if="user">
      <EvaluationSlider v-if="topicContentTuple" :scaleLabel="RATING_100_SCALE_LABELS"
        :value="topicContentTuple.progression?.rating" @change="topicRating($event)">
        <template #default>
          Mit dem Wissen, welches Sie aktuell zur Vorlage haben: Wie stark
          befürworten Sie die Abstimmungsvorlage? Sie können diese Angabe später
          jederzeit ändern. Es geht uns um Ihre aktuelle, spontane Position.
        </template>
        <template #scaleLabelRight>Zustimmung</template>
        <template #scaleLabelLeft>Ablehnung</template>

      </EvaluationSlider>
    </q-card-section>

    <br />
    <q-card-section v-if="statementContenttreeTuple && statementContentTuple">
      <ArtificialModeration v-if="AMAboveStatementForm" :AM="AMAboveStatementForm" :slim="true" alignment="left"
        :ctx="this" />
      <keep-alive>
        <ContentEditorStandalone :contenttreeTuple="statementContenttreeTuple" :nodeTuple="statementContentTuple"
          @submit="submitStatementText()" @close="$emit('back-or-close-dialog')" :onlyBasicModifications="true"
          labelText="Erläuterungen zu Ihrer Position:" labelClose="Überspringen" :parentTuple="statementParentTuple"
          :minTextLength="3" :highlightOn="!!topicContentTuple.progression?.rating ? 'text' : ''"
          :hiddenElements="[(!!topicContentTuple.progression?.rating) ? '' : 'cancel', ...hiddenEditorElements]" />
      </keep-alive>
    </q-card-section>
  </q-card>
</template>

<script lang="ts">
// import ChatBubble from 'src/pages/components/ChatBubble.vue';
// import ContentRatingStars from 'src/pages/ContentTree/components/ContentRatingStars.vue';
import Constants from 'src/utils/constants';
import { defineComponent, PropType, computed } from 'vue';
import { INodeTuple } from 'src/models/content';
import { IAssemblyUserTuple } from 'src/models/assembly';
import { useStore } from 'vuex';
import useEmitter from 'src/utils/emitter';
import EvaluationSlider from 'src/pages/ContentTree/components/EvaluationSlider.vue';
import ContentEditorStandalone from 'src/pages/ContentTree/components/ContentEditorStandalone.vue';
import useContentComposable from 'src/composables/content.composable';
import useContenttreeComposable from 'src/composables/contenttree.composable';
import useEmitterCIR from 'src/plugins/CIR/utils/emitter';
import { IArtificialModerationGroup } from 'src/pages/components/artificial_moderation/model';
import ArtificialModeration from 'src/pages/components/artificial_moderation/ArtificialModeration.vue';

const emitter = useEmitter();
const emitter_CIR = useEmitterCIR();

export default defineComponent({
  name: 'PublicCirProfileModify',
  emits: ['back-or-close-dialog'],
  props: {
    userTuple: {
      type: Object as PropType<IAssemblyUserTuple>,
      required: false,
    },
    statementContentTuple: {
      type: Object as PropType<INodeTuple | null>,
      required: false,
    },
    topicContentTuple: {
      type: Object as PropType<INodeTuple>,
      required: false,
    },
    fullVersion: {
      type: Boolean,
      default: false,
    },
    preventCancel: {
      // hide cancel button....
      type: Boolean,
      default: false,
    },
    hiddenEditorElements: {
      type: Array,
      default: () => ['title'],
    },
    AMAboveStatementForm: {
      type: Object as PropType<IArtificialModerationGroup | null>,
      default: null,
    },
  },
  components: {
    ArtificialModeration,
    ContentEditorStandalone,
    EvaluationSlider,
  },

  setup(props) {
    // console.log('SETUP PUBLICCIRMODIFY DEBUG');
    const RATING_100_SCALE_LABELS = Constants.RATING_100_SCALE_LABELS;
    const store = useStore();
    const public_profile = computed(
      () => store.getters['profilestore/profile']
    );

    // const savedRating = ref(false);
    const { saveRating } = useContentComposable();
    const statementContenttreeIdentifier = computed((): string | null => {
      // console.log(
      //   'new statementContenttreeIdentifier value',
      //   props.statementContentTuple?.content
      // );
      if (!props.statementContentTuple?.content) {
        return null;
      }
      return props.statementContentTuple?.content.contenttree_identifier;
    });

    // console.log('DEBUG. PUBLICirProfileModify', statementContenttreeIdentifier);
    const {
      contenttreeTuple: statementContenttreeTuple,
      contenttreeEntries: statementContenttreeEntries,
    } = useContenttreeComposable(statementContenttreeIdentifier, true);

    const user = computed(() => {
      if (props.userTuple) {
        return props.userTuple.user;
      }
      return public_profile.value;
    });

    const ownCirProfile = computed(() => {
      return (
        public_profile.value?.id && public_profile.value?.id == user.value?.id
      );
    });

    const showCIRProfile = (): void => {
      if (!user.value) {
        throw 'invalid user';
      }
      emitter.emit('showDialog', {
        type: 'user',
        id: user.value.id,
        tab: 'voice',
      });
    };

    const statementParentTuple = computed((): INodeTuple | null => {
      if (!props.statementContentTuple || !statementContenttreeTuple.value) {
        return null;
      }
      const parent_id = props.statementContentTuple.content?.parent_id;
      if (!parent_id || !statementContenttreeEntries.value) {
        return null;
      }
      return statementContenttreeEntries.value[parent_id];
    });

    return {
      statementContenttreeTuple,
      showCIRProfile,
      ownCirProfile,
      user,
      saveRating,
      // savedRating,
      statementParentTuple,
      RATING_100_SCALE_LABELS,
    };
  },

  computed: {
    getRatingLabel() {
      const rating = this.topicContentTuple?.progression?.rating;
      if (rating === null || rating === undefined) {
        return 'Unbekannt';
      }

      const value = Math.round(
        (rating / 100) * (this.RATING_100_SCALE_LABELS.length - 1)
      );
      return `${this.RATING_100_SCALE_LABELS[value]}`; // PERCENT
    },
  },

  methods: {
    topicRating(newValue: number): void {
      if (!this.topicContentTuple) {
        throw 'ContentTuple not loaded';
      }
      this.saveRating(newValue, this.topicContentTuple);
      // this.savedRating = true
      emitter_CIR.emit('notifyPublicCirProfileUpdate');
    },

    submitStatementText() {
      emitter_CIR.emit('notifyPublicCirProfileUpdate');
    },
  },
});
</script>
