<template>
  <q-card square flat class="q-my-md text-center">
    <q-card-section v-if="user && statementContentTuple?.content?.text && user" class="text-center"
      style="color: $grey-1">
      <q-icon name="mdi-format-quote-open" size="xl" class="text-custom-user-color" />

      <!-- q-pb-md q-pl-sm text-h4 text-italic -->
      <div class="text-h4 text-italic">
        «{{ statementContentTuple?.content?.text }}»
      </div>

      ・

      <div class="text-caption text-weight-thin" v-if="topicContentTuple">
        Stellungnahme zum Bundesgesetz von {{ user.U }} <br />
        {{ `${getRatingLabel}` }} «{{ topicContentTuple.progression?.rating }}
        von 100»
      </div>

      <div class="text-caption text-weight-thin" v-if="!topicContentTuple">
        Stellungnahme von {{ user.U }} <br />
        <i>(Unbekannte Bewertung)</i>
      </div>

      <!-- {{ topicContentTuple.progression?.rating }} von 100 -->
      <!-- <slot name="additional"></slot> -->
      <!-- <br /> -->
    </q-card-section>
    <q-card-section v-else class="text-center" style="color: $grey-1">
      <!-- EMPTY STATEMENT -->
      <q-icon name="mdi-format-quote-open" size="xl" class="text-custom-user-color" />
      <q-icon name="mdi-format-quote-close" size="xl" class="text-custom-user-color" />
    </q-card-section>
    <!-- <q-separator /> -->
    <!-- <q-separator
      color="custom-user-color"
      size="1px"
      class="q-ma-none"
    ></q-separator> -->

    <q-card-actions v-if="!ownCirProfile && !IsManager && IsDelegate" align="right">
      <ContentRatingSmilies :nodeTuple="statementContentTuple"></ContentRatingSmilies>
      <q-btn flat v-if="!fullVersion" stack color="primary" @click="showCIRProfile()">
        Öffnen
      </q-btn>
    </q-card-actions>

    <q-card-actions v-if="ownCirProfile" align="right">
      <q-btn stack flat v-if="!fullVersion" icon="mdi-open-in-new" color="primary" @click="showCIRProfile()">
        Öffnen
      </q-btn>
      <q-btn flat stack clickable icon="mdi-pencil" @click="showCIRProfileForm()"><q-tooltip>Sie können hier Ihr
          Statement bearbeiten.</q-tooltip>
        Bearbeiten
      </q-btn>
    </q-card-actions>
    <ContentToolbar v-if="IsManager" :limitForAddingCommentsReached="true" :hideInfoButton="true"
      :nodeTuple="statementContentTuple" />

  </q-card>
</template>

<script lang="ts">
import { defineComponent, PropType, computed } from 'vue';
import { INodeTuple } from 'src/models/content';
import ContentRatingSmilies from 'src/pages/ContentTree/components/ContentRatingSmilies.vue';
import ContentToolbar from 'src/pages/ContentTree/components/ContentToolbar.vue';
import { IAssemblyUserTuple } from 'src/models/assembly';
import { useStore } from 'vuex';
import useEmitter from 'src/utils/emitter';
import Constants from 'src/utils/constants';
// import { IsDelegate } from 'src/store/assemblystore/getters';

const RATING_100_SCALE_LABELS = Constants.RATING_100_SCALE_LABELS;
const emitter = useEmitter();

export default defineComponent({
  name: 'PublicCirProfile',
  // emits: ['open-dialog'],
  props: {
    userTuple: {
      type: Object as PropType<IAssemblyUserTuple>,
      required: false,
    },
    statementContentTuple: {
      type: Object as PropType<INodeTuple | null>,
      required: false,
    },
    topicContentTuple: {
      type: Object as PropType<INodeTuple>,
      required: true,
    },
    fullVersion: {
      type: Boolean,
      default: false,
    },
  },
  components: {
    // ChatBubble,
    ContentToolbar,
    ContentRatingSmilies,
  },

  setup(props) {
    const store = useStore();
    // const RATING_100_SCALE_LABELS = Constants.RATING_100_SCALE_LABELS;
    const public_profile = computed(
      () => store.getters['profilestore/profile']
    );

    const IsManager = computed(
      (): boolean => store.getters['assemblystore/IsManager']
    );
    const IsDelegate = computed(
      (): boolean => store.getters['assemblystore/IsDelegate']
    );

    const user = computed(() => {
      if (props.userTuple) {
        return props.userTuple.user;
      }
      return public_profile.value;
    });

    const ownCirProfile = computed(() => {
      return (
        public_profile.value?.id && public_profile.value?.id == user.value?.id
      );
    });

    const showCIRProfile = (): void => {
      if (!user.value) {
        throw 'invalid user';
      }
      emitter.emit('showDialog', {
        type: 'user',
        id: user.value.id,
        tab: 'voice',
      });
    };

    const showCIRProfileForm = (): void => {
      if (!user.value) {
        throw 'invalid user';
      }
      emitter.emit('showDialog', {
        type: 'profileForm',
        id: user.value.id,
        tab: 'voice',
      });
    };

    return {
      showCIRProfile,
      showCIRProfileForm,
      ownCirProfile,
      user,
      IsManager,
      IsDelegate
      // RATING_100_SCALE_LABELS,
    };
  },

  computed: {
    usercolor() {
      if (!this.user || !this.user?.CO) {
        return 'orange';
      }
      return this.user.CO;
    },

    getRatingLabel() {
      const rating = this.topicContentTuple?.progression?.rating;
      if (rating === null || rating === undefined) {
        return 'Unbekannt';
      }
      const value = Math.round(
        (rating / 100) * (RATING_100_SCALE_LABELS.length - 1)
      );
      return `${RATING_100_SCALE_LABELS[value]}`; // PERCENT
    },

    // getRatingLabel() {
    //   const rating = this.topicContentTuple?.progression?.rating;
    //   if (rating === null || rating === undefined) {
    //     return 'Unbekannt';
    //   }
    //   const value = Math.round(
    //     (rating / 100) * (this.RATING_100_SCALE_LABELS.length - 1)
    //   );
    //   return `${this.RATING_100_SCALE_LABELS[value]}`; // PERCENT
    // },
  },
});
</script>

<style>
/* NO SCOPE, PLEASE: Due to .bg-custom-user-color */
.subtitle {
  position: absolute;
  margin-top: 0.2em;
  font-style: italic;
}

.bg-custom-user-color {
  background: v-bind(usercolor);
}

.text-custom-user-color {
  color: v-bind(usercolor);
}

/* .border-custom-user-color {
  border-color: v-bind(usercolor);
  border-width: 1px;
} */

.q-message-stamp {
  margin-top: 1em;
}

.quote {
  border-left: 7px solid;
  border-color: v-bind(usercolor);
}
</style>
