<template>
  <q-card class="popup-dialog-card">
    <div class="q-pt-sm">
      <!-- Stellungnahme -->

      <q-tabs @update:model-value="showUserDetail($event)" v-model="tab" dense active-color="primary"
        class="grey text-grey-6" indicator-color="grey-7" align="justify" narrow-indicator>
        <q-tab name="voice" label="Positionierung" />
        <!-- icon="mdi-comment-text-multiple" -->
        <q-tab name="discussion" :label="
          nofChildren ? `Gesprächsecke (${nofChildren})` : 'Gesprächsecke'
        ">
          <q-badge v-if="nofChildrenUnread" color="orange" floating>{{
            nofChildrenUnread
          }}<q-tooltip>{{ nofChildrenUnread }} ungelesene Beiträge
            </q-tooltip>
          </q-badge>
        </q-tab>
        <q-tab name="user" label="Aktivität" />
      </q-tabs>
    </div>

    <q-separator />
    <br>
    <br>
    <PublicCirProfile :fullVersion="true" ref="dialog-modify-public-cir-profile"
      :statementContentTuple="statementContentTuple" :topicContentTuple="topicContentTuple"></PublicCirProfile>

  </q-card>
</template>

<script lang="ts">
import { defineComponent, PropType, computed, ref, Ref } from 'vue';
import { INodeTuple } from 'src/models/content';
import PublicCirProfile from 'src/plugins/CIR/components/PublicCirProfile.vue';
import { getAuthService } from 'src/services';
import useCIRStatementService from '../services/statement.composable';
import useContentComposable from 'src/composables/content.composable';
import useEmitter from 'src/utils/emitter';
import { IAssemblyUserTuple } from 'src/models/assembly';
import { useStore } from 'vuex';
// import usePKCEComposable from 'src/utils/VueOAuth2PKCE/pkce.composable';
import useStoreService from 'src/services/store.service';
const emitter = useEmitter();

export default defineComponent({
  name: 'PublicCirProfileStandalone',
  props: {
    statementContentTuple: {
      type: Object as PropType<INodeTuple | null>,
      required: false,
    },
    topicContentTuple: {
      type: Object as PropType<INodeTuple>,
      required: true,
    },
    fullVersion: {
      type: Boolean,
      default: false,
    },
  },
  components: {
    PublicCirProfile,
  },

  setup() {
    const store = useStore();
    const tab: Ref<string> = ref('voice');

    const { profile } = getAuthService();
    const { isRead } = useContentComposable();
    const { assemblyIdentifier } = useStoreService();

    const getAssemblyUser = store.getters['assemblystore/get_assembly_user'];
    const userTuple = computed((): IAssemblyUserTuple | null => {
      console.log(profile.value.id)
      return getAssemblyUser(assemblyIdentifier.value, profile.value.id);
    });

    const {
      statementContentTuple,
      statementContenttreeTuple,
    } = useCIRStatementService(userTuple, true, true);

    const children = computed(() => {
      if (!statementContentTuple) {
        throw 'invalid content';
      }
      const entries = statementContenttreeTuple.value?.entries;
      if (entries) {
        return Object.values(entries).filter(
          (x) => x.content?.id !== statementContentTuple.value?.content?.id
        );
      }
      return null;
    });

    const nofChildren = computed(() => {
      if (!children.value) {
        return null;
      }
      return children.value?.length;
    });
    const nofChildrenUnread = computed(() => {
      if (!children.value) {
        return null;
      }
      const unread = children.value.filter((n) => !isRead(n as any));
      return unread.length;
    });

    const resetTab = () => {
      tab.value = 'voice';
    }

    const showUserDetail = (newtab): void => {
      emitter.emit('showDialog', {
        type: 'user',
        id: profile.value.id,
        openedAsScheduledTask: false,
        tab: newtab,
      });

      resetTab()
    };


    return {
      nofChildrenUnread,
      nofChildren,
      tab,
      userTuple,
      showUserDetail
    };
  },

});
</script>
