<template>
  <template v-if="statementContentTuple">
    <q-card-section class="q-pa-md">
      <br />

      <div class="text-h5">Zustimmung zur Abstimmungsvorlage</div>
      <br />
      <p>
        <!-- Auf einer Skala von 0 bis 100 können die Teilnehmenden angeben, wie
        stark die Abstimmungsvorlage ihnen zusagt. -->
        Die Teilnehmenden können eine eigene Stellungnahme zur Abstimmungsvorlage abgeben und auf einer Skala von 0 bis
        100 angeben, wie stark die Vorlage ihnen zusagt.

        <template v-if="ownCirProfile">Sie haben folgende Angaben gemacht:</template>
        <!-- <template v-if="!ownCirProfile">{{ userTuple.user.U }} hat folgende Angaben gemacht:</template> -->
      </p>

      <br /><br />
    </q-card-section>

    <q-card-section class="q-pa-md">
      <PublicCirProfile :fullVersion="true" :userTuple="userTuple" :statementContentTuple="statementContentTuple"
        :topicContentTuple="topicContentTuple">
      </PublicCirProfile>
    </q-card-section>
    <ArtificialModeration :AM="AMs.statementRating" :slim="true" alignment="left" :ctx="this" />

    <!-- <q-separator class="q-mt-lg" />

    <q-card-section>
      <br />

      <div class="text-h4">Argumentarium</div>

      <br />
      <p>
        Die Teilnehmenden erhalten ausserdem Gelegenheit, Argumente für und
        gegen die Abstimmungsvorlage zu bewerten. Die Argumente, welche für
        den Teilnehmenden am wichtigsten sind, werden hier angezeigt.
      </p>

      <br />
      <ArgumentView
        :top3ArgumentsBySide="top3ArgumentsBySide"
        v-if="!emptyArguments && top3ArgumentsBySide"
      ></ArgumentView>

      <div v-if="emptyArguments">
        <template v-if="ownCirProfile"
          >Sie haben noch keine Argumente bewertet.</template
        >
        <template v-if="!ownCirProfile">
          {{ userTuple.user.U }} hat noch keine Argumente bewertet. <br />
          <br />
          <br />
        </template>
      </div>
    </q-card-section> -->
  </template>

  <template v-else-if="unfinshedStatement">
    <div class="full-width q-mb-xl q-mt-xl" style="text-align: center">
      Diese Person hat die Stellungnahme noch nicht vollständig ausgefüllt.
    </div>
  </template>

  <template v-else-if="emptyStatementEntries">
    <div class="full-width q-mb-xl q-mt-xl" style="text-align: center">
      Der Beitrag konnte nicht geladen werden. Wir bitten Sie um Entschuldigung.
    </div>
  </template>

  <template v-else>
    <div class="full-width q-mb-xl q-mt-xl" style="text-align: center">
      <q-spinner-ball color="primary" size="2em" />
    </div>
  </template>
</template>

<script lang="ts">
import { defineComponent, computed } from 'vue';
import PublicCirProfile from 'src/plugins/CIR/components/PublicCirProfile.vue';
import useCIRTopicComposable from 'src/plugins/CIR/services/topic.composable';
import useArgumentsComposable from 'src/plugins/CIR/stages/PROS_AND_CONS/composables/arguments.composable';
import AMs from './ArtificialModeration';
import ArtificialModeration from 'src/pages/components/artificial_moderation/ArtificialModeration.vue';
import { useStore } from 'vuex';

export default defineComponent({
  name: 'TabUserViewVoice',
  emits: ['open-dialog', 'close-dialog', 'tab-change'],
  props: [
    'userTuple',
    'statementContenttreeTuple',
    'statementContentTuple',
    'openedAsScheduledTask',
  ],
  components: {
    PublicCirProfile,
    // ArgumentView,
    ArtificialModeration,
  },

  setup(props) {
    const store = useStore();
    const publicProfile = computed(() => store.getters['profilestore/profile']);
    const userTuple = computed(() => {
      // console.log('props.userTuple?.user.id', props.userTuple?.user.id);
      return props.userTuple;
    });

    const { topicContentTuple } = useCIRTopicComposable(userTuple);
    const unfinshedStatement = computed(() => {
      return props.userTuple.user?.id && !props.userTuple.statement_content_id;
    });

    const emptyStatementEntries = computed(() => {
      return (
        !unfinshedStatement.value &&
        props.statementContenttreeTuple &&
        !Object.keys(props.statementContenttreeTuple.entries).length
      );
    });

    const ownCirProfile = computed(() => {
      // console.log('props.userTuple?.user.id', props.userTuple?.user.id);
      return publicProfile.value?.id == props.userTuple.user.id;
    });
    const { top3ArgumentsBySide, emptyArguments } = useArgumentsComposable(
      props.userTuple,
      false
    );

    return {
      ownCirProfile,
      top3ArgumentsBySide,
      emptyArguments,
      unfinshedStatement,
      emptyStatementEntries,
      topicContentTuple,
      AMs,
    };
  },

  computed: {
    usercolor() {
      if (!this.userTuple.user || !this.userTuple.user?.CO) {
        return 'orange';
      }
      return this.userTuple.user.CO;
    },

    unratedStatement(): boolean {
      if (this.ownCirProfile) {
        return false;
      }

      const rating = this.statementContentTuple?.progression?.rating;
      return rating === null || rating === undefined;
    },
  },

  methods: {
    closeDialog() {
      this.$emit('close-dialog');
    },
    tabChange(tab) {
      this.$emit('tab-change', tab);
    },
  },
});
</script>

<style>
.text-custom-user-color {
  color: v-bind(usercolor);
}
</style>
