<template>
  <!-- no-scroll -->
  <br /><br />
  <br /><br />
  <p>
    <q-icon name="mdi-help-circle-outline"></q-icon> Haben Sie Fragen rund um
    diesen politischen Beteiligungsprozess? <br />Dann kontaktieren Sie unser
    <a href="javascript:void(this)" @click="openInfoPoint()">Informationsmaterial.
    </a>
  </p>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'CIRTocFooterComponent',

  methods: {
    openInfoPoint() {
      window.open('storage/upload/demokratiefabrik_infopoint.pdf');
    },
  },
});
</script>
