<template>
  <q-page>
    <template v-if="showAssemblyMenu">
      <AssemblyMenu />
    </template>
    <router-view></router-view>
  </q-page>
</template>

<script lang="ts">
import useAssemblyComposable from 'src/composables/assembly.composable';
import { defineComponent } from 'vue';
import AssemblyMenu from 'src/pages/layouts/components/AssemblyMenu.vue';
import useKIComposable from './composables/menu.composable';
import localI18n from './i18n';
import { useI18n } from 'vue-i18n';

export default defineComponent({
  name: 'KILayout',
  components: { AssemblyMenu },
  setup() {
    // INIIALIZE
    const { t } = useI18n();
    const { initializePlugin, showAssemblyMenu } = useAssemblyComposable();
    const { assemblyMenuData } = useKIComposable();
    initializePlugin('KI', assemblyMenuData, localI18n);
    return { showAssemblyMenu, t };
  },
  computed: {},
});
</script>
