<template>
  <!-- v-if="ready" -->
  <q-page class="doc_content">
    <a name="DISCUSSIONS" />

    <!-- ASSEMBLY DESCRIPTION -->

    <!-- 2. Etappe -->
    <div class="row justify-between">
      <div class="seperator large">
        <q-icon name="mdi-star-four-points-outline" />
      </div>
    </div>

    <h1>Moderation der Inhalte</h1>
    <p>
      Hier können alle von den Usern eingegebenen Inhalte moderiert werden.
    </p>


    <div class="q-pa-md" v-if="argumentFilteredData">
      Volltextsuche (Argumente und Kommentare): <q-input @keyup.enter.prevent="retrieveArgumentContent" class="q-pa-md"
        style="width: 300px; display: inline-block" v-model="argumentFilterText" debounce="500" input-class="text-right">
        <template v-slot:append>
          <q-icon name="mdi-magnify" @click="retrieveArgumentContent()" />
          <q-icon v-if="argumentFilterText !== ''" name="mdi-close" class="cursor-pointer"
            @click="argumentFilterText = ''; retrieveArgumentContent()" />
        </template>
      </q-input>

      <q-btn-toggle v-model="argumentFilterType" push rounded glossy toggle-color="purple" :options="[
        { value: 'ALL', slot: 'all' },
        { value: 'PRO', slot: 'pro' },
        { value: 'CONTRA', slot: 'contra' }
      ]">
        <template v-slot:all>
          <div class="row items-center no-wrap">
            <div class="text-center">
              Alle
            </div>
            <q-icon right name="mdi-all-inclusive" />
          </div>
        </template>

        <template v-slot:pro>
          <div class="row items-center no-wrap">
            <div class="text-center">
              Pro
            </div>
          </div>
        </template>

        <template v-slot:contra>
          <div class="row items-center no-wrap">
            <div class="text-center">
              Contra
            </div>
          </div>
        </template>
      </q-btn-toggle>


      <q-btn-toggle v-model="argumentFilterState" push rounded glossy toggle-color="purple" :options="[
        { value: 'ALL', slot: 'all' },
        { value: 'ACC', slot: 'acc' },
        { value: 'REJ', slot: 'rej' },
        { value: '', slot: 'idle' }
      ]">
        <template v-slot:all>
          <div class="row items-center no-wrap">
            <div class="text-center">
              Alle
            </div>
            <q-icon right name="mdi-all-inclusive" />
          </div>
        </template>

        <template v-slot:acc>
          <div class="row items-center no-wrap">
            <div class="text-center">
              Angenommen
            </div>
          </div>
        </template>

        <template v-slot:rej>
          <div class="row items-center no-wrap">
            <div class="text-center">
              Abgelehnt
            </div>
          </div>
        </template>

        <template v-slot:idle>
          <div class="row items-center no-wrap">
            <div class="text-center">
              Noch Offen
            </div>
          </div>
        </template>
      </q-btn-toggle>



      <q-table class="my-sticky-header-table" @row-click="click_argument_row" :loading="argumentLoading"
        :rows-per-page-options="[0]" virtual-scroll style="height: 600px; width:100%" title="Argumente"
        :rows="argumentFilteredData" :columns="argument_columns" row-key="id" />

      <q-btn class="q-ma-md align-right full-width" @click="retrieveArgumentContent(refresh = true)">Aktualisieren</q-btn>
      <small>Die Tabelle wird nicht automatisch aktualisiert.</small>
    </div>
    <q-inner-loading v-if="argumentLoading" showing color="primary" />

    <!-- Bekanntschaften -->
    <div class="row justify-between">
      <div class="seperator large">
        <q-icon name="mdi-star-four-points-outline" />
      </div>
    </div>

    <div class="q-pa-md" v-if="voiceFilteredData">
      Volltextsuche (Kommentare): <q-input @keyup.enter.prevent="retrieveVoicesContent" class="q-pa-md"
        style="width: 300px; display: inline-block" v-model="voiceFilterText" debounce="500" input-class="text-right">
        <template v-slot:append>
          <q-icon name="mdi-magnify" @click="retrieveVoicesContent()" />
          <q-icon v-if="voiceFilterText !== ''" name="mdi-close" class="cursor-pointer"
            @click="voiceFilterText = ''; retrieveVoicesContent()" />
        </template>
      </q-input><br>

      Usersuche: <q-input class="q-pa-md" style="width: 300px; display: inline-block" v-model="voiceFilterUsername"
        debounce="500" input-class="text-right">
      </q-input>



      <q-btn-toggle v-model="userFilterToggle" @click="retrieveVoicesContent(refresh = true)" push rounded glossy
        toggle-color="purple" :options="[
          { value: 'all', slot: 'all' },
          { value: 'statement', slot: 'statement' },
          { value: 'toreview', slot: 'toreview' }
        ]">
        <template v-slot:all>
          <div class="row items-center no-wrap">
            <div class="text-center">
              Alle
            </div>
            <q-icon right name="mdi-all-inclusive" />
          </div>
        </template>

        <template v-slot:statement>
          <div class="row items-center no-wrap">
            <div class="text-center">
              Mit Statement
            </div>
            <q-icon right name="mdi-format-text" />
          </div>
        </template>

        <template v-slot:toreview>
          <div class="row items-center no-wrap">
            <div class="text-center">
              Ungeprüfte
            </div>
            <q-icon right name="mdi-file-find" />
          </div>
        </template>
      </q-btn-toggle>



      <q-table class="my-sticky-header-table" @row-click="click_voice_row" :loading="voiceLoading"
        :rows-per-page-options="[0]" virtual-scroll style="height: 600px; width:100%" title="Gesprächsecke"
        :rows="voiceFilteredData" :columns="voice_columns" row-key="id" />
      <q-btn class="q-ma-md align-right full-width" @click="retrieveVoicesContent(refresh = true)">Aktualisieren</q-btn>
      <small>Die Tabelle wird nicht automatisch aktualisiert.</small>
    </div>
    <q-inner-loading v-if="voiceLoading" showing color="primary" />

    <!-- Schluss -->
    <div class="row justify-between">
      <div class="seperator large">
        <q-icon name="mdi-star-four-points-outline" />
      </div>
    </div>

    <!-- <SideMenu :items="sideMenuItems" /> -->
  </q-page>
</template>

<script lang="ts">
import { getAppService, getAssemblyService } from 'src/services';
import useStoreService from 'src/services/store.service';
import { computed, defineComponent, Ref, ref, watch } from 'vue';
import cirapi from 'src/plugins/CIR/utils/api';
import filters from 'src/utils/filters';
import useEmitter from 'src/utils/emitter';
import { useStore } from 'vuex';

const { formatDate } = filters;
const emitter = useEmitter();



const voice_columns = [
  { name: 'user', align: 'left', label: 'Teilnehmender', field: 'user', format: val => `${val.U}  (#${val.id})`, sortable: true, classes: row => (row.unreviewed > 0 ? 'text-notification' : '') },
  { name: 'unreviewed', label: 'Ungeprüft (N)', field: 'unreviewed', sortable: true, classes: row => (row.unreviewed > 0 ? 'text-notification' : '') },
  { name: 'content_N', label: 'Beiträge (N)', field: 'content_N', sortable: true },
  { name: 'last_created', label: 'Letzter Beitrag', field: 'last_created', sortable: true, format: val => `${formatDate(val)}` },
]

const argument_columns = [
  { name: 'argument', align: 'left', label: 'Argument', field: 'title', format: (val, row) => `${val}  (#${row.id})`, sortable: true, classes: row => (row.unreviewed > 0 ? 'text-notification' : '') },
  { name: 'type', align: 'left', label: 'Typ', field: 'type', format: val => `${val ? val.slice(0, 1) : ''}`, sortable: true, classes: row => (row.unreviewed > 0 ? 'text-notification' : '') },
  { name: 'unreviewed', label: 'Ungeprüft (N)', field: 'unreviewed', sortable: true, classes: row => (row.unreviewed > 0 ? 'text-notification' : '') },
  { name: 'content_N', label: 'Beiträge (N)', field: 'content_N', sortable: true },
  { name: 'peerreview_decision', label: 'Resultat Gutachten', field: 'peerreview_decision', sortable: true, format: val => `${val}` },
  { name: 'rating_avg', label: 'Bewertung', field: 'rating_avg', sortable: true, format: val => `${Math.round(val)}/100` },
  { name: 'last_created', label: 'Letzter Beitrag', field: 'last_created', sortable: true, format: val => `${formatDate(val)}` },
]


export default defineComponent({
  name: 'PageAssemblyManageHome',
  // components: { SideMenu },
  setup() {
    const { assemblyIdentifier } = useStoreService();
    const { assembly } = getAssemblyService();
    const { showServiceError } = getAppService();

    const voiceData: any = ref(null)
    const voiceLoading: any = ref(null)
    const voiceFilterUsername: Ref<string> = ref('')
    const voiceFilterText: Ref<string> = ref('')


    const argumentData: any = ref(null)
    const argumentLoading: any = ref(null)
    const argumentFilterText: Ref<string> = ref('')

    const argumentFilterType: Ref<string> = ref('ALL')
    const argumentFilterState: Ref<string> = ref('ALL')

    const store = useStore();
    let contenttree_id = null;
    const userFilterToggle = ref('toreview')


    watch(
      () => assembly.value?.id,
      () => {
        if (assembly.value) {
          if (!assemblyIdentifier.value) {
            throw 'assemblyIdentifier not found';
          }
          contenttree_id = assembly.value?.custom_data?.PROS_AND_CONS_CONTENTTREE_ID;
          // console.log(assembly.value.id, 'MMMMMMMMMMMMMM')
          store.dispatch('contenttreestore/syncContenttree', {
            assemblyIdentifier: assemblyIdentifier.value,
            contenttreeIdentifier: `${contenttree_id}`,
          });
        }
      },
      { immediate: true }
    );
    const retrieveVoicesContent = async (refresh = false): Promise<void> => {
      voiceLoading.value = true
      if (!assemblyIdentifier.value) {
        throw 'assemblyIdentifier not found';
      }

      return cirapi
        .manageVoices(assemblyIdentifier.value, voiceFilterText.value, userFilterToggle.value)
        .then((response) => {
          voiceData.value = response.data.voice;
          voiceLoading.value = false

          // DELETE ALL CONTENTTREES:
          if (refresh) {
            store.dispatch('contenttreestore/delete_all_subtree', {})
          }
          // console.log(voiceData.value)
        })
        .catch((error) => {
          showServiceError(error);
          voiceLoading.value = false
          console.warn(error); // timeout!
          return Promise.reject();
        });
    };


    const voiceFilteredData = computed(() => {
      if (!voiceFilterUsername.value) {
        return (voiceData.value)
      }
      // console.log('DEBUG filter', voiceFilterUsername.value, voiceData.value[0])
      return (voiceData.value.filter(x => x.user.U.includes(voiceFilterUsername.value) || `${x.user.id}`.includes(voiceFilterUsername.value)))
    })

    const argumentFilteredData = computed(() => {
      if (!argumentData.value) {
        return null
      }

      let result = argumentData.value

      if (argumentFilterType.value && argumentFilterType.value !== 'ALL') {
        result = result.filter(x => x.type == argumentFilterType.value)
      }
      // console.log(result[1], result[1].peerreview_decision.toUpperCase(), argumentFilterState.value)

      if (argumentFilterState.value !== 'ALL') {
        result = result.filter(x => x.peerreview_decision.toUpperCase() == argumentFilterState.value)
      }

      return result
    })


    const retrieveArgumentContent = async (refresh = false): Promise<void> => {
      argumentLoading.value = true
      if (!assemblyIdentifier.value) {
        throw 'assemblyIdentifier not found';
      }

      return cirapi
        .manageArguments(assemblyIdentifier.value, argumentFilterText.value)
        .then((response) => {
          argumentData.value = response.data.arguments;
          argumentLoading.value = false

          // DELETE ALL CONTENTTREES:
          if (refresh) {
            // console.log(contenttreeIdentifier)
            contenttree_id = assembly.value?.custom_data?.PROS_AND_CONS_CONTENTTREE_ID;
            const contenttreeIdentifier = `${contenttree_id}`
            store.dispatch('contenttreestore/delete_contenttree', {
              contenttreeIdentifier
            })
            // console.log(assembly.value.id, 'MMMMMMMMMMMMMM')
            store.dispatch('contenttreestore/syncContenttree', {
              assemblyIdentifier: assemblyIdentifier.value,
              contenttreeIdentifier: `${contenttree_id}`,
            });

          }


        })
        .catch((error) => {
          showServiceError(error);
          argumentLoading.value = false
          console.warn(error); // timeout!
          return Promise.reject();
        });
    };
    const click_voice_row = (event, row, index) => {
      console.assert(event)
      console.assert(index > -1)
      console.assert(row)
      emitter.emit('showDialog', {
        type: 'user',
        id: row.user.id,
      });
    }

    const click_argument_row = (event, row, index) => {
      console.assert(event)
      console.assert(index > -1)
      console.assert(row)

      // console.log(row, `${row.contenttree_id} -- ${row.id}`)

      emitter.emit('showDialog', {
        type: 'content',
        id: row.id,
        contenttreeIdentifier: `${row.contenttree_id}`,
      });
    }



    return {
      voiceLoading,
      voiceFilterText,
      voiceFilteredData,
      voiceFilterUsername,
      voice_columns,
      click_voice_row,
      retrieveVoicesContent,
      argumentLoading,
      argumentFilterText,
      // argumentData,
      argumentFilteredData,
      argumentFilterState,
      argumentFilterType,
      argument_columns,
      userFilterToggle,
      retrieveArgumentContent,
      click_argument_row,
      formatDate
    }
  },
  mounted() {
    this.retrieveVoicesContent()
    this.retrieveArgumentContent()
  }
});
</script>

<style lang="sass">
.my-sticky-header-table
  .q-table__top,
  .q-table__bottom,
  thead tr:first-child th
    /* bg color is important for th; just specify one */
    background-color: #fff

  thead tr:first-child th
    z-index: 1
    position: sticky
    top: 0

</style>