<style scoped>
.tooltipped {
  text-decoration: underline;
  cursor: pointer;
}
</style>
<template>
  <q-page class="doc_content">
    <!-- // IMPUTE MEDALLIENSPIEGEL HERE -->

    <ArtificialModeration :AM="AMs.index_top" alignment="right" :role="2" :ctx="this" />

    <!-- Hier können Sie sich über den Inhalt der Vorlage informieren. -->

    <div class="text-vessel">
      <h2>Abstimmungsvorlage</h2>

      <a name="VORLAGE" />
      <div class="text-h4 q-mt-lg q-mb-xs">1. Inhalt der Abstimmungsvorlage</div>
      <div class="text-body1 text-justify">
        Im Juni 2023 stimmen wir über das Bundesgesetz über die Ziele im Klimaschutz, die Innovation und die Stärkung
        der
        Energiesicherheit (KlG) ab. Dieses beinhaltet Ziele und grobe Massnahmen für den Schweizer Klimaschutz. Das sind
        die
        Hauptbestandteile des Gesetzes:

        <ul>
          <li>Die Festlegung eines Ziels, damit die Schweiz bis 2050 klimaneutral ist. Das bedeutet, dass entweder keine
            <span class="tooltipped">
              Treibhausgase<q-tooltip anchor="top middle" class="bg-amber-1 text-black shadow-4 text-body1 text-justify"
                self="bottom middle" max-width="400px" :offset="[10, 10]">
                Treibhausgase, z. B. CO2, gelten als Hauptgrund für den Klimawandel. Der Ausstoss von Treibhausgasen wird
                ausgeglichen, indem z. B. neue Bäume gepflanzt werden.
              </q-tooltip></span> mehr
            ausgestossen werden oder der Ausstoss von Treibhausgasen ausgeglichen wird (Netto-Null-Ziel);
          </li>
          <li>Der Ausbau von Technologien, um bereits ausgestossenes Treibhausgas zu reduzieren (z. B. Verfahren, um CO2
            aus der
            Atmosphäre zu entfernen);</li>
          <li>Eine finanzielle Förderung für Unternehmen, damit diese den Ausstoss von Treibhausgasen durch neuartige
            Technologien
            reduzieren;</li>
          <li>Eine finanzielle Unterstützung für den Ersatz von nicht nachhaltigen Heizungen (fossile und elektrische
            Heizungen) und
            für Gebäudesanierungen.</li>
        </ul>

      </div>




      <a name="ABSTIMMUNGSFRAGE" />
      <div class="text-h4 q-mt-lg q-mb-xs">2. Abstimmungsfrage</div>
      <div class="text-body1 text-justify">
        Wollen Sie das Bundesgesetz über die Ziele im Klimaschutz, die Innovation und die Stärkung der Energiesicherheit
        (KlG)
        vom 30. September 2022 annehmen?
      </div>


      <a name="FURTHER_INFO" />
      <div class="text-h4 q-mt-lg q-mb-xs">3. Weiterführende Informationen</div>
      <div class="text-body1 text-justify">
        Möchten Sie noch mehr Informationen zum neuen Bundesgesetz?

        <ul>
          <li><a href="javascript:void(this);" @click="togglerBackgroundInfo()">
              Entstehungsgeschichte ({{ !toggleBackgroundInfo ? 'hier einblenden' : 'ausblenden' }})</a>
            <div class="bg-blue-1 q-pa-md" v-if="toggleBackgroundInfo">
              <!-- <div class="text-h4 q-mb-xs">Hintergrundinformationen</div> -->
              <div class="text-body1 text-justify">
                Im Jahr 2019 wurde die Volksinitiative «Für ein gesundes Klima», die sogenannte Gletscher-Initiative, vom
                Verein Klimaschutz Schweiz lanciert. Das Parlament hat im Jahr 2022 als <span class="tooltipped">
                  indirekten Gegenvorschlag<q-tooltip anchor="top middle"
                    class="bg-amber-1 text-black shadow-4 text-body1 text-justify" self="bottom middle" max-width="400px"
                    :offset="[10, 10]">

                    Mit einem indirekten Gegenvorschlag kann das Parlament ein neues Gesetz oder eine Gesetzesänderung als
                    Alternative zu einer Volksinitiative vorschlagen.
                  </q-tooltip></span> zur Initiative das Bundesgesetz über die Ziele im Klimaschutz, die Innovation und
                die Stärkung der
                Energiesicherheit (KlG) erarbeitet. Dieses übernimmt die Stossrichtung der Initiative.
                <br><br>

                Deshalb hat der Verein Klimaschutz Schweiz die Gletscher-Initiative <span class="tooltipped">
                  bedingt
                  zurückgezogen<q-tooltip anchor="top middle"
                    class="bg-amber-1 text-black shadow-4 text-body1 text-justify" self="bottom middle" max-width="400px"
                    :offset="[10, 10]">
                    Wird der indirekte Gegenvorschlag angenommen, tritt das Klimaschutz-Gesetz in Kraft. Die Initiative
                    wird dann endgültig zurückgezogen. Wird der indirekte Gegenvorschlag abgelehnt, wird die
                    Stimmbevölkerung zu einem späteren Zeitpunkt über die Gletscher-Initiative abstimmen.
                  </q-tooltip></span>. Gegen das Gesetz wurde das
                <span class="tooltipped">
                  Referendum<q-tooltip anchor="top middle" class="bg-amber-1 text-black shadow-4 text-body1 text-justify"
                    self="bottom middle" max-width="400px" :offset="[10, 10]">
                    Über einen indirekten Gegenvorschlag stimmt die Stimmbevölkerung nur dann ab, wenn erfolgreich das
                    Referendum dagegen ergriffen wird. Dafür müssen 50'000 Unterschriften gesammelt werden.
                  </q-tooltip></span>
                ergriffen, weshalb im Juni 2023 über das Gesetz abgestimmt wird.
              </div>
            </div>
          </li>
          <li><a href="javascript:void(this);"
              @click="openTab('https://swissvotes.ch/attachments/3a1217a53cb1d9a6827266b7ca103e1ff7df9f520a72a107b8795bdf7661918f', 'LEGALTEXT')">Gesetzestext
              (PDF in neuem Fenster)</a>
          </li>
          <li><a href="javascript:void(this);" @click="openTab('https://anneepolitique.swiss/prozesse/64275', 'APS')">Zum
              Dossier auf der Webseite von Année Politique Suisse (In neuem Fenster)</a>. Année Politique Suisse erstellt
            seit 1965 eine politisch unabhängige Chronik der Schweizer
            Politik.
          </li>

        </ul>

      </div>

    </div>


    <ArtificialModeration :AM="AMs.ask_for_statement_" alignment="left" :role="1" :ctx="this" />
    <ArtificialModeration :AM="AMs.index_bottom" alignment="right" :role="2" :ctx="this" />
  <!-- </StageMilestone> -->

  <!-- <StageMilestone :addSeperator="false" :milestone="msInitialPreference"> -->
  <!-- <ArtificialModeration
        :AM="AMs.msInitialPreference"
        v-if="!msInitialPreference.achieved.value"
                                                                                                      alignment="right"
                                                                                                      :ctx="this"
                                                                                                    />
                                                                                                  </StageMilestone> -->
    <SideMenu :items="sideMenuItems" />
  </q-page>
</template>

<script lang="ts">
import SideMenu from 'src/pages/components/SideMenu.vue';
import { defineComponent, computed, ref } from 'vue';
import AMs from 'src/plugins/CIR/stages/INFORMATION/ArtificialModerationInformation';
import ArtificialModeration from 'src/pages/components/artificial_moderation/ArtificialModeration.vue';
import { useMilestoneComposable } from 'src/composables/milestone.composable';
import useCIRStatementService from 'src/plugins/CIR/services/statement.composable';
import useCIRTopicComposable from 'src/plugins/CIR/services/topic.composable';
import useContentComposable from 'src/composables/content.composable';
import { getMonitorService } from 'src/services/index';
import { getStageService } from 'src/services/index';
import useEmitter from 'src/utils/emitter';
import { getAuthService } from 'src/services/index';
import library from 'src/utils/library';
import { getAssemblyService } from 'src/services/index';
import constants from 'src/utils/constants';

const emitter = useEmitter();
const { scrollToTop } = library;

export default defineComponent({
  name: 'INFORMATION',
  components: {
    ArtificialModeration,
    SideMenu,
  },

  setup() {
    const { topicContentTuple } = useCIRTopicComposable(undefined, true);
    const { monitorFire, monitorLog } = getMonitorService();
    const { isRated } = useContentComposable();

    const {
      isRoutedStageAlerted,
      routedStageTuple,
      markUnAlert,
      nextScheduledStage,
    } = getStageService();

    const { gotoStage } = getAssemblyService();

    const loadingTextsheet = ref<boolean>(true);
    const setLoadedTrue = () => {
      loadingTextsheet.value = false;
    };

    // console.log('DEBUG: loading 00000', `LOADING ${loadingTextsheet?.value}`);

    const { statementContentTuple, statementContenttreeTuple } =
      useCIRStatementService(undefined, true, true);

    // Number of unread feedback-comments for the Public Profile...
    const commpletedProfile = computed((): boolean | undefined => {
      if (!topicContentTuple.value || !statementContentTuple.value) {
        return undefined;
      }
      monitorFire()
      return (
        isRated(topicContentTuple.value)
        // &&
        // !!statementContentTuple.value.content?.text
      );
    });



    const toSubmitInitialPreference = ref<boolean>(!commpletedProfile.value);

    // Either msInitialPreference or msRevisePreference must be completed....
    const msReadText = useMilestoneComposable({
      key: 'INITIAL_PREFERENCE',
      loading: loadingTextsheet,
      priors: [],
    });

    const { profile } = getAuthService();
    const showCIRProfileForm = (): void => {
      if (!profile.value.id) {
        throw 'invalid user';
      }
      emitter.emit('showDialog', {
        type: 'profileForm',
        id: profile.value.id,
        AM: AMs.statement_instruction,
        tab: 'voice',
        preventCancel: true,
      });
    };

    const toggleBackgroundInfo = ref(false)
    const togglerBackgroundInfo = () => {
      if (!toggleBackgroundInfo.value) {
        const data = {
          value: 'ENTSTEHUNGSGESCHICHTE'
        };
        monitorLog(constants.MONITOR_SHOW_BACKGROUND_INFO, data);
      }
      toggleBackgroundInfo.value = !toggleBackgroundInfo.value;
    }
    const openTab = (url, tag) => {
      const data = {
        value: tag
      };
      monitorLog(constants.MONITOR_SHOW_BACKGROUND_INFO, data);
      window.open(url)
    }


    let sideMenuItems: any[] = [
      {
        label: 'Inhalt der Vorlage',
        anchor: 'VORLAGE',
      },
      {
        label: 'Abstimmungsfrage',
        anchor: 'ABSTIMMUNGSFRAGE',
      },
      {
        label: 'Weitergehende Informationen',
        anchor: 'FURTHER_INFO',
      },
    ];

    return {
      AMs,
      // msInitialPreference,
      toSubmitInitialPreference,
      msReadText,
      setLoadedTrue,
      toggleBackgroundInfo,
      togglerBackgroundInfo,
      // statementContentId,
      openTab,
      statementContentTuple,
      statementContenttreeTuple,
      topicContentTuple,
      monitorFire,
      isRoutedStageAlerted,
      routedStageTuple,
      commpletedProfile,
      markUnAlert,
      showCIRProfileForm,
      gotoStage,
      nextScheduledStage,
      scrollToTop,
      loadingTextsheet,
      sideMenuItems,
    };
  },

  methods: {
    openPublicCirProfileModify() {
      // console.log(this.$refs);
      const popup: unknown = this.$refs['dialog-modify-public-cir-profile'];
      // console.log(this.$refs, popup);
      if (!popup) {
        throw 'invliad popup key';
      }
      (popup as any).showCIRProfileForm();
    },
  },

  unmounted() {
    this.monitorFire();

  },
});
</script>
