<template>
  <q-page class="doc_content">
    <div class="row justify-between">
      <div class="seperator">
        <q-img
          style="width: 150px"
          :src="`layout/logodemokratiefabrik.png`"
          class="q-mb-xl"
        />
      </div>
    </div>

    <!-- <div class="row justify-between">
      <div class="seperator">
        <q-icon name="mdi-star-four-points-outline" />
      </div>
    </div>
    <br /> -->

    <div v-if="summaryContenttreeIdentifier" class="whitesmoke q-pb-md">
      <a :name="`ANCHOR${summaryContenttreeIdentifier}`" />
      <TextsheetComponent
        :headingNumbering="false"
        :contenttreeIdentifier="summaryContenttreeIdentifier"
      ></TextsheetComponent>
      <!-- h2="Zwischenbericht" -->
    </div>

    <br />

    <div class="row justify-between">
      <div class="seperator">
        <q-icon name="mdi-star-four-points-outline" />
      </div>
    </div>
    <!-- <br /> -->

    <div class="row text-center">
      <div class="seperator">
        <h1>Vielen Dank für Ihre heutige Mitarbeit!</h1>

        <!-- <p>
          Nach Beendigung der zehntägigen Online-Diskussion werden wir die
          Öffentlichkeit über die wichtigsten Ergebnisse des BürgerInnen-Rats
          informieren. Hierbei werden wir auch ausgewählte Zitate aus den
          Diskussionen verwenden, um die verschiedenen Argumente und Positionen
          zu illustrieren. Wir wahren dabei vollständige Anonymität: Wir werden
          keine Namen nennen, auch nicht die Alias-Namen aus der
          Online-Diskussion. Mit Ihrer Teilnahme am BürgerInnen-Rat stimmten Sie
          dieser Verwendung der Inhalte zu.
        </p> -->

        <ArtificialModeration
          :AM="AMs.conclusionA"
          alignment="left"
          amGroup="Conclusion"
          :role="1"
          :ctx="this"
        />

        <ArtificialModeration
          :AM="AMs.conclusionB"
          alignment="right"
          amGroup="Conclusion"
          :role="2"
          :ctx="this"
        />

        <!-- <p class="text-h4"> Es folgt ein kleiner Zwischenstand zur Demokratiefabrik! Wenn Sie möchten können Sie sich weiterhin auf der Plattform bewegen. Es gibt noch viel zu entdecken und mit anderen Könizerinenn und Könizer zu diskutieren. </p> -->
      </div>
    </div>

    <br />
    <div class="row justify-between">
      <div class="seperator">
        <q-icon name="mdi-star-four-points-outline" />
      </div>
    </div>
    <br />

    <!-- <SideMenu :items="sideMenuItems" /> -->
  </q-page>
</template>

<script lang="ts">
import { defineComponent, computed } from 'vue';
import useStageComposable from 'src/composables/stage.composable';
import AMs from '../ArtificialModeration';
import TextsheetComponent from 'src/pages/Textsheet/Index.vue';
import ArtificialModeration from 'src/pages/components/artificial_moderation/ArtificialModeration.vue';

export default defineComponent({
  name: 'CONCLUSION__KI',
  components: { ArtificialModeration, TextsheetComponent },
  setup() {
    const { routedStageTuple, markUnAlert } = useStageComposable();

    const summaryContenttreeIdentifier = computed((): string | undefined => {
      if (!routedStageTuple.value) {
        return undefined;
      }

      return `${routedStageTuple.value.stage.contenttree_id}`;
    });

    return {
      summaryContenttreeIdentifier,
      routedStageTuple,
      markUnAlert,
    };
  },
  data() {
    return {
      AMs,
    };
  },

  mounted() {
    if (this.routedStageTuple) {
      this.markUnAlert();
    }
  },
});
</script>

<style scoped>
.whitesmoke {
  background-color: #efefef;
}
</style>
