<template>
  <TextsheetPlugin :AMs="AMs"></TextsheetPlugin>
</template>

<script lang="ts">
// TextsheetPlugin WRAPPER

import { defineComponent } from 'vue';
import TextsheetPlugin from 'src/plugins/KI/stages/TEXTSHEET/Index.vue';
import AMs from 'src/plugins/KI/stages/ArtificialModerationInformation';

export default defineComponent({
  setup() {
    return { AMs };
  },
  name: 'INFORMATION',
  components: {
    TextsheetPlugin,
  },
});
</script>
