<template>
  <q-page class="doc_content superwide">
    <h2>Teilnehmer und Teilnehmerinnen</h2>

    <a name="POLARBEEPLOT" />
    <div class="row justify-between">
      <div class="seperator large">
        <q-icon name="mdi-star-four-points-outline" />
      </div>
    </div>
    <CIRPlotComponent></CIRPlotComponent>
  </q-page>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import CIRPlotComponent from 'src/plugins/CIR/stages/VOICE/components/CIRPlotComponent.vue';

export default defineComponent({
  name: 'VoiceFullscreen',

  components: { CIRPlotComponent },

  // setup() {
  //   // users: null as Record<string, IUser> | null,

  //   // const { loaded } = library;
  //   // const {
  //   //   showLoadingGif,
  //   //   hideLoadingGif,
  //   //   showServiceError,
  //   //   showNetworkError,
  //   // } = useAppService();

  //   // const store = useStore();

  //   // const { getAssemblyUser, assemblyIdentifier } = useAssemblyService();

  //   // return {
  //   //   getAssemblyUser,
  //   //   assemblyIdentifier,
  //   //   store,
  //   //   showLoadingGif,
  //   //   hideLoadingGif,
  //   //   showNetworkError,
  //   //   showServiceError,
  //   //   loaded,
  //   // };
  // },

  // mounted() {
  //   this.userBoxHighlightedElement =
  //     document.getElementById('userBoxHighlighted');
  // },

  // AlgorithmDisclaimer

  // data() {
  //   // return {
  //   //   userBoxHighlightedElement: null as null | HTMLElement,
  //   //   users: null as null | Record<string, IUser>,
  //   //   loading: false,
  //   //   highlightedUser: null as IUser | null,
  //   //   // highlightedPosition: { offsetX: 0, offsetY: 0 } as IPosition,
  //   //   selectedUserId: null as number | null,
  //   //   selectedUserPos: null as number | null,
  //   //   carouselUser: null as null | IAssemblyUserTuple,
  //   //   carouselPosition: 1 as number,
  //   // };
  // },

  // computed: {
  //   ready(): boolean {
  //     return this.loaded(this.users);
  //   },

  //   selectedUser(): IAssemblyUserTuple | null {
  //     console.log('rerun');
  //     if (this.selectedUserId) {
  //       return this.getAssemblyUser(
  //         this.assemblyIdentifier,
  //         this.selectedUserId
  //       );
  //     }

  //     return null;
  //   },
  // },

  // methods: {
  //   syncUser: function (userId: number): void {
  //     this.store.dispatch('assemblystore/retrieveAssemblyUser', {
  //       assemblyIdentifier: this.assemblyIdentifier,
  //       userID: userId,
  //     });
  //   },

  //   highlightUser(event: IHighlightEvent | null) {
  //     if (event) {
  //       this.highlightedUser = { id: event.id, U: event.label };
  //       if (this.userBoxHighlightedElement) {
  //         this.userBoxHighlightedElement.style.top = `${
  //           event.elementOffsets.y - 20
  //         }px`;
  //         this.userBoxHighlightedElement.style.left = `${event.elementOffsets.x}px`;
  //       }
  //     } else {
  //       // Just De-Hightlihgt
  //       // TODO enable agains,.
  //       this.highlightedUser = null;
  //     }
  //   },

  //   selectUser(event: IHighlightEvent) {
  //     // console.log(event);
  //     if (event) {
  //       // make sure the user object is already loaded
  //       this.selectedUserId = event.id;
  //       this.syncUser(event.id);
  //       this.selectedUserPos = event.pos;
  //       this.carouselUser = this.selectedUser;
  //     }
  //   },

  //   deselectUser() {
  //     this.selectedUserId = null;
  //     this.selectedUserPos = null;
  //   },

  //   dataReload() {
  //     this.selectedUserId = null;
  //     this.highlightedUser = null;
  //   },
  // },
});
</script>
