<template>
  <div class="doc_content">
    <ArtificialModeration :AM="AMs.AMmsVoiceIntroduction" :role="1" alignment="left" :ctx="this" />

    <StageMilestone :milestone="msChallengeOfOthers" :addSeperator="false" h2="Bekanntmachung">

      <a name="BEKANNTMACHUNG"></a>

      Wir möchten Sie hier jeden Tag mit anderen Teilnehmenden bekanntmachen.
      Heute sind dies:

      <div v-if="profilesToChallenge">
        <div flat bordered class="q-ml-xl q-pl-xl q-my-md" :key="`key${profile.id}`" style="width: 300px"
          v-for="profile in profilesToChallenge">
          <!-- <div class="absolute-bottom text-h6 bg-grey-2 text-grey-8"> -->
          <UserAvatar :profile="profile.user" size="lg" :openedAsScheduledTask="!msChallengeOfOthers.achieved.value"
            :customClass="{
              profileCard: true,
              'q-pa-sm': true,
              unread:
                profile.statement_contenttree_identifier &&
                readProfiles &&
                !readProfiles.includes(
                  profile.statement_contenttree_identifier
                ),
              incomplete: !profile.statement_contenttree_identifier,
            }">
            <template v-slot:extrainfos>
              <div class="labelUnread text-weight-thin">Ungelesen</div>
              <div class="labelIncomplete text-weight-thin">
                Unvollständige Stellungnahme
              </div>
            </template>
          </UserAvatar>
        </div>
      </div>

      <ArtificialModeration :AM="AMs.AMmsChallengeOfOthers" :role="1" v-if="!msChallengeOfOthers.achieved.value"
        :slim="true" alignment="left" :ctx="that" />
    </StageMilestone>

    <StageMilestone :milestone="msPolarBeePlot">
      <h2>Wer sind die Teilnehmenden?</h2>
      <a name="CIRPLOT"></a>
      <p v-if="beePlotUserCount >= 10">
        Wir laden 1’000 Personen zur Demokratiefabrik ein. In der folgenden
        Grafik sehen Sie, wie sich die bisherigen Teilnehmenden positioniert
        haben. Sie können sich hier mit der Vielfalt der Meinungen und
        Positionen des Teilnehmerfeldes vertraut machen.
      </p>
      <p v-if="beePlotUserCount < 10">
        Die Demokratiefabrik hat eben erst begonnen. Insgesamt werden wir 1’000
        Personen dazu einladen. In der folgenden Grafik werden Sie sehen, wie
        sich die bisherigen Teilnehmenden zur Vorlage positioniert haben. Sie
        können sich dann hier mit der Vielfalt der Meinungen und Positionen des
        Teilnehmerfeldes vertraut machen.
      </p>

      <ArtificialModeration :AM="AMs.AMmsPolarBeePlot" alignment="left" :role="1" :ctx="this" />
      <CIRPlotComponent v-on:data-reload="
        beePlotLoaded = true;
      setBeePlotUserCount($event);
                                                                                      " />

      <br /><br /><br />
      <ArtificialModeration :AM="AMs.endOfPage" :role="2" v-if="beePlotLoaded" :slim="true" alignment="right"
        :ctx="this" />
    </StageMilestone>

    <!-- isRoutedStageAlerted {{ isRoutedStageAlerted }} -- {{ routedStageTuple }} -->

  </div>

  <SideMenu :items="sideMenuItems" />
</template>

<script lang="ts">
import { defineComponent, computed, ref, Ref } from 'vue';
import AMs from './ArtificialModerationVoice';
import CIRPlotComponent from 'src/plugins/CIR/stages/VOICE/components/CIRPlotComponent.vue';
import StageMilestone from 'src/pages/Assembly/components/StageMilestone.vue';
import ArtificialModeration from 'src/pages/components/artificial_moderation/ArtificialModeration.vue';
import useContentComposable from 'src/composables/content.composable';
import { useMilestoneComposable } from 'src/composables/milestone.composable';
// import getMonitorService from 'src/composables/monitor.composable';
import { getMonitorService } from 'src/services/index';

// import useCIRTopicComposable from 'src/plugins/CIR/services/topic.composable';
import useCIRStatementService from 'src/plugins/CIR/services/statement.composable';
import UserAvatar from 'src/pages/components/UserAvatar.vue';
import SideMenu from 'src/pages/components/SideMenu.vue';
// import getStageService from 'src/composables/stage.composable';
import { getStageService } from 'src/services/index';

import cirapi from 'src/plugins/CIR/utils/api';
import { INodeTuple } from 'src/models/content';
import { IAssemblyUserTuple } from 'src/models/assembly';
// import getAppService from 'src/composables/app.service';
import { getAppService } from 'src/services/index';

import { useStore } from 'vuex';
import library from 'src/utils/library';
import { useQuasar } from 'quasar';
// import useAssemblyService from 'src/composables/assembly.composable';
import { getAssemblyService } from 'src/services/index';
import useStoreService from 'src/services/store.service';
import useCIRTopicComposable from '../../services/topic.composable';

const { scrollToTop } = library;

// Random Profiles to challenge
const profilesToChallenge = ref<IAssemblyUserTuple[] | null>(null);

export default defineComponent({
  name: 'Voice',
  components: {
    ArtificialModeration,
    SideMenu,
    UserAvatar,
    StageMilestone,
    CIRPlotComponent,
  },
  setup() {
    // console.log('DEBUG: userTupleComputed (in Voice)');

    const $q = useQuasar();
    // const is_mobile = $q?.platform.is.mobile;
    const beePlotLoaded: Ref<boolean> = ref<boolean>(false);
    const beePlotUserCount: Ref<number | undefined> = ref<number | undefined>(
      undefined
    );

    const setBeePlotUserCount = (val: number) => {
      beePlotUserCount.value = val;
    };

    const store = useStore();
    const { monitorFire } = getMonitorService();
    const { isRead } = useContentComposable();
    const { gotoScheduledStage, isRoutedStageAlerted, markUnAlert, nextScheduledStage, routedStageTuple } =
      getStageService();
    const { stageID } = useStoreService();
    const { topicContentTuple } = useCIRTopicComposable(undefined, true);
    const { showServiceError } = getAppService();
    const { assembly } = getAssemblyService();

    // Number of unread feedback-comments for the Public Profile...
    const readProfiles = computed((): string[] | null => {
      return Object.keys(store.state.contenttreestore.contenttree);
    });

    const retrieveProfilesToChallenge = async (): Promise<void> => {
      if (!assembly.value?.identifier) {
        throw 'assemblyIdentifier not found';
      }
      if (!stageID.value) {
        throw 'stageID not found';
      }

      // load from vuex (if already loaded)
      const sessionData = store.getters['assemblystore/stageSessionData'];
      if (sessionData && sessionData.profilesToChallenge) {
        profilesToChallenge.value = sessionData.profilesToChallenge;
        return;
      }

      return cirapi
        .profilesToChallenge(assembly.value?.identifier, stageID.value)
        .then((response) => {
          profilesToChallenge.value = response.data;

          store.dispatch('assemblystore/addSessionData', {
            key: 'profilesToChallenge',
            stageID: stageID.value,
            // data: [],
            data: response.data,
          });

          // console.log(response.data, 'data 903923');
        })
        .catch((error) => {
          console.warn(error); // timeout!
          showServiceError(error);
          return Promise.reject();
        });
    };

    const {
      statementContentTuple,
      statementContenttreeTuple,
      statementContentId,
    } = useCIRStatementService(undefined, true, true);

    // Number of unread feedback-comments for the Public Profile...
    const nofUnreadFeedback = computed((): number | undefined => {
      const entries = statementContenttreeTuple.value?.entries;
      if (!entries) {
        return undefined;
      }

      if (Object.keys(entries).length <= 1) {
        return 0;
      }

      const unreads = Object.values(entries).filter(
        (nodeTuple) =>
          !isRead(nodeTuple as INodeTuple) &&
          nodeTuple.content?.id != statementContentId.value
      );
      return unreads.length;
    });

    // Number of unread feedback-comments for the Public Profile...
    const nofReadFeedback = computed((): number | undefined => {
      const entries = statementContenttreeTuple.value?.entries;
      if (!entries || nofUnreadFeedback.value === undefined) {
        return undefined;
      }
      return Object.keys(entries).length - nofUnreadFeedback.value - 1;
    });

    // Number of unread feedback-comments for the Public Profile...
    const hasReadOthersProfiles = computed((): boolean => {

      // No profiles to challenge available
      if (!profilesToChallenge.value) {
        return true;
      }

      const notread = profilesToChallenge.value.find((profile) => {

        // invalid statement
        if (!profile.statement_contenttree_identifier) {
          return false;
        }

        // which profiles have been read??.
        if (!readProfiles.value) {
          return false;
        }

        return !readProfiles.value.includes(
          profile.statement_contenttree_identifier
        );
      });

      return !notread;
    });

    const msChallengeSetup = useMilestoneComposable({
      key: 'SETUP_APP',
      loading: computed((): boolean => {
        return (
          !assembly.value?.identifier
        );
      }),
      achieved: computed((): boolean => {
        return true;
      }),
    })

    const msChallengeOfOthers = useMilestoneComposable({
      key: 'CHALLENGE_OF_OTHERS',
      priors: [msChallengeSetup],
      loading: computed((): boolean => {
        return (
          profilesToChallenge.value === null
        );
      }),
      initialize() {
        console.log('DEBUG init started?')
        if (!profilesToChallenge.value) {
          retrieveProfilesToChallenge();
        }
      },
      skipped: computed((): boolean => {

        // No profile to challenge available...
        if (profilesToChallenge.value?.length === 0) {
          return true;
        }
        return false
      }),

      achieved: computed((): boolean => {

        if (isRoutedStageAlerted.value === false) {
          return true
        }

        // all finished?
        return hasReadOthersProfiles.value;
      }),
    });

    const msPolarBeePlot = useMilestoneComposable({
      key: 'POLARBEEPLOT',
      loading: computed((): boolean => {
        return !assembly.value?.identifier;
      }),
      // final: true,
      priors: [msChallengeOfOthers],
      achieved: computed((): boolean => {
        return nofUnreadFeedback.value === 0;
      }),
    });

    const sideMenuItems: any[] = [
      {
        label: 'Bekanntmachung',
        anchor: 'BEKANNTMACHUNG',
      },
      {
        label: 'Wer sind die Teilnehmenden?',
        anchor: 'CIRPLOT',
      },
    ];

    return {
      gotoScheduledStage,
      nextScheduledStage,
      statementContentId,
      statementContentTuple,
      statementContenttreeTuple,
      topicContentTuple,
      monitorFire,
      msPolarBeePlot,
      msChallengeOfOthers,
      msChallengeSetup,
      // markUnAlertById,
      routedStageTuple,
      nofReadFeedback,
      isRoutedStageAlerted,
      nofUnreadFeedback,
      profilesToChallenge,
      readProfiles,
      markUnAlert,
      beePlotLoaded,
      beePlotUserCount,
      setBeePlotUserCount,
      scrollToTop,
      sideMenuItems,
      q: $q,
    };
  },

  data() {
    return {
      AMs,
      that: this,
    };
  },

  methods: {
    openPublicCirProfileModify() {
      console.log(this.$refs);
      const popup: unknown = this.$refs['dialog-modify-public-cir-profile'];
      if (!popup) {
        throw 'invliad popup key';
      }
      (popup as any).showCIRProfileForm();
    },
    openPublicCirProfile() {
      // console.log(this.$refs);
      const popup: unknown = this.$refs['dialog-modify-public-cir-profile'];
      if (!popup) {
        throw 'invliad popup key';
      }
      (popup as any).showCIRProfile();
    },
  },
});
</script>

<style>
/* NOT SCOPED: */

.unread {
  background-color: orange;
  border-radius: 45px;
}

.labelUnread {
  display: none;
}

.labelIncomplete {
  display: none;
}

.unread .labelUnread {
  display: block;
}

.incomplete .labelIncomplete {
  display: block;
}

.profileCard {
  min-width: 300px;
  /* border: 1px solid grey; */
}
</style>
