<template>
  <!-- no-scroll -->
  <q-card class="popup-dialog-card">
    <div class="bg-blue-grey-1">
      <q-toolbar>
        <slot name="header-toolbar-action-left"></slot>
        <q-toolbar-title></q-toolbar-title>
        <slot name="header-toolbar-action-right"></slot>
      </q-toolbar>

      <template v-if="!!userTuple">
        <div
          class="full-width q-mb-xl"
          style="text-align: center; max-width: 95%"
        >
          <!-- <div
              class="full-width bg-grey-3"
              style="height: 2em; position: absolute; left: -1em; "
            ></div> -->
          <UserAvatar
            size="80px"
            class=""
            :clickable="false"
            :showTooltip="false"
            :avatarOnly="true"
            :userTuple="userTuple"
          ></UserAvatar>
          <br />
          <!-- Öffentliches Profil von  -->
          <div class="text-h2">{{ userTuple.user.U }}</div>
          <div class="text-italic">{{ usernameDerivation }}</div>
        </div>
      </template>
      <template v-else-if="!errorUserLoading">
        <div class="full-width q-mb-xl" style="text-align: center">
          <q-spinner-ball color="primary" size="2em" />
        </div>
      </template>
      <template v-else>
        <div class="full-width q-mb-xl" style="text-align: center">
          <div class="text-red" v-if="errorUserLoading">
            Die Daten dieses Teilnehmers konnte nicht geladen werden.
            (Möglicherweise sind es nur Testdaten.)
          </div>
        </div>
      </template>
      <br />
      <!-- <q-tabs
        v-model="tab"
        dense
        @update:model-value="$emit('tab-change', $event)"
        active-color="primary"
        indicator-color="primary"
        align="justify"
        narrow-indicator -->
      <!-- > -->
      <!-- <q-tab name="voice" label="Positionierung" /> -->
      <!-- <q-tab name="discussion" label="Gesprächsecke" /> -->
      <!-- <q-tab name="user" label="Verlauf" /> -->
      <!-- </q-tabs> -->
    </div>
    <q-separator />

    <q-card-section
      style="max-height: calc(100% - 280px)"
      class="scroll q-ma-lg"
    >
      <!-- <q-tab-panels v-model="tab" animated v-if="!!userTuple"> -->
      <!-- <q-tab-panel name="user" class="no-scroll"> -->
      <UserInfo :userTuple="userTuple" :hideAvatar="true" />
      <!-- </q-tab-panel> -->
      <!-- </q-tab-panels> -->

      <!-- <q-separator /> -->
    </q-card-section>
  </q-card>
</template>

<script lang="ts">
import { defineComponent, watch, ref, PropType, computed } from 'vue';
import useAssemblyComposable from 'src/composables/assembly.composable';
import { IAssemblyUserTuple } from 'src/models/assembly';
import { useStore } from 'vuex';
import UserInfo from 'src/pages/components/UserInfo.vue';
import UserAvatar from 'src/pages/components/UserAvatar.vue';
import { IDialog } from 'src/models/layout';
import useAuthComposable from 'src/composables/auth.composable';

export default defineComponent({
  name: 'DialogUserInfoKI',
  props: {
    id: {
      type: Number,
      required: false,
    },
    defaultTab: {
      type: String,
      default: 'voice',
    },
    currentDialog: {
      type: Object as PropType<IDialog>,
      required: true,
    },
    contenttreeIdentifier: {
      type: String,
      required: false,
    },
  },
  components: {
    UserInfo,
    // UserDiscussion,
    UserAvatar,
    // TabUserViewVoice,
    // TabUserViewArguments,
    // ComponentContentTree,
  },
  emits: ['tab-change'],

  setup(props) {
    const errorUserLoading = ref<boolean>(false);
    //   // console.log('DEBUG setup mainLayout')
    const store = useStore();
    const { assemblyIdentifier } = useAssemblyComposable();
    const tab = ref<string>(props.defaultTab);
    const { getUsernameDerivation } = useAuthComposable();

    const publicProfile = computed(() => store.getters['profilestore/profile']);
    const ownCirProfile = computed(() => {
      return publicProfile.value.id == props.id;
    });

    const syncUser = (): void => {
      store
        .dispatch('assemblystore/retrieveAssemblyUser', {
          assemblyIdentifier: assemblyIdentifier.value,
          userID: props.id,
        })
        .catch((e) => {
          errorUserLoading.value = true;
          console.error(
            e,
            assemblyIdentifier.value,
            props.id,
            'assembly user sync error'
          );
          // throw 'assembly user sync error';
        });
    };

    const getAssemblyUser = store.getters['assemblystore/get_assembly_user'];

    const userTuple = computed((): IAssemblyUserTuple | null => {
      if (props.id) {
        return getAssemblyUser(assemblyIdentifier.value, props.id);
      }
      return null;
    });

    const usernameDerivation = computed((): string => {
      if (!userTuple?.value) {
        return '';
      }
      return getUsernameDerivation(userTuple.value.user);
    });

    // const {
    //   statementContentTuple,
    //   statementContenttreeTuple,
    //   // statementContenttreeIdentifier,
    // } = useStatementComposable(userTuple, true, true);

    watch(
      () => props.id,
      () => {
        if (props.id) {
          // console.log('--- Changed uSER ID ', props.id);
          syncUser();
        }
      },
      { immediate: true }
    );

    return {
      tab,
      usernameDerivation,
      errorUserLoading,
      // statementContentTuple,
      // statementContenttreeTuple,
      store,
      ownCirProfile,
      userTuple,
      assemblyIdentifier,
    };
  },
});
</script>

<style lang="scss" scoped>
.q-tab-panels {
  min-height: 220px;
}
</style>
