<template>
  <q-card class="popup-dialog-card no-scroll">
    <div class="bg-blue-grey-1">
      <q-toolbar>
        <slot name="header-toolbar-action-left"></slot>
        <q-toolbar-title></q-toolbar-title>
        <slot name="header-toolbar-action-right"></slot>
      </q-toolbar>
      <template v-if="!!peerreviewTuple">
        <div class="full-width q-mb-xl" style="text-align: center">
          <q-avatar color="grey-6" text-color="white" class="q-mr-sm" icon="mdi-scale-balance"></q-avatar>
          <br />
          <div class="text-h2">
            <span class="text-h4" v-if="isInsertProposal">
              Gutachten #{{ peerreviewTuple.peerreview.id }}: Neuantrag
            </span>
            <span v-else class="text-h4">
              Gutachten #{{ peerreviewTuple.peerreview.id }}:
              Verbesserungsantrag
            </span>
          </div>

          <div class="text-italic">
            Urheber: {{ peerreviewTuple.creator.U }} vom
            {{ formatDate_obj_peerreview_date_created }}

            <span class="finalized_peerreview approved" v-if="peerreviewTuple.peerreview.approved">Angenommen<br /></span>
            <span class="finalized_peerreview rejected" v-if="peerreviewTuple.peerreview.rejected">Abgelehnt</span>
          </div>
        </div>
      </template>
      <template v-else>
        <div class="full-width q-mb-xl" style="text-align: center">
          <q-spinner-ball color="primary" size="2em" />
        </div>
      </template>

      <!-- BODY -->
      <q-tabs v-model="tab" @update:model-value="$emit('default-tab-change', $event)" dense active-color="primary"
        indicator-color="primary" align="justify" narrow-indicator>
        <!-- PROPOSAL -->
        <q-tab name="proposal" label="Antrag" icon="mdi-lightbulb-on-outline" />

        <!-- PERSONAL RESPONSE -->
        <q-tab name="response" label="Ihr Gutachten" icon="mdi-account-voice" v-if="peerreviewAssigned">
          <!-- :disable="!peerreviewAssigned" -->
          <q-badge color="orange" style="left: 20px; width: 15px" class="absolute"
            v-if="!peerreviewCompleted && peerreviewAssigned">
            <q-tooltip>Möchten Sie diesen Antrag gutheissen?</q-tooltip>
            !
          </q-badge>
          <q-badge color="red" style="left: 20px; width: 15px" class="absolute" v-if="!peerreviewAssigned">!
          </q-badge>
          <!-- <q-tooltip v-if="!peerreviewAssigned"
            >Sie sind nicht Teil dieses Gutachten</q-tooltip
          > -->
        </q-tab>

        <!-- OVERALL RESULT -->
        <q-tab name="result" label="Resultat" icon="mdi-sigma" />
      </q-tabs>
    </div>

    <q-separator />

    <q-card-section style="height: calc(100% - 260px)" class="scroll" v-if="peerreviewTuple">
      <q-tab-panels v-model="tab" animated keep-alive class="no-scroll">
        <!-- PROPOSAL -->
        <q-tab-panel name="proposal" class="scroll block tab-panel-proposal" style="height: 100%">
          <ArtificialModeration :AM="AMs.readPeerreviewCarfully" alignment="left" :ctx="this" />

          <!-- NEUES ARGUMENT -->
          <div class="text-h4 q-pa-md" v-if="peerreviewTuple && isInsertProposal">
            <div v-if="ownPeerreview">
              Sie haben folgendes Argument vorgeschlagen:
            </div>
            <div v-if="!ownPeerreview">
              User <i>{{ peerreviewTuple.creator.U }}</i> hat folgendes
              {{
                peerreviewTuple.content.type == 'PRO'
                ? 'Pro-Argument'
                : 'Contra-Argument'
              }}
              <!-- text-overline -->
              <!-- <span class="cursor-pointer" style="text-decoration: underline"
                @click="showBackground(`${peerreviewTuple?.content?.id}`)">
              </span> -->

              vorgeschlagen:
            </div>
          </div>

          <q-card class="q-pa-md" v-if="peerreviewTuple && isInsertProposal">
            <q-card-section v-if="peerreviewTuple?.content?.text" class="text-center">
              <q-icon name="mdi-format-quote-open" size="xl" class="text-custom-user-color" />

              <!-- q-pb-md q-pl-sm text-h4 text-italic -->
              <div class="text-h2">{{ peerreviewTuple.content.title }}</div>
              <div class="text-h4">« {{ peerreviewTuple.content.text }}»</div>

              <div class="text-caption text-weight-thin">
                <span class="cursor-pointer text-overline" style="text-decoration: underline"
                  @click="showBackground(peerreviewTuple?.content?.id)">
                  {{
                    peerreviewTuple.content.type == 'PRO'
                    ? 'Pro-Argument'
                    : 'Contra-Argument'
                  }}</span>
                vorgeschlagen von {{ peerreviewTuple.creator.U }} <br />
              </div>
            </q-card-section>
          </q-card>

          <!-- ------------- Änderungen ---------- -->
          <!-- NEUES ARGUMENT -->
          <div class="text-h4 q-pa-md" v-if="peerreviewTuple && !isInsertProposal">
            <div v-if="ownPeerreview">
              Sie haben folgende Änderung am
              <span class="cursor-pointer text-overline" style="text-decoration: underline"
                @click="showBackground(`${peerreviewTuple?.content?.id}`)">
                {{
                  peerreviewTuple.content.type == 'PRO'
                  ? 'Pro-Argument'
                  : 'Contra-Argument'
                }}</span>
              vorgeschlagen:
            </div>
            <div v-if="!ownPeerreview">
              User <i>{{ peerreviewTuple.creator.U }}</i> hat folgende Änderung
              an einem
              <span class="cursor-pointer text-overline" style="text-decoration: underline"
                @click="showBackground(`${peerreviewTuple?.content?.id}`)">
                {{
                  peerreviewTuple.content.type == 'PRO'
                  ? 'Pro-Argument'
                  : 'Contra-Argument'
                }}</span>
              vorgeschlagen:
            </div>
          </div>

          <q-card class="q-pa-md" v-if="peerreviewTuple && !isInsertProposal">
            <q-card-section v-if="peerreviewTuple?.content?.text" class="text-center">
              <q-splitter v-model="splitterModel" :horizontal="$q.screen.lt.md">
                <template v-slot:before>
                  <div class="q-pa-md">
                    <div class="text-h6 q-mb-md">BISHER</div>
                    <div class="text-h6 q-mb-md">
                      {{ peerreviewTuple.content.title }}
                      <template v-if="!peerreviewTuple.content.title">
                        <i>ohne Titel</i>
                      </template>
                    </div>
                    <div class="q-mb-md">
                      {{ peerreviewTuple.content.text }}
                      <template v-if="!peerreviewTuple.content.text">
                        <i>ohne Text</i>
                      </template>
                    </div>
                  </div>
                </template>

                <template v-slot:after>
                  <div class="q-pa-md">
                    <div class="text-h6 q-mb-md">ÄNDERUNGSANTRAG</div>
                    <div class="text-h6 q-mb-md" :class="{ highlighted: titleChanges }">
                      <template v-if="titleChanges">
                        {{
                          peerreviewTuple.peerreview.data_to_apply_on_success
                            .title
                        }}</template>
                      <template v-if="!titleChanges">
                        {{ peerreviewTuple.content.title }}</template>
                    </div>
                    <div class="q-mb-md" :class="{ highlighted: textChanges }">
                      <template v-if="textChanges">
                        {{
                          peerreviewTuple.peerreview.data_to_apply_on_success
                            .text
                        }}</template>
                      <template v-if="!textChanges">
                        {{ peerreviewTuple.content.text }}</template>
                      <br /><br />
                    </div>
                  </div>
                </template>
              </q-splitter>
            </q-card-section>
          </q-card>

          <br /><br />

          <b>Diskussion</b>
          <ComponentContentTree v-if="discussionContenttreeTuple" :contenttreeTuple="discussionContenttreeTuple"
            :dense="false" discussionAddEntryLabel="Neuer Kommentar" :alternativeRootNode="discussionContentTuple"
            :hideNoEntryText="false" :hideNofEntriesText="false" :allowAddingToRootLevel="true" :alwaysExpanded="true"
            :amEnabled="false" />
        </q-tab-panel>

        <!-- PERSONAL RESPONSE -->
        <q-tab-panel name="response" v-if="peerreviewAssigned" class="scroll block tab-panel-response"
          style="height: 100%">
          <!-- // NOCH NICHT ABGESTIMMT -->
          <template v-if="
            !peerreviewFinalized && peerreviewAssigned && !peerreviewCompleted
          ">
            <q-card-section class="q-pa-md">
              <div class="text-h4">Entscheidungskriterien</div>
              Möglichst unabhängig von Ihrer politischen Meinung: Überprüfen Sie, ob folgende Kriterien eingehalten
              wurden.
              <br /><br />
            </q-card-section>
            <q-card-section v-if="isInsertProposal" style="border-left: 1px solid grey" class="q-mb-md q-ml-md full-width"
              :class="!acceptAllAccept ? 'bg-orange-4' : ''">
              <div>
                <q-toggle v-model="accept1" :disable="peerreviewFinalized" v-on:update:model-value="
                  update_accept_response($event, 'accept1')
                " color="green" :class="{ 'toggle-red': accept1 === false }" size="lg" checked-icon="mdi-thumb-up"
                  unchecked-icon="mdi-thumb-down" class="q-ma-none"
                  :label="$t('common_properties.insert.criteria_accept.1')"></q-toggle>

                <q-toggle class="q-ma-none" v-model="accept2" v-on:update:model-value="
                  update_accept_response($event, 'accept2')
                " :disable="peerreviewFinalized" size="lg" color="green" :class="{ 'toggle-red': accept2 === false }"
                  checked-icon="mdi-thumb-up" unchecked-icon="mdi-thumb-down" :label="
                    $t('common_properties.insert.criteria_accept.2', {
                      typeLabel:
                        peerreviewTuple.content.type === 'PRO'
                          ? 'Pro-Argument'
                          : 'Contra-Argument',
                    })
                  " />

                <q-toggle class="q-ma-none" v-on:update:model-value="
                  update_accept_response($event, 'accept3')
                " checked-icon="mdi-thumb-up" :disable="peerreviewFinalized" size="lg" color="green"
                  :class="{ 'toggle-red': accept3 === false }" unchecked-icon="mdi-thumb-down" v-model="accept3"
                  :label="$t('common_properties.insert.criteria_accept.3')" />

                <q-toggle class="q-ma-none" v-on:update:model-value="
                  update_accept_response($event, 'accept4')
                " checked-icon="mdi-thumb-up" :disable="peerreviewFinalized" size="lg" color="green"
                  :class="{ 'toggle-red': accept4 === false }" unchecked-icon="mdi-thumb-down" v-model="accept4" :label="
                    $t('common_properties.insert.criteria_accept.4', {
                      typeLabel:
                        peerreviewTuple.content.type === 'PRO'
                          ? 'Pro-Argumente'
                          : 'Contra-Argumente',
                    })
                  " />

                <ListOfOlderSameLevelSameTypeEntries v-if="peerreviewTuple?.content?.type && contenttreeIdentifier"
                  :current="peerreviewTuple" :type="peerreviewTuple.content.type"
                  :contenttreeIdentifier="contenttreeIdentifier" />

                <q-toggle class="q-ma-none" v-on:update:model-value="
                  update_accept_response($event, 'accept5')
                " checked-icon="mdi-thumb-up" :disable="peerreviewFinalized" size="lg" color="green"
                  :class="{ 'toggle-red': accept5 === false }" unchecked-icon="mdi-thumb-down" v-model="accept5"
                  :label="$t('common_properties.insert.criteria_accept.5')" />

                <!-- <q-toggle
                  class="q-ma-none toggle-red"
                  v-on:update:model-value="
                    update_accept_response($event, 'accept6')
                  "
                  checked-icon="mdi-thumb-up"
                  :disable="peerreviewFinalized"
                  size="lg"
                  color="green"
                  :class="{ 'toggle-red': accept6 === false }"
                  unchecked-icon="mdi-thumb-down"
                  v-model="accept6"
                  :label="$t('common_properties.insert.criteria_accept.6')"
                /> -->

                <br />&nbsp;
              </div>

              <br />
            </q-card-section>

            <q-card-section v-if="!isInsertProposal" :class="!acceptAllAccept ? 'bg-orange-4' : ''">
              <div>
                <q-toggle v-model="accept1" color="green" size="lg" :class="{ 'toggle-red': accept1 === false }"
                  v-on:update:model-value="
                    update_accept_response($event, 'accept1')
                  " :disable="peerreviewFinalized" checked-icon="mdi-thumb-up" unchecked-icon="mdi-thumb-down"
                  class="q-ma-none" :label="$t('common_properties.update.criteria_accept.1')" />
                <q-toggle class="q-ma-none" v-on:update:model-value="
                  update_accept_response($event, 'accept2')
                " v-model="accept2" :disable="peerreviewFinalized" size="lg" color="green"
                  :class="{ 'toggle-red': accept2 === false }" checked-icon="mdi-thumb-up" unchecked-icon="mdi-thumb-down"
                  :label="
                    $t('common_properties.update.criteria_accept.2', {
                      typeLabel:
                        peerreviewTuple.content.type === 'PRO'
                          ? 'Pro-Argument'
                          : 'Contra-Argument',
                    })
                  " />

                <q-toggle class="q-ma-none" v-on:update:model-value="
                  update_accept_response($event, 'accept3')
                " :disable="peerreviewFinalized" checked-icon="mdi-thumb-up" size="lg" color="green"
                  :class="{ 'toggle-red': accept3 === false }" unchecked-icon="mdi-thumb-down" v-model="accept3"
                  :label="$t('common_properties.update.criteria_accept.3')">
                </q-toggle>

                <q-toggle class="q-ma-none" v-on:update:model-value="
                  update_accept_response($event, 'accept4')
                " v-model="accept4" :disable="peerreviewFinalized" size="lg" color="green"
                  :class="{ 'toggle-red': accept4 === false }" checked-icon="mdi-thumb-up" unchecked-icon="mdi-thumb-down"
                  :label="$t('common_properties.update.criteria_accept.4')" />
                <q-toggle class="q-ma-none" v-on:update:model-value="
                  update_accept_response($event, 'accept5')
                " v-model="accept5" :disable="peerreviewFinalized" size="lg" color="green"
                  :class="{ 'toggle-red': accept5 === false }" checked-icon="mdi-thumb-up" unchecked-icon="mdi-thumb-down"
                  :label="$t('common_properties.update.criteria_accept.5')" />

                <!-- <q-toggle
                  class="q-ma-none"
                  v-on:update:model-value="
                    update_accept_response($event, 'accept6')
                  "
                  v-model="accept6"
                  :disable="peerreviewFinalized"
                  size="lg"
                  color="green"
                  :class="{ 'toggle-red': accept6 === false }"
                  checked-icon="mdi-thumb-up"
                  unchecked-icon="mdi-thumb-down"
                  :label="$t('common_properties.update.criteria_accept.6')"
                /> -->

                <!-- <AlgorithmDisclaimer>
                  <div
                    v-dompurify-html="
                      $t('common_properties.contribution_criteria_html')
                    "
                  ></div>
                </AlgorithmDisclaimer> -->
                <!-- <Criteria />
             -->
              </div>
              <br />&nbsp;
            </q-card-section>



            <q-card-section v-if="acceptAllAccept" class="q-mt-md">
              <div class="text-h4">Ihre Antwort</div>
              <template v-if="!peerreviewCompleted">
                <p v-if="isInsertProposal">
                  Sprechen Sie sich dafür aus, dass dieses Argument in den
                  Argumentenkatalog aufgenommen wird?
                </p>
                <p v-if="!isInsertProposal">
                  Sprechen Sie sich dafür aus, dass dieser Verbesserungsantrag
                  angenommen wird?
                </p>
              </template>
            </q-card-section>


            <q-card-section>
              <q-card-section>
                <div v-if="acceptAllAccept">
                  <span v-if="criteria_redundancy" class="text-red text-bold">
                    Information: Dieses Argument kann <u>nicht</u> in das Argumentarium aufgenommen werden, da Sie
                    angegeben
                    haben, dass es so oder ähnlich bereits im Katalog vorhanden ist.
                    <br />
                  </span>

                  <span v-else-if="criteria_shift_in_main_message" class="text-red text-bold">
                    Information: Sie können diesen Verbesserungsantrag <u>nicht</u> annehmen, da Sie angegeben haben,
                    dass damit der ursprüngliche
                    Sinn des Beitrags verändert wurde.<br />
                  </span>

                  <span v-else-if="criteria_off_topic" class="text-red text-bold">
                    Information: Dieses Argument kann <u>nicht</u> in das Argumentarium aufgenommen werden, da Sie
                    angegeben
                    haben, dass es dabei
                    <u>nicht</u> direkt um die Vorlage geht.<br />
                  </span>

                  <span v-else-if="criteria_wrong_content" class="text-red text-bold">
                    Dieses Argument sollte <u>nicht</u> in das Argumentarium
                    aufgenommen werden, da es gemäss Ihnen <u>nicht</u> sachlich korrekt ist.<br />
                  </span>

                  <span v-else-if="criteria_not_an_improvement" class="text-red text-bold">
                    Information: Sie können diesen Verbesserungsantrag <u>nicht</u> annehmen, da Sie angeben haben, dass
                    er keine Verbesserung des
                    ursprünglichen Arguments darstellt.<br />
                  </span>

                  <span v-else-if="criteria_wrong_type" class="text-red text-bold">
                    Information: Gemäss Ihrer Einschätzung ist dieses vorgeschlagene Argument kein
                    {{
                      peerreviewTuple.content.type == 'PRO'
                      ? 'Pro-Argument'
                      : 'Contra-Argument'
                    }}. Es kann daher <u>nicht</u> als
                    {{
                      peerreviewTuple.content.type == 'PRO'
                      ? 'Pro-Argument'
                      : 'Contra-Argument'
                    }} in das Argumentarium aufgenommen werden.
                    <br />
                  </span>

                  <span v-else-if="criteria_not_integer" class="text-red text-bold">
                    Information: Dieses Argument kann <u>nicht</u> in das Argumentarium aufgenommen werden, da Sie
                    angegeben haben, dass es
                    mehrere verschiedene Sachverhalte thematisiert. Ein Argument sollte sich auf einen einzigen Aspekt
                    der Vorlage fokussieren.<br />
                  </span>

                  <span v-else-if="criteria_form_not_adequate">Information: Dieses Argument kann in das Argumentarium
                    aufgenommen werden, auch wenn es gemäss Ihnen noch nicht perfekt
                    formuliert ist. Mit Verbesserungsanträgen kann dies später noch korrigiert werden.<br />
                  </span>

                  <span v-else-if="criteria_all_okay_insert" class="text-green text-bold">
                    Information: Dieses Argument sollte in das Argumentarium aufgenommen werden, da es gemäss Ihnen alle
                    erforderlichen
                    Entscheidungskriterien erfüllt.<br />
                  </span>

                  <span v-else-if="criteria_all_okay_update" class="text-notification">
                    Information: Dieser Änderungsantrag sollte angenommen werden, da er gemäss Ihnen alle
                    erforderlichen
                    Entscheidungskriterien erfüllt.<br />
                  </span>
                </div>
              </q-card-section>
            </q-card-section>


            <!-- <q-skeleton v-if="!acceptAllAccept" height="200px"></q-skeleton> -->
            <q-card-section v-if="acceptAllAccept">

              <!-- <p>Wir fragen Sie nun nach Ihrer ganz persönlichen Meinung: </p> -->
              <div v-if="!peerreviewCompleted">
                <!-- :instructions="!isInsertProposal ? 'Sprechen Sie sich dafür aus, dass dieser Verbesserungsantrag angenommen wird?' :
                  'Sprechen Sie sich dafür aus, dass dieses Argument in den Argumentenkatalog aufgenommen wird?'" -->
                <PeerReviewResponse :peerreviewTuple="peerreviewTuple" instructions=" " :disableReject="criteria_all_okay"
                  :disableApprove="
                    criteria_off_topic ||
                    criteria_not_integer ||
                    criteria_wrong_content ||
                    criteria_wrong_type ||
                    criteria_redundancy
                  " ref="previewResponse" />
              </div>
            </q-card-section>
          </template>

          <!-- SHOW OWN DECISION -->
          <template v-if="peerreviewAssigned && peerreviewCompleted">
            <q-card-section v-if="acceptAllAccept" class="q-mt-md">
              <div class="text-h4">Ihre Antwort</div>

              <p v-if="
                peerreviewCompleted && !peerreviewTuple.progression.response
              ">
                Sie haben sich dafür ausgesprochen, dass dieser Antrag abgelehnt
                wird.
              </p>
              <p v-if="
                peerreviewCompleted && peerreviewTuple.progression.response
              ">
                Sie haben sich dafür ausgesprochen, dass dieser Antrag
                angenommen wird.
              </p>
            </q-card-section>
          </template>

          <q-card-section class="q-mt-md" v-if="
            peerreviewCompleted &&
            acceptAllAccept &&
            isInsertProposal &&
            !peerreviewRejected &&
            peerreviewTuple.progression
          ">
            <div class="text-h4">Ihre persönliche Bewertung</div>

            <EvaluationSlider v-if="nodeTuple" :scaleLabel="RATING_100_SCALE_LABELS_ARGUMENTS"
              :value="nodeTuple.progression?.rating" @change="contentRating($event)">
              <template #default>
                Wie relevant ist dieses Argument für Ihren persönlichen
                Stimmentscheid? Bitte bewerten Sie dieses Argument, indem Sie
                den Regler verschieben.
              </template>
              <!-- <template #scaleLabelRight>Zustimmung</template>
              <template #scaleLabelLeft>Ablehnung</template> -->
              <template #scaleLabelRight><q-icon name="mdi-plus" /></template>
              <template #scaleLabelLeft><q-icon name="mdi-minus" /></template>

            </EvaluationSlider>
          </q-card-section>


          <br>
          <br>

          <q-card-section class="q-mt-md" v-if="
            peerreviewCompleted &&
            acceptAllAccept &&
            isContentRated &&
            peerreviewTuple.progression
          ">

            <ArtificialModeration :AM="AMs.completedPeerreview" alignment="right" :ctx="this" />
          </q-card-section>

        </q-tab-panel>

        <!-- OVERALL RESULT -->
        <q-tab-panel name="result" class="scroll block tab-panel-result" style="height: 100%">
          <q-card-section v-if="peerreviewFinalized">
            <div class="text-notification">
              Die Entscheidung ist gefallen. Dieser Antrag wurde
              {{
                peerreviewTuple.peerreview.rejected
                ? 'abgelehnt'
                : 'angenommen'
              }}.
            </div>
          </q-card-section>

          <q-card-section v-if="!peerreviewFinalized">
            <div class="text-notification">
              Das Begutachtungsverfahren ist aktuell noch am Laufen. Die
              folgenden Angaben sind also nur Zwischenergebnisse.
            </div>
          </q-card-section>

          <q-card-section>
            <q-list>
              <q-item>
                <q-item-section>
                  <q-item-label> Beteiligte </q-item-label>
                </q-item-section>

                <q-item-section>
                  Einladungen: {{
                    peerreviewTuple.peerreview.nof_invited ? peerreviewTuple.peerreview.nof_invited : 0
                  }}<br />
                  Erhaltene Antworten:
                  {{ peerreviewTuple.peerreview.nof_responded ? peerreviewTuple.peerreview.nof_responded : 0 }}<br />
                </q-item-section>
              </q-item>

              <q-item>
                <q-item-section>
                  <q-item-label> Stimmen </q-item-label>
                </q-item-section>

                <q-item-section>
                  Abgelehnt: {{
                    peerreviewTuple.peerreview.nof_rejected ? peerreviewTuple.peerreview.nof_rejected :
                    0
                  }}<br />
                  Angenommen: {{
                    peerreviewTuple.peerreview.nof_approved ? peerreviewTuple.peerreview.nof_approved : 0
                  }}<br />
                </q-item-section>
              </q-item>

              <q-item v-if="
                peerreviewTuple.peerreview.nof_responded &&
                peerreviewTuple.peerreview.nof_invited
              ">
                <q-item-section>
                  <q-item-label> Ergebnis </q-item-label>
                </q-item-section>

                <q-item-section>
                  Stimmbeteiligung:
                  {{
                    Math.round(
                      (100 / peerreviewTuple.peerreview.nof_invited) *
                      peerreviewTuple.peerreview.nof_responded
                    )
                  }}%<br />
                  Ja-Stimmen:
                  {{
                    Math.round(
                      (100 / peerreviewTuple.peerreview.nof_responded) *
                      peerreviewTuple.peerreview.nof_approved
                    )
                  }}%<br />
                  <template v-if="peerreviewFinalized">
                    {{
                      peerreviewTuple.peerreview.rejected
                      ? 'Abgelehnt'
                      : 'Angenommen'
                    }}</template>
                </q-item-section>
              </q-item>
            </q-list>
          </q-card-section>
        </q-tab-panel>
      </q-tab-panels>
    </q-card-section>
  </q-card>
</template>

<script lang="ts">
import { defineComponent, computed, ref, PropType, watch } from 'vue';
import library from 'src/utils/library';
import constants from 'src/utils/constants';
import useContentComposable from 'src/composables/content.composable';
import { mapGetters, useStore } from 'vuex';
import PeerReviewResponse from 'src/pages/PeerReview/PeerReviewResponse.vue';
import { IDialog } from 'src/models/layout';
import ComponentContentTree from 'src/pages/ContentTree/components/ContentTree.vue';
import { IPeerreviewTuple } from 'src/models/peerreview';
import { INodeTuple } from 'src/models/content';
import useContenttreeComposable from 'src/composables/contenttree.composable';
import ListOfOlderSameLevelSameTypeEntries from 'src/plugins/CIR/components/ListOfOlderSameLevelSameTypeEntries.vue';
import AMs from './ArtificialModeration';
import ArtificialModeration from 'src/pages/components/artificial_moderation/ArtificialModeration.vue';
import { mapActions } from 'vuex';
import EvaluationSlider from 'src/pages/ContentTree/components/EvaluationSlider.vue';

const RATING_100_SCALE_LABELS_ARGUMENTS = constants.RATING_100_SCALE_LABELS_ARGUMENTS;
const { loaded } = library;
import useEmitter from 'src/utils/emitter';
import usePeerreviewComposable from 'src/composables/peerreview.composable';
const emitter = useEmitter();

export default defineComponent({
  name: 'DialogPeerreviewBackground',
  emits: ['completed-peerreview', 'default-tab-change', 'back-or-close-dialog'],
  components: {
    ListOfOlderSameLevelSameTypeEntries,
    PeerReviewResponse,
    ComponentContentTree,
    ArtificialModeration,
    EvaluationSlider,
    // AlgorithmDisclaimer,
  },

  props: {
    id: { type: Number },
    contenttreeIdentifier: { type: String },
    currentDialog: {
      type: Object as PropType<IDialog>,
      required: true,
    },
    defaultTab: {
      type: String,
      default: 'proposal',
    },
    // nodeTuple: { type: Object as PropType<INodeTuple> },
  },
  setup(props) {
    const store = useStore();
    const { saveRating, isRated } = useContentComposable();

    const accept1 = ref<boolean | undefined>(undefined);
    const accept2 = ref<boolean | undefined>(undefined);
    const accept3 = ref<boolean | undefined>(undefined);
    const accept4 = ref<boolean | undefined>(undefined);
    const accept5 = ref<boolean | undefined>(undefined);
    // const accept6 = ref<boolean | undefined>(undefined);

    const get_content = store.getters['contenttreestore/get_content'];
    const publicProfile = computed(() => store.getters['profilestore/profile']);
    const nodeTuple = computed((): INodeTuple => {
      return get_content({
        contenttreeIdentifier: props.contenttreeIdentifier,
        contentID: peerreviewTuple.value?.content?.id,
      });
    });

    const contenttreeID = computed((): number => {
      if (!props.contenttreeIdentifier) {
        throw 'contentreeIdentifier is not defined'
      }

      const parts = `${props.contenttreeIdentifier}`.split('-')
      return parseInt(parts[0])
    });

    // SYNC
    usePeerreviewComposable(contenttreeID.value, true)

    const peerreviewTuple = computed((): IPeerreviewTuple => {
      const getter = store.getters['peerreviewstore/get_peerreview'];
      const tuple = getter({
        contenttreeIdentifier: props.contenttreeIdentifier,
        peerreviewID: props.id,
      });
      // console.log('DEBUG 333: ', tuple, props.id, props.contenttreeIdentifier, nodeTuple.value);
      return tuple;
    });

    const isInsertProposal = computed(() => {
      return peerreviewTuple.value?.peerreview.operation === 'INSERT';
    });

    const discussionContentTuple = computed((): INodeTuple | null => {
      // For Inserts: Content == DiscussionContent

      if (!peerreviewTuple.value) {
        return null;
      }

      console.log('DEBUG 3003: ', peerreviewTuple, peerreviewTuple.value, nodeTuple.value)

      if (
        isInsertProposal.value ||
        !peerreviewTuple.value.peerreview?.discussion_content_id
      ) {
        return peerreviewTuple.value as any as INodeTuple;
      }

      // For Modifications: Dedicated DiscussionContent as descendant...
      console.assert(peerreviewTuple.value?.peerreview?.discussion_content_id);
      const tuple = get_content({
        contenttreeIdentifier: props.contenttreeIdentifier,
        contentID: peerreviewTuple.value.peerreview?.discussion_content_id,
      });
      console.assert(tuple);
      return tuple;
      //  ? discussionContentTuple : this.content;
    });

    const discussionContenttreeIdentifier = computed((): string | null => {
      if (!discussionContentTuple.value?.content) {
        return null;
      }
      return discussionContentTuple.value.content.contenttree_identifier;
    });

    const { getDescendantsOf, contenttreeTuple: discussionContenttreeTuple } =
      useContenttreeComposable(discussionContenttreeIdentifier);

    const ownCirProfile = computed(() => {
      return publicProfile.value?.id == nodeTuple.value.creator.id;
    });
    const tab = ref<string>(props.defaultTab);

    // UPDATE Data (in case id changes)
    watch(
      () => peerreviewTuple.value,
      () => {
        // console.log(props.id, peerreviewTuple.value);
        if (peerreviewTuple.value) {
          accept1.value = peerreviewTuple.value.progression?.criteria_accept1;
          accept2.value = peerreviewTuple.value.progression?.criteria_accept2;
          accept3.value = peerreviewTuple.value.progression?.criteria_accept3;
          accept4.value = peerreviewTuple.value.progression?.criteria_accept4;
          accept5.value = peerreviewTuple.value.progression?.criteria_accept5;
          // accept6.value = peerreviewTuple.value.progression?.criteria_accept6;
        } else {
          accept1.value = undefined;
          accept2.value = undefined;
          accept3.value = undefined;
          accept4.value = undefined;
          accept5.value = undefined;
          // accept6.value = undefined;
        }
      },
      { immediate: true }
    );

    return {
      tab,
      // loaded,
      publicProfile,
      saveRating,
      isRated,
      nodeTuple,
      discussionContenttreeIdentifier,
      isInsertProposal,
      peerreviewTuple,
      getDescendantsOf,
      discussionContentTuple,
      discussionContenttreeTuple,
      // topicContentTuple,
      ownCirProfile,
      AMs,
      accept1,
      accept2,
      accept3,
      accept4,
      accept5,
      // accept6,
    };
  },

  data() {
    return {
      RATING_100_SCALE_LABELS_ARGUMENTS,
      ICONS: constants.ICONS,
      TYPE_LABELS: constants.TYPE_LABELS,

      splitterModel: 50,
    };
  },
  computed: {
    acceptAllAccept() {
      const allAccept =
        this.accept1 !== undefined &&
        this.accept2 !== undefined &&
        this.accept3 !== undefined &&
        this.accept4 !== undefined &&
        this.accept5 !== undefined &&
        // this.accept6 !== undefined &&
        this.accept1 !== null &&
        this.accept2 !== null &&
        this.accept3 !== null &&
        this.accept4 !== null &&
        this.accept5 !== null;
      // this.accept6 !== null;
      return allAccept;
    },

    acceptedNumber() {
      let acceptedNumber = 0;
      if (this.accept1 == true) {
        acceptedNumber++;
      }
      if (this.accept2 == true) {
        acceptedNumber++;
      }
      if (this.accept3 == true) {
        acceptedNumber++;
      }
      if (this.accept4 == true) {
        acceptedNumber++;
      }
      if (this.accept5 == true) {
        acceptedNumber++;
      }
      // if (this.accept6 == true) {
      //   acceptedNumber++;
      // }
      return acceptedNumber;
    },

    criteria_all_okay_update() {
      return this.acceptedNumber == 5 && !this.isInsertProposal;
    },
    criteria_all_okay_insert() {
      return this.acceptedNumber == 5 && this.isInsertProposal;
    },
    criteria_all_okay() {
      return this.acceptedNumber == 5;
    },
    criteria_redundancy() {
      return !this.accept4 && this.isInsertProposal;
    },
    criteria_not_an_improvement() {
      return !this.accept4 && !this.isInsertProposal;
    },
    criteria_off_topic() {
      return false; // disabled
      // return !this.accept1 && this.isInsertProposal;
    },
    criteria_shift_in_main_message() {
      // disabled...
      return !this.accept2 && !this.isInsertProposal;
      // return !this.accept1 && !this.isInsertProposal;
    },
    criteria_wrong_content() {
      return !this.accept1;
    },
    criteria_wrong_type() {
      return !this.accept2 && this.isInsertProposal;
    },

    criteria_not_integer() {
      return !this.accept3;
    },
    criteria_form_not_adequate() {
      return !this.accept5;
      //  || !this.accept6;
    },
    titleChanges() {
      return loaded(
        this.peerreviewTuple.peerreview?.data_to_apply_on_success.title
      );
    },
    textChanges() {
      return loaded(
        this.peerreviewTuple.peerreview?.data_to_apply_on_success.text
      );
    },

    discussionDescendants(): INodeTuple[] | null {
      if (this.discussionContentTuple) {
        return this.getDescendantsOf(this.discussionContentTuple);
      }
      return null;
    },
    nofDiscussionDescendants() {
      if (!this.discussionDescendants) {
        return;
      }
      return this.discussionDescendants.length;
    },

    peerreviewCompleted() {
      if (!loaded(this.peerreviewTuple?.progression)) {
        return null;
      }

      if (this.peerreviewTuple.peerreview.rejected) {
        return true;
      }

      if (!loaded(this.peerreviewTuple.progression?.response)) {
        return false;
      }

      return true;
    },

    peerreviewCompletedWithSalience() {
      if (this.peerreviewCompleted) {
        return true;
      }

      if (this.isInsertProposal) {
        // TODO: is this correct??? (used to be something different...)
        if (!loaded(this.nodeTuple?.progression?.rating)) {
          return false;
        }
      }

      this.$emit('completed-peerreview');
      return true;
    },

    peerreviewFinalized() {
      // Rejected or Approved by majority of peerreview group!
      return (
        this.peerreviewTuple.peerreview.approved ||
        this.peerreviewTuple.peerreview.rejected
      );
    },
    peerreviewRejected() {
      // Rejected or Approved by majority of peerreview group!
      return this.peerreviewTuple.peerreview.rejected;
    },
    peerreviewAssigned() {
      // Rejected or Approved by majority of peerreview group!
      return !!this.peerreviewTuple?.progression;
    },

    ownPeerreview(): boolean | null {
      if (!this.peerreviewTuple.creator) {
        return null;
      }
      return this.peerreviewTuple.creator.id === this.publicProfile?.id;
    },

    ...mapGetters({
      get_peerreview_by_content: 'peerreviewstore/get_peerreview_by_content',
      get_contenttree: 'contenttreestore/get_contenttree',
      profileColor: 'profilestore/profileColor',
    }),

    formatDate_obj_peerreview_date_created(): string | undefined {
      if (!this.peerreviewTuple?.peerreview?.date_created) {
        throw 'error acl is missing.';
      }
      return this.$filters.formatDate(
        this.peerreviewTuple.peerreview.date_created
      );
    },

    translatedPeerreviewResponse(): string | undefined {
      if (!loaded(this.peerreviewTuple.progression)) {
        return undefined;
      }
      return this.translateResponse(this.peerreviewTuple.progression);
    },
    isContentRated(): boolean {
      if (!this.nodeTuple) {
        throw 'ContentTuple not loaded';
      }
      // console.log(this.nodeTuple, 'ddddddddddddd')
      return this.isRated(this.nodeTuple);
    },
  },

  methods: {
    switchTab(tab) {
      this.tab = tab;
    },
    closeDialog() {
      this.$emit('back-or-close-dialog');
    },
    showBackground(elId: string | undefined = undefined) {
      emitter.emit('showDialog', {
        type: 'content',
        id: elId,
        contenttreeIdentifier:
          this.peerreviewTuple.content.contenttree_identifier,
        triggerElementId: elId,
      } as IDialog);
    },
    translateResponse(progression) {
      if (progression?.response === true) {
        return 'Antrag ist anzunehmen';
      }
      if (progression?.response === false) {
        return 'Antrag ist abzulehnen';
      }

      return '---';
    },
    contentRating(newValue: number): void {
      if (!this.nodeTuple) {
        throw 'ContentTuple not loaded';
      }
      this.saveRating(newValue, this.nodeTuple);
      // emitter_CIR.emit('notifyPublicCirProfileUpdate');
    },


    // immediatly update saliences in vuex store (=> allows to update the dynamically generated charts)
    update_accept_response(val: boolean, field: string) {
      const data = {
        contenttreeID: this.peerreviewTuple.content.contenttree_id,
        peerreviewID: this.peerreviewTuple.peerreview.id,
        response: this.peerreviewTuple.progression.response,
        accept1: this.accept1,
        accept2: this.accept2,
        accept3: this.accept3,
        accept4: this.accept4,
        accept5: this.accept5,
        // accept6: this.accept6,
      };
      data[field] = val;
      this.update_response(data);
    },

    // openArgument(contentTuple) {

    // },

    ...mapActions('peerreviewstore', ['update_response']),

    // humanReadable(changeset) {
    //   const fieldsNotToIgnore = ['title', 'text', 'parent_id'];
    //   changeset = changeset.filter((change) =>
    //     fieldsNotToIgnore.includes(change[0])
    //   );
    //   return changeset.map((change) => this.humanReadableChange(change));
    // },

    // argumentRating(newValue: number): void {
    //   if (!this.nodeTuple) {
    //     throw 'ContentTuple not loaded';
    //   }
    //   this.saveRating(newValue, this.nodeTuple);
    //   // emitter_CIR.emit('notifyPublicCirProfileUpdate');
    // },

    // humanReadableChange(change) {
    //   // convert values
    //   const dateFields = ['date_modified'];
    //   let func = (x) => {
    //     return x;
    //   };

    //   if (dateFields.includes(change[0])) {
    //     func = this.$filters.formatDate;
    //   }
    //   change[1][0] = func(change[1][0]);
    //   change[1][1] = func(change[1][1]);

    //   // convert field labels
    //   const labels = {
    //     date_modified: 'Datum',
    //     title: 'Titel',
    //     type: 'Typ',
    //     parent_id: 'Angehängt bei',
    //     text: 'Text',
    //   };

    //   if (change[0] in labels) {
    //     change[0] = labels[change[0]];
    //   }
    //   return change;
    // },
  },
});
</script>


<style lang="scss">
.toggle-red {
  .q-toggle__inner {
    color: red !important;

    .q-toggle__thumb .q-icon {
      color: red !important;
    }
  }
}

.q-tab-panels {
  min-height: 250px;

  // .q-tab-panel {
  //   padding-left: 0px;
  // }
}

.q-toggle__label {
  display: inline-flex !important;
}

.highlighted {
  font-weight: bold;
}
</style>
