<template>
  <q-card-section vertical class="q-pa-lg q-ma-sm full-width cursor-pointer"
    :class="!responseSubmitted ? 'bg-orange-4' : ''" align="center">
    <div class="q-py-md" v-if="!responseSubmitted">
      <template v-if="instructions">{{ instructions }}</template>
      <template v-else>Möchten Sie den Antrag annehmen oder ablehnen?</template>


    </div>
    <div class="q-py-lg" v-if="responseSubmitted">
      Sie haben sich für folgende Entscheidung ausgesprochen:
    </div>

    <q-btn-toggle unelevated padding="10px" :disable="peerreviewFinalized" :indeterminate-value="null" spread
      class="bg-grey-3 q-ma-sm" label="Bewertung" v-model="progression_response" size="1.4em" :options="buttons">
      <!-- @update:model-value="debouncedInitSet" -->
    </q-btn-toggle>

    <q-btn :color="progression_response === null || progression_response === undefined ? '' : 'blue'" class="q-my-md"
      @click="initSet()" :disable="progression_response === null">Definitiv {{ progression_response === true ? 'annehmen'
        :
        (progression_response === false ? 'ablehnen' : 'absenden') }}</q-btn>
  </q-card-section>
</template>

<script lang="ts">
import { defineComponent, ref, watch } from 'vue';
import { mapActions } from 'vuex';
import constants from 'src/utils/constants';
import library from 'src/utils/library';
import { getMonitorService } from 'src/services/index';

export default defineComponent({
  name: 'PeerReviewResponse',
  props: ['peerreviewTuple', 'disableReject', 'disableApprove', 'instructions'],
  setup(props) {
    const { loaded } = library;
    const { monitorFire } = getMonitorService();
    const progression_response = ref<boolean | undefined>(undefined);
    const responseSubmitted = ref<boolean | undefined>(
      progression_response.value
    );

    // UPDATE Data (in case id changes)
    watch(
      () => props.peerreviewTuple.value,
      () => {
        if (props.peerreviewTuple.value) {
          progression_response.value =
            props.peerreviewTuple.value.progression.response.value;
          // console.log('responseSubmitted UPDATED');
          responseSubmitted.value = true;
        } else {
          progression_response.value = undefined;
          responseSubmitted.value = false;
        }
      },
      { immediate: true }
    );
    watch(
      () => [props.disableReject, props.disableApprove],
      () => {
        if (props.disableApprove && progression_response.value === true) {
          progression_response.value = undefined;
        }
        if (props.disableReject && progression_response.value === false) {
          progression_response.value = undefined;
        }
      },
      { immediate: true }
    );
    return {
      loaded,
      monitorFire,
      responseSubmitted,
      progression_response,
    };
  },

  computed: {
    buttons() {
      return [
        {
          value: false,
          toggleColor: 'red',
          textColor: 'grey-7',
          disable: this.disableReject === true,
          label: 'Ablehnen',
        },
        {
          value: true,
          slot: 'one',
          toggleColor: 'green',
          textColor: 'grey-7',
          disable: this.disableApprove === true,
          label: 'Annehmen',
        },
      ];
    },

    peerreviewFinalized() {
      // Rejected or Approved by majority of peerreview group!
      return (
        this.peerreviewTuple.peerreview.approved ||
        this.peerreviewTuple.peerreview.rejected
      );
    },
  },

  methods: {
    initSet() {
      console.assert(
        this.progression_response === true ||
        this.progression_response === false
      );

      if (!this.peerreviewTuple.progression) {
        // and must be assigned to the peerreview => progression entry must exists..
        console.error(
          'An error occured... invalid peerreview response',
          this.peerreviewTuple.progression
        );
        return null;
      }

      const data = {
        peerreviewID: this.peerreviewTuple.peerreview.id,
        response: this.progression_response,
        criteria_accept1: this.peerreviewTuple.progression.criteria_accept1,
        criteria_accept2: this.peerreviewTuple.progression.criteria_accept2,
        criteria_accept3: this.peerreviewTuple.progression.criteria_accept3,
        criteria_accept4: this.peerreviewTuple.progression.criteria_accept4,
        criteria_accept5: this.peerreviewTuple.progression.criteria_accept5,
        // criteria_accept6: this.peerreviewTuple.progression.criteria_accept6,
      };
      // console.log("new response received...", this.progression_response);
      this.monitorFire(constants.MONITOR_SET_PEERREVIEW_RESPONSE, data);

      this.responseSubmitted = true;

      // immediatly update saliences in vuex store (=> allows to update the dynamically generated charts)
      this.update_response({
        contenttreeID: this.peerreviewTuple.content.contenttree_id,
        peerreviewID: this.peerreviewTuple.peerreview.id,
        response: this.progression_response,
        accept1: this.peerreviewTuple.progression.criteria_accept1,
        accept2: this.peerreviewTuple.progression.criteria_accept2,
        accept3: this.peerreviewTuple.progression.criteria_accept3,
        accept4: this.peerreviewTuple.progression.criteria_accept4,
        accept5: this.peerreviewTuple.progression.criteria_accept5,
        // accept6: this.peerreviewTuple.progression.criteria_accept6,
      });
    },
    ...mapActions('peerreviewstore', ['update_response']),
  },

  // created() {
  //   this.debouncedInitSet = debounce(this.initSet, 3000);
  // },

  mounted: function () {
    if (this.peerreviewTuple && this.peerreviewTuple.progression) {
      this.progression_response = this.peerreviewTuple?.progression?.response;
    }
  },
});
</script>
