<template>
  <!-- :group="salienceCompleted ? 'accordeon' : `group${node}`" -->
  <!-- v-model="expanded" -->

  <q-expansion-item :group="'accordeon'" popup @click="openPeerreview()" ref="expandable" :header-class="[
    'text-primary',
    'text-h4',
    'q-pa-lg',
    !peerreviewCompleted ? 'bg-orange' : '',
  ]">
    <template v-slot:header>
      <q-item-section avatar>
        <q-icon size="md" name="mdi-scale-balance"> </q-icon>
        <q-badge v-if="peerreviewCompleted" color="green" style="position: relative; top: -1em">
          <q-icon name="mdi-check" size="1.2em" />
        </q-badge>

        <span class="finalized_peerreview approved" v-if="peerreviewTuple.peerreview.approved">Angenommen<br /></span>
        <span class="finalized_peerreview rejected" v-if="peerreviewTuple.peerreview.rejected">Abgelehnt</span>
      </q-item-section>

      <q-item-section>
        <q-item-label v-if="isInsertProposal">
          Gutachten #{{ peerreviewTuple.peerreview.id }}: Antrag für ein neues
          Argument
        </q-item-label>
        <q-item-label v-else>
          Gutachten #{{ peerreviewTuple.peerreview.id }}: Verbesserungsantrag
        </q-item-label>
        <q-item-label caption v-if="peerreviewCompleted" class="">
          Ihre Antwort: {{ translateResponse(peerreviewTuple.progression) }}
        </q-item-label>
      </q-item-section>
      <a :name="`PEERREVIEW${peerreviewTuple.peerreview.id}`" />
    </template>
  </q-expansion-item>
</template>

<script lang="ts">
import { PropType, defineComponent, computed } from 'vue';
import { mapGetters } from 'vuex';
import {
  IPeerreviewProgression,
  IPeerreviewTuple,
} from 'src/models/peerreview';
import { INodeTuple } from 'src/models/content';
import useContentComposable from 'src/composables/content.composable';
import useContenttreeComposable from 'src/composables/contenttree.composable';
import library from 'src/utils/library';
// import getMonitorService from 'src/composables/monitor.composable';
import { getMonitorService } from 'src/services/index';

const { loaded } = library;
import useEmitter from 'src/utils/emitter';
const emitter = useEmitter();
import { useStore } from 'vuex';

export default defineComponent({
  name: 'PeerReviewListItem',
  props: {
    peerreviewTuple: {
      type: Object as PropType<IPeerreviewTuple>,
      required: true,
    },
  },
  setup(props) {
    const store = useStore();
    const get_content = store.getters['contenttreestore/get_content'];

    const contenttreeIdentifier = computed((): string | null => {
      return props.peerreviewTuple?.content?.contenttree_identifier;
    });
    const { monitorLog } = getMonitorService();
    const { markDiscussed, markRead, isRead } = useContentComposable();
    const { getDescendantsOf } = useContenttreeComposable(
      contenttreeIdentifier
    );

    const nodeTuple = computed((): INodeTuple => {
      return get_content({
        contenttreeIdentifier: contenttreeIdentifier.value,
        contentID: props.peerreviewTuple.content?.id,
      });
    });

    return {
      contenttreeIdentifier,
      markDiscussed,
      markRead,
      isRead,
      getDescendantsOf,
      nodeTuple,
      monitorLog,
    };
  },
  computed: {
    isInsertProposal(): boolean {
      return this.peerreviewTuple.peerreview.operation === 'INSERT';
    },
    titleChanges(): boolean {
      return loaded(
        this.peerreviewTuple.peerreview?.data_to_apply_on_success.title
      );
    },
    textChanges(): boolean {
      return loaded(
        this.peerreviewTuple.peerreview?.data_to_apply_on_success.text
      );
    },
    peerreviewCompleted(): boolean {
      if (this.peerreviewTuple.peerreview.rejected) {
        return true;
      }
      if (this.isInsertProposal) {
        if (!loaded(this.nodeTuple.progression?.rating)) {
          return false;
        }
      }
      if (!loaded(this.peerreviewTuple.progression?.response)) {
        return false;
      }
      this.$emit('completed-peerreview');
      return true;
    },
    ...mapGetters({
      get_content: 'contenttreestore/get_content',
      get_peerreview_by_content: 'peerreviewstore/get_peerreview_by_content',
      profileColor: 'profilestore/profileColor',
    }),
  },

  methods: {
    // TODO: used?
    // isSalienced: function (peerreview) {
    //   return loaded(peerreview.progression?.salience);
    // },
    translateResponse(progression: IPeerreviewProgression): string {
      if (progression?.response === true) {
        return 'Antrag ist anzunehmen';
      }
      if (progression?.response === false) {
        return 'Antrag ist abzulehnen';
      }

      return '---';
    },

    openPeerreview(): void {
      if (!this.contenttreeIdentifier) {
        throw 'this.contenttreeIdentifier not available...';
      }
      emitter.emit('showDialog', {
        type: 'peerreview',
        contenttreeIdentifier: this.contenttreeIdentifier,
        id: this.peerreviewTuple.peerreview.id,
      });
    },
  },
});
</script>

<style lang="sass" scoped>
.finalized_peerreview
  opacity: 0.7
  position: absolute
  right: 80px
  top: 25px
  transform: rotate(-20deg)
  font-size: 1.4em
  line-height: 0.8em
  font-weight: bold
  &.approved
    color: blue
  &.rejected
    color: red
</style>
